Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

feat: Update content/influxdb/v2/reference/release-notes/influxdb.md
  content/influxdb/v2/reference/release-notes/influxdb.md
Due: lint-markdown-content, v2-lint

chore(influxdbv2): Revise release notes and bump version to 2.8.0.
  PLATFORM_REFERENCE.md
  content/influxdb/v2/reference/release-notes/influxdb.md
  data/products.yml
Due: build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, v2-lint

docs(influxdb3): document duplicate point write ordering and workarounds (#6584)
  content/influxdb3/cloud-dedicated/reference/syntax/line-protocol.md
  content/influxdb3/cloud-dedicated/write-data/best-practices/optimize-writes.md
  content/influxdb3/cloud-dedicated/write-data/best-practices/schema-design.md
  content/influxdb3/cloud-serverless/reference/syntax/line-protocol.md
  content/influxdb3/cloud-serverless/write-data/best-practices/schema-design.md
  content/influxdb3/clustered/reference/syntax/line-protocol.md
  content/influxdb3/clustered/write-data/best-practices/optimize-writes.md
  content/influxdb3/clustered/write-data/best-practices/schema-design.md
  content/influxdb3/core/reference/line-protocol.md
  content/influxdb3/enterprise/reference/line-protocol.md
  content/shared/v3-line-protocol.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(api): Add security-schemes partial for OpenAPI spec rendering
  layouts/partials/api/security-schemes.html
Due: none

feat: Add v2.8.0 release notes (#6623)
  PLATFORM_REFERENCE.md
  content/influxdb/v2/reference/release-notes/influxdb.md
  data/products.yml
Due: build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, v2-lint

feat: telegraf-ui scaffolding
  PLATFORM_REFERENCE.md
  assets/styles/layouts/article/blocks/_special-state.scss
  content/telegraf/controller/_index.md
  content/telegraf/controller/agents/_index.md
  content/telegraf/controller/configs/_index.md
  content/telegraf/controller/install.md
  content/telegraf/controller/labels/_index.md
  content/telegraf/controller/telegraf-enterprise.md
  data/products.yml
  layouts/partials/article/special-state.html
  layouts/partials/sidebar.html
  layouts/partials/topnav/product-selector.html
Due: build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, telegraf-lint

Apply suggestions from code review
  content/telegraf/controller/telegraf-enterprise.md
  layouts/partials/article/special-state.html
Due: lint-markdown-content, telegraf-lint

Apply suggestions from code review Apply to cloud-serverless
  content/shared/v3-line-protocol.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): broken links and aliases:
  content/influxdb3/clustered/reference/syntax/line-protocol.md
Due: lint-markdown-content, clustered-lint

fix(ci): skip fragment validation for local file URLs in link-checker
  .ci/link-checker/production.lycherc.toml
Due: none

chore: cleanup
  content/influxdb3/clustered/reference/syntax/line-protocol.md
Due: lint-markdown-content, clustered-lint

Fix link checker for fragments (#6626)
  .ci/link-checker/production.lycherc.toml
  content/shared/v3-line-protocol.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Document pprof-auth-enabled config option in Enterprise v1 (#6588)
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
Due: lint-markdown-content

fix(v1): Remove patch from Enterprise v1 name
  content/enterprise_influxdb/v1/_index.md
Due: lint-markdown-content

fix(ent1): Remove version from `PAST LIMIT` and `FUTURE LIMIT` callout
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/influxdb/v1/query_language/manage-database.md
Due: lint-markdown-content

Add v1.12.2 limitation callout for PAST LIMIT and FUTURE LIMIT (#6607)
  content/enterprise_influxdb/v1/_index.md
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/influxdb/v1/query_language/manage-database.md
Due: lint-markdown-content

Update README.md
  README.md
Due: lint-markdown-instructions, lint-instructions

Configure GitHub Copilot instructions and navigation system (#6628)
  .github/INSTRUCTIONS.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  README.md
Due: lint-markdown-instructions, lint-instructions

fix(influxdb3): add retention_period to CreateDatabaseRequest
  api-docs/influxdb3/core/v3/ref.yml
Due: none

fix(influxdb3): add trigger settings and related API parameters
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
Due: none

fix(influxdb3): add show_deleted parameter for listing databases
  api-docs/influxdb3/enterprise/v3/ref.yml
Due: none

fix(influxdb3): add retention_period to CreateDatabaseRequest (#6629)
  api-docs/influxdb3/core/v3/ref.yml
Due: none

Apply suggestions from code review
  content/telegraf/controller/agents/_index.md
Due: lint-markdown-content, telegraf-lint

feat: telegraf-controller scaffolding (#6625)
  assets/styles/layouts/article/blocks/_special-state.scss
  content/telegraf/controller/_index.md
  content/telegraf/controller/agents/_index.md
  content/telegraf/controller/configs/_index.md
  content/telegraf/controller/install.md
  content/telegraf/controller/labels/_index.md
  content/telegraf/controller/telegraf-enterprise.md
  data/products.yml
  layouts/partials/article/special-state.html
  layouts/partials/sidebar.html
  layouts/partials/topnav/product-selector.html
Due: build-agent-instructions, lint-markdown-content, telegraf-lint

docs(ci): add PR preview system design
  docs/plans/2025-12-16-pr-preview-design.md
Due: none

docs(ci): add PR preview implementation plan
  docs/plans/2025-12-16-pr-preview-implementation.md
Due: none

feat(api): Display security schemes on conceptual API pages
  layouts/api/single.html
  layouts/partials/api/security-schemes.html
Due: none

feat(ci): add PR URL parser for preview page detection
  .github/scripts/parse-pr-urls.js
Due: prettier

fix(ci): harden PR URL parser against malicious input
  .github/scripts/parse-pr-urls.js
  .github/scripts/test-parse-pr-urls.js
Due: prettier

fix(v2): Clarify operator token auto- vs manual- generation
  content/influxdb/v2/admin/tokens/_index.md
Due: lint-markdown-content, v2-lint

style(api): Add security schemes section styling
  assets/styles/layouts/_api-security-schemes.scss
  assets/styles/styles-default.scss
Due: none

Fix broken fragment link to #operator-token (#6609)
  content/influxdb/v2/admin/tokens/_index.md
Due: lint-markdown-content, v2-lint
