Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

fix(styles): fix responsive styles for Telegraf Enterprise CTA
  assets/styles/layouts/article/blocks/_special-state.scss
Due: none

Deploy preview for PR 7308 🛫
  pr-preview/pr-7308/404.html
  pr-preview/pr-7308/dark-theme.4eade2adbed01973da65e850d7dbb50cf43f798406ccbaf5381f96d126f91710.css
  pr-preview/pr-7308/dark-theme.d26207d34c4fa2a71c5ad4b5f80cd4c67b16101a090f5adf0441678901569617.css
  pr-preview/pr-7308/index.html
  pr-preview/pr-7308/light-theme.7da6a3231cf1fedcaa39e30d57f5633c42a552975094b699bddb9f93e23d9b99.css
  pr-preview/pr-7308/light-theme.de515dd3e5c9ecc5df42bb904f7cf8bd9acb5914e33f904982f38e1636721a85.css
  pr-preview/pr-7308/sitemap.xml
  pr-preview/pr-7308/telegraf/controller/audit-logs/enable-configure/index.html
  pr-preview/pr-7308/telegraf/controller/audit-logs/index.html
  pr-preview/pr-7308/telegraf/controller/authentication/index.html
  pr-preview/pr-7308/telegraf/controller/authentication/ldap/index.html
  pr-preview/pr-7308/telegraf/controller/authentication/oidc/index.html
  pr-preview/pr-7308/telegraf/controller/install/index.html
  pr-preview/pr-7308/telegraf/controller/reference/authentication-authorization/index.html
  pr-preview/pr-7308/telegraf/controller/reference/config-options/index.html
  pr-preview/pr-7308/telegraf/controller/settings/index.html
  pr-preview/pr-7308/telegraf/controller/telegraf-enterprise/apply-license/index.html
  pr-preview/pr-7308/telegraf/controller/telegraf-enterprise/index.html
  pr-preview/pr-7308/telegraf/controller/telegraf-enterprise/license-enforcement/index.html
  pr-preview/pr-7308/telegraf/controller/telegraf-enterprise/manage-license/index.html
  pr-preview/pr-7308/telegraf/controller/telegraf-enterprise/troubleshoot/index.html
  pr-preview/pr-7308/telegraf/controller/users/index.html
  pr-preview/pr-7308/telegraf/enterprise/index.html
  pr-preview/pr-7308/telegraf/v1/enterprise/index.html
Due: prettier

feat(telegraf-ga): telegraf enterprise landing (#7308)
  assets/styles/layouts/_homepage.scss
  assets/styles/layouts/article/blocks/_special-state.scss
  config/_default/hugo.yml
  content/telegraf/controller/audit-logs/_index.md
  content/telegraf/controller/audit-logs/enable-configure.md
  content/telegraf/controller/authentication/_index.md
  content/telegraf/controller/authentication/ldap.md
  content/telegraf/controller/authentication/oidc.md
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/reference/authentication-authorization.md
  content/telegraf/controller/reference/config-options.md
  content/telegraf/controller/settings.md
  content/telegraf/controller/telegraf-enterprise/_index.md
  content/telegraf/controller/telegraf-enterprise/apply-license.md
  content/telegraf/controller/telegraf-enterprise/license-enforcement.md
  content/telegraf/controller/telegraf-enterprise/manage-license.md
  content/telegraf/controller/telegraf-enterprise/troubleshoot.md
  content/telegraf/controller/users/_index.md
  content/telegraf/enterprise/_index.md
  content/telegraf/v1/enterprise.md
  data/products.yml
  layouts/index.html
  layouts/partials/article/feedback.html
  layouts/partials/article/special-state.html
  layouts/partials/header/title.html
  layouts/partials/sidebar.html
  layouts/partials/topnav/product-selector.html
  layouts/shortcodes/telegraf/enterprise-upgrade.html
Due: deprecated-markdown-patterns, build-agent-instructions, telegraf-lint

feat(telegraf): Generate documentation for secret store plugins
  content/telegraf/v1/plugins.md
  content/telegraf/v1/secretstore-plugins/_index.md
  content/telegraf/v1/secretstore-plugins/docker.md
  content/telegraf/v1/secretstore-plugins/googlecloud.md
  content/telegraf/v1/secretstore-plugins/http.md
  content/telegraf/v1/secretstore-plugins/jose.md
  content/telegraf/v1/secretstore-plugins/oauth2.md
  content/telegraf/v1/secretstore-plugins/os.md
  content/telegraf/v1/secretstore-plugins/systemd.md
  content/telegraf/v1/secretstore-plugins/vault.md
  data/list_filters.yml
  data/telegraf_plugins.yml
  scripts/docs-cli/lib/telegraf-auditor.js
  telegraf-build/templates/secretstore_index.tmpl
  telegraf-build/templates/secretstore_plugin.tmpl
Due: deprecated-markdown-patterns, telegraf-lint, prettier

fix(influxdb3-write-data): Nav and naming inconsistencies across versions
  content/influxdb3/cloud-dedicated/write-data/http-api/_index.md
  content/influxdb3/cloud-dedicated/write-data/http-api/compatibility-apis.md
  content/influxdb3/cloud-serverless/write-data/http-api/_index.md
  content/influxdb3/cloud-serverless/write-data/http-api/v1-http.md
  content/influxdb3/clustered/write-data/http-api/_index.md
  content/influxdb3/clustered/write-data/http-api/compatibility-apis.md
  content/influxdb3/enterprise/write-data/compatibility-apis.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, enterprise-lint

Update telegraf-build/templates/secretstore_index.tmpl
  telegraf-build/templates/secretstore_index.tmpl
Due: none

Update telegraf-build/templates/secretstore_plugin.tmpl
  telegraf-build/templates/secretstore_plugin.tmpl
Due: none

Deploy preview for PR 7310 🛫
  pr-preview/pr-7310/index.html
Due: none

fix(influxdb3-write-data): Nav and naming inconsistencies across versions (#7311)
  content/influxdb3/cloud-dedicated/write-data/http-api/_index.md
  content/influxdb3/cloud-dedicated/write-data/http-api/compatibility-apis.md
  content/influxdb3/cloud-serverless/write-data/http-api/_index.md
  content/influxdb3/cloud-serverless/write-data/http-api/v1-http.md
  content/influxdb3/clustered/write-data/http-api/_index.md
  content/influxdb3/clustered/write-data/http-api/compatibility-apis.md
  content/influxdb3/enterprise/write-data/compatibility-apis.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, enterprise-lint

docs(controller): add Telegraf Controller API reference page
  content/telegraf/controller/reference/api.md
  content/telegraf/controller/reference/authentication-authorization.md
  content/telegraf/controller/tokens/use.md
Due: deprecated-markdown-patterns, telegraf-lint

chore(controller): remove Docker examples, add powershell examples
  PLAN.md
  content/telegraf/controller/audit-logs/enable-configure.md
  content/telegraf/controller/authentication/ldap.md
  content/telegraf/controller/authentication/local.md
  content/telegraf/controller/authentication/oidc.md
  content/telegraf/controller/reference/config-options.md
  content/telegraf/controller/telegraf-enterprise/apply-license.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, telegraf-lint

chore(controller): removed ephemeral planning docs
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

sync(client-libs): update release notes
  content/influxdb3/cloud-dedicated/reference/client-libraries/v3/csharp/release-notes.md
  content/influxdb3/cloud-dedicated/reference/client-libraries/v3/go/release-notes.md
  content/influxdb3/cloud-dedicated/reference/client-libraries/v3/java/release-notes.md
  content/influxdb3/cloud-dedicated/reference/client-libraries/v3/javascript/release-notes.md
  content/influxdb3/cloud-dedicated/reference/client-libraries/v3/python/release-notes.md
  content/influxdb3/cloud-serverless/reference/client-libraries/v3/csharp/release-notes.md
  content/influxdb3/cloud-serverless/reference/client-libraries/v3/go/release-notes.md
  content/influxdb3/cloud-serverless/reference/client-libraries/v3/java/release-notes.md
  content/influxdb3/cloud-serverless/reference/client-libraries/v3/javascript/release-notes.md
  content/influxdb3/cloud-serverless/reference/client-libraries/v3/python/release-notes.md
  content/influxdb3/clustered/reference/client-libraries/v3/csharp/release-notes.md
  content/influxdb3/clustered/reference/client-libraries/v3/go/release-notes.md
  content/influxdb3/clustered/reference/client-libraries/v3/java/release-notes.md
  content/influxdb3/clustered/reference/client-libraries/v3/javascript/release-notes.md
  content/influxdb3/clustered/reference/client-libraries/v3/python/release-notes.md
  content/influxdb3/core/reference/client-libraries/v3/csharp/release-notes.md
  content/influxdb3/core/reference/client-libraries/v3/go/release-notes.md
  content/influxdb3/core/reference/client-libraries/v3/java/release-notes.md
  content/influxdb3/core/reference/client-libraries/v3/javascript/release-notes.md
  content/influxdb3/core/reference/client-libraries/v3/python/release-notes.md
  content/influxdb3/enterprise/reference/client-libraries/v3/csharp/release-notes.md
  content/influxdb3/enterprise/reference/client-libraries/v3/go/release-notes.md
  content/influxdb3/enterprise/reference/client-libraries/v3/java/release-notes.md
  content/influxdb3/enterprise/reference/client-libraries/v3/javascript/release-notes.md
  content/influxdb3/enterprise/reference/client-libraries/v3/python/release-notes.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/csharp.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/go.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/java.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/javascript.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/python.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Address review comments
  scripts/docs-cli/lib/telegraf-auditor.js
Due: prettier

Recreate plugin documentation with adapted template
  content/telegraf/v1/secretstore-plugins/_index.md
  content/telegraf/v1/secretstore-plugins/docker.md
  content/telegraf/v1/secretstore-plugins/googlecloud.md
  content/telegraf/v1/secretstore-plugins/http.md
  content/telegraf/v1/secretstore-plugins/jose.md
  content/telegraf/v1/secretstore-plugins/oauth2.md
  content/telegraf/v1/secretstore-plugins/os.md
  content/telegraf/v1/secretstore-plugins/systemd.md
  content/telegraf/v1/secretstore-plugins/vault.md
Due: deprecated-markdown-patterns, telegraf-lint

Deploy preview for PR 7310 🛫
  pr-preview/pr-7310/index.html
  pr-preview/pr-7310/telegraf/v1/secretstore-plugins/docker/index.html
  pr-preview/pr-7310/telegraf/v1/secretstore-plugins/googlecloud/index.html
  pr-preview/pr-7310/telegraf/v1/secretstore-plugins/http/index.html
  pr-preview/pr-7310/telegraf/v1/secretstore-plugins/index.html
  pr-preview/pr-7310/telegraf/v1/secretstore-plugins/jose/index.html
  pr-preview/pr-7310/telegraf/v1/secretstore-plugins/oauth2/index.html
  pr-preview/pr-7310/telegraf/v1/secretstore-plugins/os/index.html
  pr-preview/pr-7310/telegraf/v1/secretstore-plugins/systemd/index.html
  pr-preview/pr-7310/telegraf/v1/secretstore-plugins/vault/index.html
Due: none

fix(influxdb3): broken links (part of #6831)
  content/influxdb3/cloud-serverless/reference/sample-data.md
  content/influxdb3/core/object-storage/minio.md
  content/influxdb3/enterprise/admin/object-storage/minio.md
  content/shared/influxdb3-admin/distinct-value-cache/show.md
  content/shared/influxdb3-admin/last-value-cache/show.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(telegraf): Generate documentation for secret store plugins (#7310)
  content/telegraf/v1/plugins.md
  content/telegraf/v1/secretstore-plugins/_index.md
  content/telegraf/v1/secretstore-plugins/docker.md
  content/telegraf/v1/secretstore-plugins/googlecloud.md
  content/telegraf/v1/secretstore-plugins/http.md
  content/telegraf/v1/secretstore-plugins/jose.md
  content/telegraf/v1/secretstore-plugins/oauth2.md
  content/telegraf/v1/secretstore-plugins/os.md
  content/telegraf/v1/secretstore-plugins/systemd.md
  content/telegraf/v1/secretstore-plugins/vault.md
  data/list_filters.yml
  data/telegraf_plugins.yml
  scripts/docs-cli/lib/telegraf-auditor.js
  telegraf-build/templates/secretstore_index.tmpl
  telegraf-build/templates/secretstore_plugin.tmpl
Due: deprecated-markdown-patterns, telegraf-lint, prettier

Deploy preview for PR 7317 🛫
  pr-preview/pr-7317/index.html
Due: none

docs(controller): cross-link user sign-in and API token sections
  content/telegraf/controller/authentication/_index.md
  content/telegraf/controller/tokens/_index.md
Due: deprecated-markdown-patterns, telegraf-lint

fix(influxdb3): broken links (part of #6831) (#7317)
  content/influxdb3/cloud-serverless/reference/sample-data.md
  content/influxdb3/core/object-storage/minio.md
  content/influxdb3/enterprise/admin/object-storage/minio.md
  content/shared/influxdb3-admin/distinct-value-cache/show.md
  content/shared/influxdb3-admin/last-value-cache/show.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(tc-get-started): minor updates to the telegraf controller getting started guide
  assets/jsconfig.json
  content/telegraf/controller/get-started.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): cross-link user sign-in and API token sections (#7324)
  content/telegraf/controller/authentication/_index.md
  content/telegraf/controller/tokens/_index.md
Due: deprecated-markdown-patterns, telegraf-lint

chore(controller): remove Docker examples, add powershell examples (#7315)
  content/telegraf/controller/audit-logs/enable-configure.md
  content/telegraf/controller/authentication/ldap.md
  content/telegraf/controller/authentication/local.md
  content/telegraf/controller/authentication/oidc.md
  content/telegraf/controller/reference/config-options.md
  content/telegraf/controller/telegraf-enterprise/apply-license.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(sql): fix Unix nanosecond typo
  content/influxdb3/cloud-serverless/query-data/sql/cast-types.md
Due: deprecated-markdown-patterns, cloud-serverless-lint

chore(deps): update Vale to v3.15.1
  .ci/vale/vale.sh
Due: none

fix(enterprise): replace self-service Trial/At-Home license switch steps with support contact
  content/influxdb3/enterprise/admin/license.md
Due: deprecated-markdown-patterns, enterprise-lint

Release Chronograf v1.11.4
  content/chronograf/v1/about_the_project/release-notes.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
