Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

fix(influxdb3): drop broken #faq fragment from marketing link
  content/shared/influxdb3/which-influxdb-3.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7214 🛫
  pr-preview/pr-7214/index.html
  pr-preview/pr-7214/influxdb3/which-influxdb-3/index.html
Due: none

Resolve conflicts by merging master and updating assets
  .cache
  assets/jsconfig.json
  layouts/partials/header/faq-jsonld.html
Due: none

Deploy preview for PR 7220 🛫
  pr-preview/pr-7220/index.html
  pr-preview/pr-7220/influxdb3/which-influxdb-3/index.html
Due: none

chore(skills): apply targeted content-editing skill improvements
  .claude/skills/content-editing/SKILL.md
Due: lint-markdown-instructions, lint-instructions

fix(skills): lead MCP troubleshooting with OAuth, not API key
  .claude/skills/content-editing/SKILL.md
Due: lint-markdown-instructions, lint-instructions

feat(migration): skip regexes unsafe for fence attributes
  scripts/migrate-code-placeholders.mjs
  scripts/migrate-code-placeholders.test.mjs
Due: none

fix(migration): separate de-wrapped fence from adjacent content with blank lines
  scripts/migrate-code-placeholders.mjs
  scripts/migrate-code-placeholders.test.mjs
Due: none

fix(migration): separate inner shortcode-wrapped fences within region
  scripts/migrate-code-placeholders.mjs
  scripts/migrate-code-placeholders.test.mjs
Due: none

feat(migration): transform code-tabs-wrapper regions instead of skipping
  scripts/migrate-code-placeholders.mjs
  scripts/migrate-code-placeholders.test.mjs
Due: none

refactor(content): migrate code-tabs-wrapper code-placeholders to fence attribute
  content/influxdb3/cloud-dedicated/admin/query-system-data.md
  content/influxdb3/cloud-dedicated/admin/tokens/database/create.md
  content/influxdb3/cloud-dedicated/admin/tokens/database/update.md
  content/influxdb3/cloud-dedicated/query-data/execute-queries/influxctl-cli.md
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/query.md
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/token/create.md
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/write.md
  content/influxdb3/clustered/admin/query-system-data.md
  content/influxdb3/clustered/admin/scale-cluster.md
  content/influxdb3/clustered/admin/tokens/database/create.md
  content/influxdb3/clustered/install/set-up-cluster/licensing.md
  content/influxdb3/clustered/query-data/execute-queries/influxctl-cli.md
  content/influxdb3/clustered/query-data/troubleshoot-and-optimize/report-query-performance-issues.md
  content/influxdb3/clustered/reference/cli/influxctl/query.md
  content/influxdb3/clustered/reference/cli/influxctl/token/create.md
  content/influxdb3/clustered/reference/cli/influxctl/write.md
  content/influxdb3/enterprise/admin/tokens/resource/create.md
  content/influxdb3/enterprise/admin/tokens/resource/list.md
  content/shared/influxdb-v2/api-guide/api_intro.md
  content/shared/influxdb-v2/api-guide/influxdb-1x/_index.md
  content/shared/influxdb-v2/query-data/execute-queries/influx-api.md
  content/shared/influxdb3-admin/tokens/admin/list.md
  content/shared/influxdb3-cli/query.md
  content/shared/influxdb3-get-started/query.md
  content/shared/influxdb3-query-guides/execute-queries/influxdb3-cli.md
  content/telegraf/v1/install.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, telegraf-lint

refactor(content): manually convert remaining code-placeholders edge cases
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/management/revoke.md
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/token/revoke.md
  content/influxdb3/cloud-serverless/get-started/setup.md
  content/influxdb3/clustered/reference/cli/influxctl/management/revoke.md
  content/influxdb3/clustered/reference/cli/influxctl/token/revoke.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint

chore(migration): remove throwaway codemod and verifier; final run log
  PLAN.md
  scripts/migrate-code-placeholders.mjs
  scripts/migrate-code-placeholders.test.mjs
  scripts/verify-placeholders-migration.mjs
Due: lint-markdown-instructions, lint-instructions

chore(placeholders): remove plan.md and code-placeholders shortcode
  PLAN.md
  layouts/shortcodes/code-placeholders.html
Due: lint-markdown-instructions, lint-instructions

feat(influxdb3): add /influxdb3/ documentation hub
  content/influxdb3/_index.md
  content/shared/influxdb3/which-influxdb-3.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(layouts): product-selector links break on versionless hub pages
  layouts/partials/topnav/product-selector.html
Due: none

test(cypress): assert /influxdb3/ hub landing structure
  cypress/e2e/content/which-influxdb-3.cy.js
Due: prettier

fix(influxdb3): Change callout bold to h4
  content/influxdb3/_index.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7227 🛫
  pr-preview/pr-7227/index.html
Due: none

feat(llms.txt): add 'Choosing InfluxDB' section pointing to decision page
  layouts/index.llmstxt.txt
Due: none

docs(influxdb3): add cross-link callouts to the decision page
  content/influxdb3/cloud-dedicated/_index.md
  content/influxdb3/cloud-serverless/_index.md
  content/influxdb3/clustered/_index.md
  content/shared/influxdb3/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(platform): add 'Which version of InfluxDB should I use?' FAQ entry
  content/platform/faq.md
Due: deprecated-markdown-patterns

test(cypress): assert decision-page cross-links across 5 product pages + platform FAQ
  cypress/e2e/content/which-influxdb-3.cy.js
Due: prettier

Deploy preview for PR 7228 🛫
  pr-preview/pr-7228/index.html
Due: none

Deploy preview for PR 7229 🛫
  pr-preview/pr-7229/index.html
  pr-preview/pr-7229/influxdb3/cloud-dedicated/index.html
  pr-preview/pr-7229/influxdb3/cloud-serverless/index.html
  pr-preview/pr-7229/influxdb3/clustered/index.html
  pr-preview/pr-7229/influxdb3/core/index.html
  pr-preview/pr-7229/influxdb3/enterprise/index.html
  pr-preview/pr-7229/influxdb3/which-influxdb-3/index.html
  pr-preview/pr-7229/platform/faq/index.html
Due: none

fix(platform): correct broken #why-shouldnt anchor in FAQ link list
  content/platform/faq.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7229 🛫
  pr-preview/pr-7229/index.html
  pr-preview/pr-7229/platform/faq/index.html
Due: none

sync(client-libs): update release notes
  content/influxdb3/cloud-dedicated/reference/client-libraries/v3/go/release-notes.md
  content/influxdb3/cloud-serverless/reference/client-libraries/v3/go/release-notes.md
  content/influxdb3/clustered/reference/client-libraries/v3/go/release-notes.md
  content/influxdb3/core/reference/client-libraries/v3/go/release-notes.md
  content/influxdb3/enterprise/reference/client-libraries/v3/go/release-notes.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/go.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(telegraf): Replace sample.conf by 'configuration'
  layouts/partials/article/telegraf-plugin-links.html
Due: none

chore(deps): update Vale to v3.14.2
  .ci/vale/vale.sh
Due: none

chore(telegraf): Replace sample.conf by 'configuration' (#7237)
  layouts/partials/article/telegraf-plugin-links.html
Due: none

feat(telegraf): Prepare secret store docs
  content/telegraf/v1/plugins.md
  cypress/e2e/content/shortcodes-real-pages.cy.js
  data/list_filters.yml
Due: deprecated-markdown-patterns, telegraf-lint, prettier

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
