Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

feat(v1): document user column in SHOW QUERIES output (#7017)
  content/enterprise_influxdb/v1/troubleshooting/query_management/influxql_query_management.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/troubleshooting/query_management.md
Due: deprecated-markdown-patterns

feat(enterprise): document SIGHUP log level reload (#7018)
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
Due: deprecated-markdown-patterns

feat(v1): document user-query-bytes-enabled config option (#7019)
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/administration/config.md
Due: deprecated-markdown-patterns

feat(enterprise): document rpc-resettable-*-timeout config options (#7020)
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
Due: deprecated-markdown-patterns

Deploy preview for PR 6950 🛫
  pr-preview/pr-6950/enterprise_influxdb/v1/administration/configure/config-data-nodes/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/troubleshooting/query_management/influxql_query_management/index.html
  pr-preview/pr-6950/index.html
  pr-preview/pr-6950/influxdb/v1/about_the_project/release-notes/index.html
  pr-preview/pr-6950/influxdb/v1/administration/config/index.html
  pr-preview/pr-6950/influxdb/v1/troubleshooting/query_management/index.html
Due: none

Deploy preview for PR 6950 🛫
  pr-preview/pr-6950/index.html
Due: none

fix(enterprise): mark influx-meta pages as draft (internal-only tool)
  content/enterprise_influxdb/v1/tools/influx-meta/_index.md
  content/enterprise_influxdb/v1/tools/influx-meta/cleanup-shards.md
  content/enterprise_influxdb/v1/tools/influx-meta/convert.md
  content/enterprise_influxdb/v1/tools/influx-meta/export.md
  content/enterprise_influxdb/v1/tools/influx-meta/fix-shard-owners.md
  content/enterprise_influxdb/v1/tools/influx-meta/import.md
  content/enterprise_influxdb/v1/tools/influx-meta/make-node-active.md
  content/enterprise_influxdb/v1/tools/influx-meta/make-node-passive.md
  content/enterprise_influxdb/v1/tools/influx-meta/renumber-shard-groups.md
  content/enterprise_influxdb/v1/tools/influx-meta/set-shard-group.md
Due: deprecated-markdown-patterns

fix(vale): use wrapper, add missing configs, disable noisy rules
  .github/scripts/vale-check.sh
  .github/workflows/pr-vale-check.yml
  .vale.ini
  DOCS-TESTING.md
  content/influxdb/v2/.vale.ini
  content/influxdb3/cloud-dedicated/.vale.ini
  content/influxdb3/cloud-serverless/.vale.ini
  content/influxdb3/clustered/.vale.ini
  content/influxdb3/core/.vale.ini
Due: lint-markdown-instructions, lint-instructions

feat(enterprise): add v1.12.3 release notes and bump product version
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

WIP get started with telegraf controller
  content/telegraf/controller/get-started.md
Due: deprecated-markdown-patterns, telegraf-lint

chore(enterprise): update enterprise 1.12.3 version and binary naming convention
  content/enterprise_influxdb/v1/administration/upgrading.md
  content/enterprise_influxdb/v1/guides/migration.md
  content/enterprise_influxdb/v1/introduction/installation/data_node_installation.md
  content/enterprise_influxdb/v1/introduction/installation/meta_node_installation.md
  content/enterprise_influxdb/v1/introduction/installation/single-server.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

chore(skills): update Vale skills with CI workflow and disabled rules
  .claude/skills/vale-linting/SKILL.md
  .claude/skills/vale-rule-config/SKILL.md
Due: lint-markdown-instructions, lint-instructions

chore(enterprise): update enterprise 1.12.3 version and binary naming convention (#7027)
  content/enterprise_influxdb/v1/administration/upgrading.md
  content/enterprise_influxdb/v1/guides/migration.md
  content/enterprise_influxdb/v1/introduction/installation/data_node_installation.md
  content/enterprise_influxdb/v1/introduction/installation/meta_node_installation.md
  content/enterprise_influxdb/v1/introduction/installation/single-server.md
Due: deprecated-markdown-patterns

Deploy preview for PR 6950 🛫
  pr-preview/pr-6950/enterprise_influxdb/v1/administration/upgrading/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/guides/migration/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/introduction/installation/data_node_installation/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/introduction/installation/meta_node_installation/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/introduction/installation/single-server/index.html
  pr-preview/pr-6950/index.html
Due: none

chore(enterprise): add ent 1.12.3 release summary, update release notes description
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
Due: deprecated-markdown-patterns

chore(enterprise): add ent 1.12.3 release summary, update release notes description (#7028)
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
Due: deprecated-markdown-patterns

Deploy preview for PR 6950 🛫
  pr-preview/pr-6950/enterprise_influxdb/v1/about-the-project/release-notes/index.html
  pr-preview/pr-6950/index.html
Due: none

Clarify speed improvements in release notes
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
Due: deprecated-markdown-patterns

fix(enterprise): fix broken fragment links across v1 docs
  PLAN.md
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/backup-and-restore.md
  content/enterprise_influxdb/v1/administration/configure/anti-entropy/_index.md
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/administration/manage/clusters/rebalance.md
  content/enterprise_influxdb/v1/administration/manage/clusters/replacing-nodes.md
  content/enterprise_influxdb/v1/administration/upgrading.md
  content/enterprise_influxdb/v1/features/_index.md
  content/enterprise_influxdb/v1/guides/migration.md
  content/enterprise_influxdb/v1/query_language/_index.md
  content/enterprise_influxdb/v1/query_language/explore-schema.md
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/enterprise_influxdb/v1/query_language/spec.md
  content/enterprise_influxdb/v1/reference/hardware_sizing.md
  content/enterprise_influxdb/v1/tools/api.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/_index.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
  content/enterprise_influxdb/v1/troubleshooting/query_management/influxql_query_management.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions

Deploy preview for PR 6950 🛫
  pr-preview/pr-6950/enterprise_influxdb/v1/about-the-project/release-notes/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/administration/backup-and-restore/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/administration/configure/anti-entropy/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/administration/configure/config-data-nodes/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/administration/configure/config-meta-nodes/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/administration/manage/clusters/rebalance/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/administration/manage/clusters/replacing-nodes/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/administration/upgrading/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/features/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/guides/migration/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/query_language/explore-schema/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/query_language/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/query_language/manage-database/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/query_language/spec/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/tools/api/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/tools/influxd-ctl/backup/index.html
  pr-preview/pr-6950/enterprise_influxdb/v1/tools/influxd-ctl/index.html
  pr-preview/pr-6950/index.html
Due: none

fix(enterprise): fix remaining broken links from CI run #23826485679
  PLAN.md
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/backup-and-restore.md
  content/enterprise_influxdb/v1/administration/manage/clusters/replacing-nodes.md
  content/enterprise_influxdb/v1/query_language/_index.md
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/influxdb/v1/administration/config.md
  content/influxdb/v1/query_language/manage-database.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions

fix: trigger cleanup workflow on push, not just PR merge
  .github/workflows/cleanup-ephemeral-docs.yml
Due: none

fix: create cleanup PR instead of pushing directly to protected branch
  .github/workflows/cleanup-ephemeral-docs.yml
Due: none

fix: always post plan details as PR comment, not in description
  .claude/commands/finish.md
Due: lint-markdown-instructions, lint-instructions

chore(ci): update GitHub Actions to Node.js 24-compatible versions
  .github/workflows/audit-documentation.yml
  .github/workflows/auto-label.yml
  .github/workflows/check-pinned-deps.yml
  .github/workflows/cleanup-ephemeral-docs.yml
  .github/workflows/cleanup-stale-previews.yml
  .github/workflows/doc-review.yml
  .github/workflows/influxdb3-release.yml
  .github/workflows/pr-link-check.yml
  .github/workflows/pr-preview.yml
  .github/workflows/pr-vale-check.yml
  .github/workflows/prepare-release.yml
  .github/workflows/sync-link-checker-binary.yml
  .github/workflows/sync-plugins.yml
  .github/workflows/trigger-on-release.yml
Due: none

fix(ci): prevent duplicate cleanup PRs, document auto-merge limitation
  .github/workflows/cleanup-ephemeral-docs.yml
Due: none

docs(enterprise): rewrite performance upgrade preview documentation
  content/influxdb3/enterprise/admin/pachatree/_index.md
  content/influxdb3/enterprise/admin/pachatree/configure.md
  content/influxdb3/enterprise/admin/pachatree/monitor.md
  data/notifications.yaml
Due: deprecated-markdown-patterns, enterprise-lint

fix(enterprise): correct RPM download URL delimiters in v1.12.3 docs
  content/enterprise_influxdb/v1/administration/upgrading.md
  content/enterprise_influxdb/v1/guides/migration.md
  content/enterprise_influxdb/v1/introduction/installation/data_node_installation.md
  content/enterprise_influxdb/v1/introduction/installation/meta_node_installation.md
  content/enterprise_influxdb/v1/introduction/installation/single-server.md
Due: deprecated-markdown-patterns

docs(enterprise): refine performance upgrade preview content
  content/influxdb3/enterprise/admin/pachatree/_index.md
  content/influxdb3/enterprise/admin/pachatree/configure.md
  content/influxdb3/enterprise/admin/pachatree/monitor.md
Due: deprecated-markdown-patterns, enterprise-lint

Update content/influxdb3/enterprise/admin/pachatree/_index.md
  content/influxdb3/enterprise/admin/pachatree/_index.md
Due: deprecated-markdown-patterns, enterprise-lint

Update content/influxdb3/enterprise/admin/pachatree/configure.md
  content/influxdb3/enterprise/admin/pachatree/configure.md
Due: deprecated-markdown-patterns, enterprise-lint
