Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

chore(tc-install): add owner setup to telegraf controller install docs (#6929)
  content/telegraf/controller/install/_index.md
Due: deprecated-markdown-patterns, telegraf-lint

fix(api-docs): enforce one-tag-per-operation, fix Enterprise v1 spec
  .claude/agents/analyze-api-source.md
  .github/instructions/api-docs.instructions.md
  api-docs/README.md
  api-docs/enterprise_influxdb/v1/influxdb-enterprise-v1-openapi.yaml
  api-docs/influxdb/v1/influxdb-oss-v1-openapi.yaml
Due: lint-markdown-instructions, lint-instructions

chore(tc-ownership): update telegraf controller ownership transfer instructions
  content/telegraf/controller/users/transfer-ownership.md
Due: deprecated-markdown-patterns, telegraf-lint

fix(api-docs): split v2 Compatibility tag, fix auth descriptions and info.yml
  api-docs/enterprise_influxdb/v1/content/info.yml
  api-docs/enterprise_influxdb/v1/influxdb-enterprise-v1-openapi.yaml
  api-docs/enterprise_influxdb/v1/tags.yml
  api-docs/influxdb/v1/content/info.yml
  api-docs/influxdb/v1/influxdb-oss-v1-openapi.yaml
  api-docs/influxdb/v1/tags.yml
  api-docs/influxdb3/cloud-dedicated/content/info.yml
  api-docs/influxdb3/cloud-dedicated/influxdb3-cloud-dedicated-openapi.yaml
Due: none

fix(enterprise): correct typos and inconsistencies in v1.12.3 release docs
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
Due: deprecated-markdown-patterns

fix(influxdb-v1): address review issues in InfluxQL spec pages
  content/enterprise_influxdb/v1/query_language/spec.md
  content/influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

fix(influxdb-v1): move Comments section outside Other in OSS spec
  content/influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

Deploy preview for PR 6931 🛫
  pr-preview/pr-6931/index.html
  pr-preview/pr-6931/influxdb/v1/query_language/spec/index.html
Due: none

fix(influxdb-v1): restore Comments link in OSS spec TOC
  content/influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

fix(influxdb-v1): rewrite KILL QUERY with clear Syntax and Examples sections
  content/enterprise_influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

fix(influxdb-v1): address review issues in InfluxQL spec pages (#6931)
  content/enterprise_influxdb/v1/query_language/spec.md
  content/influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

fix(influxdb-v1): correct FUTURE LIMIT and PAST LIMIT clause order and add to ALTER RETENTION POLICY (#6591)
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/enterprise_influxdb/v1/query_language/spec.md
  content/influxdb/v1/query_language/manage-database.md
  content/influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

feat(enterprise,v1): add v1.12.3 release notes and missing OSS config options
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/administration/config.md
Due: deprecated-markdown-patterns

fix(enterprise,v1): fix broken links in release notes and spec pages
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/enterprise_influxdb/v1/query_language/spec.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

Potential fix for pull request finding
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
Due: deprecated-markdown-patterns

fix(enterprise,v1): move FUTURE/PAST LIMIT fix from Features to Bug fixes
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/influxdb/v1/about_the_project/release-notes.md
Due: deprecated-markdown-patterns

Deploy preview for PR 6872 🛫
  pr-preview/pr-6872/enterprise_influxdb/v1/about-the-project/release-notes/index.html
  pr-preview/pr-6872/index.html
  pr-preview/pr-6872/influxdb/v1/about_the_project/release-notes/index.html
Due: none

Fix PR preview and Copilot visual review skipping docs home page when layouts/index.html changes (#6922)
  .github/scripts/detect-preview-pages.js
  .github/scripts/parse-pr-urls.js
  .github/scripts/resolve-review-urls.js
  .github/scripts/test-parse-pr-urls.js
Due: prettier

fix(v1): correct spec typos and KILL QUERY placeholder in v1.12.3 docs (#6932)
  content/enterprise_influxdb/v1/query_language/spec.md
  content/influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

Deploy preview for PR 6872 🛫
  pr-preview/pr-6872/enterprise_influxdb/v1/query_language/spec/index.html
  pr-preview/pr-6872/index.html
  pr-preview/pr-6872/influxdb/v1/query_language/spec/index.html
Due: none

Deploy preview for PR 6872 🛫
  pr-preview/pr-6872/index.html
Due: none

fix(influxdb-v1): fix broken cross-references in meta-nodes config and OSS config
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/influxdb/v1/administration/config.md
Due: deprecated-markdown-patterns

Deploy preview for PR 6872 🛫
  pr-preview/pr-6872/enterprise_influxdb/v1/administration/configure/config-meta-nodes/index.html
  pr-preview/pr-6872/index.html
  pr-preview/pr-6872/influxdb/v1/administration/config/index.html
Due: none

chore(influxdb-v1): bump OSS and Enterprise latest patch to 1.12.3
  data/products.yml
Due: build-agent-instructions

docs: tag v1.12.3-only config and backup updates (#6936)
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
  content/influxdb/v1/administration/config.md
Due: deprecated-markdown-patterns

Deploy preview for PR 6872 🛫
  pr-preview/pr-6872/enterprise_influxdb/v1/administration/configure/config-data-nodes/index.html
  pr-preview/pr-6872/enterprise_influxdb/v1/tools/influxd-ctl/backup/index.html
  pr-preview/pr-6872/index.html
  pr-preview/pr-6872/influxdb/v1/administration/config/index.html
Due: none

refactor(api-docs): write resolved specs to _build/ instead of mutating source
  .gitignore
  api-docs/generate-api-docs.sh
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/post-process-specs.ts
  static/openapi/influxdb3-core-openapi.yaml
  static/openapi/influxdb3-enterprise-openapi.yaml
Due: prettier

style(api-docs): format generate-openapi-articles.ts line lengths
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

fix(ci): add TypeScript build step for API documentation scripts
  .circleci/config.yml
  .github/workflows/pr-preview.yml
Due: none

InfluxDB 1.12.3 release (#6872)
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/enterprise_influxdb/v1/query_language/spec.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/administration/config.md
  content/influxdb/v1/query_language/manage-database.md
  content/influxdb/v1/query_language/spec.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
