Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

fix(cloud-serverless): repair sample-data typos and migrate deprecated shortcodes (#7082)
  content/influxdb3/cloud-serverless/reference/sample-data.md
Due: deprecated-markdown-patterns, cloud-serverless-lint

fix(layouts): collapse shortcode templates to stop double-rendering highlighted code
  layouts/shortcodes/code-tab-content.html
  layouts/shortcodes/influxdb/custom-timestamps.html
Due: none

fix(layouts): trim whitespace in render-codeblock placeholder/callout branch
  layouts/_default/_markup/render-codeblock.html
Due: none

test: add render-regression checks to prevent #7079-class bugs
  .ci/scripts/check-render-artifacts.sh
  .ci/scripts/check-render-hook-whitespace.sh
  .github/workflows/pr-render-check.yml
  content/example.md
  cypress/e2e/content/render-regression.cy.js
  layouts/_default/_markup/render-codeblock.html
  lefthook.yml
  package.json
Due: prettier

fix(enterprise): point "Submit docs issue" button to GitHub instead of support site
  layouts/partials/article/feedback.html
Due: none

fix(ci): fetch fresh PR body for preview URL detection
  .github/scripts/detect-preview-pages.js
  .github/workflows/pr-preview.yml
Due: prettier

refactor(layouts): move product issue URLs to products.yml config
  data/products.yml
  layouts/partials/article/feedback.html
Due: build-agent-instructions

test(ci): add feedback button link verification as PR gate
  .ci/scripts/check-feedback-links.js
  .github/workflows/pr-feedback-links.yml
  lefthook.yml
Due: prettier

style(ci): apply prettier formatting to check-feedback-links.js
  .ci/scripts/check-feedback-links.js
Due: prettier

Deploy preview for PR 7090 🛫
  pr-preview/pr-7090/index.html
Due: none

fix(products): route paid products' "Submit issue" button to Support site
  data/products.yml
Due: build-agent-instructions

feat(influxdb3): add 3.9.1 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/shared/v3-core-enterprise-release-notes/_index.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7097 🛫
  pr-preview/pr-7097/index.html
  pr-preview/pr-7097/influxdb3/core/release-notes/index.html
  pr-preview/pr-7097/influxdb3/enterprise/release-notes/index.html
Due: none

WIP telegraf controller get started
  content/telegraf/controller/get-started.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(v1): add InfluxDB v1.12.4 release notes for OSS and Enterprise
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/influxdb/v1/about_the_project/release-notes.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

Update content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7098 🛫
  pr-preview/pr-7098/enterprise_influxdb/v1/about-the-project/release-notes/index.html
  pr-preview/pr-7098/index.html
Due: none

chore(tc-0.0.6-beta): add tc 0.0.6-beta release notes, download links, and notification
  content/telegraf/controller/reference/release-notes.md
  data/notifications.yaml
  data/tc_downloads.yml
Due: deprecated-markdown-patterns, telegraf-lint

fix(ent-1.x): Update upgrade recommendation to v1.12.4
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
Due: deprecated-markdown-patterns

fix(oss-1.x): Update release notes to recommend upgrading to v1.12.4
  content/influxdb/v1/about_the_project/release-notes.md
Due: deprecated-markdown-patterns
