Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, cloud-pytest, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest, telegraf-pytest, v2-pytest, prettier

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

cloud-pytest:
  tags: test,codeblocks,v2
  env:
  - SERVICE: cloud-pytest
  run: docker compose run $SERVICE '{staged_files}'

cloud-dedicated-pytest:
  tags: test,codeblocks,v3
  env:
  - SERVICE: cloud-dedicated-pytest
  run: './test/scripts/monitor-tests.sh start $SERVICE ;
  
    docker compose run $SERVICE {staged_files} ;
  
    ./test/scripts/monitor-tests.sh stop $SERVICE
  
    '

cloud-serverless-pytest:
  tags: test,codeblocks,v3
  env:
  - SERVICE: cloud-serverless-pytest
  run: docker compose run $SERVICE '{staged_files}'

clustered-pytest:
  tags: test,codeblocks,v3
  env:
  - SERVICE: clustered-pytest
  run: './test/scripts/monitor-tests.sh start $SERVICE ;
  
    docker compose run $SERVICE {staged_files} ;
  
    ./test/scripts/monitor-tests.sh stop $SERVICE
  
    '

telegraf-pytest:
  tags: test,codeblocks
  env:
  - SERVICE: telegraf-pytest
  run: docker compose run $SERVICE '{staged_files}'

v2-pytest:
  tags: test,codeblocks,v2
  env:
  - SERVICE: v2-pytest
  run: docker compose run --rm $SERVICE '{staged_files}'

prettier:
  tags: frontend,style
  run: yarn prettier {staged_files}

updated alpha shortcode
  layouts/partials/article/limited-availability.html
Due: none

fix flux influxdb version modal
  data/flux_influxdb_minor_versions.yml
  data/flux_influxdb_versions.yml
  data/products.yml
  flux-build-scripts/update-flux-versions.js
  layouts/partials/footer/modals/flux-influxdb-versions.html
Due: prettier

removed commented code
  flux-build-scripts/update-flux-versions.js
Due: prettier

fix indentation in numbered list
  content/influxdb/v2/install/use-docker-compose.md
Due: v2-lint, v2-pytest

use a warning frame
  content/influxdb/v2/install/use-docker-compose.md
Due: v2-lint, v2-pytest

mention the UI (for new users who run Influx for the first time)
  content/influxdb/v2/install/use-docker-compose.md
Due: v2-lint, v2-pytest

remove non-existing link (could not find it anywhere)
  content/influxdb/v2/install/use-docker-compose.md
Due: v2-lint, v2-pytest

adds correct link
  content/influxdb/v2/install/use-docker-compose.md
Due: v2-lint, v2-pytest

fix the influx-cli links
  content/influxdb/v2/install/_index.md
Due: v2-lint, v2-pytest

fix the tab link in the Raspberry tab by..
  content/influxdb/v2/install/_index.md
Due: v2-lint, v2-pytest

fix another link
  content/influxdb/v2/install/_index.md
Due: v2-lint, v2-pytest

chore(clustered): add prometheus as a component with configurable resources
  content/influxdb/clustered/install/customize-cluster/scale.md
Due: clustered-lint, clustered-pytest

fix heading in dashboard page
  content/influxdb/v2/visualize-data/dashboards/_index.md
Due: v2-lint, v2-pytest

fix chronograf link
  content/influxdb/v2/get-started/visualize.md
Due: v2-lint, v2-pytest

fix some links
  content/influxdb/v2/tools/chronograf.md
Due: v2-lint, v2-pytest

Apply suggestions from code review
  flux-build-scripts/update-flux-versions.js
Due: prettier

Update Flux/InfluxDB version modal (#5668)
  data/flux_influxdb_minor_versions.yml
  data/flux_influxdb_versions.yml
  data/products.yml
  flux-build-scripts/update-flux-versions.js
  layouts/partials/footer/modals/flux-influxdb-versions.html
Due: prettier

fix indentation in a numbered list
  content/influxdb/v2/admin/buckets/create-bucket.md
Due: v2-lint, v2-pytest

fix bold issue
  content/influxdb/v2/admin/buckets/create-bucket.md
Due: v2-lint, v2-pytest

add missing comma
  content/influxdb/v2/admin/buckets/create-bucket.md
Due: v2-lint, v2-pytest

Link "data retention" page in the page "create a bucket"
  content/influxdb/v2/admin/buckets/create-bucket.md
Due: v2-lint, v2-pytest

Link the "Create a Bucket" page from the "data retention" page
  content/influxdb/v2/reference/internals/data-retention.md
Due: v2-lint, v2-pytest

clarify that bucket retention is set at bucket creation time
  content/influxdb/v2/reference/internals/data-retention.md
Due: v2-lint, v2-pytest

add a warning about lack of custom partitioning
  content/influxdb/cloud-serverless/_index.md
Due: none

Apply suggestions from code review
  content/influxdb/cloud-serverless/_index.md
Due: none

Apply suggestions from code review
  content/influxdb/v2/admin/buckets/create-bucket.md
  content/influxdb/v2/reference/internals/data-retention.md
Due: v2-lint, v2-pytest

Apply suggestions from code review
  content/influxdb/v2/get-started/visualize.md
Due: v2-lint, v2-pytest

Update prerequisites.md
  content/influxdb/clustered/install/set-up-cluster/prerequisites.md
Due: clustered-lint, clustered-pytest

Update prerequisites.md (#5680)
  content/influxdb/clustered/install/set-up-cluster/prerequisites.md
Due: clustered-lint, clustered-pytest

docs(clients): new major version of Go v3 client
  content/influxdb/cloud-dedicated/get-started/query.md
  content/influxdb/cloud-dedicated/get-started/write.md
  content/influxdb/cloud-dedicated/query-data/execute-queries/client-libraries/go.md
  content/influxdb/cloud-dedicated/query-data/influxql/parameterized-queries.md
  content/influxdb/cloud-dedicated/query-data/sql/parameterized-queries.md
  content/influxdb/cloud-dedicated/reference/client-libraries/v3/go.md
  content/influxdb/cloud-dedicated/write-data/line-protocol/client-libraries.md
  content/influxdb/cloud-serverless/get-started/query.md
  content/influxdb/cloud-serverless/get-started/write.md
  content/influxdb/cloud-serverless/query-data/execute-queries/client-libraries/go.md
  content/influxdb/cloud-serverless/query-data/influxql/parameterized-queries.md
  content/influxdb/cloud-serverless/query-data/sql/parameterized-queries.md
  content/influxdb/cloud-serverless/reference/client-libraries/v3/go.md
  content/influxdb/cloud-serverless/write-data/line-protocol/client-libraries.md
  content/influxdb/clustered/get-started/query.md
  content/influxdb/clustered/get-started/write.md
  content/influxdb/clustered/query-data/execute-queries/client-libraries/go.md
  content/influxdb/clustered/query-data/influxql/parameterized-queries.md
  content/influxdb/clustered/query-data/sql/parameterized-queries.md
  content/influxdb/clustered/reference/client-libraries/v3/go.md
  content/influxdb/clustered/write-data/line-protocol/client-libraries.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

Update enable-tls.md
  content/influxdb/v2/admin/security/enable-tls.md
Due: v2-lint, v2-pytest

InfluxDB OSS v1.11.8 release notes
  content/influxdb/v1/about_the_project/release-notes.md
Due: none

InfluxDB Enterprise v1.11.8 release notes
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
Due: none

Bump version to 1.11.8 in product data
  data/products.yml
Due: none

chore(ai): add instructions directory and revise Doc instructions.
  ai/gpt/doc.md
  ai/gpt/instructions/doc.md
Due: none

WIP(ai): Yext chat customizations
  assets/js/ai-interactions.js
Due: prettier

chore(ai): Update API key for testing chat updates
  assets/js/ai-interactions.js
Due: prettier

Path conditions:
  cloud-lint: any of: content/influxdb/cloud/**/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/**/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/**/*.md
  clustered-lint: any of: content/influxdb/clustered/**/*.md
  telegraf-lint: any of: content/telegraf/**/*.md
  v2-lint: any of: content/influxdb/v2/**/*.md
  cloud-pytest: any of: content/influxdb/cloud/**/*.md
  cloud-dedicated-pytest: any of: content/influxdb/cloud-dedicated/**/*.md
  cloud-serverless-pytest: any of: content/influxdb/cloud-serverless/**/*.md
  clustered-pytest: any of: content/influxdb/clustered/**/*.md
  telegraf-pytest: any of: content/telegraf/**/*.md
  v2-pytest: any of: content/influxdb/v2/**/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
