Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

Update .claude/agents/ci-automation-engineer.md
  .claude/agents/ci-automation-engineer.md
Due: lint-markdown-instructions, lint-instructions

Mark disabled field as required in processing engine trigger API specs (#6790)
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  content/influxdb3/core/plugins/_index.md
  content/shared/influxdb3-get-started/processing-engine.md
  content/shared/influxdb3-plugins/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update .ci/vale/styles/Google/Colons.yml
  .ci/vale/styles/Google/Colons.yml
Due: none

chore(deps): bump axios to address vuln
  package.json
  yarn.lock
Due: none

fix(vale): update (vale sync), improve rules, exclude URLs and shortcode attributes from spell checking (#6798)
  .ci/vale/styles/.vale-config/2-Hugo.ini
  .ci/vale/styles/Google/AMPM.yml
  .ci/vale/styles/Google/Colons.yml
  .ci/vale/styles/Google/Ordinal.yml
  .ci/vale/styles/Google/Quotes.yml
  .ci/vale/styles/Google/Units.yml
  .ci/vale/styles/InfluxDataDocs/Capitalization.yml
  .ci/vale/styles/InfluxDataDocs/Spelling.yml
  .ci/vale/styles/InfluxDataDocs/Terms/ignore.txt
  .ci/vale/styles/InfluxDataDocs/Units.yml
  .claude/agents/ci-automation-engineer.md
  .claude/settings.json
  .claude/skills/content-editing/SKILL.md
  .claude/skills/vale-linting/SKILL.md
  .github/copilot-instructions.md
  .vale.ini
  package.json
  yarn.lock
Due: lint-markdown-instructions, lint-instructions

docs(skills): add Vale regex support documentation to content-editing skill
  .claude/skills/content-editing/SKILL.md
Due: lint-markdown-instructions, lint-instructions

Update content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
Due: lint-markdown-content

Apply suggestions from code review
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
Due: lint-markdown-content

refactor(skills): separate Vale usage from rule configuration
  .claude/skills/content-editing/SKILL.md
  .claude/skills/vale-rule-config/SKILL.md
Due: lint-markdown-instructions, lint-instructions

Update .claude/skills/vale-rule-config/SKILL.md
  .claude/skills/vale-rule-config/SKILL.md
Due: lint-markdown-instructions, lint-instructions

docs(skills): add Vale regex support documentation to content-editing… (#6808)
  .claude/skills/content-editing/SKILL.md
  .claude/skills/vale-rule-config/SKILL.md
Due: lint-markdown-instructions, lint-instructions

feat(devcontainer): add GitHub Codespaces configuration (#6801)
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: none

chore(deps): update yarn dependencies
  yarn.lock
Due: none

Update .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

fix(ci): spammy PR template Removes `@` from suggested reviewers.
  .github/PULL_REQUEST_TEMPLATE.md
Due: lint-markdown-instructions, lint-instructions

Docs v2 jts fix spammy pr template (#6813)
  .github/PULL_REQUEST_TEMPLATE.md
  yarn.lock
Due: lint-markdown-instructions, lint-instructions

feat(ci): add per-product codeblock testing with default group
  .github/workflows/test.yml
  package.json
Due: none

chore(ci): make codeblock tests manual-only and informational
  .github/workflows/test.yml
Due: none

feat(ci): make codeblock tests informational on PRs, manual-only execution
  .github/workflows/test.yml
  scripts/ci/detect-test-products.js
Due: prettier

Replace default CI test products with Core and Telegraf (#6812)
  .github/workflows/test.yml
  package.json
  scripts/ci/detect-test-products.js
Due: prettier

docs(ci): add Vale CI implementation plan
  docs/plans/2026-02-11-vale-ci-implementation.md
Due: none

docs(ci): add Vale CI integration design
  docs/plans/2026-02-11-vale-ci-design.md
Due: none

feat(ci): add shared content resolution script
  .github/scripts/resolve-shared-content.sh
Due: none

feat(ci): add Vale check script with config mapping
  .github/scripts/vale-check.sh
Due: none

docs: add Vale CI section to DOCS-TESTING.md
  DOCS-TESTING.md
Due: lint-markdown-instructions, lint-instructions

test(ci): remove Vale test file
  content/influxdb3/core/test-vale-errors.md
Due: lint-markdown-content, core-lint

feat(ci): add Vale style check workflow
  .github/workflows/pr-vale-check.yml
Due: none

fix(ci): handle files without trailing newline in vale-check.sh
  .github/scripts/vale-check.sh
Due: none

test(ci): add temporary file to test Vale workflow
  content/influxdb3/core/test-vale-errors.md
Due: lint-markdown-content, core-lint

refactor(ci): use shared resolve-shared-content.sh script
  .github/scripts/resolve-shared-content.sh
  .github/workflows/test.yml
  scripts/ci/detect-test-products.js
Due: prettier

Updating changelog
  content/telegraf/v1/release-notes.md
Due: lint-markdown-content, telegraf-lint

Updating product version
  data/products.yml
Due: build-agent-instructions

fix: openapi-paths-to-hugo-data
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
Due: prettier
