Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

chore(tc-beta): add download link to release notes
  content/telegraf/controller/reference/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

Deploy preview for PR 6988 🛫
  pr-preview/pr-6988/index.html
  pr-preview/pr-6988/telegraf/controller/reference/release-notes/index.html
Due: none

chore(tc-beta): add tc 0.0.5-beta release notes (#6988)
  assets/js/components/tc-dynamic-values.js
  assets/js/main.js
  content/telegraf/controller/agents/create.md
  content/telegraf/controller/agents/status.md
  content/telegraf/controller/configs/create.md
  content/telegraf/controller/configs/dynamic-values.md
  content/telegraf/controller/configs/use.md
  content/telegraf/controller/reference/release-notes.md
  content/telegraf/controller/tokens/use.md
  layouts/_default/_markup/render-codeblock.html
  layouts/shortcodes/telegraf/dynamic-values.html
Due: deprecated-markdown-patterns, eslint-debug-check, telegraf-lint, prettier, lint-js

feat(tc-beta): add tc 0.0.5-beta linux arm download
  data/tc_downloads.yml
Due: none

Deploy preview for PR 6990 🛫
  pr-preview/pr-6990/index.html
  pr-preview/pr-6990/sitemap.xml
  pr-preview/pr-6990/telegraf/controller/install/index.html
Due: none

fix(tc-beta): fix tc link on homepage
  layouts/index.html
Due: none

Update test/pytest/requirements.txt
  test/pytest/requirements.txt
Due: none

doc-review: replace @github-copilot comment with GitHub Check Run for visual review (#6974) (#6975)
  .github/DOC-REVIEW-PIPELINE-PLAN.md
  .github/LABEL_GUIDE.md
  .github/workflows/doc-review.yml
Due: none

Move Docs review workflow plan to https://github.com/orgs/influxdata/projects/107?pane=issue&itemId=169574788
  .github/DOC-REVIEW-PIPELINE-PLAN.md
Due: none

Deploy preview for PR 6895 🛫
  pr-preview/pr-6895/index.html
Due: none

Apply suggestions from code review
  .github/workflows/doc-review.yml
Due: none

chore: add hooks and guidelines to reduce agent friction
  .claude/agents/doc-triage-agent.md
  .claude/settings.json
  .claude/skills/influxdb3-test-setup/SKILL.md
  AGENTS.md
  test/scripts/init-influxdb3.sh
Due: lint-markdown-instructions, lint-instructions

chore: replace prompt hook with deterministic worktree path check
  .claude/hooks/check-worktree-paths.sh
  .claude/settings.json
Due: none

chore: add yarn install hooks for worktree and session start
  .claude/settings.json
Due: none

Delete docs/plans/2026-02-11-vale-ci-design.md
  docs/plans/2026-02-11-vale-ci-design.md
Due: none

Delete docs/plans/2026-02-11-vale-ci-implementation.md
  docs/plans/2026-02-11-vale-ci-implementation.md
Due: none

fix: preserve full plan details on PR instead of summary only
  .claude/commands/finish.md
  .github/workflows/cleanup-ephemeral-docs.yml
Due: lint-markdown-instructions, lint-instructions

fix: rename /plan to /task-plan to avoid shadowing built-in command
  .claude/commands/task-plan.md
Due: lint-markdown-instructions, lint-instructions

feat(api-docs): align tags, add multi-spec sidebar, clean up Cloud Serverless
  PLAN.md
  api-docs/influxdb3/cloud-dedicated/management/tags.yml
  api-docs/influxdb3/cloud-dedicated/tags.yml
  api-docs/influxdb3/cloud-serverless/content/page.yml
  api-docs/influxdb3/cloud-serverless/tags.yml
  api-docs/influxdb3/clustered/management/tags.yml
  api-docs/influxdb3/clustered/tags.yml
  api-docs/influxdb3/core/tags.yml
  api-docs/influxdb3/enterprise/tags.yml
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/dist/post-process-specs.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  api-docs/scripts/post-process-specs.ts
  assets/styles/layouts/_api-layout.scss
  cypress.config.js
  cypress/e2e/content/api-reference.cy.js
  layouts/_default/api.html
  layouts/api/all-endpoints.html
  layouts/api/list.html
  layouts/api/section.html
  layouts/api/single.html
  layouts/partials/api/all-endpoints-list.html
  layouts/partials/api/responses.html
  layouts/partials/api/section-children.html
  layouts/partials/api/spec-download-button.html
  layouts/partials/api/tag-renderer.html
  layouts/partials/sidebar/api-menu-items.html
  layouts/partials/sidebar/nested-menu.html
Due: lint-markdown-instructions, lint-instructions, prettier

fix(test): disable Hugo fast render to avoid nil walk context panic
  cypress/support/hugo-server.js
Due: prettier

chore(api-docs): update contributor docs, drop TSM tags, widen TOC, add HEAD badge
  .claude/agents/analyze-api-source.md
  .claude/agents/analyze-api-specs.md
  .github/instructions/api-docs.instructions.md
  PLAN.md
  api-docs/README.md
  assets/styles/layouts/_api-layout.scss
  assets/styles/layouts/_api-operations.scss
  content/influxdb3/cloud-serverless/api/_index.md
  content/influxdb3/cloud-serverless/api/api-compatibility/_index.md
  content/influxdb3/cloud-serverless/api/authentication/_index.md
  content/influxdb3/cloud-serverless/api/authorizations-api-tokens/_index.md
  content/influxdb3/cloud-serverless/api/bucket-schemas/_index.md
  content/influxdb3/cloud-serverless/api/buckets/_index.md
  content/influxdb3/cloud-serverless/api/common-parameters/_index.md
  content/influxdb3/cloud-serverless/api/dbrps/_index.md
  content/influxdb3/cloud-serverless/api/delete/_index.md
  content/influxdb3/cloud-serverless/api/headers/_index.md
  content/influxdb3/cloud-serverless/api/invokable-scripts/_index.md
  content/influxdb3/cloud-serverless/api/limits/_index.md
  content/influxdb3/cloud-serverless/api/organizations/_index.md
  content/influxdb3/cloud-serverless/api/pagination/_index.md
  content/influxdb3/cloud-serverless/api/quick-start/_index.md
  content/influxdb3/cloud-serverless/api/resources/_index.md
  content/influxdb3/cloud-serverless/api/response-codes/_index.md
  content/influxdb3/cloud-serverless/api/routes/_index.md
  content/influxdb3/cloud-serverless/api/secrets/_index.md
  content/influxdb3/cloud-serverless/api/security-and-access-endpoints/_index.md
  content/influxdb3/cloud-serverless/api/supported-operations/_index.md
  content/influxdb3/cloud-serverless/api/system-information-endpoints/_index.md
  content/influxdb3/cloud-serverless/api/tasks/_index.md
  content/influxdb3/cloud-serverless/api/telegrafs/_index.md
  content/influxdb3/cloud-serverless/api/templates/_index.md
  content/influxdb3/cloud-serverless/api/usage/_index.md
  content/influxdb3/cloud-serverless/api/variables/_index.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, cloud-serverless-lint

Updating changelog
  content/telegraf/v1/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

Updating product version
  data/products.yml
Due: build-agent-instructions

feat(v1): document time_format query parameter for /query endpoint
  content/enterprise_influxdb/v1/tools/api.md
  content/influxdb/v1/tools/api.md
Due: deprecated-markdown-patterns

style(v1): fix time_format example formatting
  content/enterprise_influxdb/v1/tools/api.md
  content/influxdb/v1/tools/api.md
Due: deprecated-markdown-patterns

fix(v1): metadata tag on time_format example, not RFC3339 output
  content/enterprise_influxdb/v1/tools/api.md
  content/influxdb/v1/tools/api.md
Due: deprecated-markdown-patterns

fix(v1): link time_format changelog entry to new docs section
  content/influxdb/v1/about_the_project/release-notes.md
Due: deprecated-markdown-patterns

chore: update v1.12.3 documentation plan with source analysis
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

feat(v1): document running config in /debug/vars endpoint
  content/enterprise_influxdb/v1/tools/api.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/tools/api.md
Due: deprecated-markdown-patterns

feat(enterprise): document -e flag on influxd-ctl show-shards
  content/enterprise_influxdb/v1/tools/influxd-ctl/show-shards.md
Due: deprecated-markdown-patterns
