Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier, v2-links, v3-core-links, v3-enterprise-links, cloud-links, telegraf-links, shared-links

lint-markdown:
  tags: lint
  run: 'docker compose run --rm --name remark-lint remark-lint --no-stdout --quiet ''{staged_files}''
  
    '

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

prettier:
  tags:
  - frontend
  - style
  run: yarn prettier {staged_files}

v2-links:
  tags: test,links,v2
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

v3-core-links:
  tags: test,links,v3
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

v3-enterprise-links:
  tags: test,links,v3
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

cloud-links:
  tags: test,links,cloud
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

telegraf-links:
  tags: test,links
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

shared-links:
  tags: test,links
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

Update content/shared/influxdb3-query-guides/snapshots/snowflake.md
  content/shared/influxdb3-query-guides/snapshots/snowflake.md
Due: lint-markdown, shared-links

Adding note to- Export InfluxDB time series data to Iceberg format
  content/shared/influxdb3-query-guides/snapshots/snowflake.md
Due: lint-markdown, shared-links

Restructuring, reving, and proof reading edit
  content/shared/influxdb3-query-guides/snapshots/snowflake.md
Due: lint-markdown, shared-links

add information about column order in monolith
  content/influxdb3/core/write-data/best-practices/optimize-writes.md
  content/influxdb3/core/write-data/best-practices/schema-design.md
  content/influxdb3/enterprise/write-data/best-practices/optimize-writes.md
  content/influxdb3/enterprise/write-data/best-practices/schema-design.md
  content/shared/influxdb3-write-guides/best-practices/optimize-writes.md
  content/shared/influxdb3-write-guides/best-practices/schema-design.md
Due: lint-markdown, v3-core-links, v3-enterprise-links, shared-links

add information about column order in monolith (#6094)
  content/influxdb3/core/write-data/best-practices/optimize-writes.md
  content/influxdb3/core/write-data/best-practices/schema-design.md
  content/influxdb3/enterprise/write-data/best-practices/optimize-writes.md
  content/influxdb3/enterprise/write-data/best-practices/schema-design.md
  content/shared/influxdb3-write-guides/best-practices/optimize-writes.md
  content/shared/influxdb3-write-guides/best-practices/schema-design.md
Due: lint-markdown, v3-core-links, v3-enterprise-links, shared-links

chore(mono): Core and Enterprise 3: Prefer Discord for Core and Ent 3 only.
  layouts/partials/article/feedback.html
Due: none

fix(js): Apply fixes suggested by CoPilot. - Fix inverted logic from previous commit in feature-callouts.js - Pass to other functions in flux-group-keys.js
  assets/js/feature-callouts.js
  assets/js/flux-group-keys.js
Due: prettier

fix(js): Apply fixes for CoPilot suggestions.
  assets/js/components/doc-search.js
  assets/js/flux-group-keys.js
  assets/js/utils/search-interactions.js
Due: prettier

Update assets/js/datetime.js
  assets/js/datetime.js
Due: prettier

fix(js): datetime: import jquery, clone date before mutating, define variable
  assets/js/datetime.js
Due: prettier

Release Kapacitor v1.7.7
  content/kapacitor/v1/reference/about_the_project/release-notes.md
  data/products.yml
Due: lint-markdown

docs: use GitHub-style callouts
  content/kapacitor/v1/reference/about_the_project/release-notes.md
Due: lint-markdown

Update _index.md
  content/shared/v3-enterprise-get-started/_index.md
Due: lint-markdown, shared-links

chore: update release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown, shared-links

fix(mono): broken anchors, broken internal links
  content/shared/v3-core-get-started/_index.md
  content/shared/v3-enterprise-get-started/_index.md
Due: lint-markdown, shared-links

chore(ci): Lefthook: pass push files to test commands
  lefthook.yml
Due: none

fix(mono): formatting
  content/shared/influxdb3-cli/create/token/admin.md
Due: lint-markdown, shared-links

chore(mono): 3.1 release - bump versions
  data/products.yml
Due: none

fix(mono): Update descriptions to be more operator-specific
  content/influxdb3/core/admin/tokens/admin/regenerate.md
  content/influxdb3/core/reference/cli/influxdb3/create/token/_index.md
  content/influxdb3/core/reference/cli/influxdb3/create/token/admin.md
  content/influxdb3/enterprise/admin/tokens/admin/regenerate.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/token/admin.md
  content/influxdb3/enterprise/reference/internals/authentication.md
  content/shared/influxdb3-cli/create/token/admin.md
Due: lint-markdown, v3-core-links, v3-enterprise-links, shared-links

fix(mono): Bad anchors caused by {{< product-name >}} shortcode
  content/influxdb3/core/install.md
  content/influxdb3/core/reference/cli/influxdb3/_index.md
  content/influxdb3/enterprise/admin/license.md
  content/influxdb3/enterprise/install.md
  content/influxdb3/enterprise/reference/cli/influxdb3/_index.md
Due: lint-markdown, v3-core-links, v3-enterprise-links

update: start explorer docs
  content/chronograf/v1/_index.md
  content/explorer/_index.md
  content/explorer/about_the_project/_index.md
  content/explorer/getting_started/_index.md
  content/explorer/getting_started/connect-to-a-server.md
  layouts/partials/topnav/product-selector.html
Due: lint-markdown

fix(influxdb3): replace {{< product-name in headers with {{% to avoid the hahahugo anchor link bug. - Still need to track down the root cause
  content/influxdb3/cloud-dedicated/admin/databases/_index.md
  content/influxdb3/cloud-dedicated/write-data/use-telegraf/_index.md
  content/influxdb3/cloud-dedicated/write-data/use-telegraf/configure/_index.md
  content/influxdb3/cloud-serverless/write-data/use-telegraf/_index.md
  content/influxdb3/cloud-serverless/write-data/use-telegraf/configure/_index.md
  content/influxdb3/clustered/admin/databases/_index.md
  content/influxdb3/clustered/write-data/use-telegraf/_index.md
  content/influxdb3/clustered/write-data/use-telegraf/configure/_index.md
Due: lint-markdown

fix(explorer): Add Explorer to products.yml, move to version folder, add get-started step nav, cleanup
  content/explorer/_index.md
  content/explorer/getting_started/_index.md
  content/explorer/getting_started/connect-to-a-server.md
  content/explorer/v1/_index.md
  content/explorer/v1/about/_index.md
  content/explorer/v1/get-started/_index.md
  content/explorer/v1/get-started/connect.md
  data/products.yml
Due: lint-markdown

Update layouts/partials/article/feedback.html
  layouts/partials/article/feedback.html
Due: none

fix: links missing leading slash
  content/influxdb/cloud/query-data/execute-queries/query-demo-data.md
  content/influxdb3/core/admin/tokens/admin/create.md
  content/shared/v3-core-get-started/_index.md
  content/shared/v3-enterprise-get-started/_index.md
Due: lint-markdown, cloud-lint, v3-core-links, cloud-links, shared-links

docs: adding test schedule plugin example
  content/shared/influxdb3-cli/test/schedule_plugin.md
Due: lint-markdown, shared-links

Update content/influxdb3/core/admin/tokens/admin/create.md
  content/influxdb3/core/admin/tokens/admin/create.md
Due: lint-markdown, v3-core-links

chore(mono): apply caching suggestion
  content/influxdb3/core/admin/distinct-value-cache/_index.md
  content/influxdb3/core/admin/last-value-cache/_index.md
  content/shared/influxdb3-admin/distinct-value-cache/_index.md
  content/shared/influxdb3-admin/last-value-cache/_index.md
Due: lint-markdown, v3-core-links, shared-links

chore:update explorer run command
  content/shared/v3-enterprise-get-started/_index.md
Due: lint-markdown, shared-links

fix(mono): missing paragraph line after tabs hides text in dark mode
  content/shared/influxdb3-admin/tokens/_index.md
Due: lint-markdown, shared-links

fix(mono): providing tokens using env var or --token, missing core/admin/tokens/admin content
  content/influxdb3/core/admin/tokens/admin/_index.md
  content/shared/influxdb3-admin/tokens/_index.md
  content/shared/influxdb3-admin/tokens/admin/_index.md
Due: lint-markdown, v3-core-links, shared-links

docs(enterprise): scope distributed cluster guidance to Enterprise-only deployments
  content/shared/v3-core-plugins/_index.md
Due: lint-markdown, shared-links

docs(pe): add tabbed examples and warning for installing Python packages
  content/shared/v3-core-plugins/_index.md
  cypress/downloads/downloads.html
Due: lint-markdown, shared-links

Path conditions:
  lint-markdown: any of: content/*.md
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
  v2-links: any of: content/influxdb/v2/**/*.{md,html}
  v3-core-links: any of: content/influxdb3/core/**/*.{md,html}
  v3-enterprise-links: any of: content/influxdb3/enterprise/**/*.{md,html}
  cloud-links: any of: content/influxdb/{cloud,cloud-dedicated,cloud-serverless}/**/*.{md,html}
  telegraf-links: any of: content/telegraf/**/*.{md,html}
  shared-links: any of: content/shared/**/*.{md,html}
