Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

Update content/shared/influxdb3-get-started/setup-cloud.md
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3-cloud): add draft release announcement notification
  data/notifications.yaml
Due: none

fix(influxdb3-cloud): render https host URLs via host-url shortcode
  content/influxdb3/cloud/admin/databases/create.md
  content/influxdb3/cloud/admin/databases/delete.md
  content/influxdb3/cloud/admin/databases/list.md
  content/influxdb3/cloud/admin/tables/create.md
  content/influxdb3/cloud/admin/tables/delete.md
  content/influxdb3/cloud/admin/tables/list.md
  content/influxdb3/cloud/query-data/execute-queries/influxdb-v1-api.md
  content/influxdb3/cloud/query-data/execute-queries/influxdb-v3-api.md
  content/shared/influxdb3-get-started/setup-cloud.md
  content/shared/influxdb3-query-guides/execute-queries/influxdb3-api.md
  content/shared/influxdb3-write-guides/http-api/v3-write-lp.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/influxdb3/cloud/reference/cli/influxdb3/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/_index.md
Due: deprecated-markdown-patterns

Added initial cloud files
  content/influxdb3/cloud/_index.md
  data/products.yml
  layouts/partials/header/title.html
  layouts/partials/topnav/product-selector.html
Due: deprecated-markdown-patterns, build-agent-instructions

feat(influxdb3): scaffold InfluxDB 3 Cloud section pages
  content/influxdb3/cloud/admin/_index.md
  content/influxdb3/cloud/get-started/_index.md
  content/influxdb3/cloud/query-data/_index.md
  content/influxdb3/cloud/reference/_index.md
  content/influxdb3/cloud/visualize-data/_index.md
  content/influxdb3/cloud/write-data/_index.md
Due: deprecated-markdown-patterns

docs(influxdb3-cloud): use "Admin UI" in the screenshot TODO
  content/influxdb3/cloud/admin/users/admin-ui.md
Due: deprecated-markdown-patterns

fix(influxdb3-cloud): resolve link-check fragment errors via redirect anchors
  .ci/link-checker/production.lycherc.toml
  content/influxdb3/cloud/request-information.md
Due: deprecated-markdown-patterns

fix(influxdb3-cloud): resolve broken links to unpublished Cloud pages
  content/influxdb3/cloud/request-information.md
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(layouts): scope v3 wayfinding modal to avoid cloud slug collision
  layouts/partials/footer.html
  layouts/partials/topnav/product-selector.html
Due: none

docs(influxdb3-cloud): use OAuth device-code login in Cloud setup
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(analytics): track custom InfluxDB URL usage
  assets/js/influxdb-url.js
  cypress/e2e/influxdb-url.cy.js
Due: eslint-debug-check, prettier, lint-js

style(assets): apply prettier quoting to validateUrl regex
  assets/js/influxdb-url.js
Due: eslint-debug-check, prettier, lint-js

fix(notifications): exclude InfluxDB 3 Cloud from Enterprise 3.10 banner
  data/notifications.yaml
Due: none

feat: Enterprise 1.x mTLS
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/administration/configure/security/enable_tls.md
  content/enterprise_influxdb/v1/administration/manage/clusters/replacing-nodes.md
  content/enterprise_influxdb/v1/tools/influx-cli/_index.md
  content/enterprise_influxdb/v1/tools/influx-cli/use-influx-cli.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/_index.md
Due: deprecated-markdown-patterns

fix(influxdb3): repair broken link fragments
  content/influxdb3/cloud-serverless/reference/sample-data.md
  content/influxdb3/enterprise/admin/tokens/resource/list.md
  content/shared/influxdb3-admin/tokens/_index.md
  content/shared/influxdb3-admin/tokens/admin/create.md
  content/shared/influxdb3-admin/tokens/admin/list.md
  content/shared/influxdb3-admin/tokens/admin/regenerate.md
  content/shared/influxdb3-sample-data/sample-data-dist.md
  content/shared/influxdb3-write-guides/http-api/compatibility-apis.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(release-notes): comment out Core v3.10.4 until Core is released
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7509 🛫
  pr-preview/pr-7509/index.html
  pr-preview/pr-7509/influxdb3/core/reference/config-options/index.html
  pr-preview/pr-7509/influxdb3/core/release-notes/index.html
  pr-preview/pr-7509/influxdb3/enterprise/reference/config-options/index.html
  pr-preview/pr-7509/influxdb3/enterprise/release-notes/index.html
  pr-preview/pr-7509/js/main.js
Due: prettier

chore(influxdb3-enterprise): bump latest_patch to 3.10.4
  data/products.yml
Due: build-agent-instructions

docs(release-notes): add v3.9.9, v3.9.10, and v3.10.4 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(config-options): document compacted-data-skip-file-index
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(analytics): track URL selector open and preset selection
  assets/js/influxdb-url.js
  cypress/e2e/influxdb-url.cy.js
Due: eslint-debug-check, prettier, lint-js

fix(enterprise): correct thread allocation for performance preview
  content/influxdb3/enterprise/admin/clustering.md
  content/influxdb3/enterprise/performance-preview/configure.md
  content/shared/influxdb3-admin/performance-tuning.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(enterprise): add performance preview banner to clustering page
  content/influxdb3/enterprise/admin/clustering.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(influxdb3-cloud): add influxdb3 CLI install steps to Cloud setup
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3-enterprise): clarify license portability for operators
  content/influxdb3/enterprise/admin/license.md
Due: deprecated-markdown-patterns, enterprise-lint

Updating changelog
  content/telegraf/v1/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

Updating plugin list
  data/telegraf_plugins.yml
Due: none

Updating product version
  data/products.yml
Due: build-agent-instructions

Updating plugins
  content/telegraf/v1/aggregator-plugins/final.md
  content/telegraf/v1/aggregator-plugins/minmax.md
  content/telegraf/v1/aggregator-plugins/starlark.md
  content/telegraf/v1/aggregator-plugins/valuecounter.md
  content/telegraf/v1/input-plugins/bind.md
  content/telegraf/v1/input-plugins/chrony.md
  content/telegraf/v1/input-plugins/cisco_telemetry_mdt.md
  content/telegraf/v1/input-plugins/cloudwatch_metric_streams.md
  content/telegraf/v1/input-plugins/ctrlx_datalayer.md
  content/telegraf/v1/input-plugins/docker.md
  content/telegraf/v1/input-plugins/graylog.md
  content/telegraf/v1/input-plugins/jti_openconfig_telemetry.md
  content/telegraf/v1/input-plugins/kafka_consumer.md
  content/telegraf/v1/input-plugins/postgresql_extensible.md
  content/telegraf/v1/input-plugins/temp.md
  content/telegraf/v1/input-plugins/win_eventlog.md
  content/telegraf/v1/output-plugins/azure_data_explorer.md
  content/telegraf/v1/output-plugins/azure_monitor.md
  content/telegraf/v1/output-plugins/clarify.md
  content/telegraf/v1/output-plugins/datadog.md
  content/telegraf/v1/output-plugins/elasticsearch.md
  content/telegraf/v1/output-plugins/http.md
  content/telegraf/v1/output-plugins/iotdb.md
  content/telegraf/v1/output-plugins/librato.md
  content/telegraf/v1/output-plugins/nats.md
  content/telegraf/v1/output-plugins/riemann.md
  content/telegraf/v1/output-plugins/zabbix.md
  content/telegraf/v1/processor-plugins/lookup.md
  content/telegraf/v1/secretstore-plugins/googlecloud.md
  content/telegraf/v1/secretstore-plugins/http.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(influxdb3-cloud): add influxdb3 CLI reference for Cloud
  content/influxdb3/cloud/reference/cli/influxdb3/create/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/database.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/table.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/token/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/token/admin.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/token/permission.md
  content/influxdb3/cloud/reference/cli/influxdb3/delete/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/delete/database.md
  content/influxdb3/cloud/reference/cli/influxdb3/delete/table.md
  content/influxdb3/cloud/reference/cli/influxdb3/delete/token.md
  content/influxdb3/cloud/reference/cli/influxdb3/query.md
  content/influxdb3/cloud/reference/cli/influxdb3/show/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/show/databases.md
  content/influxdb3/cloud/reference/cli/influxdb3/show/tokens.md
  content/influxdb3/cloud/reference/cli/influxdb3/write.md
  content/shared/influxdb3-cli/create/table.md
  content/shared/influxdb3-cli/create/token/_index.md
  content/shared/influxdb3-cli/delete/database.md
  content/shared/influxdb3-cli/delete/table.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint
