Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

Update latest_patch version to 3.10.1
  data/products.yml
Due: build-agent-instructions

docs(influxdb3-cloud): use "Admin UI" in the screenshot TODO
  content/influxdb3/cloud/admin/users/admin-ui.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7338 🛫
  pr-preview/pr-7338/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/users/admin-ui/index.html
Due: none

Update latest_patch version to 3.10.3
  data/products.yml
Due: build-agent-instructions

fix(influxdb3-cloud): correct the placeholder host
  data/products.yml
Due: build-agent-instructions

Deploy preview for PR 7338 🛫
  pr-preview/pr-7338/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/databases/create/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/databases/delete/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/databases/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/databases/list/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/tables/create/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/tables/delete/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/tables/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/tables/list/index.html
  pr-preview/pr-7338/influxdb3/cloud/get-started/query/index.html
  pr-preview/pr-7338/influxdb3/cloud/get-started/setup/index.html
  pr-preview/pr-7338/influxdb3/cloud/query-data/execute-queries/index.html
  pr-preview/pr-7338/influxdb3/cloud/query-data/execute-queries/influxdb-v1-api/index.html
  pr-preview/pr-7338/influxdb3/cloud/query-data/execute-queries/influxdb-v3-api/index.html
  pr-preview/pr-7338/influxdb3/cloud/query-data/influxql/troubleshoot/index.html
  pr-preview/pr-7338/influxdb3/cloud/write-data/http-api/v3-write-lp/index.html
  pr-preview/pr-7338/js/main.js
Due: prettier

style: restore CRLF line endings in setup-cloud.md
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7338 🛫
  pr-preview/pr-7338/index.html
Due: none

ci(lint): add v3 CLI-version guard and influxdb3-cloud vale check
  .ci/scripts/check-v3-cli-version.sh
  DOCS-SHORTCODES.md
  layouts/shortcodes/latest-cli.html
  lefthook.yml
Due: lint-markdown-instructions, lint-instructions

fix(layouts): scope v3 wayfinding modal to avoid cloud slug collision
  layouts/partials/footer.html
  layouts/partials/topnav/product-selector.html
Due: none

fix(ci): anchor v1 API link-checker exclusion to generated subtree
  .ci/link-checker/production.lycherc.toml
Due: none

style(influxdb3-cloud): standardize placeholders, newlines, em dashes
  content/influxdb3/cloud/admin/tables/_index.md
  content/influxdb3/cloud/admin/tables/create.md
  content/influxdb3/cloud/admin/tables/delete.md
  content/influxdb3/cloud/admin/tables/list.md
  content/influxdb3/cloud/admin/users/_index.md
  content/influxdb3/cloud/query-data/sql/parameterized-queries.md
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): render product-correct URL scheme for host placeholder
  DOCS-SHORTCODES.md
  content/influxdb3/cloud-serverless/reference/sample-data.md
  content/shared/influxdb3-admin/mcp-server.md
  content/shared/influxdb3-admin/query-system-data/_index.md
  content/shared/influxdb3-admin/tokens/_index.md
  content/shared/influxdb3-admin/tokens/admin/create.md
  content/shared/influxdb3-admin/tokens/admin/list.md
  content/shared/influxdb3-admin/tokens/admin/regenerate.md
  content/shared/influxdb3-get-started/query.md
  content/shared/influxdb3-get-started/setup.md
  content/shared/influxdb3-query-guides/execute-queries/influxdb-v1-api.md
  content/shared/influxdb3-query-guides/execute-queries/influxdb3-api.md
  content/shared/influxdb3-query-guides/influxql/troubleshoot.md
  content/shared/influxdb3-query-guides/query-timeout-best-practices.md
  content/shared/influxdb3-sample-data/sample-data-dist.md
  content/shared/influxdb3-sample-data/sample-data.md
  content/shared/influxdb3-write-guides/best-practices/optimize-writes.md
  content/shared/influxdb3-write-guides/http-api/compatibility-apis.md
  content/shared/influxdb3-write-guides/http-api/v3-write-lp.md
  content/shared/influxdb3-write-guides/troubleshoot-distributed.md
  content/shared/influxdb3-write-guides/use-telegraf/_index.md
  content/shared/influxdb3-write-guides/use-telegraf/configure.md
  content/shared/influxdb3-write-guides/use-telegraf/csv.md
  content/shared/influxdb3-write-guides/use-telegraf/dual-write.md
  data/products.yml
  layouts/shortcodes/influxdb/host-url.html
Due: deprecated-markdown-patterns, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

test(shortcodes): add influxdb/host-url example to content/example.md
  content/example.md
Due: none

Deploy preview for PR 7503 🛫
  pr-preview/pr-7503/example/index.html
  pr-preview/pr-7503/index.html
  pr-preview/pr-7503/influxdb3/core/write-data/use-telegraf/dual-write/index.html
Due: none

test(cypress): add e2e spec for influxdb/host-url shortcode
  cypress/e2e/content/host-url-shortcode.cy.js
Due: prettier

style(cypress): apply prettier formatting to host-url spec
  cypress/e2e/content/host-url-shortcode.cy.js
Due: prettier

docs(example): explain host-url default fallback in example.md
  content/example.md
Due: none

Deploy preview for PR 7503 🛫
  pr-preview/pr-7503/example/index.html
  pr-preview/pr-7503/index.html
Due: none

docs(release-notes): add v3.9.9, v3.9.10, and v3.10.4 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(config-options): document compacted-data-skip-file-index
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3-cloud): add draft release announcement notification
  data/notifications.yaml
Due: none

fix(build): pin Hugo Extended to 0.156.0
  package.json
  yarn.lock
Due: none

Deploy preview for PR 7503 🛫
  pr-preview/pr-7503/index.html
Due: none

Deploy preview for PR 7511 🛫
  pr-preview/pr-7511/index.html
  pr-preview/pr-7511/influxdb3/cloud/reference/cli/influxdb3/create/token/admin/index.html
Due: none

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
