Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

feat(api): Integrate API navigation into Hugo menu system
  .gitignore
  content/influxdb3/core/api/administration/_index.md
  content/influxdb3/enterprise/api/administration/_index.md
  data/api_nav_groups.yml
  layouts/partials/sidebar/api-menu-items.html
  layouts/partials/sidebar/nested-menu.html
Due: lint-markdown-content, core-lint, enterprise-lint

refactor(api): Remove unused separate API nav code
  assets/js/components/api-nav.ts
  assets/js/content-interactions.js
  assets/js/main.js
  layouts/partials/api/sidebar-nav.html
  layouts/partials/sidebar.html
Due: eslint-debug-check, build-typescript, prettier, lint-js

refactor(api): Flatten API nav groups to single-tag items
  assets/styles/layouts/_api-layout.scss
  assets/styles/layouts/_sidebar.scss
  content/influxdb3/core/api/administration/_index.md
  content/influxdb3/enterprise/api/administration/_index.md
  data/api_nav_groups.yml
Due: lint-markdown-content, core-lint, enterprise-lint

feat(api): Add compatibility version badges for v1/v2 endpoints
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  assets/styles/layouts/_sidebar.scss
  data/article_data/influxdb/influxdb3_core/articles.json
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.json
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
  layouts/partials/sidebar/api-menu-items.html
Due: prettier

Apply suggestion from @jstirnaman
  content/shared/v3-line-protocol.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(ci): update link-checker to v1.2.5
  .github/workflows/pr-link-check.yml
Due: none

chore(ci): update link-checker to v1.2.5 (#6602)
  .github/workflows/pr-link-check.yml
Due: none

Rename telemetry-disable-upload to disable-telemetry-upload (#6594)
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(claude): Update ui-testing agent and hugo-template-dev skill
  .claude/agents/ui-testing.md
  .claude/skills/hugo-template-dev/SKILL.md
Due: lint-markdown-instructions, lint-instructions

chore(claude): Add claude skill for Hugo development/testing workflow. Split ui-dev subagent into hugo-, ts-, and testing-specific agents.
  .claude/agents/hugo-ui-dev.md
  .claude/agents/ts-component-dev.md
  .claude/agents/ui-dev.md
  .claude/agents/ui-testing.md
  .claude/skills/hugo-template-dev/SKILL.md
Due: lint-markdown-instructions, lint-instructions

feat(telegraf): add related links to plugin directory pages (#6597)
  content/telegraf/v1/configure_plugins/aggregator_processor/_index.md
  content/telegraf/v1/configure_plugins/input_plugins/_index.md
  content/telegraf/v1/configure_plugins/output_plugins/_index.md
Due: lint-markdown-content, telegraf-lint

Document use-hashed-tokens configuration option (#6585)
  content/influxdb/v2/reference/config-options.md
Due: lint-markdown-content, v2-lint

docs(plans): add docs-cli-workflow skill design
  docs/plans/2025-01-10-docs-cli-workflow-design.md
Due: none

feat(claude): add docs-cli-workflow skill
  .claude/skills/docs-cli-workflow/SKILL.md
Due: lint-markdown-instructions, lint-instructions

docs: add links to Helm chart documentation for all products
  content/enterprise_influxdb/v1/introduction/installation/_index.md
  content/influxdb/v1/introduction/install.md
  content/influxdb/v2/install/_index.md
  content/shared/influxdb3/install.md
  content/telegraf/v1/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, telegraf-lint, v2-lint

chore(claude): add console error testing pattern to hugo-template-dev skill
  .claude/skills/hugo-template-dev/SKILL.md
Due: lint-markdown-instructions, lint-instructions

feat(claude): add docs-cli-workflow skill and update hugo-template-dev (#6614)
  .claude/agents/hugo-ui-dev.md
  .claude/agents/ts-component-dev.md
  .claude/agents/ui-dev.md
  .claude/agents/ui-testing.md
  .claude/skills/docs-cli-workflow/SKILL.md
  .claude/skills/hugo-template-dev/SKILL.md
  docs/plans/2025-01-10-docs-cli-workflow-design.md
Due: lint-markdown-instructions, lint-instructions

chore: remove extra code block syntax from influxctl release notes
  content/shared/influxctl/release-notes.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): add missing API parameters for Core and Enterprise
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
Due: none

fix(influxdb3): add required fields to TriggerSettings schema
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
Due: none

feat(api): Add RapiDoc Mini component for API operation pages
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  assets/js/components/rapidoc-mini.ts
  assets/js/main.js
  assets/styles/layouts/_api-layout.scss
  assets/styles/layouts/_sidebar.scss
  cypress/e2e/content/api-reference.cy.js
  data/article_data/influxdb/cloud-dedicated/articles.json
  data/article_data/influxdb/clustered/articles.json
  data/article_data/influxdb/influxdb3_core/articles.json
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.json
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
  layouts/api-operation/operation.html
  layouts/api/list.html
  layouts/partials/api/rapidoc-mini.html
  layouts/partials/api/rapidoc.html
  layouts/partials/sidebar/api-menu-items.html
  static/css/rapidoc-custom.css
Due: eslint-debug-check, build-typescript, prettier, lint-js

fix(api): Fix RapiDoc operation filtering and improve API reference quality
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  assets/js/components/rapidoc-mini.ts
  data/article_data/influxdb/influxdb3_core/articles.json
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.json
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
  docs/plans/2024-12-10-standalone-operation-pages-design.md
  layouts/api/single.html
  layouts/partials/api/rapidoc-mini.html
  layouts/partials/sidebar/api-menu-items.html
  package.json
Due: build-typescript, prettier, lint-js

fix(api): Complete Auth token rename and remove Redoc x-tagGroups
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  data/api_nav_groups.yml
  docs/plans/2024-12-10-standalone-operation-pages-design.md
Due: prettier

refactor(api): Simplify sidebar nav to sort by isConceptual, then alphabetically
  data/api_nav_groups.yml
  layouts/partials/sidebar/api-menu-items.html
Due: none

feat(api): Add section index and All endpoints nav item
  assets/styles/layouts/_sidebar.scss
  layouts/api/list.html
  layouts/partials/api/section-children.html
  layouts/partials/sidebar/api-menu-items.html
Due: none

style(api): Adjust All endpoints path font size to 0.9rem
  assets/styles/layouts/_sidebar.scss
Due: none

feat(api): Create api-rapidoc TypeScript component
  assets/js/components/api-rapidoc.ts
Due: build-typescript, prettier, lint-js

feat(api): Register api-rapidoc component in main.js
  assets/js/main.js
Due: eslint-debug-check, prettier, lint-js

refactor(api): Replace inline JS with data-component in rapidoc.html
  layouts/partials/api/rapidoc.html
Due: none

fix(influxdb3): broken links and aliases:
  content/influxdb3/cloud-serverless/write-data/best-practices/schema-design.md
  content/influxdb3/clustered/reference/syntax/line-protocol.md
  content/influxdb3/core/reference/line-protocol.md
  content/influxdb3/enterprise/reference/line-protocol.md
Due: lint-markdown-content, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

refactor(api): Remove Scalar renderer and related code
  assets/js/components/api-scalar.ts
  assets/js/main.js
  config/_default/hugo.yml
  docs/plans/2024-12-12-api-code-review-fixes.md
  layouts/partials/api/renderer.html
  layouts/partials/api/scalar.html
Due: eslint-debug-check, build-typescript, prettier, lint-js

refactor(api): Remove deprecated api-tabs component
  assets/js/components/api-tabs.ts
  assets/js/main.js
  layouts/partials/api/tab-panels.html
  layouts/partials/api/tabs.html
Due: eslint-debug-check, build-typescript, prettier, lint-js

test(api): Remove deprecated tab-related tests
  cypress/e2e/content/api-reference.cy.js
Due: prettier

chore: cleanup
  content/influxdb3/cloud-dedicated/reference/syntax/line-protocol.md
  content/influxdb3/cloud-serverless/reference/syntax/line-protocol.md
  content/influxdb3/clustered/reference/syntax/line-protocol.md
  content/influxdb3/core/reference/line-protocol.md
  content/influxdb3/enterprise/reference/line-protocol.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat: Add v2.8.0 release notes
  content/influxdb/v2/reference/release-notes/influxdb.md
Due: lint-markdown-content, v2-lint

feat: add token hashing doc
  content/influxdb/v2/reference/release-notes/influxdb.md
Due: lint-markdown-content, v2-lint

feat: Update content/influxdb/v2/reference/release-notes/influxdb.md
  content/influxdb/v2/reference/release-notes/influxdb.md
Due: lint-markdown-content, v2-lint
