Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, cloud-pytest, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest, telegraf-pytest, v2-pytest, prettier

lefthook.yml:

#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit
pre-commit:
  parallel: true 
  commands:
    cloud-lint:
      tags: lint,v2
      glob: "content/influxdb/cloud/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-dedicated-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-dedicated/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-dedicated/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-serverless-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-serverless/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    clustered-lint:
      tags: lint,v3
      glob: "content/influxdb/clustered/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    telegraf-lint:
      tags: lint,clients 
      glob: "content/telegraf/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    v2-lint:
      tags: lint,v2
      glob: "content/influxdb/v2/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/v2/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-pytest:
      glob: content/influxdb/cloud/**/*.md
      tags: test,codeblocks,v2
      env:
        - SERVICE: cloud-pytest
      run: docker compose run $SERVICE '{staged_files}'
    cloud-dedicated-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-dedicated/**/*.md
      env:
        - SERVICE: cloud-dedicated-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    cloud-serverless-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-serverless/**/*.md
      env:
        - SERVICE: cloud-serverless-pytest
      run: docker compose run $SERVICE '{staged_files}'
    clustered-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/clustered/**/*.md
      env:
        - SERVICE: clustered-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    telegraf-pytest:
      tags: test,codeblocks
      glob: content/telegraf/**/*.md
      env:
        - SERVICE: telegraf-pytest
      run: docker compose run $SERVICE '{staged_files}'
    v2-pytest:
      tags: test,codeblocks,v2
      glob: content/influxdb/v2/**/*.md
      env:
        - SERVICE: v2-pytest
      run: docker compose run --rm $SERVICE '{staged_files}'
    prettier:
      tags: frontend,style
      glob: "*.{css,js,ts,jsx,tsx}"
      run: yarn prettier {staged_files}

build:
  commands:
    prune-legacy-containers:
      priority: 1
      tags: test 
      run: '(docker container ls --format "{{.ID}}"
          --filter label=tag=influxdata-docs
          --filter status=exited | xargs docker rm)
          || true'
    rebuild-test-images:
      tags: test
      run: docker compose build pytest-codeblocks

fix indentation on 1.11.7 release notes
  content/influxdb/v1/about_the_project/release-notes.md
Due: none

add doc updates for influctl 2.9.7 and 2.9.8
  content/influxdb/cloud-dedicated/reference/cli/influxctl/_index.md
  content/influxdb/cloud-dedicated/reference/release-notes/influxctl.md
  content/influxdb/clustered/reference/cli/influxctl/_index.md
  content/influxdb/clustered/reference/release-notes/influxctl.md
Due: cloud-dedicated-lint, clustered-lint, cloud-dedicated-pytest, clustered-pytest

fix: Misc. typos and style
  .ci/vale/styles/Google/Ordinal.yml
  content/enterprise_influxdb/v1/administration/monitor/_index.md
  content/enterprise_influxdb/v1/administration/monitor/monitor-with-cloud.md
  content/influxdb/cloud-dedicated/admin/monitor-your-cluster.md
  content/influxdb/cloud-dedicated/get-started/setup.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

fix(Dedicated): User group shortcuts
  content/influxdb/cloud-dedicated/reference/internals/security.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

add language about cloning a new instance with 1.11
  content/influxdb/v1/about_the_project/release-notes.md
Due: none

remove callouts for specific dependency versions
  content/influxdb/clustered/install/set-up-cluster/prerequisites.md
Due: clustered-lint, clustered-pytest

add doc updates for influctl 2.9.7 and 2.9.8 (#5649)
  content/influxdb/cloud-dedicated/reference/cli/influxctl/_index.md
  content/influxdb/cloud-dedicated/reference/release-notes/influxctl.md
  content/influxdb/clustered/reference/cli/influxctl/_index.md
  content/influxdb/clustered/reference/release-notes/influxctl.md
Due: cloud-dedicated-lint, clustered-lint, cloud-dedicated-pytest, clustered-pytest

Release influxctl v2.9.8 (#5647)
  content/influxdb/cloud-dedicated/reference/cli/influxctl/_index.md
  content/influxdb/cloud-dedicated/reference/release-notes/influxctl.md
  content/influxdb/clustered/reference/cli/influxctl/_index.md
  content/influxdb/clustered/reference/release-notes/influxctl.md
  data/products.yml
Due: cloud-dedicated-lint, clustered-lint, cloud-dedicated-pytest, clustered-pytest

added vendor-specific sizing recommendations to clustered
  content/influxdb/clustered/install/set-up-cluster/prerequisites.md
Due: clustered-lint, clustered-pytest

Apply suggestions from code review
  content/influxdb/clustered/install/set-up-cluster/prerequisites.md
Due: clustered-lint, clustered-pytest

fix(v3): broken optimize-queries links, typos, placeholder
  content/influxdb/cloud-dedicated/query-data/troubleshoot-and-optimize/analyze-query-plan.md
  content/influxdb/cloud-dedicated/query-data/troubleshoot-and-optimize/optimize-queries.md
  content/influxdb/cloud-serverless/query-data/troubleshoot-and-optimize/analyze-query-plan.md
  content/influxdb/cloud-serverless/query-data/troubleshoot-and-optimize/optimize-queries.md
  content/influxdb/clustered/query-data/troubleshoot-and-optimize/analyze-query-plan.md
  content/influxdb/clustered/query-data/troubleshoot-and-optimize/optimize-queries.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

feat(dedicated): cleanup Auth0 mentions, apply PR suggestions
  content/influxdb/cloud-dedicated/admin/tokens/management/_index.md
  content/influxdb/cloud-dedicated/admin/users/_index.md
  content/influxdb/cloud-dedicated/reference/cli/influxctl/user/delete.md
  content/influxdb/cloud-dedicated/reference/cli/influxctl/user/invite.md
  content/influxdb/cloud-dedicated/reference/internals/security.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

Telegraf v1.32.1 (#5638)
  content/telegraf/v1/release-notes.md
  data/products.yml
Due: telegraf-lint, telegraf-pytest

Update content/influxdb/cloud-dedicated/admin/users/_index.md
  content/influxdb/cloud-dedicated/admin/users/_index.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

Apply suggestions from code review
  content/enterprise_influxdb/v1/tools/influx_inspect.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/administration/config.md
  content/influxdb/v1/flux/_index.md
  content/influxdb/v1/flux/guides/flux-in-dashboards.md
  content/influxdb/v1/flux/guides/optimize-queries.md
  content/influxdb/v1/guides/write_data.md
  content/influxdb/v1/tools/api.md
Due: none

Apply suggestions from code review
  content/enterprise_influxdb/v1/tools/api.md
  content/influxdb/v1/about_the_project/release-notes.md
Due: none

remove medium-sized workload link
  content/influxdb/clustered/install/set-up-cluster/prerequisites.md
Due: clustered-lint, clustered-pytest

Clustered sizing recommendations per vendor (#5652)
  content/influxdb/clustered/install/set-up-cluster/prerequisites.md
Due: clustered-lint, clustered-pytest

Reorganize InfluxDB Clustered installation documentation (#5636)
  assets/styles/layouts/article/_buttons.scss
  assets/styles/layouts/article/_captions.scss
  assets/styles/layouts/article/_code.scss
  assets/styles/layouts/article/_title.scss
  content/influxdb/clustered/admin/bypass-identity-provider.md
  content/influxdb/clustered/admin/env-vars.md
  content/influxdb/clustered/admin/licensing.md
  content/influxdb/clustered/admin/scale-cluster.md
  content/influxdb/clustered/admin/upgrade.md
  content/influxdb/clustered/admin/users/_index.md
  content/influxdb/clustered/admin/users/add.md
  content/influxdb/clustered/install/_index.md
  content/influxdb/clustered/install/auth.md
  content/influxdb/clustered/install/configure-cluster/_index.md
  content/influxdb/clustered/install/configure-cluster/directly.md
  content/influxdb/clustered/install/customize-cluster/_index.md
  content/influxdb/clustered/install/customize-cluster/config.md
  content/influxdb/clustered/install/customize-cluster/scale.md
  content/influxdb/clustered/install/optimize-cluster/_index.md
  content/influxdb/clustered/install/optimize-cluster/design-schema.md
  content/influxdb/clustered/install/optimize-cluster/optimize-querying.md
  content/influxdb/clustered/install/optimize-cluster/simulate-load.md
  content/influxdb/clustered/install/optimize-cluster/write-methods.md
  content/influxdb/clustered/install/prerequisites.md
  content/influxdb/clustered/install/secure-cluster/_index.md
  content/influxdb/clustered/install/secure-cluster/auth.md
  content/influxdb/clustered/install/secure-cluster/tls.md
  content/influxdb/clustered/install/set-up-cluster/_index.md
  content/influxdb/clustered/install/set-up-cluster/configure-cluster/_index.md
  content/influxdb/clustered/install/set-up-cluster/configure-cluster/directly.md
  content/influxdb/clustered/install/set-up-cluster/configure-cluster/use-helm.md
  content/influxdb/clustered/install/set-up-cluster/deploy.md
  content/influxdb/clustered/install/set-up-cluster/licensing.md
  content/influxdb/clustered/install/set-up-cluster/prerequisites.md
  content/influxdb/clustered/install/set-up-cluster/test-cluster.md
  content/influxdb/clustered/install/use-your-cluster.md
  content/influxdb/clustered/reference/client-libraries/v3/python.md
  content/influxdb/clustered/reference/release-notes/clustered.md
Due: clustered-lint, clustered-pytest

feat: Update for latest SQL timezone behavior
  content/influxdb/cloud-dedicated/reference/sql/data-types.md
  content/influxdb/cloud-dedicated/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-dedicated/reference/sql/operators/other.md
  content/influxdb/cloud-serverless/reference/sql/data-types.md
  content/influxdb/cloud-serverless/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-serverless/reference/sql/operators/other.md
  content/influxdb/clustered/reference/sql/data-types.md
  content/influxdb/clustered/reference/sql/functions/time-and-date.md
  content/influxdb/clustered/reference/sql/operators/other.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

InfluxDB Enterprise 1.11.7 (#5641)
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/configure/security/ldap.md
  data/products.yml
Due: none

hotfix: fix enterprise 1.11.7 release notes title
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
Due: none

enable-tls typo broken link
  content/influxdb/v2/admin/security/enable-tls.md
Due: v2-lint, v2-pytest

fix: cleanup and improve wording
  content/influxdb/cloud-dedicated/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-serverless/reference/sql/functions/time-and-date.md
  content/influxdb/clustered/reference/sql/functions/time-and-date.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

feat: Update for latest SQL timezone behavior (#5657)
  content/influxdb/cloud-dedicated/reference/sql/data-types.md
  content/influxdb/cloud-dedicated/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-dedicated/reference/sql/operators/other.md
  content/influxdb/cloud-serverless/reference/sql/data-types.md
  content/influxdb/cloud-serverless/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-serverless/reference/sql/operators/other.md
  content/influxdb/clustered/reference/sql/data-types.md
  content/influxdb/clustered/reference/sql/functions/time-and-date.md
  content/influxdb/clustered/reference/sql/operators/other.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

corrected v1 linux binary package name
  content/influxdb/v1/administration/backup_and_restore.md
Due: none

corrected v1 linux binary package name
  content/influxdb/v1/introduction/install.md
Due: none

fix: adjust examples to do what the headers suggest
  content/flux/v0/stdlib/influxdata/influxdb/cardinality.md
Due: none

fix: serverless/dedicated/clustered support chunked and chunk_size (#5624)
  content/influxdb/cloud-dedicated/guides/api-compatibility/v1/_index.md
  content/influxdb/cloud-serverless/query-data/execute-queries/v1-http.md
  content/influxdb/clustered/guides/api-compatibility/v1/_index.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

docs: make description less ambiguous about what the function does
  content/flux/v0/stdlib/influxdata/influxdb/cardinality.md
Due: none

fix(v1): Make stable-version OSS-specific. Update API notes.
  content/influxdb/cloud-dedicated/reference/client-libraries/v2/_index.md
  content/influxdb/cloud-serverless/reference/client-libraries/v2/_index.md
  content/influxdb/clustered/reference/client-libraries/v2/_index.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/concepts/glossary.md
  content/influxdb/v1/guides/query_data.md
  content/influxdb/v1/tools/api.md
  content/influxdb/v1/tools/api_client_libraries.md
  content/influxdb/v2/api-guide/client-libraries/_index.md
  layouts/partials/article/stable-version.html
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, v2-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest, v2-pytest

fix: use correct closing tag
  content/influxdb/v2/reference/faq.md
Due: v2-lint, v2-pytest

fix(v1): update client library recommendations for v1, v3
  content/influxdb/v1/tools/api.md
Due: none

InfluxDB Clustered partial writes (#5594)
  .ci/vale/styles/config/vocabularies/InfluxDataDocs/accept.txt
  api-docs/clustered/v2/ref.yml
  content/influxdb/clustered/admin/bypass-identity-provider.md
  content/influxdb/clustered/admin/env-vars.md
  content/influxdb/clustered/admin/licensing.md
  content/influxdb/clustered/install/licensing.md
  content/influxdb/clustered/reference/release-notes/clustered.md
  content/influxdb/clustered/write-data/troubleshoot.md
Due: clustered-lint, clustered-pytest

docs: tweak wording
  content/flux/v0/stdlib/influxdata/influxdb/cardinality.md
Due: none

fix(api): Fix Cloud Dedicated /ping descriptions
  api-docs/cloud-dedicated/v1-compatibility/swaggerV1Compat.yml
  api-docs/cloud-dedicated/v2/ref.yml
Due: none

fix(v2): add IP address info to TLS config and troubleshooting explanation (closes #5630)
  content/influxdb/v2/admin/security/enable-tls.md
Due: v2-lint, v2-pytest
