Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-copilot-instructions, lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier, lint-js

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-copilot-instructions:
  run: yarn build:copilot-instructions

lint-markdown:
  tags: lint
  run: 'docker compose run --rm --name remark-lint remark-lint ''{staged_files}''
  
    '

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

Fix POST query endpoint request body property names in Enterprise API spec
  api-docs/influxdb3/enterprise/v3/ref.yml
Due: none

http-bind port update
  content/influxdb3/enterprise/get-started/multi-server.md
Due: lint-markdown

fix(3ent): Assume default port for prod. Add note for using different ports for dev
  content/influxdb3/enterprise/get-started/multi-server.md
Due: lint-markdown

InfluxDB OSS and Enterprise 1.12.1
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/enterprise_influxdb/v1/query_language/spec.md
  content/enterprise_influxdb/v1/tools/influx_inspect.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/show-shards.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/administration/backup_and_restore.md
  content/influxdb/v1/administration/config.md
  content/influxdb/v1/administration/ports.md
  content/influxdb/v1/administration/subscription-management.md
  content/influxdb/v1/concepts/file-system-layout.md
  content/influxdb/v1/concepts/storage_engine.md
  content/influxdb/v1/guides/downsample_and_retain.md
  content/influxdb/v1/query_language/manage-database.md
  content/influxdb/v1/query_language/spec.md
  content/influxdb/v1/supported_protocols/prometheus.md
  content/influxdb/v1/tools/api.md
  content/influxdb/v1/tools/influx_inspect.md
  content/influxdb/v1/troubleshooting/errors.md
  content/influxdb/v1/troubleshooting/frequently-asked-questions.md
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
  data/products.yml
Due: lint-markdown

add message to enterprise 1.12 release notes
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
Due: lint-markdown

Update content/influxdb/v1/query_language/manage-database.md
  content/influxdb/v1/query_language/manage-database.md
Due: lint-markdown

Apply suggestions from code review
  content/influxdb/v1/administration/backup_and_restore.md
  content/influxdb/v1/tools/api.md
Due: lint-markdown

Apply suggestions from code review
  content/influxdb/v1/tools/influx_inspect.md
Due: lint-markdown

Apply suggestions from code review
  content/influxdb/v1/troubleshooting/frequently-asked-questions.md
Due: lint-markdown

fix: update to address PR feedback
  content/enterprise_influxdb/v1/troubleshooting/frequently-asked-questions.md
  content/influxdb/v1/troubleshooting/frequently-asked-questions.md
Due: lint-markdown

feat: InfluxDB OSS and Enterprise 1.12.1 (#6250)
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/enterprise_influxdb/v1/query_language/spec.md
  content/enterprise_influxdb/v1/tools/influx_inspect.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/show-shards.md
  content/enterprise_influxdb/v1/troubleshooting/frequently-asked-questions.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/administration/backup_and_restore.md
  content/influxdb/v1/administration/config.md
  content/influxdb/v1/administration/ports.md
  content/influxdb/v1/administration/subscription-management.md
  content/influxdb/v1/concepts/file-system-layout.md
  content/influxdb/v1/concepts/storage_engine.md
  content/influxdb/v1/guides/downsample_and_retain.md
  content/influxdb/v1/query_language/manage-database.md
  content/influxdb/v1/query_language/spec.md
  content/influxdb/v1/supported_protocols/prometheus.md
  content/influxdb/v1/tools/api.md
  content/influxdb/v1/tools/influx_inspect.md
  content/influxdb/v1/troubleshooting/errors.md
  content/influxdb/v1/troubleshooting/frequently-asked-questions.md
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
  data/products.yml
Due: lint-markdown

fix(v1): callout syntax and broken anchor links
  content/enterprise_influxdb/v1/flux/flux-vs-influxql.md
  content/influxdb/v1/administration/authentication_and_authorization.md
  content/influxdb/v1/administration/backup_and_restore.md
  content/influxdb/v1/administration/config.md
  content/influxdb/v1/administration/upgrading.md
Due: lint-markdown

feat(testing): add link validation automation and improvements
  .github/actions/report-broken-links/action.yml
  .github/actions/setup-docs-env/action.yml
  .github/actions/validate-links/action.yml
  .github/instructions/contributing.instructions.md
  .github/instructions/shortcodes-reference.instructions.md
  .github/instructions/testing-setup.instructions.md
  .github/scripts/cache-manager.js
  .github/scripts/comment-generator.js
  .github/scripts/incremental-validator.js
  .github/scripts/link-extractor.js
  .github/scripts/matrix-generator.js
  .github/workflows/pr-link-validation.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  TESTING.md
  cypress.config.js
  cypress/e2e/content/article-links.cy.js
  cypress/support/link-reporter.js
  lefthook.yml
Due: build-copilot-instructions, lint-markdown, prettier

fix: apply code review suggestions: High Priority Issues (Fixed):
  .github/scripts/comment-generator.js
  .github/scripts/incremental-validator.js
  .github/scripts/link-extractor.js
  .github/scripts/matrix-generator.js
  .github/scripts/utils/url-transformer.js
  .github/workflows/pr-link-validation.yml
  cypress/e2e/content/article-links.cy.js
  cypress/support/map-files-to-urls.js
Due: prettier

Apply suggestions from code review
  .github/scripts/link-extractor.js
Due: prettier

Update cypress/e2e/content/article-links.cy.js
  cypress/e2e/content/article-links.cy.js
Due: prettier

ci: Enhance logging for troubleshooting test failures not due to broken links
  cypress/e2e/content/article-links.cy.js
  cypress/support/run-e2e-specs.js
Due: prettier

Update .github/actions/validate-links/action.yml
  .github/actions/validate-links/action.yml
Due: none

Update cypress/support/run-e2e-specs.js
  cypress/support/run-e2e-specs.js
Due: prettier

ci: convert cypress scripts to CommonJS:
  .github/scripts/cache-manager.cjs
  .github/scripts/incremental-validator.cjs
  .github/scripts/link-extractor.cjs
  .github/scripts/matrix-generator.js
  cypress.config.js
  cypress/support/run-e2e-specs.js
Due: prettier

Apply suggestions from code review
  cypress/support/run-e2e-specs.js
Due: prettier

Apply suggestions from code review
  cypress.config.js
Due: prettier

fix(ci): resolve link validation workflow false failures
  .github/actions/report-broken-links/action.yml
  broken_links_report.json
  cypress/e2e/content/article-links.cy.js
Due: prettier

fix(cypress): format code with prettier
  cypress/e2e/content/article-links.cy.js
Due: prettier

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-copilot-instructions: any of: CONTRIBUTING.md
  lint-markdown: any of: {CONTRIBUTING.md,content/*.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
