Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: build-copilot-instructions, lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier

build-copilot-instructions:
  run: yarn build:copilot-instructions

lint-markdown:
  tags: lint
  run: 'docker compose run --rm --name remark-lint remark-lint ''{staged_files}''
  
    '

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

Apply suggestions from code review
  content/shared/influxctl/database/list.md
Due: lint-markdown

hotfix: update explorer docker image, centralize image version
  content/influxdb3/explorer/install.md
  data/products.yml
Due: lint-markdown

hotfix: updated explorer docker url on explorer landing page
  content/influxdb3/explorer/_index.md
Due: lint-markdown

hotfix: hide plugin docs in explorer
  content/influxdb3/explorer/manage-plugins/_index.md
Due: lint-markdown

added docs notification for influxdb 3.2 and explorer GA (#6180)
  data/notifications.yaml
Due: none

task-based table and db management docs for dedicated and clustered
  content/influxdb3/cloud-dedicated/admin/databases/delete.md
  content/influxdb3/cloud-dedicated/admin/databases/rename.md
  content/influxdb3/cloud-dedicated/admin/databases/undelete.md
  content/influxdb3/cloud-dedicated/admin/tables/delete.md
  content/influxdb3/cloud-dedicated/admin/tables/list.md
  content/influxdb3/clustered/admin/databases/delete.md
  content/influxdb3/clustered/admin/databases/rename.md
  content/influxdb3/clustered/admin/databases/undelete.md
  content/influxdb3/clustered/admin/tables/delete.md
  content/influxdb3/clustered/admin/tables/list.md
Due: lint-markdown

Release Kapacitor v1.8.0 (#6156)
  content/kapacitor/v1/reference/about_the_project/release-notes.md
  data/products.yml
Due: lint-markdown

Update content/influxdb3/clustered/admin/tables/delete.md
  content/influxdb3/clustered/admin/tables/delete.md
Due: lint-markdown

fix(clustered): non-shared page using a 'version' link
  content/influxdb3/clustered/admin/databases/delete.md
Due: lint-markdown

chore(qol): Add .context to store ephemeral, external, or temp files that LLMs can use to help with docs management. Move plans to .content/plans, untracked.
  .context/README.md
  .gitignore
  plans/README.md
  plans/cli-docs-sync/execution-log.md
  plans/cli-docs-sync/plan-v3.2.0.md
Due: none

chore(test): Untrack influxdb3 data and plugins used in Docker configurations and testing
  test/influxdb3/auth.test.sh
  test/influxdb3/database.test.sh
Due: none

chore: Modify AI instructions build script to optimize and reduce instructions size. Add test examples for later
  .github/instructions/contributing.instructions.md
  build-scripts/build-copilot-instructions.js
  compose.yaml
  test/.gitignore
  test/influxdb3-plugins/request.py
  test/influxdb3-plugins/schedule.py
  test/influxdb3-plugins/wal_table.py
  test/influxdb3/auth.test.sh
  test/influxdb3/database.test.sh
Due: prettier

hotfix(3-core-ent): Update product version
  data/products.yml
Due: none

Apply suggestions from code review
  data/telegraf_plugins.yml
Due: none

Revert "chore(test): Untrack influxdb3 data and plugins used in Docker configurations and testing"
  test/influxdb3/auth.test.sh
  test/influxdb3/database.test.sh
Due: none

chore(v2): Explain v1-compatible auth and add a troubleshooting section with a negative example. Putting a bow on #4393. Verified that Kapa.ai knows how to authenticate to v1 endpoints in each version
  content/shared/influxdb-v2/api-guide/api_intro.md
  content/shared/influxdb-v2/api-guide/influxdb-1x/_index.md
Due: lint-markdown

fix(v2): "version" links that should be specific to OSS v2
  content/shared/influxdb-v2/api-guide/api_intro.md
  content/shared/influxdb-v2/monitor-alert/templates/monitor.md
  content/shared/influxdb-v2/write-data/migrate-data/migrate-cloud-to-oss.md
  content/shared/influxdb-v2/write-data/replication/_index.md
Due: lint-markdown

Update content/influxdb/v1/introduction/get-started/_index.md
  content/influxdb/v1/introduction/get-started/_index.md
Due: lint-markdown

Add .no-shorthand to `create token --admin` options
  content/shared/influxdb3-cli/create/token/admin.md
Due: lint-markdown

chore(ci): Audit documentation for changes to influxdb3 CLI. Configures a GitHub release workflow to generate release notes and run the audit documentation script.
  .github/workflows/audit-documentation.yml
  .github/workflows/influxdb3-release.yml
  .github/workflows/trigger-on-release.yml
  helper-scripts/influxdb3-monolith/apply-cli-patches.js
  helper-scripts/influxdb3-monolith/audit-cli-documentation.js
  helper-scripts/influxdb3-monolith/audit-cli-documentation.sh
  package.json
Due: prettier

fix(ci): Lefthook e2e-links command should only look for files in staged_files
  lefthook.yml
Due: none

fix(ci): replace the problematic multi-line template literal with an array of strings that gets joined with newlines, which avoids the YAML parsing issues with backticks and special characters.
  .github/workflows/influxdb3-release.yml
Due: none

fix(ci): run the shortcode examples test against the example.md file whenever relevant files (assets, layouts, or the example file itself) are staged
  lefthook.yml
Due: none

feat(influxdb3): v3.2.1 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown

chore(influxdb3): improve release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown

feat(influxdb3): bump version
  data/products.yml
Due: none

chore(influxdb3): v3.2.1 fixes request trigger spec in 3Ent. Remove Core-Ent divergence notes.
  api-docs/influxdb3/enterprise/v3/ref.yml
  content/shared/influxdb3-cli/create/trigger.md
  content/shared/influxdb3-get-started/processing-engine.md
  content/shared/v3-core-plugins/_index.md
Due: lint-markdown

fix(3core): distributed cluster should be enterprise-only
  content/shared/v3-core-plugins/_index.md
Due: lint-markdown

Add .no-shorthand to `create token --admin` options (#6189)
  content/shared/influxdb3-cli/create/token/admin.md
Due: lint-markdown

fix(ci): default location for generated release notes
  helper-scripts/common/generate-release-notes.sh
Due: none

chore(ci): Cleanup JS
  .github/workflows/audit-documentation.yml
  eslint.config.js
  helper-scripts/common/validate-tags.js
  helper-scripts/influxdb3-monolith/audit-cli-documentation.js
Due: prettier

fix(ci): GitHub Actions:\Usage Examples
  .github/workflows/audit-documentation.yml
  .github/workflows/influxdb3-release.yml
Due: none

Refactored the release notes generator script with the following improvements:
  helper-scripts/common/config/influxdb-v1.json
  helper-scripts/common/config/influxdb-v2.json
  helper-scripts/common/config/influxdb3-core-enterprise.json
  helper-scripts/common/generate-release-notes.js
  helper-scripts/common/generate-release-notes.md
Due: prettier

chore(qol): extract keywords from commit messages, PRs, and source. Apply keywords and formatting to release note output.
  helper-scripts/common/generate-release-notes.js
Due: prettier

Path conditions:
  build-copilot-instructions: any of: CONTRIBUTING.md
  lint-markdown: any of: {CONTRIBUTING.md,content/*.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
