Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

docs(enterprise): note v3.10 license storage portability
  content/influxdb3/enterprise/admin/license.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(influxdb3-cloud): complete the Get started landing page
  content/influxdb3/cloud/get-started/_index.md
Due: deprecated-markdown-patterns

docs(enterprise): refine v3.10 license portability note
  content/influxdb3/enterprise/admin/license.md
Due: deprecated-markdown-patterns, enterprise-lint

fix(ci): allow deploy when markdown sitemap is missing
  .circleci/config.yml
  package.json
  scripts/__tests__/build-llms-txt.test.mjs
  scripts/__tests__/build-md-sitemap.test.mjs
  scripts/build-ai-artifacts.js
  scripts/build-llms-txt.js
  scripts/build-md-sitemap.js
  scripts/deploy-staging.sh
Due: prettier

fix(ci): allow deploy when markdown sitemap is missing (#7392)
  .circleci/config.yml
  package.json
  scripts/__tests__/build-llms-txt.test.mjs
  scripts/__tests__/build-md-sitemap.test.mjs
  scripts/build-ai-artifacts.js
  scripts/build-llms-txt.js
  scripts/build-md-sitemap.js
  scripts/deploy-staging.sh
Due: prettier

Deploy preview for PR 7390 🛫
  pr-preview/pr-7390/index.html
Due: none

fix(docs): repair enterprise license anchors
  content/influxdb3/enterprise/admin/license.md
Due: deprecated-markdown-patterns, enterprise-lint

Deploy preview for PR 7390 🛫
  pr-preview/pr-7390/index.html
  pr-preview/pr-7390/influxdb3/enterprise/admin/license/index.html
Due: none

Deploy preview for PR 7189 🛫
  pr-preview/pr-7189/index.html
Due: none

chore: Update license usage across clusters (#7390)
  content/influxdb3/enterprise/admin/license.md
Due: deprecated-markdown-patterns, enterprise-lint

Release influxctl v2.12.1 (#7385)
  data/products.yml
Due: build-agent-instructions

Deploy preview for PR 7387 🛫
  pr-preview/pr-7387/index.html
Due: none

Apply suggestions from code review
  content/influxdb3/cloud/_index.md
  content/influxdb3/cloud/admin/tokens/_index.md
  content/influxdb3/cloud/admin/users/_index.md
  content/influxdb3/cloud/admin/users/admin-ui.md
  content/influxdb3/cloud/query-data/execute-queries/influxdb3-cli.md
  content/influxdb3/cloud/query-data/sql/basic-query.md
  content/influxdb3/cloud/reference/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/_index.md
  content/influxdb3/cloud/request-information.md
  content/shared/influxdb3-get-started/setup-cloud.md
  content/shared/influxdb3-query-guides/influxql/troubleshoot.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(agents): note org-managed Dependabot in AGENTS and docs-testing skill
  .agents/skills/docs-testing/SKILL.md
  AGENTS.md
Due: lint-markdown-instructions, lint-instructions

fix(hooks): scope InfluxDB 3 shared-content reminder to relevant searches
  .claude/hooks/suggest-shared-content.sh
  .claude/settings.json
Due: none

chore(claude): scope secret denies to home dir, not repo paths
  .claude/settings.json
Due: none

chore(claude): make local-first web hook deterministic
  .claude/hooks/check-web-local-first.sh
  .claude/settings.json
Due: none

fix(claude): make worktree guards layout-agnostic and fix block output
  .claude/hooks/check-bash-worktree.sh
  .claude/hooks/check-worktree-paths.sh
  .claude/hooks/lib/worktree-paths.sh
Due: none

Deploy preview for PR 7331 🛫
  pr-preview/pr-7331/index.html
Due: none

docs(influxdb3): fix ping API links
  content/shared/identify-version.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(release-notes): add v3.9.5, v3.9.6, and v3.10.1 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7331 🛫
  pr-preview/pr-7331/index.html
  pr-preview/pr-7331/influxdb3/enterprise/admin/identify-version/index.html
  pr-preview/pr-7331/platform/identify-version/index.html
Due: none

docs(influxdb3): add one-way migration caution to v3.10 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(controller): add TLS/HTTPS setup and certificate trust guide
  content/telegraf/controller/configs/use.md
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/install/secure-tls.md
  content/telegraf/controller/install/troubleshoot.md
  content/telegraf/controller/reference/config-options.md
Due: deprecated-markdown-patterns, telegraf-lint

Update content/shared/v3-core-enterprise-release-notes/_index.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): change upgrade migration callout to Important
  content/shared/influxdb3-admin/upgrade.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7397 🛫
  pr-preview/pr-7397/index.html
  pr-preview/pr-7397/influxdb3/core/release-notes/index.html
  pr-preview/pr-7397/influxdb3/enterprise/release-notes/index.html
Due: none

Deploy preview for PR 7397 🛫
  pr-preview/pr-7397/index.html
  pr-preview/pr-7397/influxdb3/core/admin/upgrade/index.html
  pr-preview/pr-7397/influxdb3/enterprise/admin/upgrade/index.html
Due: none

Deploy preview for PR 7398 🛫
  pr-preview/pr-7398/index.html
Due: none

docs(influxdb3): fix broken anchor links in upgrade page
  content/shared/influxdb3-admin/upgrade.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
