Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-copilot-instructions, lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-copilot-instructions: any of: CONTRIBUTING.md
  lint-markdown: any of: {CONTRIBUTING.md,content/*.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

Update assets/js/influxdb-version-detector.ts
  assets/js/influxdb-version-detector.ts
Due: prettier, lint-js

Update assets/styles/components/_influxdb-version-detector.scss
  assets/styles/components/_influxdb-version-detector.scss
Due: none

feat(influxctl): release notes, cli docs, and admin guides for influxctl 2.10.4
  content/influxdb3/cloud-dedicated/admin/tables/undelete.md
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/table/undelete.md
  content/influxdb3/clustered/admin/tables/undelete.md
  content/influxdb3/clustered/reference/cli/influxctl/table/undelete.md
  content/shared/influxctl/database/list.md
  content/shared/influxctl/release-notes.md
  content/shared/influxctl/table/list.md
  content/shared/influxctl/table/undelete.md
Due: lint-markdown

Apply suggestions from code review
  content/influxdb3/cloud-dedicated/admin/tables/undelete.md
  content/influxdb3/clustered/admin/tables/undelete.md
  content/shared/influxctl/release-notes.md
  content/shared/influxctl/table/undelete.md
Due: lint-markdown

chore(influxctl): hide clustered table undelete pages
  content/influxdb3/clustered/admin/tables/undelete.md
  content/influxdb3/clustered/reference/cli/influxctl/table/undelete.md
Due: lint-markdown

chore: organize gitignore
  .gitignore
Due: none

Instructions files cleanup:
  .github/copilot-instructions.md
  .github/instructions/api-docs.instructions.md
  .github/instructions/assets.instructions.md
  .github/instructions/content.instructions.md
  .github/instructions/contributing.instructions.md
  .github/instructions/influxdb3-code-placeholders.instructions.md
  .github/instructions/shortcodes-reference.instructions.md
  CLAUDE.md
  api-docs/CLAUDE.md
  assets/CLAUDE.md
  content/CLAUDE.md
Due: lint-markdown

qol: Add ui-dev agent for TypeScript, SASS (CSS), and Hugo frontent development
  .claude/agents/ui-dev.md
Due: none

Update content/CLAUDE.md
  content/CLAUDE.md
Due: lint-markdown

Update .github/instructions/shortcodes-reference.instructions.md
  .github/instructions/shortcodes-reference.instructions.md
Due: none

feat(influxctl): influxctl 2.10.4 release notes, cli docs, and admin guides (#6412)
  content/influxdb3/cloud-dedicated/admin/tables/undelete.md
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/table/undelete.md
  content/influxdb3/clustered/admin/tables/undelete.md
  content/influxdb3/clustered/reference/cli/influxctl/table/undelete.md
  content/shared/influxctl/database/list.md
  content/shared/influxctl/release-notes.md
  content/shared/influxctl/table/list.md
  content/shared/influxctl/table/undelete.md
Due: lint-markdown

Release influxctl v2.10.4 (#6411)
  content/influxdb3/cloud-dedicated/admin/tables/undelete.md
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/table/undelete.md
  content/influxdb3/clustered/admin/tables/undelete.md
  content/influxdb3/clustered/reference/cli/influxctl/table/undelete.md
  content/shared/influxctl/database/list.md
  content/shared/influxctl/release-notes.md
  content/shared/influxctl/table/list.md
  content/shared/influxctl/table/undelete.md
  data/products.yml
Due: lint-markdown

fix(telegraf): Aggregator typo and intro
  telegraf-build/templates/aggregator_index.tmpl
Due: none

Update content/telegraf/v1/aggregator-plugins/_index.md
  content/telegraf/v1/aggregator-plugins/_index.md
Due: lint-markdown, telegraf-lint

Release influxctl v2.10.5
  data/products.yml
Due: none

chore(influxctl): add influxctl 2.10.5 release notes
  content/shared/influxctl/release-notes.md
Due: lint-markdown

Update content/shared/influxctl/release-notes.md
  content/shared/influxctl/release-notes.md
Due: lint-markdown

Release influxctl v2.10.5 (#6417)
  content/shared/influxctl/release-notes.md
  data/products.yml
Due: lint-markdown

chore(qol): Instruction to use /version/ in shared links
  .github/instructions/content.instructions.md
Due: none

docs(cli): fix global vs serve-specific flag documentation
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown

docs(cli): remove Tokio runtime options from CLI index pages
  content/influxdb3/core/reference/cli/influxdb3/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/_index.md
Due: lint-markdown

feat(influxdb3): Core and Ent performance tuning guide:Add an admin/performance-tuning/ page with specific workload and capacity configurations.Part of #6403.
  content/influxdb3/core/admin/performance-tuning.md
  content/influxdb3/enterprise/admin/performance-tuning.md
  content/shared/influxdb3-admin/performance-tuning.md
Due: lint-markdown

Release Kapacitor v1.8.2
  content/kapacitor/v1/reference/about_the_project/release-notes.md
  data/products.yml
Due: lint-markdown

chore: add 3.5 release notes and config options
  content/shared/influxdb3-cli/config-options.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown

uploading OSS v2 screenshots
  static/img/influxdb3/OSS-v2-grafana-product-dropdown-flux.png
  static/img/influxdb3/OSS-v2-grafana-product-dropdown-influxql.png
Due: none

docs(plugins): enhance --plugin-repo documentation with usage examples
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-plugins/_index.md
Due: lint-markdown

Update content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown

Updating changelog
  content/telegraf/v1/release-notes.md
Due: lint-markdown, telegraf-lint

Updating plugin list
  data/telegraf_plugins.yml
Due: none

Updating product version
  data/products.yml
Due: none

Remove claude commands (moved to docs-tooling repo)
  .claude/commands/analyze-api-source.md
  .claude/commands/enhance-release-notes.md
  .claude/commands/fix-github-issue.md
Due: none

feat(enterprise): add cluster management documentation
  content/influxdb3/enterprise/admin/clustering.md
Due: lint-markdown

docs(WIP): updating navigation to data source configuration
  content/shared/v3-process-data/visualize/grafana.md
Due: lint-markdown

docs(WIP): adding a before you begin / prereq section
  content/shared/v3-process-data/visualize/grafana.md
Due: lint-markdown

docs: format updates
  content/shared/v3-process-data/visualize/grafana.md
Due: lint-markdown

docs: adding configuration basic settings instructions and updating formatting
  content/shared/v3-process-data/visualize/grafana.md
Due: lint-markdown
