Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, cloud-pytest, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest, telegraf-pytest, v2-pytest, prettier

lefthook.yml:

#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit
pre-commit:
  parallel: true 
  commands:
    cloud-lint:
      tags: lint,v2
      glob: "content/influxdb/cloud/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-dedicated-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-dedicated/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-dedicated/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-serverless-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-serverless/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    clustered-lint:
      tags: lint,v3
      glob: "content/influxdb/clustered/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    telegraf-lint:
      tags: lint,clients 
      glob: "content/telegraf/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    v2-lint:
      tags: lint,v2
      glob: "content/influxdb/v2/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/v2/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-pytest:
      glob: content/influxdb/cloud/**/*.md
      tags: test,codeblocks,v2
      env:
        - SERVICE: cloud-pytest
      run: docker compose run $SERVICE '{staged_files}'
    cloud-dedicated-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-dedicated/**/*.md
      env:
        - SERVICE: cloud-dedicated-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    cloud-serverless-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-serverless/**/*.md
      env:
        - SERVICE: cloud-serverless-pytest
      run: docker compose run $SERVICE '{staged_files}'
    clustered-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/clustered/**/*.md
      env:
        - SERVICE: clustered-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    telegraf-pytest:
      tags: test,codeblocks
      glob: content/telegraf/**/*.md
      env:
        - SERVICE: telegraf-pytest
      run: docker compose run $SERVICE '{staged_files}'
    v2-pytest:
      tags: test,codeblocks,v2
      glob: content/influxdb/v2/**/*.md
      env:
        - SERVICE: v2-pytest
      run: docker compose run --rm $SERVICE '{staged_files}'
    prettier:
      tags: frontend,style
      glob: "*.{css,js,ts,jsx,tsx}"
      run: yarn prettier {staged_files}

build:
  commands:
    prune-legacy-containers:
      priority: 1
      tags: test 
      run: '(docker container ls --format "{{.ID}}"
          --filter label=tag=influxdata-docs
          --filter status=exited | xargs docker rm)
          || true'
    rebuild-test-images:
      tags: test
      run: docker compose build pytest-codeblocks

fix(api): Only call Google Tag Manager if hostname has influxdata.com - prevents undefined GTM object errors in dev
  api-docs/template.hbs
  cypress/e2e/content/api-reference.cy.js
  cypress/e2e/content/article-links.cy.js
Due: prettier

fix(api): Update glossary links. Remove old cloud-serverless directory
  api-docs/cloud-serverless/v2/ref.yml
  api-docs/influxdb/cloud/v2/ref.yml
  api-docs/influxdb/v2/ref.yml
  api-docs/influxdb3/cloud-dedicated/v2/ref.yml
  api-docs/influxdb3/cloud-serverless/v2/ref.yml
  api-docs/influxdb3/clustered/v2/ref.yml
Due: none

fix(api): Core: revise tags and tag-groups, add trait tags
  api-docs/influxdb3/core/v3/content/tag-groups.yml
  api-docs/influxdb3/core/v3/ref.yml
Due: none

feat(api-ref): API reference for Core and Enterprise
  api-docs/generate-api-docs.sh
  api-docs/influxdb3/core/v3/content/info.yml
  api-docs/influxdb3/core/v3/content/tag-groups.yml
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/content/info.yml
  api-docs/influxdb3/enterprise/v3/content/tag-groups.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  content/influxdb3/core/reference/api/_index.md
  content/influxdb3/enterprise/reference/api/_index.md
  content/shared/influxdb3-api-reference/_index.md
Due: none

Adding a no_sync documentation to get-started page (#5826)
  content/shared/v3-core-get-started/_index.md
Due: none

adding CLI example to no_sync write option
  content/shared/v3-core-get-started/_index.md
Due: none

Adding HTTP documentation for no_sync option
  content/shared/v3-core-get-started/_index.md
Due: none

Updates to no_sync example for HTTP
  content/shared/v3-core-get-started/_index.md
Due: none

fix(api): confusing nav behavior with endpoints duplicated among tag groups. Closes Remove tag groups from API ref docs that duplicate endpoints in the "All endpoints" tag group. #5868
  api-docs/influxdb/cloud/v2/content/tag-groups.yml
  api-docs/influxdb/v2/v2/content/tag-groups.yml
  api-docs/influxdb3/cloud-dedicated/v2/content/tag-groups.yml
  api-docs/influxdb3/cloud-serverless/v2/content/tag-groups.yml
  api-docs/influxdb3/clustered/v2/content/tag-groups.yml
Due: none

chore(ai): Add reminder to update the script in template.hbs
  assets/js/ask-ai.js
Due: prettier

Update content/shared/v3-core-get-started/_index.md
  content/shared/v3-core-get-started/_index.md
Due: none

Reverting sentence delete to note section
  content/shared/v3-core-get-started/_index.md
Due: none

Adding a port exposure note to Core get started page (#5862)
  content/shared/v3-core-get-started/_index.md
Due: none

fix broken links in configuration.md
  content/telegraf/v1/configuration.md
Due: telegraf-lint, telegraf-pytest

fix broken links in install.md
  content/telegraf/v1/install.md
Due: telegraf-lint, telegraf-pytest

update to note
  content/shared/v3-core-get-started/_index.md
Due: none

Adding docker note to Core install guide
  content/influxdb3/core/install.md
Due: none

conflict update
  content/shared/v3-core-get-started/_index.md
Due: none

Update _index.md
  content/shared/v3-core-get-started/_index.md
Due: none

Update hour.md with example for local time
  content/flux/v0/stdlib/date/hour.md
Due: none

Update content/influxdb3/core/install.md
  content/influxdb3/core/install.md
Due: none

Update content/telegraf/v1/configuration.md
  content/telegraf/v1/configuration.md
Due: telegraf-lint, telegraf-pytest

Update content/telegraf/v1/install.md
  content/telegraf/v1/install.md
Due: telegraf-lint, telegraf-pytest
