Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-copilot-instructions, lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier, lint-js

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-copilot-instructions:
  run: yarn build:copilot-instructions

lint-markdown:
  tags: lint
  run: 'docker compose run --rm --name remark-lint remark-lint ''{staged_files}''
  
    '

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

ci: link-checker known positive test with existing broken link, platform-specific instructions
  TESTING.md
  content/shared/influxdb-v2/query-data/influxql/functions/transformations.md
Due: lint-markdown

test link-checker, positive test
  content/shared/influxdb-v2/query-data/influxql/functions/transformations.md
Due: lint-markdown

fix(v2): broken link
  content/shared/influxdb-v2/query-data/influxql/functions/transformations.md
Due: lint-markdown

chore(ci): Removes old Cypress link checker test code
  cypress.config.js
  cypress/e2e/content/article-links.cy.js
  cypress/e2e/content/example.cy.js
  cypress/support/link-cache.js
  cypress/support/link-reporter.js
  cypress/support/run-e2e-specs.js
  lefthook.yml
  package.json
Due: prettier

fix(clustered): clarify compactor scaling guidance for CPU and memory
  content/influxdb3/clustered/admin/scale-cluster.md
Due: lint-markdown

fix(clustered): clarify compactor scaling guidance for CPU and memory
  TESTING.md
  content/influxdb3/clustered/admin/scale-cluster.md
Due: lint-markdown

docs(testing): document link-checker binary release process
  .github/workflows/pr-link-check.yml
  .github/workflows/sync-link-checker-binary.yml
  TESTING.md
Due: none

fix(v2): missing (API) in heading
  content/shared/influxdb-v2/write-data/replication/replicate-data.md
Due: lint-markdown

fix(v2): broken link fragment
  content/influxdb/v2/install/_index.md
Due: lint-markdown, v2-lint

config(link-checker): exclude StackExchange network URLs
  .ci/link-checker/default.lycherc.toml
  .ci/link-checker/production.lycherc.toml
Due: none

fix(v2): replace broken link fragment with new URL
  content/influxdb/v2/install/_index.md
Due: lint-markdown, v2-lint

fix(v2): replace broken link fragment with example and page link
  content/influxdb/v2/install/_index.md
Due: lint-markdown, v2-lint

fix(telegraf): broken link fragment
  content/telegraf/v1/install.md
Due: lint-markdown, telegraf-lint

fix(v2): broken-link-fragment
  content/telegraf/v1/install.md
Due: lint-markdown, telegraf-lint

chore(qol): Copilot no longer uses instruction settings; it automatically detects instructions files and PRs.
  .vscode/settings.json
Due: none

test: When using env_file, the variables are loaded directly into the container's environment, so you don't need to use the syntax. Removed braces
  compose.yaml
Due: none

chore(qol): audit-cli-documentation.js should dynamically get top-level commands and recurse through --help.\Both products work together:
  helper-scripts/influxdb3-monolith/audit-cli-documentation.js
Due: prettier

chore(qol): Make agents more collaborative and not automatically agreeable.
  .github/copilot-instructions.md
Due: none

chore(scripts): redo cli audit script: Moved to new tooling repo. Removed package scripts for now.
  helper-scripts/influxdb3-monolith/README.md
  helper-scripts/influxdb3-monolith/apply-cli-patches.js
  helper-scripts/influxdb3-monolith/audit-cli-documentation.js
  helper-scripts/influxdb3-monolith/setup-auth-tokens.sh
  package.json
Due: prettier

config(link-checker): exclude Docker Hub URLs
  .ci/link-checker/default.lycherc.toml
  .ci/link-checker/production.lycherc.toml
Due: none

docs: add artifacts and release notes for clustered release 20250814
  content/influxdb3/clustered/reference/release-notes/clustered.md
  static/downloads/clustered-release-artifacts/20250814-1819052/app-instance-schema.json
  static/downloads/clustered-release-artifacts/20250814-1819052/example-customer.yml
Due: lint-markdown

Update _index.md
  content/kapacitor/v1/_index.md
Due: lint-markdown

docs: add date to release notes
  content/influxdb3/clustered/reference/release-notes/clustered.md
Due: lint-markdown

chore(tools): remove minor version from product name in sidebarDisplay Kapacitor v1 instead of Kapacitor v1.<patch>
  content/chronograf/v1/_index.md
  content/kapacitor/v1/_index.md
  content/telegraf/v1/_index.md
Due: lint-markdown, telegraf-lint

Adjust wording for the two types of tsi index: inmen and on disk tsi1
  content/influxdb/v1/administration/upgrading.md
Due: lint-markdown

fix(v1): improve TSI recommendation clarity and fix grammar typos
  content/influxdb/v1/administration/upgrading.md
Due: lint-markdown

docs(v1): restructure upgrade guide for better UX and progressive disclosure
  content/influxdb/v1/administration/upgrading.md
Due: lint-markdown

Apply suggestions from code review
  content/chronograf/v1/_index.md
  content/kapacitor/v1/_index.md
  content/telegraf/v1/_index.md
Due: lint-markdown, telegraf-lint

Apply suggestions from code review
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown

chore: add more clarity to Explorer quick start
  content/influxdb3/explorer/_index.md
  content/influxdb3/explorer/get-started.md
Due: lint-markdown

hotfix: remove top messaging from explorer docs
  layouts/partials/article/special-state.html
Due: none

Update content/influxdb3/explorer/_index.md
  content/influxdb3/explorer/_index.md
Due: lint-markdown

Update content/influxdb3/explorer/get-started.md
  content/influxdb3/explorer/get-started.md
Due: lint-markdown

Update content/influxdb/v1/administration/upgrading.md
  content/influxdb/v1/administration/upgrading.md
Due: lint-markdown

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-copilot-instructions: any of: CONTRIBUTING.md
  lint-markdown: any of: {CONTRIBUTING.md,content/*.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
