Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: build-copilot-instructions, lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier

build-copilot-instructions:
  run: yarn build:copilot-instructions

lint-markdown:
  tags: lint
  run: 'docker compose run --rm --name remark-lint remark-lint ''{staged_files}''
  
    '

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

fix(theme-switch): ThemeSwitch() should pass the component when calling Theme().
  assets/js/theme-switch.js
Due: prettier

WIP: Removed unused home-interactions.js
  assets/js/home-interactions.js
Due: prettier

WIP: removed remaining scripts from footer/javascript.html. Migrated to components and utilities. Conditionally imports Mermaid if page has a diagram.
  assets/js/components/diagram.js
  assets/js/datetime.js
  assets/js/flux-group-keys.js
  assets/js/main.js
  assets/js/release-toc.js
  layouts/partials/footer/javascript.html
  layouts/shortcodes/diagram.html
  layouts/shortcodes/flux/group-key-demo.html
  layouts/shortcodes/release-toc.html
Due: prettier

fix(js): datetime: import jquery, clone date before mutating, define variable
  assets/js/datetime.js
Due: prettier

fix(js): Minor JS fixes: declare variable in keybindings.js, improve selector specificity in flux-group-keys, add group-key shortcode example to example.md
  .prettierignore
  assets/js/flux-group-keys.js
  assets/js/keybindings.js
  content/example.md
Due: lint-markdown, prettier

Update assets/js/datetime.js
  assets/js/datetime.js
Due: prettier

Improve DocSearch loading
  assets/js/components/doc-search.js
  assets/js/main.js
  assets/js/utils/search-interactions.js
  layouts/partials/footer/search.html
Due: prettier

fix(js): Apply fixes for CoPilot suggestions.
  assets/js/components/doc-search.js
  assets/js/flux-group-keys.js
  assets/js/utils/search-interactions.js
Due: prettier

fix(js): Apply fixes suggested by CoPilot. - Fix inverted logic from previous commit in feature-callouts.js - Pass to other functions in flux-group-keys.js
  assets/js/feature-callouts.js
  assets/js/flux-group-keys.js
Due: prettier

Update content/influxdb3/explorer/_index.md
  content/influxdb3/explorer/_index.md
Due: lint-markdown

chore(js): Remove unnecessary JS module config, remove redundant index.js
  assets/js/index.js
  assets/js/theme-switch.js
  hugo.yml
  hugo_stats.json
  layouts/partials/header/javascript.html
  package.json
Due: prettier

chore(js): Unbundle assets in Hugo development and testing environments: - Keep assets unbundled for easier debugging in development and testing. - Copies other config from development to testing.
  .circleci/config.yml
  config/production/config.yml
  config/testing/config.yml
  hugo.staging.yml
  hugo.yml
  layouts/partials/header/javascript.html
Due: none

Update assets/js/flux-group-keys.js
  assets/js/flux-group-keys.js
Due: prettier

update: add docker pull to quickstart
  content/influxdb3/explorer/_index.md
Due: lint-markdown

Update assets/js/components/diagram.js
  assets/js/components/diagram.js
Due: prettier

fix: remove the git stuff
  content/influxdb3/explorer/_index.md
Due: lint-markdown

fix: serverless url replacement bug
  assets/js/local-storage.js
  data/influxdb_urls.yml
  hugo_stats.json
Due: prettier

Update content/kapacitor/v1/reference/about_the_project/release-notes.md
  content/kapacitor/v1/reference/about_the_project/release-notes.md
Due: lint-markdown

Release Kapacitor v1.7.7 (#6090)
  content/kapacitor/v1/reference/about_the_project/release-notes.md
  data/products.yml
Due: lint-markdown

influxctl 2.10.1 release notes
  content/shared/influxctl/release-notes.md
Due: lint-markdown

corrected influxctl version number
  assets/jsconfig.json
  content/shared/influxctl/release-notes.md
Due: lint-markdown

Release influxctl v2.10.1 (#6115)
  assets/jsconfig.json
  content/shared/influxctl/release-notes.md
  data/products.yml
Due: lint-markdown

chore(js): CONTRIBUTING.md: Add JavaScript development and debugging instructions
  .github/instructions/contributing.instructions.md
  CONTRIBUTING.md
Due: build-copilot-instructions, lint-markdown

fix: broken links - Flux links in Kapacitor and others: flux/v0.x/ -> flux/v0/ - influxdb/v2%2E0/ -> influxdb/v2/
  content/enterprise_influxdb/v1/concepts/schema_and_data_layout.md
  content/flux/v0/release-notes.md
  content/influxdb/cloud/account-management/data-usage.md
  content/influxdb/cloud/account-management/limits.md
  content/influxdb/cloud/admin/organizations/migrate-org.md
  content/influxdb/cloud/reference/cli/influx/transpile/_index.md
  content/influxdb/cloud/reference/release-notes/cloud-updates.md
  content/influxdb/v1/concepts/schema_and_data_layout.md
  content/influxdb/v1/flux/guides/exists.md
  content/influxdb3/cloud-serverless/admin/billing/data-usage.md
  content/influxdb3/cloud-serverless/admin/billing/limits.md
  content/kapacitor/v1/reference/about_the_project/release-notes.md
  content/resources/how-to-guides/assigning-more-than-four-states.md
  content/resources/how-to-guides/reduce-to-construct-JSON.md
  content/resources/how-to-guides/select-hours-from-data.md
  content/resources/how-to-guides/state-changes-across-task-executions.md
  content/resources/videos/Flux-Data-Structure.md
  content/resources/videos/Flux-Functions.md
Due: lint-markdown, cloud-lint

fix(lefthook): Incorrect glob patterns. Add linting for influxdb3/explorer
  lefthook.yml
Due: none

Path conditions:
  build-copilot-instructions: any of: CONTRIBUTING.md
  lint-markdown: any of: {CONTRIBUTING.md,content/*.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
