Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, cloud-pytest, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest, telegraf-pytest, v2-pytest, prettier

lefthook.yml:

#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit
pre-commit:
  parallel: true 
  commands:
    cloud-lint:
      tags: lint,v2
      glob: "content/influxdb/cloud/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-dedicated-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-dedicated/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-dedicated/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-serverless-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-serverless/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    clustered-lint:
      tags: lint,v3
      glob: "content/influxdb/clustered/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    telegraf-lint:
      tags: lint,clients 
      glob: "content/telegraf/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    v2-lint:
      tags: lint,v2
      glob: "content/influxdb/v2/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/v2/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-pytest:
      glob: content/influxdb/cloud/**/*.md
      tags: test,codeblocks,v2
      env:
        - SERVICE: cloud-pytest
      run: docker compose run $SERVICE '{staged_files}'
    cloud-dedicated-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-dedicated/**/*.md
      env:
        - SERVICE: cloud-dedicated-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    cloud-serverless-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-serverless/**/*.md
      env:
        - SERVICE: cloud-serverless-pytest
      run: docker compose run $SERVICE '{staged_files}'
    clustered-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/clustered/**/*.md
      env:
        - SERVICE: clustered-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    telegraf-pytest:
      tags: test,codeblocks
      glob: content/telegraf/**/*.md
      env:
        - SERVICE: telegraf-pytest
      run: docker compose run $SERVICE '{staged_files}'
    v2-pytest:
      tags: test,codeblocks,v2
      glob: content/influxdb/v2/**/*.md
      env:
        - SERVICE: v2-pytest
      run: docker compose run --rm $SERVICE '{staged_files}'
    prettier:
      tags: frontend,style
      glob: "*.{css,js,ts,jsx,tsx}"
      run: yarn prettier {staged_files}

build:
  commands:
    prune-legacy-containers:
      priority: 1
      tags: test 
      run: '(docker container ls --format "{{.ID}}"
          --filter label=tag=influxdata-docs
          --filter status=exited | xargs docker rm)
          || true'
    rebuild-test-images:
      tags: test
      run: docker compose build pytest-codeblocks

Noted new sign ups for version 3.0 (5720)
  content/influxdb/cloud/sign-up.md
Due: none

Added notes on v2 OSS (5720)
  content/influxdb/cloud/sign-up.md
Due: none

chore(js): refactor JS for AIChat and Theme as examples of using the component pattern for HTML/CSS/JS
  assets/js/AIChat.js
  assets/js/docs-themes.js
  assets/js/main.js
  assets/js/theme-switch.js
  assets/js/theme.js
  assets/jsconfig.json
  assets/styles/layouts/_top-nav.scss
  layouts/404.html
  layouts/partials/header.html
  layouts/partials/header/ai-chat.html
  layouts/partials/header/javascript.html
  layouts/partials/header/stylesheets.html
  layouts/partials/topnav.html
Due: prettier

chore(js): Use the new local-storage API in refactored module code and in code not yet ported. Cleanup syntax in local-storage and make functions available from window.LocalStorageAPI.
  assets/js/api-libs.js
  assets/js/custom-timestamps.js
  assets/js/feature-callouts.js
  assets/js/influxdb-url.js
  assets/js/local-storage.js
  assets/js/notifications.js
  assets/js/sidebar-toggle.js
  assets/js/v3-wayfinding.js
Due: prettier

fix(js): theme.js name-change
  layouts/partials/header/javascript.html
Due: none

update to format and simplified deployment section (closes #5720)
  content/influxdb/cloud/sign-up.md
Due: none

chore(js): fix ai-chat.js file name
  assets/js/ai-chat.js
  layouts/partials/header/javascript.html
Due: prettier

fix(js): refactor: - componentNames are snakecase in HTML - replace DOM selection method and jQuery eventhandler assignment - remove old theme.js references
  assets/js/main.js
  assets/js/theme-switch.js
  layouts/partials/header/javascript.html
Due: prettier

chore(ai): configure chat window overlay, size, and position: - removes overlay and scroll lock - positions chat to the right and bottom - expands sample question width to 12 cols
  layouts/partials/header/ai-chat.html
Due: none

chore(ai): edit disclaimer
  layouts/partials/header/ai-chat.html
Due: none

Revised sign up section
  content/influxdb/cloud/sign-up.md
Due: none

Update content/influxdb/cloud/sign-up.md
  content/influxdb/cloud/sign-up.md
Due: none

Removed Sign Up section and repleaced it a note
  content/influxdb/cloud/sign-up.md
Due: none

Revert "Removed Sign Up section and repleaced it a note"
  content/influxdb/cloud/sign-up.md
Due: none

Removed Sign up section and replaced it with new InfluxDB cloud note
  content/influxdb/cloud/sign-up.md
Due: none

fix(ai): size and position
  layouts/partials/header/ai-chat.html
Due: none

Update to sign-up.md naming fix
  content/influxdb/cloud/sign-up.md
Due: none

chore(js): make ai-chat specific to configuration and and setting userid (for testing and future use).
  assets/js/ai-chat-config.js
Due: prettier

fix(js): copy referrerHost variable to v3-wayfinding instead of relying on influxdb-url to assign it.
  assets/js/v3-wayfinding.js
Due: prettier

chore(ai): add a footer div at page bottom to contain modal triggers for custom-time and ask-ai. Still needs some CSS help. Moves tooltip text from CSS to HTML data attribute.
  assets/js/ask-ai-trigger.js
  assets/js/main.js
  assets/styles/layouts/_ask-ai-trigger.scss
  assets/styles/layouts/_footer-modal-triggers.scss
  assets/styles/styles-default.scss
  layouts/partials/footer.html
  layouts/partials/footer/ask-ai-trigger.html
  layouts/partials/footer/custom-time-trigger.html
  layouts/partials/footer/footer-modal-triggers.html
  layouts/partials/header/ai-chat.html
Due: prettier

chore(ai): dynamically load AI script tag after DOMContentLoaded to avoid race conditions. Call initialization from the modal trigger module and pass the show trigger function to the onload handler.
  assets/js/ai-chat-config.js
  assets/js/ask-ai-trigger.js
  assets/js/ask-ai.js
  assets/js/main.js
  layouts/partials/footer/ask-ai-trigger.html
  layouts/partials/header.html
  layouts/partials/header/ai-chat.html
Due: prettier

fix(ai): fix modal triggers to viewport
  assets/styles/layouts/_footer-modal-triggers.scss
Due: none

hotfix: remove clustered GA notification
  data/notifications.yaml
Due: none

fix(modal-triggers): stack the triggers into a single column.
  assets/styles/layouts/_ask-ai-trigger.scss
  assets/styles/layouts/_custom-time-trigger.scss
  assets/styles/layouts/_footer-modal-triggers.scss
Due: none

fix(v3): Python flight_client_options param, update list examples - Fixes #5159 - Applies changes from pr/5723
  content/influxdb/cloud-dedicated/reference/client-libraries/v3/python.md
  content/influxdb/cloud-serverless/reference/client-libraries/v3/python.md
  content/influxdb/clustered/reference/client-libraries/v3/python.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

hotfix(wayfinding): make sure referrerHost is assigned in v3WayfindingModal function (fixes #5732)
  assets/js/v3-wayfinding.js
Due: prettier

docs(partitioning): enhance best practices and time part templates documentation
  content/influxdb/cloud-dedicated/admin/custom-partitions/_index.md
  content/influxdb/cloud-dedicated/admin/custom-partitions/best-practices.md
  content/influxdb/cloud-dedicated/admin/custom-partitions/partition-templates.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

Apply suggestions from code review
  content/influxdb/cloud-dedicated/admin/custom-partitions/_index.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

fix(partitioning): planning steps
  content/influxdb/cloud-dedicated/admin/custom-partitions/_index.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

fix(partitioning): week is not supported
  content/influxdb/cloud-dedicated/admin/custom-partitions/_index.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

rebuild homepage
  assets/styles/layouts/_article.scss
  assets/styles/layouts/_homepage.scss
  assets/styles/layouts/_sidebar.scss
  assets/styles/layouts/article/_feedback.scss
  assets/styles/product-overrides/chronograf.scss
  assets/styles/product-overrides/kapacitor.scss
  assets/styles/product-overrides/telegraf.scss
  assets/styles/styles-default.scss
  assets/styles/themes/_theme-dark.scss
  assets/styles/themes/_theme-light.scss
  assets/styles/themes/dark/chronograf.scss
  assets/styles/themes/dark/kapacitor.scss
  assets/styles/themes/dark/telegraf.scss
  assets/styles/themes/light/chronograf.scss
  assets/styles/themes/light/kapacitor.scss
  assets/styles/themes/light/telegraf.scss
  hugo.staging.yml
  hugo.yml
  layouts/index.html
  static/img/bg-texture-new.png
  static/img/hero-bg-light-1-diamond.png
Due: none

updated broken home links
  layouts/index.html
Due: none

restyle footer widgets
  assets/styles/layouts/_ask-ai-trigger.scss
  assets/styles/layouts/_custom-time-trigger.scss
  assets/styles/layouts/_footer-modal-triggers.scss
  assets/styles/layouts/_footer-widgets.scss
  assets/styles/styles-default.scss
  layouts/partials/footer.html
  layouts/partials/footer/ask-ai-trigger.html
  layouts/partials/footer/custom-time-trigger.html
  layouts/partials/footer/footer-modal-triggers.html
  layouts/partials/footer/widgets.html
  layouts/partials/footer/widgets/ask-ai-trigger.html
  layouts/partials/footer/widgets/custom-time-trigger.html
Due: none

updated time selector modal to use correct storage term
  layouts/partials/footer/modals.html
  layouts/partials/footer/modals/influxdb-gs-date-select.html
Due: none

minor style update
  assets/styles/layouts/_footer-widgets.scss
Due: none

hotfix: update cubo dark logo
  static/img/influx-logo-cubo-dark.png
Due: none

chore(v3): Migrate admin/custom-partitioning to shared content
  content/influxdb/cloud-dedicated/admin/custom-partitions/_index.md
  content/influxdb/cloud-dedicated/admin/custom-partitions/best-practices.md
  content/influxdb/cloud-dedicated/admin/custom-partitions/define-custom-partitions.md
  content/influxdb/cloud-dedicated/admin/custom-partitions/partition-templates.md
  content/influxdb/cloud-dedicated/admin/custom-partitions/view-partitions.md
  content/influxdb/clustered/admin/custom-partitions/_index.md
  content/influxdb/clustered/admin/custom-partitions/best-practices.md
  content/influxdb/clustered/admin/custom-partitions/define-custom-partitions.md
  content/influxdb/clustered/admin/custom-partitions/partition-templates.md
  content/influxdb/clustered/admin/custom-partitions/view-partitions.md
  content/shared/README.md
  content/shared/_index.md
  content/shared/v3-distributed-admin-custom-partitions/_index.md
  content/shared/v3-distributed-admin-custom-partitions/best-practices.md
  content/shared/v3-distributed-admin-custom-partitions/define-custom-partitions.md
  content/shared/v3-distributed-admin-custom-partitions/partition-templates.md
  content/shared/v3-distributed-admin-custom-partitions/view-partitions.md
Due: cloud-dedicated-lint, clustered-lint, cloud-dedicated-pytest, clustered-pytest

fix(partitioning): add hyphen and links
  content/influxdb/cloud-dedicated/admin/custom-partitions/_index.md
  content/influxdb/cloud-dedicated/reference/glossary.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

fix(v3): add comment to support shortcode
  content/shared/v3-distributed-admin-custom-partitions/view-partitions.md
Due: none
