Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-markdown-content:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

Apply suggestions from code review
  .github/CODEOWNERS
Due: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

Update Azure Blob Storage access key parameter (#6753)
  content/influxdb3/enterprise/get-started/multi-server.md
Due: lint-markdown-content, enterprise-lint

chore(repo): add CODEOWNERS file for automated review assignments (#6752)
  .github/CODEOWNERS
Due: none

docs: add API path pages implementation plan
  docs/plans/2025-01-20-api-path-pages-implementation.md
Due: none

fix(security): Update tar to version 7.5.3 and related dependencies
  package.json
  yarn.lock
Due: none

Update package.json
  package.json
Due: none

feat(api): add match-type support to RapiDoc Mini component
  assets/js/components/rapidoc-mini.ts
Due: build-typescript, prettier, lint-js

fix(security): Update tar to version 7.5.3 and related dependencies (#6754)
  package.json
  yarn.lock
Due: none

feat(api): add path page layout for multi-method endpoints
  layouts/api-path/path.html
Due: none

refactor(version-detector): DRY up localhost:8086 references
  assets/js/influxdb-version-detector.ts
Due: build-typescript, prettier, lint-js

feat(ask-ai): Support source group IDs in Ask AI trigger links
  assets/js/ask-ai-trigger.js
Due: eslint-debug-check, prettier, lint-js

fix(version-detector): use centralized getGrafanaLink for all Grafana URLs
  assets/js/influxdb-version-detector.ts
Due: build-typescript, prettier, lint-js

feat(version-detector): Present context-aware links
  .ci/vale/styles/InfluxDataDocs/Branding.yml
  .ci/vale/styles/config/vocabularies/InfluxDataDocs/accept.txt
  assets/js/influxdb-version-detector.ts
  assets/styles/components/_influxdb-version-detector.scss
  content/enterprise_influxdb/v1/tools/grafana.md
  content/influxdb/v1/tools/grafana.md
  content/shared/influxdb-v2/tools/grafana.md
  content/shared/v3-process-data/visualize/grafana.md
  cypress/e2e/content/influxdb-version-detector.cy.js
  cypress/support/commands.js
  cypress/support/influxdb-version-detector-commands.js
  eslint.config.js
  layouts/partials/footer/modals/influxdb-version-detector.html
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, build-typescript, prettier, lint-js

feat(api): add RapiDoc path partial for multi-method rendering
  layouts/partials/api/rapidoc-path.html
Due: none

feat(api): replace operation pages with path pages
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

fix(api): update tag page links to use path URLs with anchors
  layouts/api/list.html
Due: none

fix(api): update all-endpoints links to use path URLs with anchors
  layouts/partials/api/all-endpoints-list.html
Due: none

chore(api): remove operation layout (replaced by path layout)
  layouts/api-operation/operation.html
Due: none

chore(api): update compiled generation script
  api-docs/scripts/dist/generate-openapi-articles.js
Due: prettier

fix(api): correct all-endpoints links to use path URLs with anchors
  layouts/partials/api/all-endpoints-list.html
Due: none

test(api): update tests for path-based API pages
  cypress/e2e/content/api-reference.cy.js
Due: prettier

chore(ci): Refactor InfluxDB 3 token handling to use JSON secrets
  .claude/skills/influxdb3-test-setup/SKILL.md
  compose.yaml
  test/scripts/init-influxdb3.sh
Due: lint-markdown-instructions, lint-instructions

docs(influxdb3): Update token documentation for Docker Compose and CI/CD
  content/shared/influxdb3-admin/tokens/admin/preconfigured.md
  content/shared/influxdb3-get-started/setup.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): Update token documentation for Docker Compose and CI/CD (#6756)
  content/shared/influxdb3-admin/tokens/admin/preconfigured.md
  content/shared/influxdb3-get-started/setup.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Revert "docs(influxdb3): Update token documentation for Docker Compose and CI…"
  content/shared/influxdb3-admin/tokens/admin/preconfigured.md
  content/shared/influxdb3-get-started/setup.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Revert "docs(influxdb3): Update token documentation for Docker Compose and CI…" (#6757)
  content/shared/influxdb3-admin/tokens/admin/preconfigured.md
  content/shared/influxdb3-get-started/setup.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

test(influxdb3): Improve InfluxDB 3 Core and Enterprise Docker services (#6750)
  .claude/skills/influxdb3-test-setup/SKILL.md
  .github/copilot-instructions.md
  compose.yaml
  test/scripts/init-influxdb3.sh
Due: lint-markdown-instructions, lint-instructions

docs: add API tag pages design document
  docs/plans/2025-01-21-api-tag-pages-design.md
Due: none

chore(controller): add eula and eula acceptance to telegraf controller docs
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/reference/eula.md
  layouts/partials/header/title.html
Due: lint-markdown-content, telegraf-lint

fix(telegraf): link to plugins docs in the docs, update plugin cards
  assets/styles/layouts/article/_telegraf-plugins.scss
  layouts/shortcodes/telegraf/plugins.html
Due: none

fix(telegraf): link to plugins docs in the docs, update plugin cards (#6761)
  assets/styles/layouts/article/_telegraf-plugins.scss
  layouts/shortcodes/telegraf/plugins.html
Due: none

chore: Update openapi spec for Dedicated/Clustered Database and table Rename, Undelete endpoints
  api-docs/influxdb3/cloud-dedicated/management/openapi.yml
  api-docs/influxdb3/clustered/management/openapi.yml
Due: none

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
