Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

Update content/telegraf/controller/high-availability/deploy.md
  content/telegraf/controller/high-availability/deploy.md
Due: deprecated-markdown-patterns, telegraf-lint

fix(influxdb3): add missing --cluster-id to Enterprise wal-plugin example
  content/shared/influxdb3-plugins/plugins-library/examples/wal-plugin.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

test(api): add Cypress coverage for allOf/oneOf schema rendering
  cypress/e2e/content/api-reference.cy.js
Due: prettier

style(test): apply prettier formatting to api-reference.cy.js
  cypress/e2e/content/api-reference.cy.js
Due: prettier

sync(api): update InfluxDB OSS v2 spec
  api-docs/influxdb/v2/influxdb-oss-v2-openapi.yaml
Due: none

chore(deps): update Vale to v3.19.0
  .ci/vale/vale.sh
Due: none

fix(test): correct schema name in trigger comment
  cypress/e2e/content/api-reference.cy.js
Due: prettier

fix(api): mark node_specific trigger example as Enterprise-only
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

fix(api): render trigger_settings fields, correct ApiNodeSpec schema
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
  assets/styles/layouts/_api-operations.scss
  layouts/partials/api/code-sample.html
  layouts/partials/api/example-value.html
  layouts/partials/api/request-body.html
  layouts/partials/api/resolve-schema.html
  layouts/partials/api/schema.html
Due: none

fix(api): clarify trigger arguments
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

docs(api): use neutral trigger example
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

test(api): cover object schema examples
  cypress/e2e/content/api-reference.cy.js
Due: prettier

fix(v2,cloud): remove stale Save as template export option
  content/influxdb/cloud/process-data/manage-tasks/export-task.md
  content/influxdb/cloud/visualize-data/dashboards/export-dashboard.md
  content/influxdb/cloud/visualize-data/variables/export-variable.md
  content/influxdb/v2/process-data/manage-tasks/export-task.md
  content/influxdb/v2/visualize-data/dashboards/export-dashboard.md
  content/influxdb/v2/visualize-data/variables/export-variable.md
Due: deprecated-markdown-patterns, cloud-lint, v2-lint

Potential fix for pull request finding
  content/influxdb/v2/visualize-data/dashboards/export-dashboard.md
Due: deprecated-markdown-patterns, v2-lint

Apply batched suggestions from code review
  content/influxdb/cloud/process-data/manage-tasks/export-task.md
  content/influxdb/cloud/visualize-data/dashboards/export-dashboard.md
  content/influxdb/cloud/visualize-data/variables/export-variable.md
  content/influxdb/v2/process-data/manage-tasks/export-task.md
  content/influxdb/v2/visualize-data/variables/export-variable.md
Due: deprecated-markdown-patterns, cloud-lint, v2-lint

fix(influxdb-v1): remove retired _internal stat fields from measurements-internal
  content/influxdb/v1/about_the_project/release-notes.md
  content/shared/influxdb-v1/administration/monitor/measurements-internal.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

sync(client-libs): update release notes
  content/shared/influxdb-client-libraries-reference/v3/release-notes/javascript.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(search): record Algolia distinct index setting decision
  DOCS-SEARCH.md
Due: lint-markdown-instructions, lint-instructions

docs(openapi): update Core and Enterprise specs to v3.11.2
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

docs(explorer): add exec-plan for install version routing
  docs/exec-plans/2026-09-02-explorer-install-version-routing.md
Due: none

docs(explorer): link PR in exec-plan status
  docs/exec-plans/2026-09-02-explorer-install-version-routing.md
Due: none

docs(explorer): add version availability conventions and release readiness plan
  AGENTS.md
  DOCS-VERSION-AVAILABILITY.md
  docs/exec-plans/2026-09-02-explorer-v110-release-readiness.md
Due: lint-markdown-instructions, lint-instructions

docs(explorer): tighten release readiness plan
  docs/exec-plans/2026-09-02-explorer-v110-release-readiness.md
Due: none

Update content/shared/influxdb-client-libraries-reference/v3/release-notes/javascript.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/javascript.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint
