Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

docs: add InfluxDB 3 Rust client docs
  .github/workflows/sync-client-library-release-notes.yml
  content/influxdb3/cloud-dedicated/reference/client-libraries/v3/rust/_index.md
  content/influxdb3/cloud-dedicated/reference/client-libraries/v3/rust/release-notes.md
  content/influxdb3/cloud-serverless/reference/client-libraries/v3/rust/_index.md
  content/influxdb3/cloud-serverless/reference/client-libraries/v3/rust/release-notes.md
  content/influxdb3/clustered/reference/client-libraries/v3/rust/_index.md
  content/influxdb3/clustered/reference/client-libraries/v3/rust/release-notes.md
  content/influxdb3/core/reference/client-libraries/v3/rust/_index.md
  content/influxdb3/core/reference/client-libraries/v3/rust/release-notes.md
  content/influxdb3/enterprise/reference/client-libraries/v3/rust/_index.md
  content/influxdb3/enterprise/reference/client-libraries/v3/rust/release-notes.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/rust.md
  content/shared/influxdb-client-libraries-reference/v3/rust.md
  helper-scripts/client-libraries/README.md
  helper-scripts/client-libraries/clients.js
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, prettier

Added initial cloud files
  PLATFORM_REFERENCE.md
  content/influxdb3/cloud/_index.md
  data/products.yml
  layouts/partials/header/title.html
  layouts/partials/topnav/product-selector.html
Due: deprecated-markdown-patterns, build-agent-instructions, lint-markdown-instructions, lint-instructions

Updated Tip and CTA to reflect early access
  content/influxdb3/cloud/_index.md
Due: deprecated-markdown-patterns

feat(influxdb3): scaffold InfluxDB 3 Cloud section pages
  content/influxdb3/cloud/admin/_index.md
  content/influxdb3/cloud/get-started/_index.md
  content/influxdb3/cloud/query-data/_index.md
  content/influxdb3/cloud/reference/_index.md
  content/influxdb3/cloud/visualize-data/_index.md
  content/influxdb3/cloud/write-data/_index.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7337 🛫
  pr-preview/pr-7337/index.html
Due: none

Potential fix for pull request finding
  content/influxdb3/cloud/_index.md
Due: deprecated-markdown-patterns

feat(influxdb3): document InfluxDB 3 Cloud as an Enterprise deployment option
  content/influxdb3/enterprise/install/cloud.md
Due: deprecated-markdown-patterns, enterprise-lint

docs: add InfluxDB 3 Rust client docs (#7337)
  .github/workflows/sync-client-library-release-notes.yml
  content/influxdb3/cloud-dedicated/reference/client-libraries/v3/rust/_index.md
  content/influxdb3/cloud-dedicated/reference/client-libraries/v3/rust/release-notes.md
  content/influxdb3/cloud-serverless/reference/client-libraries/v3/rust/_index.md
  content/influxdb3/cloud-serverless/reference/client-libraries/v3/rust/release-notes.md
  content/influxdb3/clustered/reference/client-libraries/v3/rust/_index.md
  content/influxdb3/clustered/reference/client-libraries/v3/rust/release-notes.md
  content/influxdb3/core/reference/client-libraries/v3/rust/_index.md
  content/influxdb3/core/reference/client-libraries/v3/rust/release-notes.md
  content/influxdb3/enterprise/reference/client-libraries/v3/rust/_index.md
  content/influxdb3/enterprise/reference/client-libraries/v3/rust/release-notes.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/rust.md
  content/shared/influxdb-client-libraries-reference/v3/rust.md
  helper-scripts/client-libraries/README.md
  helper-scripts/client-libraries/clients.js
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, prettier

Deploy preview for PR 7335 🛫
  pr-preview/pr-7335/index.html
  pr-preview/pr-7335/influxdb3/enterprise/admin/license/index.html
Due: none

docs(influxdb3): add v3.10.0 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): warn that 3.10 catalog migration is one-way
  content/shared/influxdb3-admin/upgrade.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): strip issue/PR refs from Enterprise v3.10.0 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): replace stale backup-restore caveat with two-path intro
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): document Enterprise backup and restore commands
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): frame manual backup-restore as the Parquet-engine path
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): add Enterprise row-level deletion guide
  content/influxdb3/enterprise/admin/delete-data.md
Due: deprecated-markdown-patterns, enterprise-lint

fix(enterprise): replace self-service Trial/At-Home license switch steps with support contact (#7335)
  content/influxdb3/enterprise/admin/license.md
Due: deprecated-markdown-patterns, enterprise-lint

Apply suggestions from code review
  content/shared/identify-version.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): add user auth + RBAC docs and security hub
  content/influxdb3/enterprise/admin/security.md
  content/influxdb3/enterprise/admin/security/_index.md
  content/influxdb3/enterprise/admin/security/harden-the-host.md
  content/influxdb3/enterprise/admin/security/manage-users.md
  content/influxdb3/enterprise/reference/internals/rbac.md
Due: deprecated-markdown-patterns, enterprise-lint

Deploy preview for PR 7352 🛫
  pr-preview/pr-7352/index.html
Due: none

Apply suggestions from code review
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7352 🛫
  pr-preview/pr-7352/index.html
  pr-preview/pr-7352/influxdb3/enterprise/admin/backup-restore/index.html
Due: none

chore: update notes
  content/shared/influxdb3-admin/upgrade.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(controller): document public endpoints settings
  content/telegraf/controller/settings.md
Due: deprecated-markdown-patterns, telegraf-lint

Deploy preview for PR 7349 🛫
  pr-preview/pr-7349/index.html
  pr-preview/pr-7349/influxdb3/core/admin/upgrade/index.html
  pr-preview/pr-7349/influxdb3/core/release-notes/index.html
  pr-preview/pr-7349/influxdb3/enterprise/admin/upgrade/index.html
  pr-preview/pr-7349/influxdb3/enterprise/release-notes/index.html
Due: none

feat(telegraf): standardize Enterprise contact-sales CTA and menu
  assets/styles/layouts/article/_buttons.scss
  config/_default/hugo.yml
  content/telegraf/controller/_index.md
  content/telegraf/controller/telegraf-enterprise/_index.md
  content/telegraf/controller/telegraf-enterprise/apply-license.md
  content/telegraf/controller/telegraf-enterprise/license-enforcement.md
  content/telegraf/controller/telegraf-enterprise/manage-license.md
  content/telegraf/controller/telegraf-enterprise/troubleshoot.md
  content/telegraf/enterprise/_index.md
  content/telegraf/enterprise/contact-sales.md
  content/telegraf/v1/_index.md
  content/telegraf/v1/enterprise.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, telegraf-lint

docs(influxdb3): clarify what an Enterprise backup includes
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): drop PR reference links from 3.10 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): refine backup/restore node and auth requirements
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
