Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

fix(api): improve API section index children display
  layouts/_default/api.html
  layouts/api/section.html
  layouts/partials/api/section-children.html
Due: none

feat(api): normalize API paths with version prefixes
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/generate-openapi-articles.ts
  layouts/api/list.html
  layouts/partials/api/normalize-path.html
  layouts/partials/sidebar/api-menu-items.html
  scripts/deploy-staging.sh
Due: prettier

fix(api): render children listing on API section index pages
  layouts/_default/api.html
  layouts/api/list.html
  layouts/api/section.html
Due: none

feat(api): Fix API reference tag-based section template (#6686)
  .claude/agents/ts-component-dev.md
  .claude/skills/hugo-template-dev/SKILL.md
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/generate-openapi-articles.ts
  assets/js/components/api-toc.ts
  layouts/_default/api.html
Due: lint-markdown-instructions, lint-instructions, build-typescript, prettier, lint-js

feat(api): improve auth UX with sessionStorage and fix styling issues
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  assets/js/components/api-auth-input.ts
  assets/js/components/api-toc.ts
  assets/js/components/rapidoc-mini.ts
  assets/styles/layouts/_api-security-schemes.scss
  layouts/partials/api/rapidoc-mini.html
Due: build-typescript, prettier, lint-js

feat(api): improve parent index pages with intro and children listing
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

chore: remove design files
  docs/plans/2024-12-10-standalone-operation-pages-design.md
  docs/plans/2024-12-12-api-code-review-fixes.md
  docs/plans/2025-01-10-docs-cli-workflow-design.md
Due: none

fix(api-docs): resolve duplicate api/api paths and menu warnings
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

Deploy preview for PR 6622 🛫
  pr-preview/pr-6622/index.html
Due: none

fix(v2): broken links to Grafana guides for Cloud and OSS v2. - Add expected aliases (more descriptive URLs) for the Grafana pages
  content/influxdb/cloud/tools/grafana.md
  content/influxdb/v2/tools/grafana.md
Due: lint-markdown-content, cloud-lint, v2-lint

fix(v2): broken links to Grafana guides for Cloud and OSS v2. (#6692)
  content/influxdb/cloud/tools/grafana.md
  content/influxdb/v2/tools/grafana.md
Due: lint-markdown-content, cloud-lint, v2-lint

refactor(version-detector): DRY up localhost:8086 references
  assets/js/influxdb-version-detector.ts
Due: build-typescript, prettier, lint-js

fix(version-detector): use centralized getGrafanaLink for all Grafana URLs
  assets/js/influxdb-version-detector.ts
Due: build-typescript, prettier, lint-js

docs(influxdb3): document log-filter values and targeted filtering
  .gitignore
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-write-guides/troubleshoot.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(sync): extract style attributes from HTML comments
  helper-scripts/influxdb3-plugins/port_to_docs.js
Due: prettier

Deploy preview for PR 6695 🛫
  pr-preview/pr-6695/index.html
Due: none

feat: Clustered release 20251218-1946608
  content/influxdb3/clustered/reference/release-notes/clustered.md
  static/downloads/clustered-release-artifacts/20251218-1946608/app-instance-schema.json
  static/downloads/clustered-release-artifacts/20251218-1946608/example-customer.yml
Due: lint-markdown-content, clustered-lint

Update content/influxdb3/clustered/reference/release-notes/clustered.md
  content/influxdb3/clustered/reference/release-notes/clustered.md
Due: lint-markdown-content, clustered-lint

chore(telegraf-controller): add telegraf controller architectural overview
  content/telegraf/controller/reference/_index.md
  content/telegraf/controller/reference/architecture.md
Due: lint-markdown-content, telegraf-lint

Apply suggestions from code review
  content/telegraf/controller/reference/architecture.md
Due: lint-markdown-content, telegraf-lint

Deploy preview for PR 6699 🛫
  pr-preview/pr-6699/index.html
  pr-preview/pr-6699/telegraf/controller/reference/architecture/index.html
Due: none

Deploy preview for PR 6699 🛫
  pr-preview/pr-6699/index.html
Due: none

chore(telegraf-controller): add telegraf controller architectural overview (#6699)
  content/telegraf/controller/reference/_index.md
  content/telegraf/controller/reference/architecture.md
Due: lint-markdown-content, telegraf-lint

chore: update docs to reflect DB undelete addition
  content/influxdb3/cloud-dedicated/admin/databases/delete.md
  content/influxdb3/cloud-dedicated/admin/databases/undelete.md
Due: lint-markdown-content, cloud-dedicated-lint

fix: tab names in generated Markdown (#6698)
  scripts/lib/markdown-converter.cjs
Due: none

feat(sync): extract style attributes from HTML comments (#6694)
  helper-scripts/influxdb3-plugins/port_to_docs.js
Due: prettier

chore: consolidate points
  content/influxdb3/cloud-dedicated/admin/databases/undelete.md
Due: lint-markdown-content, cloud-dedicated-lint

Deploy preview for PR 6700 🛫
  pr-preview/pr-6700/index.html
  pr-preview/pr-6700/influxdb3/cloud-dedicated/admin/databases/undelete/index.html
Due: none

Update content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6695 🛫
  pr-preview/pr-6695/index.html
  pr-preview/pr-6695/influxdb3/core/reference/config-options/index.html
  pr-preview/pr-6695/influxdb3/enterprise/reference/config-options/index.html
Due: none
