Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

fix(v2,cloud): remove stale Save as template export option
  content/influxdb/cloud/process-data/manage-tasks/export-task.md
  content/influxdb/cloud/visualize-data/dashboards/export-dashboard.md
  content/influxdb/cloud/visualize-data/variables/export-variable.md
  content/influxdb/v2/process-data/manage-tasks/export-task.md
  content/influxdb/v2/visualize-data/dashboards/export-dashboard.md
  content/influxdb/v2/visualize-data/variables/export-variable.md
Due: deprecated-markdown-patterns, cloud-lint, v2-lint

docs(api): document Parquet cleanup and upgrade retry endpoints
  content/influxdb3/enterprise/reference/cli/influxdb3/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/manage/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/manage/cleanup-parquet.md
  content/influxdb3/enterprise/reference/cli/influxdb3/manage/retry-upgrade-to-pacha-tree.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(api): document deleting a profile while it's still capturing
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/delete.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(plugins): plan scheduled sync for InfluxDB 3 plugin docs
  PLAN.md
  docs/adr/0004-plugin-sync-ownership-seam.md
  helper-scripts/influxdb3-plugins/README.md
Due: lint-markdown-instructions, lint-instructions

sync(client-libs): update release notes
  content/shared/influxdb-client-libraries-reference/v3/release-notes/javascript.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(release-notes): add v3.11.3 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix: Core on 3.11.2
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(release-notes): edit v3.11.3 entry for style and consistency
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(release-notes): clarify deferred snapshot recovery entry
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): document deferred snapshot recovery in-flight limit
  content/influxdb3/enterprise/reference/storage-engine-config-options.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): name the deferred snapshot recovery environment variable
  content/influxdb3/enterprise/reference/storage-engine-config-options.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(enterprise): document integrated Explorer WASM UI in 3.11
  content/influxdb3/enterprise/visualize-data/explorer.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(enterprise): link get-started setup to integrated Explorer
  content/shared/influxdb3-get-started/setup.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): correct the L1-L4 level tuning heading
  content/influxdb3/enterprise/reference/storage-engine-config-options.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(enterprise): roll back v1.13.0 content to the v1.12.4 state
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/administration/configure/security/enable_tls.md
  content/enterprise_influxdb/v1/administration/manage/clusters/replacing-nodes.md
  content/enterprise_influxdb/v1/tools/influx-cli/_index.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/_index.md
  content/shared/influxdb-v1/administration/monitor/measurements-internal.md
  content/shared/influxdb-v1/tools/influx-cli/use-influx-cli.md
  data/notifications.yaml
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(v1): repair broken same-page anchors in v1 content
  content/enterprise_influxdb/v1/administration/configure/security/enable_tls.md
  content/shared/influxdb-v1/administration/monitor/measurements-internal.md
  content/shared/influxdb-v1/tools/influx-cli/use-influx-cli.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
Due: deprecated-markdown-patterns

fix(enterprise): remove v1.13.0 references the rollback left stranded
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/shared/influxdb-v1/administration/monitor/measurements-internal.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(enterprise): hide the v1.13.0 release-note details
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
Due: deprecated-markdown-patterns

docs(release-notes): add v3.11.4, v3.10.6, and v3.9.13 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
