Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

fix(shortcodes): resolve influxdb/host-url in api-endpoint shortcode
  layouts/shortcodes/api-endpoint.html
Due: none

Fix message about connecting to local InfluxDB with ExplorerUI
  content/influxdb3/explorer/get-started.md
  content/influxdb3/explorer/install.md
Due: deprecated-markdown-patterns, explorer-lint

fix(influxdb3): render URL scheme in host placeholders
  DOCS-SHORTCODES.md
  content/shared/influxdb3-admin/databases/create.md
  content/shared/influxdb3-admin/databases/delete.md
  content/shared/influxdb3-admin/databases/list.md
  content/shared/influxdb3-admin/tables/create.md
  content/shared/influxdb3-admin/tables/delete.md
  content/shared/influxdb3-admin/tables/list.md
  content/shared/influxdb3-internals/data-retention.md
  content/shared/influxdb3-plugins/_index.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

test(shortcodes): cover host-url in api endpoint
  content/example.md
  cypress/e2e/content/host-url-shortcode.cy.js
Due: prettier

fix(explorer): clarify host-gateway instructions
  content/influxdb3/explorer/get-started.md
  content/influxdb3/explorer/install.md
Due: deprecated-markdown-patterns, explorer-lint

Deploy preview for PR 7516 🛫
  pr-preview/pr-7516/index.html
Due: none

Potential fix for pull request finding
  content/influxdb3/explorer/install.md
Due: deprecated-markdown-patterns, explorer-lint

Potential fix for pull request finding
  content/influxdb3/explorer/get-started.md
Due: deprecated-markdown-patterns, explorer-lint

docs(influxdb3-cloud): add draft release announcement notification
  data/notifications.yaml
Due: none

Deploy preview for PR 7509 🛫
  pr-preview/pr-7509/index.html
  pr-preview/pr-7509/js/main.js
Due: prettier

Deploy preview for PR 7338 🛫
  pr-preview/pr-7338/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/databases/create/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/databases/delete/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/databases/list/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/tables/create/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/tables/delete/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/tables/list/index.html
  pr-preview/pr-7338/influxdb3/cloud/get-started/query/index.html
  pr-preview/pr-7338/influxdb3/cloud/query-data/execute-queries/influxdb-v1-api/index.html
  pr-preview/pr-7338/influxdb3/cloud/query-data/execute-queries/influxdb-v3-api/index.html
  pr-preview/pr-7338/influxdb3/cloud/write-data/http-api/v3-write-lp/index.html
  pr-preview/pr-7338/influxdb3/core/admin/databases/create/index.html
  pr-preview/pr-7338/influxdb3/core/admin/databases/delete/index.html
  pr-preview/pr-7338/influxdb3/enterprise/admin/databases/create/index.html
  pr-preview/pr-7338/influxdb3/enterprise/admin/databases/delete/index.html
  pr-preview/pr-7338/js/main.js
Due: prettier

fix(influxdb3-cloud): render https host URLs via host-url shortcode
  content/influxdb3/cloud/admin/databases/create.md
  content/influxdb3/cloud/admin/databases/delete.md
  content/influxdb3/cloud/admin/databases/list.md
  content/influxdb3/cloud/admin/tables/create.md
  content/influxdb3/cloud/admin/tables/delete.md
  content/influxdb3/cloud/admin/tables/list.md
  content/influxdb3/cloud/query-data/execute-queries/influxdb-v1-api.md
  content/influxdb3/cloud/query-data/execute-queries/influxdb-v3-api.md
  content/shared/influxdb3-get-started/setup-cloud.md
  content/shared/influxdb3-query-guides/execute-queries/influxdb3-api.md
  content/shared/influxdb3-write-guides/http-api/v3-write-lp.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7338 🛫
  pr-preview/pr-7338/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/databases/create/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/databases/delete/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/databases/list/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/tables/create/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/tables/delete/index.html
  pr-preview/pr-7338/influxdb3/cloud/admin/tables/list/index.html
  pr-preview/pr-7338/influxdb3/cloud/query-data/execute-queries/influxdb-v1-api/index.html
  pr-preview/pr-7338/influxdb3/cloud/query-data/execute-queries/influxdb-v3-api/index.html
  pr-preview/pr-7338/js/main.js
Due: prettier

Deploy preview for PR 7338 🛫
  pr-preview/pr-7338/index.html
Due: none

Added initial cloud files
  content/influxdb3/cloud/_index.md
  data/products.yml
  layouts/partials/header/title.html
  layouts/partials/topnav/product-selector.html
Due: deprecated-markdown-patterns, build-agent-instructions

Updated Tip and CTA to reflect early access
  content/influxdb3/cloud/_index.md
Due: deprecated-markdown-patterns

Potential fix for pull request finding
  content/influxdb3/cloud/_index.md
Due: deprecated-markdown-patterns

feat(influxdb3): scaffold InfluxDB 3 Cloud section pages
  content/influxdb3/cloud/admin/_index.md
  content/influxdb3/cloud/get-started/_index.md
  content/influxdb3/cloud/query-data/_index.md
  content/influxdb3/cloud/reference/_index.md
  content/influxdb3/cloud/visualize-data/_index.md
  content/influxdb3/cloud/write-data/_index.md
Due: deprecated-markdown-patterns

fix(influxdb3-cloud): redirect not-yet-published links to a request-information page
  content/influxdb3/cloud/request-information.md
  content/shared/influxdb3-query-guides/influxql/aggregate-select.md
  content/shared/influxdb3-query-guides/influxql/troubleshoot.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3-cloud): resolve link-check fragment errors via redirect anchors
  .ci/link-checker/production.lycherc.toml
  content/influxdb3/cloud/request-information.md
Due: deprecated-markdown-patterns

Apply suggestions from code review
  content/influxdb3/cloud/_index.md
  content/influxdb3/cloud/admin/tokens/_index.md
  content/influxdb3/cloud/admin/users/_index.md
  content/influxdb3/cloud/admin/users/admin-ui.md
  content/influxdb3/cloud/query-data/execute-queries/influxdb3-cli.md
  content/influxdb3/cloud/query-data/sql/basic-query.md
  content/influxdb3/cloud/reference/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/_index.md
  content/influxdb3/cloud/request-information.md
  content/shared/influxdb3-get-started/setup-cloud.md
  content/shared/influxdb3-query-guides/influxql/troubleshoot.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Potential fix for pull request finding
  content/influxdb3/cloud/admin/databases/create.md
Due: deprecated-markdown-patterns

docs(influxdb3-cloud): use OAuth device-code login in Cloud setup
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/shared/influxdb3-get-started/setup-cloud.md
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3-cloud): complete the Get started landing page (#7388)
  content/influxdb3/cloud/get-started/_index.md
Due: deprecated-markdown-patterns

Update content/influxdb3/cloud/_index.md
  content/influxdb3/cloud/_index.md
Due: deprecated-markdown-patterns

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
