Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

Deploy preview for PR 6883 🛫
  pr-preview/pr-6883/index.html
Due: none

docs: refine autoscaling documentation for clarity and detail
  content/influxdb3/cloud-dedicated/admin/autoscaling.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint

chore(aagents): Allow use of yq and htmlq for parsing.
  .claude/settings.json
Due: none

chore(deps): yarn upgrade
  yarn.lock
Due: none

docs(skill): update content-editing skill for hosted MCP server
  .claude/skills/content-editing/SKILL.md
Due: lint-markdown-instructions, lint-instructions

fix: link resource terms
  content/shared/influxdb3-admin/mcp-server.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(deps): remove unused @vvago/vale npm package
  .claude/skills/content-editing/SKILL.md
  DOCS-TESTING.md
  package.json
  yarn.lock
Due: lint-markdown-instructions, lint-instructions

Apply suggestions from code review
  .claude/skills/content-editing/SKILL.md
  DOCS-TESTING.md
Due: lint-markdown-instructions, lint-instructions

Deploy preview for PR 6885 🛫
  pr-preview/pr-6885/index.html
Due: none

Update .claude/skills/content-editing/SKILL.md
  .claude/skills/content-editing/SKILL.md
Due: lint-markdown-instructions, lint-instructions

docs: refine autoscaling documentation for clarity and detail
  static/img/influxdb3/cloud-dedicated-admin-ui-autoscaling.png
Due: none

docs: enhance clarity and detail in autoscaling documentation
  content/influxdb3/cloud-dedicated/admin/autoscaling.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint

[WIP] Add autoscaling configuration guide for InfluxDB Cloud Dedicated (#6886)
  content/influxdb3/cloud-dedicated/admin/autoscaling.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint

fix(ci): fix Vale linting setup and add dependency update checks
  .ci/vale/vale.sh
  .claude/skills/content-editing/SKILL.md
  .claude/skills/vale-rule-config/SKILL.md
  .github/workflows/check-pinned-deps.yml
  AGENTS.md
  DOCS-CONTRIBUTING.md
  DOCS-TESTING.md
Due: lint-markdown-instructions, lint-instructions

Update .ci/vale/vale.sh
  .ci/vale/vale.sh
Due: none

Update .github/workflows/check-pinned-deps.yml
  .github/workflows/check-pinned-deps.yml
Due: none

Apply Jason's suggestions
  content/influxdb3/cloud-dedicated/admin/autoscaling.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint

Apply suggestion from @jstirnaman
  content/influxdb3/cloud-dedicated/admin/autoscaling.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint

docs: add autoscaling configuration guide for InfluxDB Cloud Dedicated (#6881)
  content/influxdb3/cloud-dedicated/admin/autoscaling.md
  static/img/influxdb3/cloud-dedicated-admin-ui-autoscaling.png
Due: deprecated-markdown-patterns, cloud-dedicated-lint

fix: resolve code review findings for PR #6885
  .github/workflows/check-pinned-deps.yml
  DOCS-CONTRIBUTING.md
  DOCS-TESTING.md
Due: lint-markdown-instructions, lint-instructions

Deploy preview for PR 6885 🛫
  pr-preview/pr-6885/img/influxdb3/cloud-dedicated-admin-ui-autoscaling.png
  pr-preview/pr-6885/index.html
  pr-preview/pr-6885/influxdb3/cloud-dedicated/admin/mcp-server/index.html
Due: none

Apply suggestions from code review
  .ci/vale/vale.sh
  DOCS-CONTRIBUTING.md
Due: lint-markdown-instructions, lint-instructions

fix: add content links and InfluxDB documentation MCP server instructions (#6885)
  .ci/vale/vale.sh
  .claude/settings.json
  .claude/skills/content-editing/SKILL.md
  .claude/skills/vale-rule-config/SKILL.md
  .github/workflows/check-pinned-deps.yml
  AGENTS.md
  DOCS-CONTRIBUTING.md
  DOCS-TESTING.md
  content/shared/influxdb3-admin/mcp-server.md
  package.json
  yarn.lock
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat: add doc review pipeline implementation plan
  .github/DOC-REVIEW-PIPELINE-PLAN.md
Due: none

fix: split product:v3 into v3-monolith and v3-distributed labels
  .github/DOC-REVIEW-PIPELINE-PLAN.md
Due: none

feat: define agent instruction file architecture in Phase 3
  .github/DOC-REVIEW-PIPELINE-PLAN.md
Due: none

feat(ci): add ShellCheck linter to Lefthook pre-commit hooks
  .ci/shellcheck/shellcheck.sh
  .shellcheckrc
  lefthook.yml
Due: none

Update .shellcheckrc
  .shellcheckrc
Due: none
