Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-markdown-content:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

docs(influxdb3): Add Docker Compose and CI/CD examples for preconfigured (#6777)
  content/influxdb3/enterprise/admin/tokens/resource/preconfigured.md
  content/shared/influxdb3-admin/tokens/admin/preconfigured.md
  content/shared/influxdb3-get-started/setup.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(feature-boards): embed product feature boards in the docs (#6767)
  assets/styles/layouts/_sidebar.scss
  assets/styles/layouts/_top-nav.scss
  content/influxdb3/core/feature-board.md
  content/influxdb3/enterprise/feature-board.md
  layouts/_default/feature-board.html
  layouts/partials/sidebar.html
  layouts/partials/sidebar/feature-board.html
  layouts/partials/topnav.html
Due: lint-markdown-content, core-lint, enterprise-lint

refactor(docs-cli): fix unused code and env var naming
  scripts/docs-cli/__tests__/product-resolver.test.js
  scripts/docs-cli/commands/audit.js
  scripts/docs-cli/lib/api-auditor.js
Due: prettier

Update link-checker to v1.5.0 in PR workflow
  .github/workflows/pr-link-check.yml
Due: none

Deploy preview for PR 6768 🛫
  pr-preview/pr-6768/index.html
Due: none

fix(platform): broken link
  content/platform/monitoring/influxdata-platform/monitoring-dashboards.md
Due: lint-markdown-content

chore(ci): upgrade link-checker to v1.5.0 and improve reporting (#6768)
  .ci/link-checker/default.lycherc.toml
  .ci/link-checker/production.lycherc.toml
  .github/workflows/pr-link-check.yml
  .github/workflows/sync-link-checker-binary.yml
  content/enterprise_influxdb/v1/flux/get-started/_index.md
  content/enterprise_influxdb/v1/flux/get-started/query-influxdb.md
  content/influxdb/v1/flux/get-started/_index.md
  content/influxdb/v1/flux/get-started/query-influxdb.md
  content/influxdb/v1/flux/guides/query-fields.md
  content/influxdb/v2/install/upgrade/v1-to-v2/migrate-cqs.md
  content/influxdb/v2/install/upgrade/v2-to-v2.md
  content/platform/monitoring/influxdata-platform/monitoring-dashboards.md
Due: lint-markdown-content, v2-lint

chore(scripts): JS style fix
  scripts/puppeteer/inspect-page.js
Due: prettier

Enforce errors-only validation for plugin READMEs in workflow
  .github/workflows/sync-plugins.yml
Due: none

Enforce errors-only validation for plugin READMEs in workflow (#6782)
  .github/workflows/sync-plugins.yml
Due: none

sync: update plugin documentation from influxdb3_plugins@main
  content/shared/influxdb3-plugins/plugins-library/official/basic-transformation.md
  content/shared/influxdb3-plugins/plugins-library/official/downsampler.md
  package.json
  yarn.lock
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Apply suggestions from code review
  content/shared/influxdb3-plugins/plugins-library/official/basic-transformation.md
  content/shared/influxdb3-plugins/plugins-library/official/downsampler.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Apply suggestions from code review
  content/telegraf/controller/reference/eula.md
Due: lint-markdown-content, telegraf-lint

docs(influxdb3): sync official plugin documentation from influxdb3_plugins
  content/shared/influxdb3-plugins/plugins-library/official/basic-transformation.md
  content/shared/influxdb3-plugins/plugins-library/official/downsampler.md
  content/shared/influxdb3-plugins/plugins-library/official/forecast-error-evaluator.md
  content/shared/influxdb3-plugins/plugins-library/official/influxdb-to-iceberg.md
  content/shared/influxdb3-plugins/plugins-library/official/mad-check.md
  content/shared/influxdb3-plugins/plugins-library/official/notifier.md
  content/shared/influxdb3-plugins/plugins-library/official/prophet-forecasting.md
  content/shared/influxdb3-plugins/plugins-library/official/state-change.md
  content/shared/influxdb3-plugins/plugins-library/official/stateless-adtk-detector.md
  content/shared/influxdb3-plugins/plugins-library/official/system-metrics.md
  content/shared/influxdb3-plugins/plugins-library/official/threshold-deadman-checks.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(plugins): preserve "InfluxDB 3 Explorer" in product shortcode replacement
  helper-scripts/influxdb3-plugins/port_to_docs.js
Due: prettier

docs(influxdb3): regenerate plugin docs with fixes and source updates
  content/shared/influxdb3-plugins/plugins-library/official/basic-transformation.md
  content/shared/influxdb3-plugins/plugins-library/official/downsampler.md
  content/shared/influxdb3-plugins/plugins-library/official/forecast-error-evaluator.md
  content/shared/influxdb3-plugins/plugins-library/official/influxdb-to-iceberg.md
  content/shared/influxdb3-plugins/plugins-library/official/mad-check.md
  content/shared/influxdb3-plugins/plugins-library/official/notifier.md
  content/shared/influxdb3-plugins/plugins-library/official/prophet-forecasting.md
  content/shared/influxdb3-plugins/plugins-library/official/state-change.md
  content/shared/influxdb3-plugins/plugins-library/official/stateless-adtk-detector.md
  content/shared/influxdb3-plugins/plugins-library/official/system-metrics.md
  content/shared/influxdb3-plugins/plugins-library/official/threshold-deadman-checks.md
  helper-scripts/influxdb3-plugins/port_to_docs.js
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, prettier

docs(influxdb3): sync plugin docs with improved parameter sections
  content/shared/influxdb3-plugins/plugins-library/official/notifier.md
  content/shared/influxdb3-plugins/plugins-library/official/prophet-forecasting.md
  content/shared/influxdb3-plugins/plugins-library/official/state-change.md
  content/shared/influxdb3-plugins/plugins-library/official/stateless-adtk-detector.md
  content/shared/influxdb3-plugins/plugins-library/official/threshold-deadman-checks.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(api): remove empty "Migrate from InfluxDB v1 or v2" tag page
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
Due: none

feat(api): add migration pages, remove Redoc links, standardize x-influxdata-related
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  content/influxdb3/core/get-started/migrate-from-influxdb-v1-v2.md
  content/influxdb3/enterprise/get-started/migrate-from-influxdb-v1-v2.md
  content/shared/influxdb3-get-started/migrate-from-influxdb-v1-v2.md
  data/article_data/influxdb/influxdb3_core/ref/articles.json
  data/article_data/influxdb/influxdb3_core/ref/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/ref/articles.json
  data/article_data/influxdb/influxdb3_enterprise/ref/articles.yml
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(api): enhance OpenAPI article generation scripts
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
Due: prettier

feat(api): update API layouts and UI components
  assets/js/components/api-toc.ts
  assets/styles/layouts/_api-security-schemes.scss
  layouts/LLMS-TXT-README.md
  layouts/api/single.html
  layouts/partials/api/all-endpoints-list.html
  layouts/partials/api/section-children.html
  layouts/partials/api/security-schemes.html
  layouts/partials/sidebar/api-menu-items.html
Due: lint-markdown-instructions, lint-instructions, build-typescript, prettier, lint-js

feat(api): add api_path and alt_link_key to products.yml
  data/products.yml
Due: build-agent-instructions

fix(api): normalize Quick start tag name across products
  api-docs/influxdb3/cloud-dedicated/.config.yml
  api-docs/influxdb3/cloud-dedicated/management/content/tag-groups.yml
  api-docs/influxdb3/cloud-dedicated/v2/content/tag-groups.yml
  api-docs/influxdb3/cloud-serverless/v2/content/tag-groups.yml
  api-docs/influxdb3/clustered/.config.yml
  api-docs/influxdb3/clustered/management/content/tag-groups.yml
  api-docs/influxdb3/clustered/v2/content/tag-groups.yml
Due: none

chore(api): update v2 products specs and article data
  api-docs/influxdb/cloud/v2/ref.yml
  api-docs/influxdb/v2/v2/ref.yml
  data/article_data/influxdb/cloud-v2/articles.json
  data/article_data/influxdb/cloud-v2/articles.yml
  data/article_data/influxdb/oss-v2/articles.json
  data/article_data/influxdb/oss-v2/articles.yml
Due: none

refactor(api): remove old reference/api index pages
  content/influxdb/cloud/reference/api/_index.md
  content/influxdb/v2/reference/api/_index.md
  content/influxdb3/cloud-dedicated/reference/api/_index.md
  content/influxdb3/cloud-serverless/reference/api/_index.md
  content/influxdb3/clustered/reference/api/_index.md
Due: lint-markdown-content, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, v2-lint

style(api): apply prettier formatting to compiled JS
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
Due: prettier

style(api): apply prettier formatting to TypeScript source
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

feat(api): add InfluxDB v1 API reference specs
  api-docs/enterprise_influxdb/v1/v1/ref.yml
  api-docs/influxdb/v1/v1/ref.yml
Due: none

Fix SQL date part identifier: day → doy (day of the year) (#6791)
  content/shared/sql-reference/functions/time-and-date.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

refactor(api): generate article_data at build time instead of tracking
  .gitignore
  api-docs/generate-api-docs.sh
  data/article_data/influxdb/cloud-dedicated/articles.json
  data/article_data/influxdb/cloud-dedicated/articles.yml
  data/article_data/influxdb/cloud-serverless/articles.json
  data/article_data/influxdb/cloud-serverless/articles.yml
  data/article_data/influxdb/cloud-v2/articles.json
  data/article_data/influxdb/cloud-v2/articles.yml
  data/article_data/influxdb/clustered/articles.json
  data/article_data/influxdb/clustered/articles.yml
  data/article_data/influxdb/influxdb3_core/articles.json
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_core/ref/articles.json
  data/article_data/influxdb/influxdb3_core/ref/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.json
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/ref/articles.json
  data/article_data/influxdb/influxdb3_enterprise/ref/articles.yml
  data/article_data/influxdb/oss-v2/articles.json
  data/article_data/influxdb/oss-v2/articles.yml
Due: none

fix(docs): replace invalid page-link shortcode with markdown links
  content/shared/influxdb3-get-started/migrate-from-influxdb-v1-v2.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: add enterprise_influxdb API pages to gitignore
  .gitignore
Due: none

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
