Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

chore: Update openapi spec for Dedicated/Clustered Database and table Rename, Undelete endpoints (#6762)
  api-docs/influxdb3/cloud-dedicated/management/openapi.yml
  api-docs/influxdb3/clustered/management/openapi.yml
Due: none

Revise release notes for InfluxDB 3 catalog path structure (#6738)
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(feature-boards): embed product feature boards in the docs
  assets/styles/layouts/_sidebar.scss
  assets/styles/layouts/_top-nav.scss
  content/influxdb3/core/feature-board.md
  content/influxdb3/enterprise/feature-board.md
  layouts/_default/feature-board.html
  layouts/partials/sidebar.html
  layouts/partials/sidebar/feature-board.html
  layouts/partials/topnav.html
Due: lint-markdown-content, core-lint, enterprise-lint

Deploy preview for PR 6767 🛫
  pr-preview/pr-6767/index.html
Due: none

docs(influxdb3): Add Core to Enterprise upgrade documentation
  content/influxdb3/core/admin/mcp-server.md
  content/influxdb3/core/admin/upgrade-to-enterprise.md
  content/influxdb3/core/admin/upgrade.md
  content/influxdb3/enterprise/admin/license.md
  content/influxdb3/enterprise/admin/mcp-server.md
  content/influxdb3/enterprise/admin/upgrade-from-core.md
  content/influxdb3/enterprise/admin/upgrade.md
  content/shared/influxdb3-admin/upgrade-to-enterprise.md
  content/shared/influxdb3-admin/upgrade.md
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6758 🛫
  pr-preview/pr-6758/index.html
Due: none

fix(version-detector): centralize Grafana links and DRY up host examples (#6693)
  .ci/vale/styles/InfluxDataDocs/Branding.yml
  .ci/vale/styles/config/vocabularies/InfluxDataDocs/accept.txt
  assets/js/ask-ai-trigger.js
  assets/js/influxdb-version-detector.ts
  assets/styles/components/_influxdb-version-detector.scss
  content/enterprise_influxdb/v1/tools/grafana.md
  content/influxdb/v1/tools/grafana.md
  content/shared/influxdb-v2/tools/grafana.md
  content/shared/v3-process-data/visualize/grafana.md
  cypress/e2e/content/influxdb-version-detector.cy.js
  cypress/support/commands.js
  cypress/support/influxdb-version-detector-commands.js
  eslint.config.js
  layouts/partials/footer/modals/influxdb-version-detector.html
Due: eslint-debug-check, lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, build-typescript, prettier, lint-js

chore(ci): upgrade link-checker to v1.3.1 and improve reporting
  .ci/link-checker/default.lycherc.toml
  .ci/link-checker/production.lycherc.toml
  .github/workflows/pr-link-check.yml
Due: none

fix(ci): fix sync-link-checker-binary workflow
  .github/workflows/sync-link-checker-binary.yml
Due: none

fix(ci): align workflow JSON parsing with link-checker v1.3.1 output
  .github/workflows/pr-link-check.yml
Due: none

fix: broken links from issues #6682, #6461
  content/enterprise_influxdb/v1/flux/get-started/_index.md
  content/enterprise_influxdb/v1/flux/get-started/query-influxdb.md
  content/influxdb/v1/flux/get-started/_index.md
  content/influxdb/v1/flux/get-started/query-influxdb.md
  content/influxdb/v1/flux/guides/query-fields.md
  content/influxdb/v2/install/upgrade/v1-to-v2/migrate-cqs.md
  content/influxdb/v2/install/upgrade/v2-to-v2.md
  content/platform/monitoring/influxdata-platform/monitoring-dashboards.md
Due: lint-markdown-content, v2-lint

Update content/influxdb/v1/flux/get-started/_index.md
  content/influxdb/v1/flux/get-started/_index.md
Due: lint-markdown-content

Deploy preview for PR 6768 🛫
  pr-preview/pr-6768/index.html
  pr-preview/pr-6768/influxdb/v1/flux/get-started/index.html
Due: none

fix(ci): reclassify file-not-found warnings as errors in link checker
  .ci/link-checker/production.lycherc.toml
  .github/workflows/pr-link-check.yml
  content/influxdb/v1/flux/get-started/_index.md
Due: lint-markdown-content

test(ci): intentionally broken fragment to test link-checker detection
  .ci/link-checker/production.lycherc.toml
  content/influxdb/v1/flux/get-started/query-influxdb.md
Due: lint-markdown-content

Deploy preview for PR 6768 🛫
  pr-preview/pr-6768/index.html
  pr-preview/pr-6768/influxdb/v1/flux/get-started/query-influxdb/index.html
Due: none

fix(ci): revert test fragment, document fragment checking limitation
  content/influxdb/v1/flux/get-started/query-influxdb.md
Due: lint-markdown-content

docs(influxdb3): Add Core to Enterprise upgrade documentation (#6758)
  content/influxdb3/core/admin/mcp-server.md
  content/influxdb3/core/admin/upgrade-to-enterprise.md
  content/influxdb3/core/admin/upgrade.md
  content/influxdb3/enterprise/admin/license.md
  content/influxdb3/enterprise/admin/mcp-server.md
  content/influxdb3/enterprise/admin/upgrade-from-core.md
  content/influxdb3/enterprise/admin/upgrade.md
  content/shared/influxdb3-admin/upgrade-to-enterprise.md
  content/shared/influxdb3-admin/upgrade.md
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

hotfix(influxdb3): Use "Enterprise" instead of shortcode in shared content
  content/shared/influxdb3-admin/upgrade-to-enterprise.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

hotfix(influxdb3): Use "Enterprise" instead of shortcode in shared (#6769)
  content/shared/influxdb3-admin/upgrade-to-enterprise.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): Add performance upgrade preview documentation for Enterprise
  content/influxdb3/enterprise/admin/pachatree/_index.md
  content/influxdb3/enterprise/admin/pachatree/configure.md
  content/influxdb3/enterprise/admin/pachatree/monitor.md
Due: lint-markdown-content, enterprise-lint

chore(ci): update link-checker to v1.4.0
  .github/workflows/pr-link-check.yml
Due: none

fix(influxdb3): Content improvements and site notification for performance preview
  content/influxdb3/enterprise/admin/pachatree/_index.md
  content/influxdb3/enterprise/admin/pachatree/monitor.md
  data/notifications.yaml
Due: lint-markdown-content, enterprise-lint

Update dependencies and resolutions for security and bug fixes
  package.json
  yarn.lock
Due: none

Update content/influxdb3/enterprise/admin/pachatree/_index.md
  content/influxdb3/enterprise/admin/pachatree/_index.md
Due: lint-markdown-content, enterprise-lint
