Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-copilot-instructions, lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-copilot-instructions: any of: CONTRIBUTING.md
  lint-markdown: any of: {CONTRIBUTING.md,content/*.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

chore(influxdb3): Update config-options from ent3 help output
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown

feat(influxdb3): add install package command documentation
  .github/instructions/influxdb3-code-placeholders.instructions.md
  content/influxdb3/core/reference/cli/influxdb3/install/_index.md
  content/influxdb3/core/reference/cli/influxdb3/install/package.md
  content/influxdb3/enterprise/reference/cli/influxdb3/install/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/install/package.md
  content/shared/influxdb3-cli/create/trigger.md
  content/shared/influxdb3-cli/install/_index.md
  content/shared/influxdb3-cli/install/package.md
Due: lint-markdown

Apply suggestions from code review
  content/telegraf/v1/release-notes.md
  data/telegraf_plugins.yml
Due: lint-markdown, telegraf-lint

chore(telegraf): Replace archive URLs in release notes with current plugin URLs
  content/telegraf/v1/release-notes.md
Due: lint-markdown, telegraf-lint

Adding an extra period at the end for a test
  content/influxdb3/cloud-dedicated/admin/users/_index.md
Due: lint-markdown

Fix formatting of role permissions note from trial
  content/influxdb3/cloud-dedicated/admin/users/_index.md
Due: lint-markdown

Fix formatting of role permissions note
  content/influxdb3/cloud-dedicated/admin/users/_index.md
Due: lint-markdown

chore(ci): update link-checker to v1.2.4
  .github/workflows/pr-link-check.yml
Due: none

docs(enterprise): add v1.12.2 release notes
  .github/pull_request_template/influxdb_v1_release.md
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  data/products.yml
Due: lint-markdown

feat(release-notes): InfluxDB 3 Core/Enterprise v3.4.2 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown

chore(influxdb3): v3.4.2 Bump latest patch
  data/products.yml
Due: none

docs(enterprise): add operational improvements to v3.4.2 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown

fix(ent1): rebuild indexes after deleting series files (closes influxdata/DAR/460)
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
Due: lint-markdown

fix(v1): Include tls1.2 in supported TLS versions. I verified supported versions and default values in the Enterprise and OSS source.
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
Due: lint-markdown

chore(clustered): Clustered install: provide instructions for renewing a license and recovering from an expired license (closes influxdata/DAR/issues/511)
  content/influxdb3/clustered/install/set-up-cluster/licensing.md
Due: lint-markdown

Updated config.yml
  .circleci/config.yml
Due: none

docs(influxdb): update OSS v1.12.2 release notes
  content/influxdb/v1/about_the_project/release-notes.md
  data/products.yml
Due: lint-markdown

Update content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/about_the_project/release-notes.md
Due: lint-markdown

fix(influxdb3): document exec-mem-pool-bytes usage for data persistence
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-internals-reference/durability.md
  content/shared/influxdb3-write-guides/troubleshoot.md
Due: lint-markdown

fix(influxdb3): broken links to no-sync
  content/shared/influxdb3-internals-reference/durability.md
Due: lint-markdown

fix(clustered): add license renewal troubleshooting steps
  content/influxdb3/clustered/admin/licensing.md
Due: lint-markdown

feat(influxdb3): add TypeScript version detector component
  .github/agents/typescript-hugo-agent.md
  .gitignore
  assets/js/influxdb-version-detector.ts
  assets/js/main.js
  assets/styles/components/_influxdb-version-detector.scss
  assets/styles/styles-default.scss
  content/shared/influxdb3-visualize/grafana.md
  content/test-version-detector.md
  eslint.config.js
  layouts/shortcodes/influxdb-version-detector.html
  lefthook.yml
  package.json
  tsconfig.json
Due: eslint-debug-check, lint-markdown, prettier, lint-js

Updating changelog
  content/telegraf/v1/release-notes.md
Due: lint-markdown, telegraf-lint

Updating plugin list
  data/telegraf_plugins.yml
Due: none

Updating product version
  data/products.yml
Due: none

chore(sql): adds new syntax for sql approx functions introduced in datafusion 49
  content/shared/sql-reference/functions/aggregate.md
Due: lint-markdown

hotfix(v3): clustered alt_links incorrectly prefixed with cloud-, making version selector links "cloud-clustered".
  content/influxdb3/core/visualize-data/grafana.md
  content/influxdb3/core/visualize-data/tableau.md
  content/influxdb3/enterprise/visualize-data/grafana.md
  content/influxdb3/enterprise/visualize-data/tableau.md
Due: lint-markdown

uploading general grafana configuration screenshots
  static/img/influxdb3/general-grafana-add-connection.png
  static/img/influxdb3/general-grafana-add-datasource.png
Due: none

uploading grafana cloud dedicated screenshots
  static/img/influxdb3/cloud-dedicated-grafana-product-dropdown-influxql.png
  static/img/influxdb3/cloud-dedicated-grafana-product-dropdown-sql.png
  static/img/influxdb3/general-grafana-add-datasource-selection.png
  static/img/influxdb3/general-grafana-configuration-connection.png
  static/img/influxdb3/general-grafana-product-dropdown.png
Due: none

uploading cloud-serverless-grafana screenshots
  static/img/influxdb3/cloud-serverless-grafana-product-dropdown-flux.png
  static/img/influxdb3/cloud-serverless-grafana-product-dropdown-influxql.png
  static/img/influxdb3/cloud-serverless-grafana-product-dropdown-sql.png
Due: none

uploading cluster and enterprise configuration screenshots
  static/img/influxdb3/cluster-grafana-product-dropdown-influxql.png
  static/img/influxdb3/cluster-grafana-product-dropdown-sql.png
  static/img/influxdb3/enterprise-v1-grafana-product-dropdown-flux.png
  static/img/influxdb3/enterprise-v1-grafana-product-dropdown-influxql.png
Due: none

uploading enterprise v3 and OSS v1 config screenshots
  static/img/influxdb3/OSS-v1-grafana-product-dropdown-flux.png
  static/img/influxdb3/OSS-v1-grafana-product-dropdown-influxql.png
  static/img/influxdb3/enterprise-v3-grafana-product-dropdown-influxql.png
  static/img/influxdb3/enterprise-v3-grafana-product-dropdown-sql.png
Due: none

Update content/shared/sql-reference/functions/aggregate.md
  content/shared/sql-reference/functions/aggregate.md
Due: lint-markdown

Release influxctl v2.10.4
  data/products.yml
Due: none

Update package.json
  package.json
Due: none

Update layouts/shortcodes/influxdb-version-detector.html
  layouts/shortcodes/influxdb-version-detector.html
Due: none

Apply suggestions from code review
  .gitignore
  assets/styles/components/_influxdb-version-detector.scss
Due: none
