Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

docs(ci): tighten the pr-ai-artifacts-check header comment
  .github/workflows/pr-ai-artifacts-check.yml
Due: none

fix(ci): resolve code review findings for PR #7614
  .agents/skills/docs-testing/SKILL.md
  .github/workflows/pr-ai-artifacts-check.yml
  package.json
Due: none

Claude/pr 7614 circleci review xns5yq (#7670)
  .circleci/config.yml
  .github/actions/build-docs-site/action.yml
  .github/workflows/pr-ai-artifacts-check.yml
  .github/workflows/release-rust-markdown-converter.yml
  package.json
  scripts/__tests__/check-jsonld-links.test.mjs
  scripts/build-rust-converter.js
  scripts/check-jsonld-links.js
  scripts/deploy-production.sh
Due: prettier

docs(agents): ban magic product values in layout templates
  .agents/instructions/layouts.md
  .agents/skills/hugo-template-dev/SKILL.md
  .claude/rules/layouts.md
  .github/instructions/layouts.instructions.md
  AGENTS.md
  layouts/AGENTS.md
Due: lint-markdown-instructions, lint-instructions

refactor(layouts): resolve products from data, not hardcoded lists
  data/products.yml
  layouts/partials/article/feedback.html
  layouts/partials/footer/search.html
  layouts/partials/header/coveo-meta-data.html
  layouts/partials/header/search-attributes.html
  layouts/partials/product/get-context.html
  layouts/partials/product/is-latest.html
Due: build-agent-instructions

fix(ai): preserve unversioned Telegraf corpus paths
  assets/js/__tests__/product-labels.test.mjs
  assets/js/utils/product-labels.js
  data/products.yml
  layouts/partials/product/content-path.html
  scripts/__tests__/corpus-paths.test.mjs
Due: eslint-debug-check, build-agent-instructions, prettier, lint-js

chore(products): resolve product from page instead of inferring from path
  .agents/instructions/layouts.md
  .agents/skills/hugo-template-dev/SKILL.md
  .claude/rules/layouts.md
  .github/instructions/layouts.instructions.md
  assets/js/__tests__/doc-search.test.mjs
  assets/js/__tests__/product-labels.test.mjs
  assets/js/components/doc-search.js
  assets/js/utils/product-labels.js
  cypress/e2e/content/article-feedback.cy.js
  data/products.yml
  layouts/AGENTS.md
  layouts/partials/article/feedback.html
  layouts/partials/footer/search.html
  layouts/partials/header/coveo-meta-data.html
  layouts/partials/header/search-attributes.html
  layouts/partials/product/content-path.html
  layouts/partials/product/get-context.html
  layouts/partials/product/is-latest.html
  scripts/__tests__/corpus-paths.test.mjs
Due: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, prettier, lint-js

Potential fix for pull request finding
  content/influxdb3/cloud-serverless/reference/sample-data.md
Due: deprecated-markdown-patterns, cloud-serverless-lint

Apply suggestion from @jstirnaman
  content/influxdb3/cloud-serverless/reference/sample-data.md
Due: deprecated-markdown-patterns, cloud-serverless-lint

fix(influxdb3): repair broken link fragments
  content/influxdb3/cloud-serverless/reference/sample-data.md
  content/influxdb3/enterprise/admin/tokens/resource/list.md
  content/shared/influxdb3-admin/tokens/_index.md
  content/shared/influxdb3-admin/tokens/admin/create.md
  content/shared/influxdb3-admin/tokens/admin/list.md
  content/shared/influxdb3-admin/tokens/admin/regenerate.md
  content/shared/influxdb3-sample-data/sample-data-dist.md
  content/shared/influxdb3-write-guides/http-api/compatibility-apis.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

test(shortcodes): cover InfluxDB 3 Cloud host URL
  cypress/e2e/content/host-url-shortcode.cy.js
Due: prettier

fix(systemctl): use product-key for service and container names in shared docs
  content/shared/influxdb3-admin/backup-restore.md
  content/shared/influxdb3-admin/upgrade.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): version-anchor option renames and additions in config-options
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(controller): document configuration groups
  content/telegraf/controller/agents/_index.md
  content/telegraf/controller/audit-logs/_index.md
  content/telegraf/controller/config-groups/_index.md
  content/telegraf/controller/config-groups/aliases.md
  content/telegraf/controller/config-groups/manage.md
  content/telegraf/controller/config-groups/use.md
  content/telegraf/controller/configs/aliases.md
  content/telegraf/controller/configs/constants.md
  content/telegraf/controller/configs/substitute-values.md
  content/telegraf/controller/configs/use.md
  content/telegraf/controller/labels/_index.md
  content/telegraf/controller/reference/glossary.md
Due: deprecated-markdown-patterns, telegraf-lint

fix: resolve code review findings for PR #6775
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/influxdb/v1/administration/config.md
Due: deprecated-markdown-patterns

docs(controller): fixed broken anchor link
  content/telegraf/controller/configs/use.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): add HA topology diagram and protection scope to Controller HA
  content/telegraf/controller/high-availability/_index.md
Due: deprecated-markdown-patterns, telegraf-lint

Change comments in line protocol syntax to be self-descriptive `#`
  content/shared/v3-line-protocol.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): add --plugin-repo to serve CLI reference
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
Due: deprecated-markdown-patterns, core-lint, enterprise-lint

fix(platform): update and link the InfluxDB _internal measurements page
  content/enterprise_influxdb/v1/administration/monitor/_index.md
  content/influxdb/v1/administration/server_monitoring.md
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
Due: deprecated-markdown-patterns

docs(controller): add upgrade guide
  content/telegraf/controller/high-availability/deploy.md
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/install/troubleshoot.md
  content/telegraf/controller/install/uninstall.md
  content/telegraf/controller/install/upgrade.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(platform): update callout syntax and remove outdated blog links
  .pr.md
  content/enterprise_influxdb/v1/administration/monitor/_index.md
  content/influxdb/v1/administration/server_monitoring.md
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
Due: deprecated-markdown-patterns

fix(influxdb3): warn about unauthenticated admin token endpoint during setup
  content/shared/influxdb3-get-started/setup.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): document overwrite timing semantics for Core and Enterprise
  content/shared/v3-line-protocol.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): warn at the point where the setup guide exposes the server
  content/shared/influxdb3-get-started/setup.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): couch the 30-minute figure as a recommendation
  content/shared/v3-line-protocol.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): drop compactor-absence explanation from Core warning
  content/shared/v3-line-protocol.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): address Copilot review findings
  content/shared/v3-line-protocol.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Apply suggestions from code review
  content/shared/influxdb3-get-started/setup.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(platform): verify InfluxDB _internal fields against live v1.12.4
  .pr.md
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
Due: deprecated-markdown-patterns

docs(influxdb3): apply review feedback on warning structure and wording
  content/shared/v3-line-protocol.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): prevent authorization paragraph splitting
  content/shared/influxdb3-get-started/setup.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(platform): restore _internal fields wrongly removed as absent
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
Due: deprecated-markdown-patterns

Update content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
Due: deprecated-markdown-patterns

Update content/influxdb/v1/administration/server_monitoring.md
  content/influxdb/v1/administration/server_monitoring.md
Due: deprecated-markdown-patterns
