Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

fix(ci): correct deploy archive checksum path
  .circleci/config.yml
Due: none

ci(pr-template): update general template checklist
  .github/pull_request_template/general.md
Due: lint-markdown-instructions, lint-instructions

docs(skills): add issue-investigation skill
  .agents/skills/issue-investigation/SKILL.md
  .claude/commands/fix-github-issue.md
  AGENTS.md
Due: lint-markdown-instructions, lint-instructions

ci: Add a general pull request template
  .github/pull_request_template/general.md
Due: lint-markdown-instructions, lint-instructions

docs(exec-plans): record GitHub merge queue rollout plan (#7412)
  docs/exec-plans/2026-06-29-gh-merge-queue-master.md
Due: none

ci: remove defunct pr-autoupdate workflow (#7412)
  .github/workflows/pr-autoupdate.yml
Due: none

docs(exec-plans): link PR #7434 in merge queue rollout plan
  docs/exec-plans/2026-06-29-gh-merge-queue-master.md
Due: none

docs(release-notes): add v3.10.2 and v3.9.7 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(resources): suppress /resources/ from AI crawlers and site search
  content/resources/_index.md
  layouts/index.html
  layouts/partials/header/search-attributes.html
  layouts/partials/sidebar.html
Due: deprecated-markdown-patterns

fix(content): correct code-block language tags and syntax errors
  content/influxdb/cloud/admin/buckets/bucket-schema.md
  content/influxdb/cloud/admin/buckets/create-bucket.md
  content/influxdb/cloud/admin/buckets/update-bucket.md
  content/influxdb3/cloud-serverless/admin/buckets/manage-explicit-bucket-schemas.md
  content/influxdb3/cloud-serverless/admin/buckets/update-bucket.md
  content/telegraf/v1/data_formats/output/splunkmetric.md
  content/telegraf/v1/input-plugins/bind.md
  content/telegraf/v1/input-plugins/ctrlx_datalayer.md
  content/telegraf/v1/input-plugins/docker.md
  content/telegraf/v1/input-plugins/jti_openconfig_telemetry.md
  content/telegraf/v1/input-plugins/opcua_listener.md
  content/telegraf/v1/input-plugins/postgresql_extensible.md
  content/telegraf/v1/input-plugins/win_eventlog.md
  content/telegraf/v1/output-plugins/azure_data_explorer.md
  content/telegraf/v1/output-plugins/clarify.md
  content/telegraf/v1/output-plugins/dynatrace.md
  content/telegraf/v1/output-plugins/elasticsearch.md
  content/telegraf/v1/output-plugins/zabbix.md
  content/telegraf/v1/processor-plugins/converter.md
  content/telegraf/v1/processor-plugins/lookup.md
  content/telegraf/v1/secretstore-plugins/http.md
Due: deprecated-markdown-patterns, cloud-lint, cloud-serverless-lint, telegraf-lint

docs(exec-plans): expand merge queue plan with Phase 2 spec
  docs/exec-plans/2026-06-29-gh-merge-queue-master.md
Due: none

fix(ci): fix lint-codeblocks noise and false positives
  scripts/ci/lint-codeblocks.mjs
  scripts/lib/codeblock-normalizer.mjs
Due: none

Deploy preview for PR 7437 🛫
  pr-preview/pr-7437/index.html
Due: none

Deploy preview for PR 7437 🛫
  pr-preview/pr-7437/index.html
  pr-preview/pr-7437/influxdb/cloud/admin/buckets/bucket-schema/index.html
  pr-preview/pr-7437/influxdb/cloud/admin/buckets/create-bucket/index.html
  pr-preview/pr-7437/influxdb/cloud/admin/buckets/update-bucket/index.html
  pr-preview/pr-7437/influxdb3/cloud-serverless/admin/buckets/manage-explicit-bucket-schemas/index.html
  pr-preview/pr-7437/influxdb3/cloud-serverless/admin/buckets/update-bucket/index.html
  pr-preview/pr-7437/telegraf/v1/data_formats/output/splunkmetric/index.html
  pr-preview/pr-7437/telegraf/v1/input-plugins/bind/index.html
  pr-preview/pr-7437/telegraf/v1/input-plugins/ctrlx_datalayer/index.html
  pr-preview/pr-7437/telegraf/v1/input-plugins/docker/index.html
  pr-preview/pr-7437/telegraf/v1/input-plugins/jti_openconfig_telemetry/index.html
  pr-preview/pr-7437/telegraf/v1/input-plugins/opcua_listener/index.html
  pr-preview/pr-7437/telegraf/v1/input-plugins/postgresql_extensible/index.html
  pr-preview/pr-7437/telegraf/v1/input-plugins/win_eventlog/index.html
  pr-preview/pr-7437/telegraf/v1/output-plugins/azure_data_explorer/index.html
  pr-preview/pr-7437/telegraf/v1/output-plugins/clarify/index.html
  pr-preview/pr-7437/telegraf/v1/output-plugins/dynatrace/index.html
  pr-preview/pr-7437/telegraf/v1/output-plugins/elasticsearch/index.html
  pr-preview/pr-7437/telegraf/v1/output-plugins/zabbix/index.html
  pr-preview/pr-7437/telegraf/v1/processor-plugins/converter/index.html
  pr-preview/pr-7437/telegraf/v1/processor-plugins/lookup/index.html
  pr-preview/pr-7437/telegraf/v1/secretstore-plugins/http/index.html
Due: none

chore(resources): redirect /resources/videos/ to influxdata.com/_resources/
  content/resources/videos/_index.md
  layouts/_default/redirect.html
Due: deprecated-markdown-patterns

docs(flux): migrate 3 valid resources how-to guides into flux/v0
  content/flux/v0/process-data/_index.md
  content/flux/v0/process-data/assign-custom-states.md
  content/flux/v0/process-data/construct-json-with-reduce.md
  content/flux/v0/query-data/select-data-by-hour.md
  content/resources/how-to-guides/reduce-to-construct-JSON.md
  content/resources/how-to-guides/select-hours-from-data.md
Due: deprecated-markdown-patterns

chore(resources): redirect 3 non-migratable how-to guides
  content/resources/how-to-guides/alert-to-zapier.md
  content/resources/how-to-guides/late-arriving-data.md
  content/resources/how-to-guides/state-changes-across-task-executions.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7439 🛫
  pr-preview/pr-7439/flux/v0/process-data/assign-custom-states/index.html
  pr-preview/pr-7439/flux/v0/process-data/construct-json-with-reduce/index.html
  pr-preview/pr-7439/flux/v0/process-data/index.html
  pr-preview/pr-7439/flux/v0/query-data/select-data-by-hour/index.html
  pr-preview/pr-7439/index.html
  pr-preview/pr-7439/resources/how-to-guides/alert-to-zapier/index.html
  pr-preview/pr-7439/resources/how-to-guides/late-arriving-data/index.html
  pr-preview/pr-7439/resources/how-to-guides/reduce-to-construct-JSON/index.html
  pr-preview/pr-7439/resources/how-to-guides/select-hours-from-data/index.html
  pr-preview/pr-7439/resources/how-to-guides/state-changes-across-task-executions/index.html
Due: none

docs(controller): document PUBLIC_* URL and CORS options
  content/telegraf/controller/reference/config-options.md
  content/telegraf/controller/reference/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): document PUBLIC_* URL and CORS options (#7440)
  content/telegraf/controller/reference/config-options.md
  content/telegraf/controller/reference/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

chore(rc-downloads): update telegraf controller 1.0.1 SHAs
  data/tc_downloads.yml
Due: none
