Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

feat(api-docs): add lifecycle and deprecated operation badges
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  assets/styles/layouts/_api-operations.scss
  layouts/partials/api/all-endpoints-list.html
  layouts/partials/api/operation.html
Due: prettier

fix(api-docs): let operation summary shrink in endpoint cards
  assets/styles/layouts/_api-layout.scss
Due: none

content(api-docs): sync core/enterprise specs with query-group lifecycle
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

fix(api-docs): fix contrast on not-operational lifecycle badge
  assets/styles/layouts/_api-operations.scss
Due: none

test(api-docs): add e2e coverage for lifecycle badges
  cypress/e2e/content/api-reference.cy.js
Due: prettier

feat(ci): auto-label issues from referenced docs URLs
  .github/LABEL_GUIDE.md
  .github/scripts/label-issue.js
  .github/scripts/test-label-issue.js
  .github/workflows/auto-label-issues.yml
Due: prettier

chore(deps): update Vale to v3.17.0
  .ci/vale/vale.sh
Due: none

fix(api-docs): remove /health from InfluxDB 3 Cloud spec
  api-docs/influxdb3/cloud/influxdb3-cloud-openapi.yaml
  api-docs/influxdb3/cloud/tags.yml
Due: none

docs(influxdb3): add Processing Engine Python API reference
  .ci/vale/styles/config/vocabularies/InfluxDataDocs/accept.txt
  content/influxdb3/core/plugins/python-api-reference.md
  content/influxdb3/enterprise/plugins/python-api-reference.md
  content/shared/influxdb3-plugins/python-api-reference.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: change to GitHub-style alert block
  content/enterprise_influxdb/v1/administration/configure/security/enable_tls.md
Due: deprecated-markdown-patterns

chore: change to GitHub-style alert block
  content/enterprise_influxdb/v1/administration/manage/clusters/replacing-nodes.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7523 🛫
  pr-preview/pr-7523/enterprise_influxdb/v1/administration/configure/security/enable_tls/index.html
  pr-preview/pr-7523/enterprise_influxdb/v1/administration/manage/clusters/replacing-nodes/index.html
  pr-preview/pr-7523/index.html
Due: none

docs(influxdb3): apply review suggestions to Python API reference
  content/influxdb3/core/plugins/python-api-reference.md
  content/influxdb3/enterprise/plugins/python-api-reference.md
  content/shared/influxdb3-plugins/python-api-reference.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(api-docs): call out /health unsupported on InfluxDB 3 Cloud
  api-docs/influxdb3/cloud/influxdb3-cloud-openapi.yaml
  api-docs/influxdb3/cloud/tags.yml
Due: none

docs(influxdb3): correct Python API reference to match validated server behavior
  content/shared/influxdb3-plugins/python-api-reference.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): clarify resource token endpoint availability
  api-docs/influxdb3/cloud/influxdb3-cloud-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

docs(api-docs): document OpenAPI spec sources per product
  .agents/instructions/api-docs.md
  .claude/rules/api-docs.md
  .github/instructions/api-docs.instructions.md
  api-docs/AGENTS.md
  api-docs/README.md
Due: lint-markdown-instructions, lint-instructions

docs(influxdb3-cloud): add API reference spec scoped to CLI feature set
  api-docs/influxdb3/cloud/.config.yml
  api-docs/influxdb3/cloud/content/info.yml
  api-docs/influxdb3/cloud/content/page.yml
  api-docs/influxdb3/cloud/content/servers.yml
  api-docs/influxdb3/cloud/influxdb3-cloud-openapi.yaml
  api-docs/influxdb3/cloud/tags.yml
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/post-process-specs.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/post-process-specs.ts
Due: prettier

docs(influxdb3-cloud): add line protocol stub, fix spec for PachaTree
  api-docs/influxdb3/cloud/influxdb3-cloud-openapi.yaml
  content/influxdb3/cloud/reference/syntax/line-protocol.md
Due: deprecated-markdown-patterns

ci(pr-preview): use released Rust converter
  .github/workflows/pr-preview.yml
  .github/workflows/release-rust-markdown-converter.yml
  scripts/build-rust-converter.js
Due: prettier

fix: CVE-2026-13149 security vulnerability
  .yarn/install-state.gz
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

ci(converter): pin local prebuilt release
  .github/workflows/pr-preview.yml
  .github/workflows/release-rust-markdown-converter.yml
  scripts/build-rust-converter.js
  scripts/rust-markdown-converter/.gitignore
Due: prettier

docs(converter): explain local prebuilt setup
  scripts/README.md
  scripts/build-rust-converter.js
Due: prettier

fix(ci): release converter loader
  .github/workflows/pr-preview.yml
  .github/workflows/release-rust-markdown-converter.yml
  scripts/build-rust-converter.js
Due: prettier

docs(chronograf): clarify connection name
  content/influxdb3/core/visualize-data/chronograf.md
  content/influxdb3/enterprise/visualize-data/chronograf.md
Due: deprecated-markdown-patterns, core-lint, enterprise-lint
