Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

test(api-docs): align post-process outputs
  api-docs/scripts/test-post-process-specs.ts
  docs/plans/plan-issue-6939.md
Due: prettier

feat(tc-download): add gated download for telegraf controller
  assets/js/content-interactions.js
  assets/js/main.js
  assets/js/tc-downloads.js
  assets/styles/layouts/_article.scss
  assets/styles/layouts/_modals.scss
  assets/styles/layouts/article/_tc-downloads.scss
  assets/styles/layouts/modals/_tc-downloads.scss
  content/telegraf/controller/install/_index.md
  data/tc_downloads.yml
  layouts/partials/footer/modals.html
  layouts/partials/footer/modals/tc-downloads.html
  layouts/shortcodes/telegraf/tc-downloads.html
Due: deprecated-markdown-patterns, eslint-debug-check, telegraf-lint, prettier, lint-js

test(tc-download): add Cypress E2E tests for gated downloads
  cypress/e2e/content/tc-downloads.cy.js
Due: prettier

Deploy preview for PR 6940 🛫
  pr-preview/pr-6940/index.html
Due: none

fix: warn instead of block on yarn audit failures for non-default branches
  lefthook.yml
Due: none

fix: warn instead of block on yarn audit failures for non-default branches (#6943)
  lefthook.yml
Due: none

test(api-docs): align post-process outputs (#6942)
  api-docs/scripts/test-post-process-specs.ts
  docs/plans/plan-issue-6939.md
Due: prettier

fix(api-docs): use actual spec path in post-processor log labels
  api-docs/scripts/post-process-specs.ts
Due: prettier

feat(tc-download): add gated download for telegraf controller (#6940)
  assets/js/content-interactions.js
  assets/js/main.js
  assets/js/tc-downloads.js
  assets/styles/layouts/_article.scss
  assets/styles/layouts/_modals.scss
  assets/styles/layouts/article/_tc-downloads.scss
  assets/styles/layouts/modals/_tc-downloads.scss
  content/telegraf/controller/install/_index.md
  cypress/e2e/content/tc-downloads.cy.js
  data/tc_downloads.yml
  layouts/partials/footer/modals.html
  layouts/partials/footer/modals/tc-downloads.html
  layouts/shortcodes/telegraf/tc-downloads.html
Due: deprecated-markdown-patterns, eslint-debug-check, telegraf-lint, prettier, lint-js

fix(ci): replace HTTP polling with commit status signaling for preview coordination
  .circleci/config.yml
  .github/scripts/detect-preview-pages.js
  .github/workflows/doc-review.yml
  .github/workflows/pr-preview.yml
  lefthook.yml
  package.json
Due: prettier

fix(ci): resolve merge conflict markers in detect-preview-pages.js
  .github/scripts/detect-preview-pages.js
Due: prettier

fix(ci): use bash instead of sh for generate-api-docs.sh
  package.json
Due: none

fix(api-docs): remove Enterprise v1 content pages from api-docs-only branch
  content/enterprise_influxdb/v1/api/_index.md
  content/enterprise_influxdb/v1/api/all-endpoints/_index.md
  content/enterprise_influxdb/v1/api/authentication/_index.md
  content/enterprise_influxdb/v1/api/debug/_index.md
  content/enterprise_influxdb/v1/api/query/_index.md
  content/enterprise_influxdb/v1/api/system-information/_index.md
  content/enterprise_influxdb/v1/api/v2-compatibility/_index.md
  content/enterprise_influxdb/v1/api/write/_index.md
Due: deprecated-markdown-patterns

Deploy preview for PR 6939 🛫
  pr-preview/pr-6939/enterprise_influxdb/v1/api/all-endpoints/index.html
  pr-preview/pr-6939/enterprise_influxdb/v1/api/authentication/index.html
  pr-preview/pr-6939/enterprise_influxdb/v1/api/debug/index.html
  pr-preview/pr-6939/enterprise_influxdb/v1/api/index.html
  pr-preview/pr-6939/enterprise_influxdb/v1/api/query/index.html
  pr-preview/pr-6939/enterprise_influxdb/v1/api/system-information/index.html
  pr-preview/pr-6939/enterprise_influxdb/v1/api/v2-compatibility/index.html
  pr-preview/pr-6939/enterprise_influxdb/v1/api/write/index.html
  pr-preview/pr-6939/index.html
Due: none

fix(ci): delete stale visual review comment when no content pages remain
  .github/workflows/doc-review.yml
Due: none

Deploy preview for PR 6939 🛫
  pr-preview/pr-6939/index.html
Due: none

Revert "InfluxDB 1.12.3 release (#6872)"
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/enterprise_influxdb/v1/query_language/spec.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/administration/config.md
  content/influxdb/v1/query_language/manage-database.md
  content/influxdb/v1/query_language/spec.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

fix(v1): split v1.12.3 release — publish OSS, defer Enterprise pending GA
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/administration/config.md
  content/influxdb/v1/query_language/manage-database.md
  content/influxdb/v1/query_language/spec.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

chore: document separate OSS/Enterprise PR workflow for v1 releases
  .claude/agents/influxdb1-tech-writer.md
  .claude/commands/prepare-release-notes.md
  .github/pull_request_template/influxdb_v1_release.md
Due: lint-markdown-instructions, lint-instructions

fix(enterprise): restore FUTURE/PAST LIMIT grammar productions in InfluxQL spec
  content/enterprise_influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

Revert "fix(enterprise): restore FUTURE/PAST LIMIT grammar productions in InfluxQL spec"
  content/enterprise_influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

feat(enterprise): InfluxDB Enterprise v1.12.3 release documentation
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/enterprise_influxdb/v1/query_language/spec.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

fix(v1): remove incorrect FUTURE/PAST LIMIT ordering caution from OSS spec
  content/influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

Deploy preview for PR 6945 🛫
  pr-preview/pr-6945/enterprise_influxdb/v1/query_language/spec/index.html
  pr-preview/pr-6945/index.html
  pr-preview/pr-6945/influxdb/v1/query_language/spec/index.html
Due: none

fix(enterprise): correct FUTURE/PAST LIMIT documentation for v1.12.2 (closes #6590)
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/enterprise_influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

fix(v1): publish OSS v1.12.3, defer Enterprise v1.12.3 pending GA (#6945)
  .claude/agents/influxdb1-tech-writer.md
  .claude/commands/prepare-release-notes.md
  .github/pull_request_template/influxdb_v1_release.md
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/enterprise_influxdb/v1/query_language/spec.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, lint-markdown-instructions, lint-instructions

style(enterprise): clean up InfluxQL spec formatting and fix broken links
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

fix(enterprise): correct FUTURE/PAST LIMIT documentation for v1.12.2 (closes #6590) (#6947)
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/enterprise_influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

style(enterprise): clean up InfluxQL spec and fix broken config links (#6949)
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/query_language/spec.md
Due: deprecated-markdown-patterns

refactor(api): replace hardcoded product configs with auto-discovery
  PLAN.md
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  cypress/e2e/content/api-reference.cy.js
  layouts/api/list.html
  layouts/partials/api/all-endpoints-list.html
  layouts/partials/api/section-children.html
Due: lint-markdown-instructions, lint-instructions, prettier

style(api): apply prettier formatting to generation scripts
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

fix(api-docs): restore full tag descriptions in Core and Enterprise tags.yml
  api-docs/influxdb3/core/tags.yml
  api-docs/influxdb3/enterprise/tags.yml
Due: none

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
