Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-copilot-instructions, lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier, lint-js

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-copilot-instructions:
  run: yarn build:copilot-instructions

lint-markdown:
  tags: lint
  run: 'docker compose run --rm --name remark-lint remark-lint ''{staged_files}''
  
    '

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

Apply suggestions from code review
  content/influxdb/v1/administration/upgrading.md
Due: lint-markdown

feat(plugins): add automated plugin documentation sync workflow
  .github/ISSUE_TEMPLATE/sync-plugin-docs.yml
  .github/workflows/sync-plugins.yml
  helper-scripts/influxdb3-plugins/README.md
  helper-scripts/influxdb3-plugins/docs_mapping.yaml
  helper-scripts/influxdb3-plugins/port_to_docs.js
  package.json
Due: prettier

Updated source paths in docs_mapping.yaml to use ./influxdb3_plugins/ instead of ../influxdb3_plugins/ to match what the GitHub Actions workflow expects when it clones the repository:
  helper-scripts/influxdb3-plugins/docs_mapping.yaml
Due: none

Updated source paths in docs_mapping.yaml to use ./influxdb3_plugins/ instead of ../influxdb3_plugins/ to match what the GitHub Actions workflow expects when it clones the repository:
  .github/workflows/sync-plugins.yml
  helper-scripts/influxdb3-plugins/README.md
Due: none

add note to distributed about duplicate points on flush
  content/influxdb3/cloud-dedicated/write-data/best-practices/optimize-writes.md
  content/influxdb3/cloud-serverless/write-data/best-practices/optimize-writes.md
  content/influxdb3/clustered/reference/syntax/line-protocol.md
  content/influxdb3/clustered/write-data/best-practices/optimize-writes.md
  content/shared/v3-line-protocol.md
Due: lint-markdown

fix: add note to distributed about duplicate points on flush (#6330)
  content/influxdb3/cloud-dedicated/write-data/best-practices/optimize-writes.md
  content/influxdb3/cloud-serverless/write-data/best-practices/optimize-writes.md
  content/influxdb3/clustered/reference/syntax/line-protocol.md
  content/influxdb3/clustered/write-data/best-practices/optimize-writes.md
  content/shared/v3-line-protocol.md
Due: lint-markdown

changing file name
  content/influxdb3/cloud-dedicated/admin/users/_index.md
  content/influxdb3/cloud-dedicated/admin/users/admin-ui.md
Due: lint-markdown

adding intro and TOC
  content/influxdb3/cloud-dedicated/admin/users/admin-ui.md
Due: lint-markdown

adding content
  content/influxdb3/cloud-dedicated/admin/users/admin-ui.md
Due: lint-markdown

chore(influxdb3): adjust Admin weights for the sidebar nav
  content/influxdb3/core/admin/backup-restore.md
  content/influxdb3/core/admin/mcp-server.md
  content/influxdb3/enterprise/admin/backup-restore.md
  content/influxdb3/enterprise/admin/mcp-server.md
Due: lint-markdown

Update content/shared/influxdb3-admin/backup-restore.md
  content/shared/influxdb3-admin/backup-restore.md
Due: lint-markdown

fix(ci): update link-checker to v1.2.3 to fix false positives for new content
  .github/workflows/pr-link-check.yml
Due: none

hotfix(influxdb3): processing engine source and description (closes #6335)
  content/influxdb3/core/reference/processing-engine.md
  content/influxdb3/enterprise/reference/processing-engine.md
Due: lint-markdown

Apply suggestions from code review
  content/shared/influxdb3-admin/backup-restore.md
Due: lint-markdown

fix: links with old hostname and path
  content/enterprise_influxdb/v1/flux/guides/scalar-values.md
  content/influxdb/v1/flux/guides/scalar-values.md
Due: lint-markdown

fix: links containing hostname
  content/enterprise_influxdb/v1/features/_index.md
  content/enterprise_influxdb/v1/guides/hardware_sizing.md
  content/influxdb/cloud/account-management/billing.md
  content/influxdb/v1/tools/api.md
  content/influxdb/v2/reference/release-notes/influxdb.md
  content/influxdb3/cloud-dedicated/admin/monitor-your-cluster.md
  content/influxdb3/cloud-dedicated/reference/internals/security.md
  content/influxdb3/clustered/reference/internals/security.md
  content/influxdb3/clustered/reference/release-notes/clustered.md
  content/kapacitor/v1/reference/about_the_project/release-notes.md
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
  content/resources/how-to-guides/alert-to-zapier.md
  content/resources/how-to-guides/state-changes-across-task-executions.md
  content/shared/influxdb3-query-guides/execute-queries/influxdb3-api.md
  content/telegraf/v1/data_formats/input/prometheus-remote-write.md
Due: lint-markdown, cloud-lint, telegraf-lint, v2-lint

chore: use version in links
  content/shared/influxdb3-admin/backup-restore.md
Due: lint-markdown

chore: ignore Claude URLs and full production URLs (esp. canonical meta links)
  .ci/link-checker/production.lycherc.toml
Due: none

update: fix some wording and call out restore process
  content/influxdb3/core/admin/backup-restore.md
  content/influxdb3/enterprise/admin/backup-restore.md
  content/shared/influxdb3-admin/backup-restore.md
Due: lint-markdown

update: add 3.4 notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown

fix: remove buffer-mem-limit-mb
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-cli/config-options.md
  hugo_stats.json
Due: lint-markdown

update: 3.4 notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown

feat(sql): WIP added struct and map functions
  content/influxdb3/cloud-dedicated/reference/sql/functions/_index.md
  content/influxdb3/cloud-dedicated/reference/sql/functions/aggregate.md
  content/influxdb3/cloud-dedicated/reference/sql/functions/binary-string.md
  content/influxdb3/cloud-dedicated/reference/sql/functions/conditional.md
  content/influxdb3/cloud-dedicated/reference/sql/functions/hashing.md
  content/influxdb3/cloud-dedicated/reference/sql/functions/map.md
  content/influxdb3/cloud-dedicated/reference/sql/functions/math.md
  content/influxdb3/cloud-dedicated/reference/sql/functions/misc.md
  content/influxdb3/cloud-dedicated/reference/sql/functions/regular-expression.md
  content/influxdb3/cloud-dedicated/reference/sql/functions/selector.md
  content/influxdb3/cloud-dedicated/reference/sql/functions/string.md
  content/influxdb3/cloud-dedicated/reference/sql/functions/struct.md
  content/influxdb3/cloud-dedicated/reference/sql/functions/time-and-date.md
  content/influxdb3/cloud-dedicated/reference/sql/functions/window.md
  content/shared/sql-reference/functions/binary-string.md
  content/shared/sql-reference/functions/cache.md
  content/shared/sql-reference/functions/conditional.md
  content/shared/sql-reference/functions/hashing.md
  content/shared/sql-reference/functions/math.md
  content/shared/sql-reference/functions/misc.md
  content/shared/sql-reference/functions/regular-expression.md
  content/shared/sql-reference/functions/selector.md
  content/shared/sql-reference/functions/string.md
  content/shared/sql-reference/functions/struct.md
  content/shared/sql-reference/functions/time-and-date.md
  content/shared/sql-reference/functions/window.md
Due: lint-markdown

Update content/shared/v3-core-enterprise-release-notes/_index.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown

feat(influxdb-3.4): added cli updates for influxdb 3.4
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/write.md
Due: lint-markdown

Apply suggestions from code review
  content/shared/influxdb3-cli/write.md
Due: lint-markdown

fix: add whitespace to influxdb3 write doc
  content/shared/influxdb3-cli/write.md
Due: lint-markdown

fix: remove buffer-mem-limit-mb (#6341)
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-cli/config-options.md
  hugo_stats.json
Due: lint-markdown

feat(offline-tokens): add offline tokens to config options page
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown

fix(data): update patch versions for core and enterprise
  data/products.yml
Due: none

Apply suggestions from code review
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown

InfluxDB Core and Enterprise 3.4 (#6344)
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/write.md
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/products.yml
Due: lint-markdown

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-copilot-instructions: any of: CONTRIBUTING.md
  lint-markdown: any of: {CONTRIBUTING.md,content/*.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
