Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

docs(v1): link Enterprise v1.13.0 release notes to their references
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
Due: deprecated-markdown-patterns

docs(controller): last minute additions to tc 1.1.0 release notes
  content/telegraf/controller/reference/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): added tc 1.1.0 SHAs, updated notification summary
  data/notifications.yaml
  data/tc_downloads.yml
Due: none

hotfix(notification): fixed tc 1.1 blog link
  data/notifications.yaml
Due: none

docs(platform): update callout syntax and remove outdated blog links
  .pr.md
  content/enterprise_influxdb/v1/administration/monitor/_index.md
  content/influxdb/v1/administration/server_monitoring.md
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
Due: deprecated-markdown-patterns

fix(platform): restore _internal fields wrongly removed as absent
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
Due: deprecated-markdown-patterns

fix(platform): verify InfluxDB _internal fields against live v1.12.4
  .pr.md
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
Due: deprecated-markdown-patterns

Update content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
Due: deprecated-markdown-patterns

fix(platform): update and link the InfluxDB _internal measurements page
  content/enterprise_influxdb/v1/administration/monitor/_index.md
  content/influxdb/v1/administration/server_monitoring.md
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
Due: deprecated-markdown-patterns

Apply suggestions from code review
  content/chronograf/v1/administration/managing-influxdb-users.md
Due: deprecated-markdown-patterns

docs(v1): document userquerybytes and userwritebytes in _internal
  content/shared/influxdb-v1/administration/monitor/measurements-internal.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(platform): link Telegraf influxdb input plugin to docs, not GitHub
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
Due: deprecated-markdown-patterns

fix(platform): apply influxdb1-tech-writer review findings
  content/enterprise_influxdb/v1/administration/monitor/_index.md
  content/influxdb/v1/administration/monitor/_index.md
  content/platform/_index.md
  content/platform/troubleshoot/disk-usage.md
  content/platform/troubleshoot/oom-loops.md
  content/shared/influxdb-v1/administration/monitor/external-monitor-setup.md
  content/shared/influxdb-v1/administration/monitor/internal-vs-external.md
  content/shared/influxdb-v1/administration/monitor/measurements-internal.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(platform): link Telegraf plugins to docs, not GitHub, and fix grammar
  content/enterprise_influxdb/v1/administration/monitor/monitor-with-oss.md
  content/enterprise_influxdb/v1/supported_protocols/prometheus.md
  content/influxdb/v1/administration/monitor/performance-metrics-commands.md
  content/influxdb/v1/supported_protocols/prometheus.md
  content/shared/influxdb-v1/administration/monitor/internal-vs-external.md
  content/shared/influxdb-v1/administration/monitor/measurements-internal.md
  content/shared/influxdb-v1/administration/monitor/monitor-kubernetes.md
  content/shared/influxdb-v1/administration/monitor/monitoring-dashboards.md
  content/shared/influxdb-v1/administration/monitor/show-stats.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/influxdb/v1/administration/server_monitoring.md
  content/influxdb/v1/administration/server_monitoring.md
Due: deprecated-markdown-patterns

docs(platform): add alt_links for cross-product monitor navigation
  content/enterprise_influxdb/v1/administration/monitor/measurements-internal.md
  content/enterprise_influxdb/v1/administration/monitor/show-diagnostics.md
  content/enterprise_influxdb/v1/administration/monitor/show-stats.md
  content/influxdb/v1/administration/monitor/measurements-internal.md
  content/influxdb/v1/administration/monitor/show-diagnostics.md
  content/influxdb/v1/administration/monitor/show-stats.md
Due: deprecated-markdown-patterns

fix(v1): route configuration links by product
  content/shared/influxdb-v1/administration/monitor/measurements-internal.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix: block pnpm installs and stop tracking generated git hooks
  .gitignore
  .husky/_/build
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/pre-push.old
  .husky/_/prepare-commit-msg
  .husky/_/scripts
  .husky/_/serve
  package.json
  scripts/check-package-manager.js
Due: prettier

fix: ignore agent worktrees and generated output dirs
  .gitignore
Due: none
