Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

Updating product version
  data/products.yml
Due: build-agent-instructions

feat: improve content-editing skill score from 56% to 90%
  .claude/skills/content-editing/SKILL.md
Due: lint-markdown-instructions, lint-instructions

chore: bump InfluxDB OSS v2 patch version to 2.9.1 (#7209)
  data/products.yml
Due: build-agent-instructions

feat(autodiscovery): publish Markdown alternates via head link, sitemap-md, llms-full
  DOCS-TESTING.md
  config/_default/hugo.yml
  cypress/e2e/content/markdown-autodiscovery.cy.js
  layouts/index.llmstxt.txt
  layouts/index.sitemapmd.xml
  layouts/partials/header.html
  layouts/partials/header/markdown-alternate.html
  layouts/robots.txt
  package.json
  scripts/__tests__/build-llms-full-txt.test.mjs
  scripts/build-llms-full-txt.js
  scripts/check-md-alternate-coherence.js
  scripts/deploy-staging.sh
Due: lint-markdown-instructions, lint-instructions, prettier

ci(autodiscovery): wire build:llms-full and check:md-coherence into CircleCI
  .circleci/config.yml
  scripts/build-llms-full-txt.js
  scripts/check-md-alternate-coherence.js
Due: prettier

refactor(autodiscovery): derive corpus list from products.yml (single source of truth)
  layouts/index.llmstxt.txt
  package.json
  scripts/__tests__/corpus-paths.test.mjs
  scripts/build-llms-full-txt.js
  scripts/check-md-alternate-coherence.js
  scripts/lib/corpus-paths.js
Due: prettier

fix(autodiscovery): derive corpus origin from sitemap-md.xml, not hardcoded
  scripts/__tests__/build-llms-full-txt.test.mjs
  scripts/build-llms-full-txt.js
Due: prettier

docs(autodiscovery): document post-refactor commands and coherence checks
  .claude/skills/hugo-template-dev/SKILL.md
  DOCS-TESTING.md
Due: lint-markdown-instructions, lint-instructions

chore: remove planning docs
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

Deploy preview for PR 7211 🛫
  pr-preview/pr-7211/index.html
Due: none

test(format-selector): add failing GA4 copy_page_md assertion
  cypress/e2e/content/llm-format-selector.cy.js
Due: prettier

feat(format-selector): add emitFormatEvent helper for GA4
  assets/js/components/format-selector.ts
Due: build-typescript, prettier, lint-js

feat(format-selector): emit copy_page_md and copy_failed GA4 events
  assets/js/components/format-selector.ts
Due: build-typescript, prettier, lint-js

feat(format-selector): emit copy_section_md and copy_failed GA4 events
  .cache
  PLAN.md
  assets/js/components/format-selector.ts
  cypress/e2e/content/llm-format-selector.cy.js
Due: lint-markdown-instructions, lint-instructions, build-typescript, prettier, lint-js

chore: untrack accidentally added .cache symlink
  .cache
Due: none

feat(format-selector): emit open_chatgpt, open_claude, connect_mcp events
  assets/js/components/format-selector.ts
  cypress/e2e/content/llm-format-selector.cy.js
Due: build-typescript, prettier, lint-js

chore(docs/plans): add implementation plan for decision page work
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

feat(influxdb3): add shared body for 'which InfluxDB 3' page
  content/shared/influxdb3/which-influxdb-3.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(layouts): render FAQ answers as HTML and add /influxdb3/ title case
  layouts/partials/header/title.html
  layouts/shortcodes/faq.html
Due: none

feat(influxdb3): add canonical 'which InfluxDB 3' page stub
  content/influxdb3/which-influxdb-3.md
  content/shared/influxdb3/which-influxdb-3.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(influxdb3): add FAQ data for 'which InfluxDB 3' decision page
  data/faqs/which-influxdb-3.yml
Due: none

feat(layouts): add faq shortcode driven by data/faqs/*.yml
  layouts/shortcodes/faq.html
Due: none

chore: gitignore docs/plans/
  .gitignore
Due: none

test(cypress): add E2E for which-influxdb-3 decision page
  cypress/e2e/content/which-influxdb-3.cy.js
  layouts/partials/header/title.html
Due: prettier

fix(influxdb3): address PR review on FAQ wording
  content/shared/influxdb3/which-influxdb-3.md
  data/faqs/which-influxdb-3.yml
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7214 🛫
  pr-preview/pr-7214/index.html
  pr-preview/pr-7214/influxdb3/which-influxdb-3/index.html
Due: none

Deploy preview for PR 7214 🛫
  pr-preview/pr-7214/index.html
Due: none

fix(influxdb3): align Flux messaging with data/products.yml
  content/shared/influxdb3/which-influxdb-3.md
  data/faqs/which-influxdb-3.yml
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): address PR review round 2 on which-influxdb-3 page
  content/shared/influxdb3/which-influxdb-3.md
  cypress/e2e/content/which-influxdb-3.cy.js
  data/faqs/which-influxdb-3.yml
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, prettier

fix(format-selector): rethrow clipboard errors and refine GA4 e2e selectors
  assets/js/components/format-selector.ts
  cypress/e2e/content/llm-format-selector.cy.js
Due: build-typescript, prettier, lint-js

fix(influxdb3): address PR review round 3 — Cloud Serverless wording
  content/shared/influxdb3/which-influxdb-3.md
  cypress/e2e/content/which-influxdb-3.cy.js
  data/faqs/which-influxdb-3.yml
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, prettier

fix(influxdb3): correct Cloud Dedicated positioning + Cloud Serverless wording
  content/shared/influxdb3/which-influxdb-3.md
  cypress/e2e/content/which-influxdb-3.cy.js
  data/faqs/which-influxdb-3.yml
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, prettier
