Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

ci(preview): Add PR Preview reference in DOCS-DEPLOYING.md - Use pull request previews in GitHub for manual validation
  DOCS-DEPLOYING.md
Due: lint-markdown-instructions, lint-instructions

ci(preview): Add PR Preview reference in DOCS-DEPLOYING.md (#6668)
  DOCS-DEPLOYING.md
Due: lint-markdown-instructions, lint-instructions

fix: move Raft auth docs from data node to meta node (#6669)
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
Due: lint-markdown-content

Deploy preview for PR 6657 🛫
  pr-preview/pr-6657/index.html
Due: none

influxdb3: Add Helm for Ent3, cleanup install.md formatting (#6657)
  content/influxdb3/enterprise/install/kubernetes.md
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(telegraf): add missing serializer documentation
  content/telegraf/v1/data_formats/output/binary.md
  content/telegraf/v1/data_formats/output/cloudevents.md
  content/telegraf/v1/data_formats/output/csv.md
  content/telegraf/v1/data_formats/output/msgpack.md
  content/telegraf/v1/data_formats/output/prometheus.md
  content/telegraf/v1/data_formats/output/prometheusremotewrite.md
  content/telegraf/v1/data_formats/output/wavefront.md
Due: lint-markdown-content, telegraf-lint

Update content/telegraf/v1/data_formats/output/binary.md
  content/telegraf/v1/data_formats/output/binary.md
Due: lint-markdown-content, telegraf-lint

Apply suggestion from @jstirnaman
  content/telegraf/v1/data_formats/output/msgpack.md
Due: lint-markdown-content, telegraf-lint

docs(telegraf): clarify prometheusremotewrite example shows logical representation (#6661)
  content/telegraf/v1/data_formats/output/prometheusremotewrite.md
Due: lint-markdown-content, telegraf-lint

Deploy preview for PR 6654 🛫
  pr-preview/pr-6654/index.html
Due: none

docs: improve prometheus serializer warnings and clarify configuration options (#6660)
  content/telegraf/v1/configuration.md
  content/telegraf/v1/configure_plugins/output_plugins/_index.md
  content/telegraf/v1/data_formats/output/_index.md
  content/telegraf/v1/data_formats/output/prometheus.md
  content/telegraf/v1/output-plugins/prometheus_client/_index.md
Due: lint-markdown-content, telegraf-lint

fix: use sudo with 'yum install' and create the keyring dir if needed
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6670 🛫
  pr-preview/pr-6670/index.html
Due: none

docs(telegraf): add missing serializer documentation (#6654)
  content/telegraf/v1/configuration.md
  content/telegraf/v1/configure_plugins/output_plugins/_index.md
  content/telegraf/v1/data_formats/output/_index.md
  content/telegraf/v1/data_formats/output/binary.md
  content/telegraf/v1/data_formats/output/cloudevents.md
  content/telegraf/v1/data_formats/output/csv.md
  content/telegraf/v1/data_formats/output/msgpack.md
  content/telegraf/v1/data_formats/output/prometheus.md
  content/telegraf/v1/data_formats/output/prometheusremotewrite.md
  content/telegraf/v1/data_formats/output/wavefront.md
  content/telegraf/v1/output-plugins/prometheus_client/_index.md
Due: lint-markdown-content, telegraf-lint

chore(telegraf-controller): WIP manage configs docs
  content/telegraf/controller/configs/_index.md
  content/telegraf/controller/configs/create.md
  content/telegraf/controller/configs/delete.md
  content/telegraf/controller/configs/placeholder-values.md
  content/telegraf/controller/configs/update.md
  content/telegraf/controller/configs/use.md
Due: lint-markdown-content, telegraf-lint

chore: add agent management docs for telegraf controller (#6635)
  content/telegraf/controller/agents/_index.md
  content/telegraf/controller/agents/create.md
  content/telegraf/controller/agents/delete.md
  content/telegraf/controller/agents/reporting-rules.md
  content/telegraf/controller/agents/status.md
  data/products.yml
  layouts/shortcodes/icon.html
  layouts/shortcodes/product-name.html
Due: build-agent-instructions, lint-markdown-content, telegraf-lint

feat(telegraf-controller): WIP manage configs
  content/telegraf/controller/configs/dynamic-values.md
  content/telegraf/controller/configs/use.md
Due: lint-markdown-content, telegraf-lint

Deploy preview for PR 6673 🛫
  pr-preview/pr-6673/index.html
  pr-preview/pr-6673/influxdb3/core/install/index.html
  pr-preview/pr-6673/influxdb3/core/query-data/influxql/parameterized-queries/index.html
  pr-preview/pr-6673/influxdb3/enterprise/install/index.html
  pr-preview/pr-6673/influxdb3/enterprise/query-data/influxql/parameterized-queries/index.html
Due: none

Deploy preview for PR 6673 🛫
  pr-preview/pr-6673/index.html
  pr-preview/pr-6673/influxdb3/cloud-dedicated/query-data/sql/parameterized-queries/index.html
  pr-preview/pr-6673/influxdb3/cloud-serverless/query-data/sql/parameterized-queries/index.html
  pr-preview/pr-6673/influxdb3/clustered/query-data/sql/parameterized-queries/index.html
  pr-preview/pr-6673/influxdb3/enterprise/query-data/sql/parameterized-queries/index.html
Due: none

Deploy preview for PR 6673 🛫
  pr-preview/pr-6673/index.html
  pr-preview/pr-6673/influxdb3/cloud-dedicated/reference/influxql/time-and-timezone/index.html
  pr-preview/pr-6673/influxdb3/cloud-serverless/reference/influxql/time-and-timezone/index.html
  pr-preview/pr-6673/influxdb3/clustered/reference/influxql/time-and-timezone/index.html
  pr-preview/pr-6673/influxdb3/core/reference/influxql/time-and-timezone/index.html
  pr-preview/pr-6673/influxdb3/enterprise/reference/influxql/time-and-timezone/index.html
Due: none

fix(influxdb3): publish parameterized queries and add HTTP API examples
  content/influxdb3/cloud-dedicated/query-data/sql/parameterized-queries.md
  content/influxdb3/cloud-serverless/query-data/sql/parameterized-queries.md
  content/influxdb3/clustered/query-data/sql/parameterized-queries.md
  content/influxdb3/core/query-data/influxql/parameterized-queries.md
  content/influxdb3/core/query-data/sql/parameterized-queries.md
  content/influxdb3/enterprise/query-data/influxql/parameterized-queries.md
  content/influxdb3/enterprise/query-data/sql/parameterized-queries.md
  content/shared/influxdb3-query-guides/influxql/parameterized-queries.md
  content/shared/influxdb3-query-guides/sql/parameterized-queries.md
  content/shared/influxql-v3-reference/time-and-timezone.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): publish parameterized queries and add HTTP API examples (#6673)
  content/influxdb3/cloud-dedicated/query-data/sql/parameterized-queries.md
  content/influxdb3/cloud-serverless/query-data/sql/parameterized-queries.md
  content/influxdb3/clustered/query-data/sql/parameterized-queries.md
  content/influxdb3/core/query-data/influxql/parameterized-queries.md
  content/influxdb3/core/query-data/sql/parameterized-queries.md
  content/influxdb3/enterprise/query-data/influxql/parameterized-queries.md
  content/influxdb3/enterprise/query-data/sql/parameterized-queries.md
  content/shared/influxdb3-query-guides/influxql/parameterized-queries.md
  content/shared/influxdb3-query-guides/sql/parameterized-queries.md
  content/shared/influxql-v3-reference/time-and-timezone.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(api): Uplift API reference docs with Scalar renderer
  .gitignore
  api-docs/scripts/README.md
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  api-docs/scripts/openapi-paths-to-hugo-data/package.json
  api-docs/scripts/openapi-paths-to-hugo-data/yarn.lock
  api-docs/scripts/tsconfig.json
  config/_default/hugo.yml
  data/article-data/influxdb/cloud-v2/articles.json
  layouts/api/list.html
  layouts/api/single.html
  layouts/partials/api/rapidoc.html
  layouts/partials/api/renderer.html
  layouts/partials/api/scalar.html
Due: lint-markdown-instructions, lint-markdown-content, lint-instructions, prettier

fix(shortcodes): Fix Hugo 0.134 compatibility issues
  layouts/shortcodes/api-endpoint.html
  layouts/shortcodes/latest-patch.html
Due: none

chore: Update build:api-docs script to use new generator
  package.json
Due: none

feat(api): Update Hugo layouts for tag-based API documentation
  layouts/api/single.html
  layouts/partials/api/rapidoc.html
  layouts/partials/api/renderer.html
  layouts/partials/api/scalar.html
  layouts/partials/api/tab-panels.html
  layouts/partials/api/tabs.html
  layouts/partials/sidebar.html
Due: none

fix(api): Add operations list styling and regroup sidebar navigation
  assets/styles/layouts/_api-layout.scss
  data/api_nav_groups.yml
  layouts/api/list.html
Due: none

feat(api): Add TypeScript components for API UI interactions
  assets/js/components/api-nav.ts
  assets/js/components/api-scalar.ts
  assets/js/components/api-tabs.ts
  assets/js/components/api-toc.ts
  assets/js/main.js
Due: eslint-debug-check, build-typescript, prettier, lint-js

feat(api): Update OpenAPI article generators for tag-based structure
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
Due: prettier

chore(claude): Add claude skill for Hugo development/testing workflow. Split ui-dev subagent into hugo-, ts-, and testing-specific agents.
  .claude/agents/ui-testing.md
  .claude/skills/hugo-template-dev/SKILL.md
Due: lint-markdown-instructions, lint-instructions

chore(claude): Update ui-testing agent and hugo-template-dev skill
  .claude/agents/ui-testing.md
  .claude/skills/hugo-template-dev/SKILL.md
Due: lint-markdown-instructions, lint-instructions
