Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

sync(client-libs): update release notes
  content/shared/influxdb-client-libraries-reference/v3/release-notes/csharp.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

ci(render-check): run required check on merge_group events
  .github/workflows/pr-render-check.yml
Due: none

docs(release-notes): add v3.11.2 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): add --plugin-repo to serve CLI reference
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
Due: deprecated-markdown-patterns, core-lint, enterprise-lint

fix(platform): link Telegraf influxdb input plugin to docs, not GitHub
  content/platform/monitoring/influxdata-platform/tools/measurements-internal.md
Due: deprecated-markdown-patterns

fix(platform): link Telegraf plugins to docs, not GitHub, and fix grammar
  content/enterprise_influxdb/v1/administration/monitor/monitor-with-oss.md
  content/enterprise_influxdb/v1/supported_protocols/prometheus.md
  content/influxdb/v1/administration/monitor/performance-metrics-commands.md
  content/influxdb/v1/supported_protocols/prometheus.md
  content/shared/influxdb-v1/administration/monitor/internal-vs-external.md
  content/shared/influxdb-v1/administration/monitor/measurements-internal.md
  content/shared/influxdb-v1/administration/monitor/monitor-kubernetes.md
  content/shared/influxdb-v1/administration/monitor/monitoring-dashboards.md
  content/shared/influxdb-v1/administration/monitor/show-stats.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(platform): add alt_links for cross-product monitor navigation
  content/enterprise_influxdb/v1/administration/monitor/measurements-internal.md
  content/enterprise_influxdb/v1/administration/monitor/show-diagnostics.md
  content/enterprise_influxdb/v1/administration/monitor/show-stats.md
  content/influxdb/v1/administration/monitor/measurements-internal.md
  content/influxdb/v1/administration/monitor/show-diagnostics.md
  content/influxdb/v1/administration/monitor/show-stats.md
Due: deprecated-markdown-patterns

fix(platform): apply influxdb1-tech-writer review findings
  content/enterprise_influxdb/v1/administration/monitor/_index.md
  content/influxdb/v1/administration/monitor/_index.md
  content/platform/_index.md
  content/platform/troubleshoot/disk-usage.md
  content/platform/troubleshoot/oom-loops.md
  content/shared/influxdb-v1/administration/monitor/external-monitor-setup.md
  content/shared/influxdb-v1/administration/monitor/internal-vs-external.md
  content/shared/influxdb-v1/administration/monitor/measurements-internal.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(controller): add high availability to Telegraf Enterprise feature listings
  content/telegraf/controller/telegraf-enterprise/_index.md
  content/telegraf/controller/telegraf-enterprise/license-enforcement.md
  content/telegraf/controller/telegraf-enterprise/manage-license.md
  content/telegraf/v1/administer/manage-at-scale.md
  content/telegraf/v1/enterprise.md
Due: deprecated-markdown-patterns, telegraf-lint

Apply suggestions from code review
  content/shared/influxdb3-get-started/setup.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): warn at the point where the setup guide exposes the server
  content/shared/influxdb3-get-started/setup.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): warn about unauthenticated admin token endpoint during setup
  content/shared/influxdb3-get-started/setup.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): define cache --node-spec semantics and warm-up trade-off
  content/shared/influxdb3-admin/distinct-value-cache/_index.md
  content/shared/influxdb3-admin/distinct-value-cache/create.md
  content/shared/influxdb3-admin/last-value-cache/_index.md
  content/shared/influxdb3-admin/last-value-cache/create.md
  content/shared/influxdb3-cli/create/distinct_cache.md
  content/shared/influxdb3-cli/create/last_cache.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(controller): add v1.1.0 release notes
  content/telegraf/controller/reference/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(influxdb3): couch the 30-minute figure as a recommendation
  content/shared/v3-line-protocol.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): address Copilot review findings
  content/shared/v3-line-protocol.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): apply review feedback on warning structure and wording
  content/shared/v3-line-protocol.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): document overwrite timing semantics for Core and Enterprise
  content/shared/v3-line-protocol.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): drop compactor-absence explanation from Core warning
  content/shared/v3-line-protocol.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): fix cross-references, cloud scope, and delay ambiguity in duplicate-points warnings
  content/shared/v3-line-protocol.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

notification(controller): telegraf controller 1.1 notification
  data/notifications.yaml
Due: none

docs(controller): misc telegraf controller updates
  DOCS-SHORTCODES.md
  content/telegraf/controller/audit-logs/view.md
  layouts/index.html
  layouts/shortcodes/telegraf/enterprise-feature.html
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, telegraf-lint

fix(influxdb3): prevent authorization paragraph splitting
  content/shared/influxdb3-get-started/setup.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(controller): telegraf controller 1.1 product data and download prep
  data/products.yml
  data/tc_downloads.yml
Due: build-agent-instructions

fix(influxdb3): address review — scope pre-3.11 labels to actual 3.11 renames
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat: Enterprise 1.x mTLS
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/administration/configure/security/enable_tls.md
  content/enterprise_influxdb/v1/administration/manage/clusters/replacing-nodes.md
  content/enterprise_influxdb/v1/tools/influx-cli/_index.md
  content/enterprise_influxdb/v1/tools/influx-cli/use-influx-cli.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/_index.md
Due: deprecated-markdown-patterns

chore: change to GitHub-style alert block
  content/enterprise_influxdb/v1/administration/configure/security/enable_tls.md
Due: deprecated-markdown-patterns

chore: change to GitHub-style alert block
  content/enterprise_influxdb/v1/administration/manage/clusters/replacing-nodes.md
Due: deprecated-markdown-patterns

docs(controller): added images for tc 1.1 features
  content/telegraf/controller/config-groups/manage.md
  content/telegraf/controller/configs/versions.md
  static/img/telegraf/controller-config-group-detail.png
  static/img/telegraf/controller-configs-compare-versions.png
  static/img/telegraf/controller-configs-versions.png
Due: deprecated-markdown-patterns, telegraf-lint

chore(claude): remove ephemeral planning docs
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs(controller): fix broken code fence in tc aliases doc
  content/telegraf/controller/configs/aliases.md
Due: deprecated-markdown-patterns, telegraf-lint
