Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

test(notifications): cover 99+ counter cap and bell aria-label
  cypress/e2e/content/notifications.cy.js
Due: prettier

feat(notifications): use published notification-hub-client ^1.0.2
  package.json
  yarn.lock
Due: none

fix(notifications): topnav bell placement + clip search-btn overflow
  assets/styles/layouts/_top-nav.scss
Due: none

refactor(notifications): apply docs scope at render time + boot polish
  assets/js/notifications/effective-presentation.js
  assets/js/notifications/index.js
  assets/js/notifications/views/drawer.js
  scripts/__tests__/notifications-effective-presentation.test.mjs
Due: eslint-debug-check, prettier, lint-js

feat(notifications): UX iteration — animations, stacked blocking, drawer polish, theme alignment
  assets/js/notifications/views/banner.js
  assets/js/notifications/views/blocking.js
  assets/js/notifications/views/shared.js
  assets/styles/layouts/_notifications.scss
  layouts/partials/topnav/notification-bell.html
Due: eslint-debug-check, prettier, lint-js

chore(notifications): drop dead no-console eslint-disable in resetStorage
  assets/js/notifications/index.js
Due: eslint-debug-check, prettier, lint-js

feat(notifications): adopt notification-hub-client 1.1.0 (client-targeting filter)
  assets/js/notifications/index.js
  package.json
  yarn.lock
Due: eslint-debug-check, prettier, lint-js

feat(platform): add named AI-bot Allow blocks to robots.txt
  PLAN.md
  data/ai_bots.yml
  layouts/robots.txt
Due: lint-markdown-instructions, lint-instructions

fix(platform): preserve newline after staging Disallow in robots.txt
  layouts/robots.txt
Due: none

ci: declare workflow-level contents: read on 2 workflows (#7221)
  .github/workflows/pr-feedback-links.yml
  .github/workflows/test.yml
Due: none

docs(exec-plans): capture intent + decisions for robots.txt named AI-bots
  docs/exec-plans/active/2026-05-21-robots-named-ai-bots.md
Due: none

docs(skills): add exec-plan-writing skill capturing the template
  .claude/skills/exec-plan-writing/SKILL.md
Due: lint-markdown-instructions, lint-instructions

feat(platform): named AI-bot Allow blocks in robots.txt + staging Disallow fix (#7252)
  .claude/skills/exec-plan-writing/SKILL.md
  PLAN.md
  data/ai_bots.yml
  docs/exec-plans/active/2026-05-21-robots-named-ai-bots.md
  layouts/robots.txt
Due: lint-markdown-instructions, lint-instructions

docs(exec-plans): capture decision-page rollout decisions (#7214, #7220, #7228, #7229)
  .ci/remark/remark.sh
  .github/workflows/pr-remark-check.yml
  docs/exec-plans/completed/2026-05-13-influxdb3-decision-page.md
  docs/exec-plans/completed/2026-05-14-influxdb3-decision-page-jsonld.md
  docs/exec-plans/completed/2026-05-15-influxdb3-decision-page-discovery.md
  docs/exec-plans/completed/2026-05-15-influxdb3-hub-landing.md
  lefthook.yml
Due: none

chore(lefthook): remove pre-push list-legacy-containers Docker check
  lefthook.yml
Due: none

fix(vale): disable write-good.E-Prime, re-enable write-good.Cliches
  .vale-instructions.ini
  .vale.ini
  content/influxdb/v2/.vale.ini
  content/influxdb3/cloud-dedicated/.vale.ini
  content/influxdb3/cloud-serverless/.vale.ini
  content/influxdb3/clustered/.vale.ini
  content/influxdb3/core/.vale.ini
Due: none

feat(telegraf-controller): add licensing section landing page
  content/telegraf/controller/licensing/_index.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(telegraf-controller): add apply-license licensing page
  content/telegraf/controller/licensing/apply-license.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(telegraf-controller): add manage-license licensing page
  content/telegraf/controller/licensing/manage-license.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(telegraf-controller): add license-enforcement licensing page
  content/telegraf/controller/licensing/license-enforcement.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(telegraf-controller): add troubleshoot licensing page
  content/telegraf/controller/licensing/troubleshoot.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(telegraf-controller): publish Telegraf Enterprise overview page
  content/telegraf/controller/telegraf-enterprise.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(telegraf-controller): link Enterprise license management from settings
  content/telegraf/controller/settings.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(telegraf-controller): add Enterprise license step to install guide
  content/telegraf/controller/install/_index.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(telegraf-controller): document license and entitlements permissions
  content/telegraf/controller/reference/authorization.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(telegraf-controller): document LICENSE_FILE_PATH and IdP license dependency
  content/telegraf/controller/reference/config-options.md
Due: deprecated-markdown-patterns, telegraf-lint

fix(telegraf-controller): apply review feedback to licensing docs
  content/telegraf/controller/licensing/_index.md
  content/telegraf/controller/licensing/apply-license.md
  content/telegraf/controller/licensing/license-enforcement.md
  content/telegraf/controller/licensing/manage-license.md
Due: deprecated-markdown-patterns, telegraf-lint

fix(vale): disable write-good.E-Prime, re-enable write-good.Cliches (#7259)
  .vale-instructions.ini
  .vale.ini
  content/influxdb/v2/.vale.ini
  content/influxdb3/cloud-dedicated/.vale.ini
  content/influxdb3/cloud-serverless/.vale.ini
  content/influxdb3/clustered/.vale.ini
  content/influxdb3/core/.vale.ini
Due: none

chore(claude): add worktree-aware hooks for Bash + UserPromptSubmit
  .claude/hooks/check-bash-worktree.sh
  .claude/hooks/worktree-context.sh
  .claude/settings.json
Due: none

Release Kapacitor 1.8.6
  content/kapacitor/v1/reference/about_the_project/release-notes.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

chore(claude): install lint toolchain in SessionStart hook
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: none

refactor(telegraf-controller): move licensing docs under telegraf-enterprise
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/licensing/_index.md
  content/telegraf/controller/reference/authorization.md
  content/telegraf/controller/reference/config-options.md
  content/telegraf/controller/settings.md
  content/telegraf/controller/telegraf-enterprise.md
  content/telegraf/controller/telegraf-enterprise/_index.md
  content/telegraf/controller/telegraf-enterprise/apply-license.md
  content/telegraf/controller/telegraf-enterprise/license-enforcement.md
  content/telegraf/controller/telegraf-enterprise/manage-license.md
  content/telegraf/controller/telegraf-enterprise/troubleshoot.md
Due: deprecated-markdown-patterns, telegraf-lint

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
