Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

fix(influxdb3): add trigger settings and related API parameters (#6630)
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
Due: none

docs(telegraf): add Helm chart links and ToC updates
  content/telegraf/v1/install.md
Due: lint-markdown-content, telegraf-lint

docs(influxdb3): add Enterprise Helm chart link
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(telegraf): revise install intro and description
  content/telegraf/v1/install.md
Due: lint-markdown-content, telegraf-lint

fix(influxdb3): add show_deleted parameter for listing databases (#6631)
  api-docs/influxdb3/enterprise/v3/ref.yml
Due: none

feat(ci): add change detection script for PR previews
  .github/scripts/detect-preview-pages.js
Due: prettier

fix(ci): remove unused import from detect-preview-pages.js
  .github/scripts/detect-preview-pages.js
Due: prettier

feat(ci): add preview file staging script for selective deployment
  .github/scripts/prepare-preview-files.js
Due: prettier

fix(ci): add input validation to preview file staging script
  .github/scripts/prepare-preview-files.js
Due: prettier

feat(ci): add preview comment manager for sticky PR comments
  .github/scripts/preview-comment.js
Due: prettier

feat(api): Experiment with auth input visibility on operation pages
  assets/js/components/rapidoc-mini.ts
Due: build-typescript, prettier, lint-js

fix(ci): sanitize user input in preview comments to prevent XSS
  .github/scripts/preview-comment.js
Due: prettier

docs(telegraf): add template serializer documentation
  content/telegraf/v1/data_formats/output/template.md
Due: lint-markdown-content, telegraf-lint

feat(ci): add PR preview workflow for GitHub Pages deployment
  .github/workflows/pr-preview.yml
Due: none

Update content/shared/influxdb3-write-guides/use-telegraf/configure.md
  content/shared/influxdb3-write-guides/use-telegraf/configure.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(ci): correct environment variables and checkout in PR preview workflow
  .github/workflows/pr-preview.yml
Due: none

feat(ci): add weekly stale preview cleanup workflow
  .github/workflows/cleanup-stale-previews.yml
Due: none

docs(ci): add PR preview setup guide
  .github/PREVIEW_SETUP.md
Due: lint-markdown-instructions, lint-instructions

feat(api): Add custom auth input component for operation pages
  assets/js/components/api-auth-input.ts
  assets/js/main.js
  assets/styles/layouts/_api-security-schemes.scss
  layouts/partials/api/rapidoc-mini.html
Due: eslint-debug-check, build-typescript, prettier, lint-js

chore: add agent management docs for telegraf controller
  content/telegraf/controller/agents/_index.md
  content/telegraf/controller/agents/create.md
  content/telegraf/controller/agents/delete.md
  content/telegraf/controller/agents/reporting-rules.md
  content/telegraf/controller/agents/status.md
  data/products.yml
  layouts/shortcodes/icon.html
  layouts/shortcodes/product-name.html
Due: build-agent-instructions, lint-markdown-content, telegraf-lint

docs(telegraf): add template serializer documentation (#6634)
  content/telegraf/v1/data_formats/output/template.md
Due: lint-markdown-content, telegraf-lint

fix: apply suggestions from copilot PR review
  content/telegraf/controller/agents/create.md
Due: lint-markdown-content, telegraf-lint

chore: add 3.8 release notes
  content/shared/influxdb3/install.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(influxdb3): add shared/influxdb3-admin/security.md
  content/influxdb3/core/admin/security.md
  content/influxdb3/enterprise/admin/security.md
  content/shared/influxdb3-admin/security.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(influxdb3): update install for DEB/RPM
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: fix hard-coded 'enterprise' in influxdb3 install
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

hotfix: Revert latest_cli version from 2.8.0 to 2.7.5
  data/products.yml
Due: build-agent-instructions

Delete docs/plans/2025-12-16-pr-preview-design.md
  docs/plans/2025-12-16-pr-preview-design.md
Due: none

Delete docs/plans/2025-12-16-pr-preview-implementation.md
  docs/plans/2025-12-16-pr-preview-implementation.md
Due: none

hotfix: Revert latest_cli version from 2.8.0 to 2.7.5 (#6642)
  data/products.yml
Due: build-agent-instructions

hotfix: influxdb (v2) CLI version - latest-patch shortcode doesn't work in cloud-serverless code samples - reverted to hardcoded CLI version in shared file and Serverless-specific file
  content/influxdb3/cloud-serverless/sign-up.md
  content/shared/influxdb-v2/reference/cli/influx/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

hotfix: influxdb (v2) CLI version (#6644)
  content/influxdb3/cloud-serverless/sign-up.md
  content/shared/influxdb-v2/reference/cli/influx/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: add influxdb 3.8 notification
  data/notifications.yaml
Due: none

docs(influxdb3): release documentation for Core and Enterprise v3.8.0
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/notifications.yaml
  data/products.yml
Due: build-agent-instructions, lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: add 3.8 release notes (#6638)
  content/shared/influxdb3/install.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/shared/influxdb3/install.md
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint
