Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

Update content/shared/influxdb3/install.md
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(influxdb3): update install for DEB/RPM and add admin/security (#6643)
  content/influxdb3/core/admin/security.md
  content/influxdb3/enterprise/admin/security.md
  content/shared/influxdb3-admin/security.md
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: add influxdb 3.8 notification (#6645)
  data/notifications.yaml
Due: none

docs(influxdb3): release documentation for Core and Enterprise v3.8.0 (#6647)
  content/influxdb3/core/admin/security.md
  content/influxdb3/enterprise/admin/security.md
  content/shared/influxdb3-admin/security.md
  content/shared/influxdb3/install.md
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/notifications.yaml
  data/products.yml
Due: build-agent-instructions, lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

hotfix(influxdb3): fix duplicate menu entry for Enterprise security page
  content/influxdb3/enterprise/admin/security.md
Due: lint-markdown-content, enterprise-lint

hotfix(influxdb3): fix duplicate menu entry for Enterprise security page (#6648)
  content/influxdb3/enterprise/admin/security.md
Due: lint-markdown-content, enterprise-lint

chore(influxdb3) Security: style and cleanup: intro, requirements, callouts
  content/shared/influxdb3-admin/security.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): restore clean install.md from jdstrand branch
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

influxdb3 security cleanup (#6649)
  content/shared/influxdb3-admin/security.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(ci): add input validation for PR preview security
  .github/scripts/detect-preview-pages.js
  .github/scripts/parse-pr-urls.js
  .github/scripts/test-parse-pr-urls.js
  .github/workflows/cleanup-stale-previews.yml
Due: prettier

feat(ci): add PR preview system for GitHub Pages (#6636)
  .github/PREVIEW_SETUP.md
  .github/scripts/detect-preview-pages.js
  .github/scripts/parse-pr-urls.js
  .github/scripts/prepare-preview-files.js
  .github/scripts/preview-comment.js
  .github/scripts/test-parse-pr-urls.js
  .github/workflows/cleanup-stale-previews.yml
  .github/workflows/pr-preview.yml
Due: lint-markdown-instructions, lint-instructions, prettier

chore: update install and license info for DEB/RPM
  content/influxdb3/enterprise/admin/license.md
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix: remove a couple of mis-merges and clarify DEB/RPM is non-Docker
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: incorporate formatting and style feedback from Jason
  content/influxdb3/enterprise/admin/license.md
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6650 🛫
  pr-preview/pr-6650/influxdb3/core/install/index.html
  pr-preview/pr-6650/influxdb3/enterprise/admin/license/index.html
  pr-preview/pr-6650/influxdb3/enterprise/install/index.html
Due: none

fix(influxdb3): Install: ToC and merge cleanup
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6650 🛫
  pr-preview/pr-6650/influxdb3/core/install/index.html
  pr-preview/pr-6650/influxdb3/enterprise/install/index.html
Due: none

chore: update install and license info for DEB/RPM (#6650)
  content/influxdb3/enterprise/admin/license.md
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix: add a few missing DEB/RPM instructions for license activation
  content/influxdb3/enterprise/admin/license.md
Due: lint-markdown-content, enterprise-lint

fix: sourcing shell config only needed with quick installs
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: address review feedback from Jason
  content/influxdb3/enterprise/admin/license.md
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6652 🛫
  pr-preview/pr-6652/influxdb3/core/install/index.html
  pr-preview/pr-6652/influxdb3/enterprise/admin/license/index.html
  pr-preview/pr-6652/influxdb3/enterprise/install/index.html
Due: none

docs(telegraf): add missing serializer documentation
  content/telegraf/v1/data_formats/output/binary.md
  content/telegraf/v1/data_formats/output/cloudevents.md
  content/telegraf/v1/data_formats/output/csv.md
  content/telegraf/v1/data_formats/output/msgpack.md
  content/telegraf/v1/data_formats/output/prometheus.md
  content/telegraf/v1/data_formats/output/prometheusremotewrite.md
  content/telegraf/v1/data_formats/output/wavefront.md
Due: lint-markdown-content, telegraf-lint

fix: add a few missing DEB/RPM instructions for license activation; shell source is for quick install (#6652)
  content/influxdb3/enterprise/admin/license.md
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Apply suggestions from code review
  content/telegraf/controller/agents/reporting-rules.md
  content/telegraf/controller/agents/status.md
Due: lint-markdown-content, telegraf-lint

chore(controller): italicize required callout
  content/telegraf/controller/agents/create.md
Due: lint-markdown-content, telegraf-lint

Apply suggestion from @jstirnaman
  content/telegraf/v1/data_formats/output/msgpack.md
Due: lint-markdown-content, telegraf-lint

fix(controller): fixed bad shortcode syntax
  content/telegraf/controller/agents/reporting-rules.md
Due: lint-markdown-content, telegraf-lint

fix(shortcodes): latest-patch CLI version for cloud-serverless
  cypress/e2e/content/latest-patch-shortcode.cy.js
  layouts/shortcodes/latest-patch.html
Due: prettier

Restore latest-patch shortcode for cloud-serverless. Revert "hotfix: influxdb (v2) CLI version (#6644)"
  content/influxdb3/cloud-serverless/sign-up.md
  content/shared/influxdb-v2/reference/cli/influx/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint
