Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

Deploy preview for PR 6939 🛫
  pr-preview/pr-6939/index.html
  pr-preview/pr-6939/influxdb3/core/api/v3/index.html
  pr-preview/pr-6939/influxdb3/enterprise/api/v3/index.html
Due: none

fix(api-docs): restore full tag descriptions for API compatibility and Supported operations
  api-docs/influxdb/cloud/tags.yml
  api-docs/influxdb/v2/tags.yml
  api-docs/influxdb3/cloud-dedicated/tags.yml
  api-docs/influxdb3/cloud-serverless/tags.yml
  api-docs/influxdb3/clustered/tags.yml
Due: none

chore(deps): update Vale to v3.14.0
  .ci/vale/vale.sh
Due: none

fix: update MCP server auth docs to include GitHub as sign-in option
  .claude/skills/content-editing/SKILL.md
  .mcp.json
  content/shared/influxdb3-admin/mcp-server-docs-only.md
  content/shared/influxdb3-admin/mcp-server.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(api-docs): ignore generated spec downloads and enterprise v1 API pages
  .gitignore
Due: none

Deploy preview for PR 6939 🛫
  pr-preview/pr-6939/index.html
Due: none

fix(api-docs): simplify Cypress API reference tests
  content/influxdb3/cloud-serverless/api/api-compatibility/_index.md
  content/influxdb3/cloud-serverless/api/supported-operations/_index.md
  cypress/e2e/content/api-reference.cy.js
Due: deprecated-markdown-patterns, cloud-serverless-lint, prettier

fix(api-docs): untrack generated API content pages
  .gitignore
  content/influxdb3/cloud-dedicated/management-api/_index.md
  content/influxdb3/cloud-dedicated/management-api/all-endpoints/_index.md
  content/influxdb3/cloud-serverless/api/_index.md
  content/influxdb3/cloud-serverless/api/api-compatibility/_index.md
  content/influxdb3/cloud-serverless/api/authentication/_index.md
  content/influxdb3/cloud-serverless/api/authorizations-api-tokens/_index.md
  content/influxdb3/cloud-serverless/api/bucket-schemas/_index.md
  content/influxdb3/cloud-serverless/api/buckets/_index.md
  content/influxdb3/cloud-serverless/api/common-parameters/_index.md
  content/influxdb3/cloud-serverless/api/dbrps/_index.md
  content/influxdb3/cloud-serverless/api/delete/_index.md
  content/influxdb3/cloud-serverless/api/headers/_index.md
  content/influxdb3/cloud-serverless/api/invokable-scripts/_index.md
  content/influxdb3/cloud-serverless/api/limits/_index.md
  content/influxdb3/cloud-serverless/api/organizations/_index.md
  content/influxdb3/cloud-serverless/api/pagination/_index.md
  content/influxdb3/cloud-serverless/api/quick-start/_index.md
  content/influxdb3/cloud-serverless/api/resources/_index.md
  content/influxdb3/cloud-serverless/api/response-codes/_index.md
  content/influxdb3/cloud-serverless/api/routes/_index.md
  content/influxdb3/cloud-serverless/api/secrets/_index.md
  content/influxdb3/cloud-serverless/api/security-and-access-endpoints/_index.md
  content/influxdb3/cloud-serverless/api/supported-operations/_index.md
  content/influxdb3/cloud-serverless/api/system-information-endpoints/_index.md
  content/influxdb3/cloud-serverless/api/tasks/_index.md
  content/influxdb3/cloud-serverless/api/telegrafs/_index.md
  content/influxdb3/cloud-serverless/api/templates/_index.md
  content/influxdb3/cloud-serverless/api/usage/_index.md
  content/influxdb3/cloud-serverless/api/variables/_index.md
  content/influxdb3/clustered/management-api/_index.md
  content/influxdb3/clustered/management-api/all-endpoints/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint

fix(api-docs): auto-generate API content before Cypress tests
  cypress/e2e/content/api-reference.cy.js
Due: prettier

fix(api-docs): scope Cloud Serverless spec to supported endpoints, absolutify download links
  api-docs/influxdb3/cloud-serverless/.config.yml
  api-docs/influxdb3/cloud-serverless/content/info.yml
  api-docs/influxdb3/cloud-serverless/influxdb3-cloud-serverless-openapi.yaml
  api-docs/influxdb3/cloud-serverless/tags.yml
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

Deploy preview for PR 6939 🛫
  pr-preview/pr-6939/index.html
  pr-preview/pr-6939/influxdb3/cloud-serverless/api/data/index.html
Due: none

fix(api-docs): fix orphaned parentheses from Redoc link stripping
  api-docs/influxdb3/cloud-serverless/influxdb3-cloud-serverless-openapi.yaml
Due: none

Update api-docs/influxdb/v1/content/info.yml
  api-docs/influxdb/v1/content/info.yml
Due: none

Deploy preview for PR 6939 🛫
  pr-preview/pr-6939/index.html
  pr-preview/pr-6939/influxdb/v1/api/v1/index.html
Due: none

feat(api-docs): add externalDocs to tags, strip absolute URLs, fix link pipeline
  api-docs/enterprise_influxdb/v1/tags.yml
  api-docs/influxdb/cloud/tags.yml
  api-docs/influxdb/v1/tags.yml
  api-docs/influxdb/v2/tags.yml
  api-docs/influxdb3/cloud-dedicated/management/tags.yml
  api-docs/influxdb3/cloud-dedicated/tags.yml
  api-docs/influxdb3/cloud-serverless/tags.yml
  api-docs/influxdb3/clustered/management/tags.yml
  api-docs/influxdb3/clustered/tags.yml
  api-docs/influxdb3/core/tags.yml
  api-docs/influxdb3/enterprise/tags.yml
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
Due: prettier

refactor(api-docs): simplify getswagger.sh and generate-api-docs.sh
  api-docs/generate-api-docs.sh
  api-docs/getswagger.sh
Due: none

fix(api-docs): fix Hugo spec path, sidebar data, and test selectors
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/generate-openapi-articles.ts
  cypress/e2e/content/api-reference.cy.js
Due: prettier

Updating changelog
  content/telegraf/v1/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

Updating product version
  data/products.yml
Due: build-agent-instructions

fix(api-docs): add menu entries for all API reference pages
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

fix(api-docs): restyle Ask AI as a button for better contrast
  assets/styles/layouts/_api-code-samples.scss
Due: none

fix(api-docs): remove stale tags-landing pages that crash Hugo rebuild
  content/influxdb/cloud/tags/_index.md
  content/influxdb/v2/tags/_index.md
Due: deprecated-markdown-patterns, cloud-lint, v2-lint

feat(ui): add Ask AI to code block controls menu
  assets/js/code-controls.js
Due: eslint-debug-check, prettier, lint-js

fix(ui): fix Ask AI code control and add e2e tests
  assets/js/code-controls.js
  cypress/e2e/content/code-controls.cy.js
Due: eslint-debug-check, prettier, lint-js

fix(ui): apply icon spacing to all code control menu items
  assets/styles/layouts/_code-controls.scss
  cypress/e2e/content/code-controls.cy.js
Due: prettier

Potential fix for pull request finding
  cypress/e2e/content/code-controls.cy.js
Due: prettier

fix(ui): add keyboard accessibility to code controls menu
  assets/js/code-controls.js
  assets/styles/layouts/_code-controls.scss
  cypress/e2e/content/code-controls.cy.js
Due: eslint-debug-check, prettier, lint-js

refactor(api-docs): remove Redoc UI, update docs for Hugo-native pipeline
  .claude/agents/influxdb1-tech-writer.md
  .claude/agents/influxdb3-tech-writer.md
  .claude/agents/ts-component-dev.md
  .claude/skills/cypress-e2e-testing/SKILL.md
  .claude/skills/hugo-template-dev/SKILL.md
  .github/instructions/api-docs.instructions.md
  .gitignore
  AGENTS.md
  DOCS-CONTRIBUTING.md
  PLAN.md
  api-docs/README.md
  api-docs/generate-api-docs.sh
  api-docs/template.hbs
  assets/js/ask-ai.ts
  docs/plans/2026-02-13-hugo-native-api-migration.md
Due: lint-markdown-instructions, lint-instructions, build-typescript, prettier, lint-js

Revert "fix(api-docs): restyle Ask AI as a button for better contrast"
  assets/styles/layouts/_api-code-samples.scss
Due: none

Apply suggestions from code review
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/enterprise_influxdb/v1/query_language/sample-data.md
Due: deprecated-markdown-patterns

Potential fix for pull request finding
  content/enterprise_influxdb/v1/query_language/continuous_queries.md
Due: deprecated-markdown-patterns

Apply suggestions from code review
  content/enterprise_influxdb/v1/query_language/explore-data.md
  content/enterprise_influxdb/v1/query_language/manage-database.md
Due: deprecated-markdown-patterns

Potential fix for pull request finding
  content/influxdb/v1/query_language/continuous_queries.md
Due: deprecated-markdown-patterns

Update content/enterprise_influxdb/v1/query_language/continuous_queries.md
  content/enterprise_influxdb/v1/query_language/continuous_queries.md
Due: deprecated-markdown-patterns
