Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

feat: Enterprise 1.x mTLS
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/administration/configure/security/enable_tls.md
  content/enterprise_influxdb/v1/administration/manage/clusters/replacing-nodes.md
  content/enterprise_influxdb/v1/tools/influx-cli/_index.md
  content/enterprise_influxdb/v1/tools/influx-cli/use-influx-cli.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/_index.md
Due: deprecated-markdown-patterns

chore: change to GitHub-style alert block
  content/enterprise_influxdb/v1/administration/configure/security/enable_tls.md
Due: deprecated-markdown-patterns

chore: change to GitHub-style alert block
  content/enterprise_influxdb/v1/administration/manage/clusters/replacing-nodes.md
Due: deprecated-markdown-patterns

feat(v1): document InfluxDB OSS and Enterprise v1.13.0 release
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/administration/config.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

chore(deps): update Vale to v3.18.0
  .ci/vale/vale.sh
Due: none

Apply suggestions from code review
  content/chronograf/v1/administration/managing-influxdb-users.md
Due: deprecated-markdown-patterns

docs(api): link tracking issues from OSS v2 spec regen plan
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs(api): plan OSS v2 spec regen for restore onConflict
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

feat(api): split Cloud v2 spec sync
  .github/workflows/sync-openapi-cloud-v2-spec.yml
Due: none

feat(api): automate InfluxDB v2 spec sync
  .github/workflows/sync-openapi-v2-specs.yml
Due: none

refactor(api): separate v2 spec sync workflows
  .github/workflows/sync-openapi-v2-specs.yml
Due: none

chore(api): remove temporary regeneration plan
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

feat(api): split OSS v2 spec sync
  .github/workflows/sync-openapi-oss-v2-spec.yml
Due: none

docs(api): correct root cause of OSS v2 spec regeneration churn
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs(api): clarify OSS implementation release gate
  .github/workflows/sync-openapi-oss-v2-spec.yml
Due: none

docs(api): add Cloud sync review coordination
  .github/workflows/sync-openapi-cloud-v2-spec.yml
Due: none

fix(api): pin @redocly/cli and add yarn install to sync workflows
  .github/workflows/sync-openapi-cloud-v2-spec.yml
  .github/workflows/sync-openapi-oss-v2-spec.yml
  api-docs/getswagger.sh
  api-docs/influxdb/cloud/influxdb-cloud-v2-openapi.yaml
  api-docs/influxdb/v2/influxdb-oss-v2-openapi.yaml
  api-docs/package.json
  api-docs/yarn.lock
Due: none

Potential fix for pull request finding
  .github/workflows/sync-openapi-oss-v2-spec.yml
Due: none

docs(api): add OSS sync review coordination
  .github/workflows/sync-openapi-oss-v2-spec.yml
Due: none

refactor(api): pin Cloud v2 sync source revision
  .github/workflows/sync-openapi-cloud-v2-spec.yml
Due: none

Potential fix for pull request finding
  .github/workflows/sync-openapi-cloud-v2-spec.yml
Due: none

fix(api): validate resolved Cloud source SHA
  .github/workflows/sync-openapi-cloud-v2-spec.yml
Due: none

refactor(api): sync OSS v2 from pinned master revision
  .github/workflows/sync-openapi-oss-v2-spec.yml
Due: none

fix(api): validate resolved OSS source SHA
  .github/workflows/sync-openapi-oss-v2-spec.yml
Due: none

fix(influxdb3): version-anchor option renames and additions in config-options
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): address review — scope pre-3.11 labels to actual 3.11 renames
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(api): move OSS v2 and Cloud v2 spec decorators to build time
  api-docs/influxdb/cloud/.config.yml
  api-docs/influxdb/cloud/influxdb-cloud-v2-openapi.yaml
  api-docs/influxdb/v2/.config.yml
  api-docs/influxdb/v2/influxdb-oss-v2-openapi.yaml
  api-docs/openapi/plugins/docs-plugin.cjs
  api-docs/scripts/dist/post-process-specs.js
  api-docs/scripts/dist/test-post-process-specs.js
  api-docs/scripts/post-process-specs.ts
  api-docs/scripts/test-post-process-specs.ts
Due: prettier

docs(api): document how to read the v2/cloud mirror spec's final content
  api-docs/README.md
Due: lint-instructions
