Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

test(format-selector): cover connect_mcp + fix PLAN.md cypress commands
  PLAN.md
  cypress/e2e/content/llm-format-selector.cy.js
Due: lint-markdown-instructions, lint-instructions, prettier

feat(actions): unify page actions such as md copy and telegraf plugins links
  .yarn/install-state.gz
  .yarnrc.yml
  assets/js/components/download-external.ts
  assets/js/main.js
  assets/styles/components/_format-selector.scss
  assets/styles/components/_page-actions.scss
  assets/styles/layouts/article/_title.scss
  assets/styles/styles-default.scss
  layouts/partials/article.html
  layouts/partials/article/telegraf-plugin-links.html
Due: eslint-debug-check, build-typescript, prettier, lint-js

chore: remove planning docs
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

Update layouts/partials/article/telegraf-plugin-links.html
  layouts/partials/article/telegraf-plugin-links.html
Due: none

feat(page-actions): added documentation for page actions
  .github/instructions/layouts.instructions.md
  DOCS-PAGE-ACTIONS.md
Due: lint-markdown-instructions, lint-instructions

chore(influxdb3): rename Cloud Dedicated to InfluxDB 3 Cloud on decision page
  content/shared/influxdb3/which-influxdb-3.md
  data/faqs/which-influxdb-3.yml
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): document current v3 product landscape in decision table
  content/shared/influxdb3/which-influxdb-3.md
  cypress/e2e/content/which-influxdb-3.cy.js
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, prettier

refactor(flux): port flux-influxdb-versions trigger to TypeScript
  assets/js/components/flux-influxdb-versions.ts
  assets/js/flux-influxdb-versions.js
  assets/js/main.js
Due: eslint-debug-check, build-typescript, prettier, lint-js

feat(page-actions): move "View InfluxDB support" trigger to .page-actions
  assets/styles/components/_page-actions.scss
  layouts/partials/article.html
  layouts/partials/article/flux-influxdb-support.html
  layouts/partials/article/supported-versions.html
Due: none

style(page-actions): drop redundant CSS class on flux-influxdb button
  layouts/partials/article/flux-influxdb-support.html
Due: none

style(title): remove dead .flux-influxdb metadata-pill rules
  assets/styles/layouts/article/_title.scss
Due: none

fix(page-actions): use CuboSolid v4 icon class so cubo glyph renders
  layouts/partials/article/flux-influxdb-support.html
Due: none

Deploy preview for PR 7217 🛫
  pr-preview/pr-7217/index.html
Due: none

Deploy preview for PR 7217 🛫
  pr-preview/pr-7217/flux/v0/stdlib/universe/index.html
  pr-preview/pr-7217/index.html
Due: none

fix(influxdb3): position Flux as not officially supported on v3
  content/shared/influxdb3/which-influxdb-3.md
  data/faqs/which-influxdb-3.yml
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): clarify v1/v2 feature policy in decision FAQ
  data/faqs/which-influxdb-3.yml
Due: none

fix(influxdb3): add product doc links to decision table 'Use this' column
  content/shared/influxdb3/which-influxdb-3.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7214 🛫
  pr-preview/pr-7214/index.html
Due: none

feat(layouts): add FAQPage JSON-LD partial gated on faq_canonical
  layouts/partials/header/faq-jsonld.html
Due: none

feat(layouts): include FAQ JSON-LD partial in <head>
  layouts/partials/header.html
Due: none

test(cypress): assert FAQPage JSON-LD on which-influxdb-3
  cypress/e2e/content/which-influxdb-3.cy.js
Due: prettier

Deploy preview for PR 7220 🛫
  pr-preview/pr-7220/index.html
Due: none

ci: declare workflow-level contents: read on 2 workflows
  .github/workflows/pr-feedback-links.yml
  .github/workflows/test.yml
Due: none

chore(migration): scaffold code-placeholders codemod, injectAttr
  scripts/migrate-code-placeholders.mjs
  scripts/migrate-code-placeholders.test.mjs
Due: none

fix(migration): keep space before brace in injectAttr merged path
  scripts/migrate-code-placeholders.mjs
  scripts/migrate-code-placeholders.test.mjs
Due: none

test(migration): cover injectAttr merge/present branches
  scripts/migrate-code-placeholders.test.mjs
Due: none

feat(migration): add wrapper open/close tag parsers
  scripts/migrate-code-placeholders.mjs
  scripts/migrate-code-placeholders.test.mjs
Due: none

feat(migration): add tabs detection and region re-indent
  scripts/migrate-code-placeholders.mjs
  scripts/migrate-code-placeholders.test.mjs
Due: none

feat(migration): implement migrate() composing all helpers
  scripts/migrate-code-placeholders.mjs
  scripts/migrate-code-placeholders.test.mjs
Due: none

feat(migration): add content/ CLI runner with --dry-run
  scripts/migrate-code-placeholders.mjs
Due: none

feat(migration): add rendered-HTML parity verifier
  scripts/verify-placeholders-migration.mjs
Due: none

docs(migration): record dry-run report
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
