Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

feat(llm): publisher line in llms.txt header (#7290)
  cypress/e2e/content/llms-txt-provenance.cy.js
  layouts/index.llmstxt.txt
Due: prettier

docs(testing): document LLM-artifact provenance fields (#7290)
  DOCS-TESTING.md
Due: lint-markdown-instructions, lint-instructions

docs(testing): correct canonical origin description (#7290)
  DOCS-TESTING.md
Due: lint-markdown-instructions, lint-instructions

chore: remove PLAN.md planning artifact (#7290)
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

style(llm): prettier formatting for build-llm-markdown (#7290)
  scripts/build-llm-markdown.js
Due: prettier

feat(jsonld): carry InfluxData provenance into LLM-native artifacts (#7290) (#7294)
  DOCS-TESTING.md
  cypress/e2e/content/llms-txt-provenance.cy.js
  layouts/index.llmstxt.txt
  package.json
  scripts/__tests__/build-llm-markdown.test.mjs
  scripts/__tests__/build-llms-full-txt.test.mjs
  scripts/__tests__/provenance.test.mjs
  scripts/build-llm-markdown.js
  scripts/build-llms-full-txt.js
  scripts/lib/provenance.js
Due: lint-markdown-instructions, lint-instructions, prettier

feat(platform): expand FAQ with category-level Q&As and FAQPage JSON-LD
  content/platform/faq.md
  cypress/e2e/content/platform-faq.cy.js
  data/faqs/platform.yml
Due: deprecated-markdown-patterns, prettier

Deploy preview for PR 7295 🛫
  pr-preview/pr-7295/index.html
Due: none

docs(controller): add Telegraf Controller glossary
  content/telegraf/controller/reference/glossary.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(platform): add IA sharing canonical-validation design (#7233)
  docs/exec-plans/active/2026-06-03-ia-sharing-canonical-validation-design.md
Due: none

docs(influxdb3 backup-restore): add object versioning guidance (#7162)
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(platform): expand FAQ with category-level Q&As and FAQPage JSON-LD (#7295)
  content/platform/faq.md
  cypress/e2e/content/platform-faq.cy.js
  data/faqs/platform.yml
Due: deprecated-markdown-patterns, prettier

Deploy preview for PR 7112 🛫
  pr-preview/pr-7112/index.html
  pr-preview/pr-7112/influxdb/v2/install/upgrade/v1-to-v2/manual-upgrade/index.html
Due: none

docs(v2): document storage-compact-throughput configuration parameter (#7112)
  content/influxdb/v2/install/upgrade/v1-to-v2/manual-upgrade.md
  content/influxdb/v2/reference/config-options.md
  content/influxdb/v2/reference/internals/shards.md
Due: deprecated-markdown-patterns, v2-lint

docs(controller): add Telegraf Controller glossary (#7296)
  content/telegraf/controller/reference/glossary.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(platform): record IA sharing route decision (#7233)
  docs/exec-plans/active/2026-06-03-ia-sharing-canonical-validation-design.md
Due: none

Updating changelog
  content/telegraf/v1/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

Updating product version
  data/products.yml
Due: build-agent-instructions

Updating plugin list
  data/telegraf_plugins.yml
Due: none

docs(platform): scope urgent canonical fixes, defer cross-edition reference
  docs/exec-plans/active/2026-06-03-ia-sharing-canonical-validation-design.md
Due: none

docs: add task-by-task implementation plan for Rust converter migration
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs: add design spec for Rust markdown converter migration
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs(plan): tie truncation test to #6792, add section + clipboard guards
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs: revise plan — Rust is an exact drop-in; provenance+timestamps stay in JS
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs(plan): bounded parity (fixture+scan), truncation test, handoff section
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

build(rust): pin @napi-rs/cli to v2 to match napi 2.16 crate
  scripts/rust-markdown-converter/package.json
  scripts/rust-markdown-converter/yarn.lock
Due: none

chore: remove abandoned Lambda@Edge markdown-generator references
  .gitignore
  DOCS-TESTING.md
  scripts/html-to-markdown.js
Due: lint-markdown-instructions, lint-instructions, prettier

build: build Rust converter on postinstall when cargo is present
  package.json
  scripts/build-rust-converter.js
Due: prettier

docs(plan): record napi CLI v2 pin prerequisite in Task 2
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

chore: gitignore .parity-baseline snapshot dir
  .gitignore
Due: none

chore: remove JS markdown converter and legacy CLI; add build:md --path/--limit
  .gitignore
  cypress/e2e/content/llm-format-selector.cy.js
  cypress/e2e/content/markdown-content-validation.cy.js
  package.json
  scripts/build-llm-markdown.js
  scripts/html-to-markdown.js
  scripts/lib/markdown-converter.cjs
  yarn.lock
Due: prettier

docs(plan): record #7299 frontmatter version-semantics follow-up
  PLAN.md
Due: lint-markdown-instructions, lint-instructions
