Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

chore(ci): add lockfile-lint PR check to prevent yarn.lock injection (#7114)
  .github/workflows/pr-lockfile-lint.yml
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

Release Chronograf v1.11.1 (#7105)
  content/chronograf/v1/about_the_project/release-notes.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

feat(products): add oss_repo field for products with public repos (#7106)
  data/products.yml
Due: build-agent-instructions

Fix formatting of curl command in query documentation
  content/shared/influxdb3-admin/query-system-data/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/influxdb3/enterprise/admin/clustering.md
  content/influxdb3/enterprise/admin/clustering.md
Due: deprecated-markdown-patterns, enterprise-lint

Deploy preview for PR 7075 🛫
  pr-preview/pr-7075/index.html
Due: none

fix(feedback): resolve version-specific product names and Cloud (TSM) key
  .ci/scripts/check-feedback-links.js
  cypress/e2e/content/article-feedback.cy.js
  layouts/partials/article/feedback.html
Due: prettier

Deploy preview for PR 7090 🛫
  pr-preview/pr-7090/index.html
  pr-preview/pr-7090/influxdb3/core/get-started/index.html
  pr-preview/pr-7090/influxdb3/enterprise/get-started/index.html
  pr-preview/pr-7090/telegraf/v1/plugins/index.html
Due: none

Deploy preview for PR 7090 🛫
  pr-preview/pr-7090/index.html
Due: none

refactor(feedback): hide product issue button for licensed products
  .ci/scripts/check-feedback-links.js
  cypress/e2e/content/article-feedback.cy.js
  data/products.yml
  layouts/partials/article/feedback.html
Due: build-agent-instructions, prettier

Deploy preview for PR 7090 🛫
  pr-preview/pr-7090/enterprise_influxdb/v1/index.html
  pr-preview/pr-7090/index.html
  pr-preview/pr-7090/influxdb/cloud/index.html
  pr-preview/pr-7090/influxdb/v2/index.html
Due: none

fix(feedback): derive product key from .File.Dir, not .RelPermalink
  layouts/partials/article/feedback.html
Due: none

Deploy preview for PR 7090 🛫
  pr-preview/pr-7090/enterprise_influxdb/v1/index.html
  pr-preview/pr-7090/index.html
  pr-preview/pr-7090/influxdb3/core/get-started/index.html
  pr-preview/pr-7090/influxdb3/enterprise/get-started/index.html
  pr-preview/pr-7090/telegraf/v1/plugins/index.html
Due: none

fix(ci): detect harness changes and map to default test group
  .github/workflows/test.yml
Due: none

feat(ci): start InfluxDB 3 Core with preconfigured token for live tests
  .github/workflows/test.yml
Due: none

fix(ci): chmod data dirs so influxdb3:3-core container can write
  .github/workflows/test.yml
Due: none

fix(ci): make admin token file world-readable for compose secret mount
  .github/workflows/test.yml
Due: none

docs(openapi): update Core and Enterprise specs to v3.9.0
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

fix(ci): authenticate readiness probe; /ping requires token in Core 3.9+
  .github/workflows/test.yml
Due: none

chore(ci): make code-block test job truly non-blocking
  .github/workflows/test.yml
Due: none

feat(ci): add influxdb3-enterprise-pytest compose service
  compose.yaml
Due: none

feat(ci): run InfluxDB 3 Enterprise live tests with preconfigured token
  .github/workflows/test.yml
  package.json
Due: none

chore(ci): run default code-block test group in parallel
  package.json
Due: none

feat(ci): gate Enterprise pytest on pre-verified license blob; filter suggestions
  .github/workflows/test.yml
Due: none

docs(testing): document CI code-block workflow and Enterprise activation
  DOCS-TESTING.md
Due: lint-markdown-instructions, lint-instructions

feat(ci): include influxdb3_enterprise in default product group
  .github/workflows/test.yml
Due: none

docs: add code-block lint plan and implementation spec
  PLAN.md
  PLAN_CODE_BLOCK_LINTING.md
Due: lint-markdown-instructions, lint-instructions

feat: Add influx-cli v2.8.0 release notes
  content/shared/influxdb-v2/reference/release-notes/influx-cli.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat: Use correct styling
  content/shared/influxdb-v2/reference/release-notes/influx-cli.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint
