Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

docs(sql): add FLOAT/REAL type casting and precision info (#6856)
  content/shared/sql-reference/data-types.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Release Chronograf v1.11.0 (#6854)
  PLATFORM_REFERENCE.md
  content/chronograf/v1/about_the_project/release-notes.md
  data/products.yml
Due: build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions

fix(influxdb3): update to v3.8.2, add --tls-no-verify and release notes
  content/shared/influxdb3-cli/create/database.md
  content/shared/influxdb3-cli/create/distinct_cache.md
  content/shared/influxdb3-cli/create/file_index.md
  content/shared/influxdb3-cli/create/last_cache.md
  content/shared/influxdb3-cli/create/table.md
  content/shared/influxdb3-cli/create/trigger.md
  content/shared/influxdb3-cli/delete/database.md
  content/shared/influxdb3-cli/delete/distinct_cache.md
  content/shared/influxdb3-cli/delete/file_index.md
  content/shared/influxdb3-cli/delete/last_cache.md
  content/shared/influxdb3-cli/delete/table.md
  content/shared/influxdb3-cli/delete/token.md
  content/shared/influxdb3-cli/delete/trigger.md
  content/shared/influxdb3-cli/disable/trigger.md
  content/shared/influxdb3-cli/enable/trigger.md
  content/shared/influxdb3-cli/install/package.md
  content/shared/influxdb3-cli/query.md
  content/shared/influxdb3-cli/show/databases.md
  content/shared/influxdb3-cli/show/nodes.md
  content/shared/influxdb3-cli/show/plugins.md
  content/shared/influxdb3-cli/show/retention.md
  content/shared/influxdb3-cli/show/system/summary.md
  content/shared/influxdb3-cli/show/system/table-list.md
  content/shared/influxdb3-cli/show/system/table.md
  content/shared/influxdb3-cli/show/tokens.md
  content/shared/influxdb3-cli/stop/node.md
  content/shared/influxdb3-cli/test/schedule_plugin.md
  content/shared/influxdb3-cli/test/wal_plugin.md
  content/shared/influxdb3-cli/update/database/_index.md
  content/shared/influxdb3-cli/update/table/_index.md
  content/shared/influxdb3-cli/update/trigger.md
  content/shared/influxdb3-cli/write.md
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/products.yml
Due: build-agent-instructions, lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(influxdb3): remove PachaTree references from documentation
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/shared/influxdb3-reference/influxdb3-processing-engine.md
  content/shared/influxdb3-reference/influxdb3-processing-engine.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/shared/v3-core-enterprise-release-notes/_index.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6774 🛫
  pr-preview/pr-6774/index.html
Due: none

Apply suggestions from code review
  content/shared/influxdb3-cli/create/table.md
  content/shared/influxdb3-cli/create/trigger.md
  content/shared/influxdb3-cli/delete/database.md
  content/shared/influxdb3-cli/delete/distinct_cache.md
  content/shared/influxdb3-cli/delete/file_index.md
  content/shared/influxdb3-cli/delete/last_cache.md
  content/shared/influxdb3-cli/delete/table.md
  content/shared/influxdb3-cli/delete/token.md
  content/shared/influxdb3-cli/delete/trigger.md
  content/shared/influxdb3-cli/disable/trigger.md
  content/shared/influxdb3-cli/enable/trigger.md
  content/shared/influxdb3-cli/install/package.md
  content/shared/influxdb3-cli/query.md
  content/shared/influxdb3-cli/show/databases.md
  content/shared/influxdb3-cli/show/nodes.md
  content/shared/influxdb3-cli/show/plugins.md
  content/shared/influxdb3-cli/show/retention.md
  content/shared/influxdb3-cli/show/system/summary.md
  content/shared/influxdb3-cli/show/system/table-list.md
  content/shared/influxdb3-cli/show/system/table.md
  content/shared/influxdb3-cli/show/tokens.md
  content/shared/influxdb3-cli/stop/node.md
  content/shared/influxdb3-cli/test/schedule_plugin.md
  content/shared/influxdb3-cli/test/wal_plugin.md
  content/shared/influxdb3-cli/update/database/_index.md
  content/shared/influxdb3-cli/update/table/_index.md
  content/shared/influxdb3-cli/update/trigger.md
  content/shared/influxdb3-cli/write.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6774 🛫
  pr-preview/pr-6774/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/create/table/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/create/trigger/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/delete/database/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/delete/distinct_cache/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/delete/last_cache/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/delete/table/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/delete/token/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/delete/trigger/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/disable/trigger/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/enable/trigger/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/install/package/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/query/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/show/databases/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/show/plugins/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/show/retention/index.html
  pr-preview/pr-6774/influxdb3/core/reference/cli/influxdb3/show/system/summary/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/create/table/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/create/trigger/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/delete/database/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/delete/distinct_cache/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/delete/file_index/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/delete/last_cache/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/delete/table/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/delete/token/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/delete/trigger/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/disable/trigger/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/enable/trigger/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/install/package/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/query/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/show/databases/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/show/nodes/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/show/plugins/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/show/retention/index.html
  pr-preview/pr-6774/influxdb3/enterprise/reference/cli/influxdb3/show/system/summary/index.html
Due: none

v3.8.2 API and CLI updates (#6774)
  api-docs/influxdb3/enterprise/v3/ref.yml
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-admin/databases/delete.md
  content/shared/influxdb3-admin/databases/list.md
  content/shared/influxdb3-admin/tables/delete.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/create/database.md
  content/shared/influxdb3-cli/create/distinct_cache.md
  content/shared/influxdb3-cli/create/file_index.md
  content/shared/influxdb3-cli/create/last_cache.md
  content/shared/influxdb3-cli/create/table.md
  content/shared/influxdb3-cli/create/trigger.md
  content/shared/influxdb3-cli/delete/database.md
  content/shared/influxdb3-cli/delete/distinct_cache.md
  content/shared/influxdb3-cli/delete/file_index.md
  content/shared/influxdb3-cli/delete/last_cache.md
  content/shared/influxdb3-cli/delete/table.md
  content/shared/influxdb3-cli/delete/token.md
  content/shared/influxdb3-cli/delete/trigger.md
  content/shared/influxdb3-cli/disable/trigger.md
  content/shared/influxdb3-cli/enable/trigger.md
  content/shared/influxdb3-cli/install/package.md
  content/shared/influxdb3-cli/query.md
  content/shared/influxdb3-cli/show/databases.md
  content/shared/influxdb3-cli/show/nodes.md
  content/shared/influxdb3-cli/show/plugins.md
  content/shared/influxdb3-cli/show/retention.md
  content/shared/influxdb3-cli/show/system/summary.md
  content/shared/influxdb3-cli/show/system/table-list.md
  content/shared/influxdb3-cli/show/system/table.md
  content/shared/influxdb3-cli/show/tokens.md
  content/shared/influxdb3-cli/stop/node.md
  content/shared/influxdb3-cli/test/schedule_plugin.md
  content/shared/influxdb3-cli/test/wal_plugin.md
  content/shared/influxdb3-cli/update/database/_index.md
  content/shared/influxdb3-cli/update/table/_index.md
  content/shared/influxdb3-cli/update/trigger.md
  content/shared/influxdb3-cli/write.md
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/products.yml
Due: build-agent-instructions, lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Add documentation for viewing the query log in the Admin UI and using influxctl
  content/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-log.md
  static/img/influxdb3/cloud-dedicated-admin-ui-query-log-detail-view.png
  static/img/influxdb3/cloud-dedicated-admin-ui-query-log-list-view.png
Due: lint-markdown-content, cloud-dedicated-lint

Update content/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-log.md
  content/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-log.md
Due: lint-markdown-content, cloud-dedicated-lint

Deploy preview for PR 6866 🛫
  pr-preview/pr-6866/index.html
  pr-preview/pr-6866/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-log/index.html
Due: none

Replace deprecated code-placeholders shortcode with placeholders attribute (#6869)
  content/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-log.md
Due: lint-markdown-content, cloud-dedicated-lint

Fix support.influxdata.com link pattern in query-log.md (#6867)
  content/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-log.md
Due: lint-markdown-content, cloud-dedicated-lint

docs(influxdb3): document how to disable Processing Engine (#6860)
  content/influxdb3/enterprise/admin/clustering.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-get-started/processing-engine.md
  content/shared/influxdb3-plugins/_index.md
  content/shared/influxdb3-reference/influxdb3-processing-engine.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

[WIP] Upgrade to ESLint v10 (#6861)
  package.json
  yarn.lock
Due: none

feat: [meta] https-insecure-certificate configuration (#6850)
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
Due: lint-markdown-content

feat: https-insecure-certificate configuration (#6847)
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
Due: lint-markdown-content

feat: [tls] advanced-expiration configuration (#6849)
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
Due: lint-markdown-content

docs: backfill Explorer UI release notes (#6855)
  content/influxdb3/explorer/release-notes/_index.md
Due: lint-markdown-content, explorer-lint

feat: add compression options to influxd-ctl backup (#6717)
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
Due: lint-markdown-content

Apply suggestions from code review
  content/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-log.md
Due: lint-markdown-content, cloud-dedicated-lint
