Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

Deploy preview for PR 7102 🛫
  pr-preview/pr-7102/index.html
  pr-preview/pr-7102/influxdb3/explorer/index.html
Due: none

Deploy preview for PR 7101 🛫
  pr-preview/pr-7101/index.html
Due: none

Release Chronograf v1.11.1
  content/chronograf/v1/about_the_project/release-notes.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

feat(products): add oss_repo field for products with public repos
  data/products.yml
Due: build-agent-instructions

Deploy preview for PR 7075 🛫
  pr-preview/pr-7075/index.html
Due: none

Deploy preview for PR 7105 🛫
  pr-preview/pr-7105/index.html
Due: none

Deploy preview for PR 6622 🛫
  pr-preview/pr-6622/index.html
  pr-preview/pr-6622/influxdb/cloud/tags/index.html
  pr-preview/pr-6622/influxdb/cloud/tags/index.xml
  pr-preview/pr-6622/influxdb/v2/tags/index.html
  pr-preview/pr-6622/influxdb/v2/tags/index.xml
Due: none

chore: upgrade guidance for non-root container change
  content/influxdb3/explorer/release-notes/_index.md
Due: deprecated-markdown-patterns, explorer-lint

style(explorer): improve upgrade warning clarity and formatting
  content/influxdb3/explorer/install.md
  content/influxdb3/explorer/release-notes/_index.md
Due: deprecated-markdown-patterns, explorer-lint

Update content/influxdb3/explorer/install.md
  content/influxdb3/explorer/install.md
Due: deprecated-markdown-patterns, explorer-lint

chore: update port mappings for non-root container (80→8080, 443→8443)
  content/influxdb3/explorer/install.md
Due: deprecated-markdown-patterns, explorer-lint

Deploy preview for PR 7090 🛫
  pr-preview/pr-7090/index.html
Due: none

Update content/chronograf/v1/about_the_project/release-notes.md
  content/chronograf/v1/about_the_project/release-notes.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7105 🛫
  pr-preview/pr-7105/chronograf/v1/about_the_project/release-notes/index.html
  pr-preview/pr-7105/index.html
Due: none

fix: specific linux in heading
  content/influxdb3/explorer/release-notes/_index.md
Due: deprecated-markdown-patterns, explorer-lint

Deploy preview for PR 7048 🛫
  pr-preview/pr-7048/index.html
  pr-preview/pr-7048/influxdb3/explorer/release-notes/index.html
Due: none

Deploy preview for PR 7075 🛫
  pr-preview/pr-7075/index.html
  pr-preview/pr-7075/influxdb3/enterprise/admin/clustering/index.html
Due: none

Release Kapacitor 1.8.4
  content/kapacitor/v1/reference/about_the_project/release-notes.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

docs(v2): document storage-compact-throughput configuration parameter
  content/influxdb/v2/reference/config-options.md
Due: deprecated-markdown-patterns, v2-lint

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
