Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-markdown-content:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

Apply suggestions from code review
  content/shared/v3-line-protocol.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb-v1): correct FUTURE LIMIT and PAST LIMIT clause order and add to ALTER RETENTION POLICY
  content/enterprise_influxdb/v1/query_language/manage-database.md
  content/enterprise_influxdb/v1/query_language/spec.md
  content/influxdb/v1/query_language/manage-database.md
  content/influxdb/v1/query_language/spec.md
  content/influxdb3/clustered/reference/release-notes/clustered.md
Due: lint-markdown-content, clustered-lint

style(influxdb-v1): clean up InfluxQL spec formatting
  content/enterprise_influxdb/v1/query_language/spec.md
  content/influxdb/v1/query_language/spec.md
Due: lint-markdown-content

chore(claude): Add claude skill for Hugo development/testing workflow. Split ui-dev subagent into hugo-, ts-, and testing-specific agents.
  .claude/agents/hugo-ui-dev.md
  .claude/agents/ts-component-dev.md
  .claude/agents/ui-dev.md
  .claude/agents/ui-testing.md
  .claude/skills/hugo-template-dev/SKILL.md
Due: lint-markdown-instructions, lint-instructions

Add Self-Signed Certificate docs
  content/influxdb3/explorer/install.md
Due: lint-markdown-content, explorer-lint

Update content/influxdb3/explorer/install.md
  content/influxdb3/explorer/install.md
Due: lint-markdown-content, explorer-lint

style(explorer): improve TLS and self-signed certificate documentation
  content/influxdb3/explorer/install.md
Due: lint-markdown-content, explorer-lint

Apply suggestions from code review
  content/influxdb3/explorer/install.md
Due: lint-markdown-content, explorer-lint

Apply suggestion from @jstirnaman
  content/influxdb3/explorer/install.md
Due: lint-markdown-content, explorer-lint

fix(api): Add operations list styling and regroup sidebar navigation
  assets/styles/layouts/_api-layout.scss
  data/api_nav_groups.yml
  layouts/api/list.html
Due: none

chore(claude): Update ui-testing agent and hugo-template-dev skill
  .claude/agents/ui-testing.md
  .claude/skills/hugo-template-dev/SKILL.md
Due: lint-markdown-instructions, lint-instructions

feat(api): Update OpenAPI article generators for tag-based structure
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
Due: prettier

feat(api): Update Hugo layouts for tag-based API documentation
  layouts/api/single.html
  layouts/partials/api/rapidoc.html
  layouts/partials/api/renderer.html
  layouts/partials/api/scalar.html
  layouts/partials/api/tab-panels.html
  layouts/partials/api/tabs.html
  layouts/partials/sidebar.html
Due: none

feat(api): Add TypeScript components for API UI interactions
  assets/js/components/api-nav.ts
  assets/js/components/api-scalar.ts
  assets/js/components/api-tabs.ts
  assets/js/components/api-toc.ts
  assets/js/main.js
Due: eslint-debug-check, build-typescript, prettier, lint-js

feat(api): Add article data files and sidebar navigation partial
  data/article-data/influxdb/cloud-v2/articles.json
  data/article_data/influxdb/cloud-dedicated/articles.yml
  data/article_data/influxdb/cloud-v2/articles.yml
  data/article_data/influxdb/clustered/articles.yml
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
  data/article_data/influxdb/oss-v2/articles.yml
  layouts/partials/api/sidebar-nav.html
Due: none

feat(api): Update config, styles, and content for API docs uplift
  .gitignore
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  assets/styles/layouts/_api-overrides.scss
  assets/styles/styles-default.scss
  config/_default/hugo.yml
  content/influxdb3/core/reference/api/_index.md
  content/influxdb3/enterprise/reference/api/_index.md
  package.json
  yarn.lock
Due: lint-markdown-content, core-lint, enterprise-lint

test(api): Update Cypress tests for API reference pages
  cypress/e2e/content/api-reference.cy.js
Due: prettier

chore: Rebuild API generator scripts and update tests
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  cypress/e2e/content/api-reference.cy.js
Due: prettier

fix(api): Extract first sentence for header summary, add Overview section
  layouts/api/list.html
Due: none

fix(api): Show operations in sidebar nav, fix CSS for menu and summary
  assets/styles/layouts/_api-layout.scss
  layouts/partials/api/sidebar-nav.html
Due: none

fix(api): Match sidebar nav font sizes for operation items
  assets/styles/layouts/_api-layout.scss
Due: none

Rename telemetry-disable-upload to disable-telemetry-upload
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Updating changelog
  content/telegraf/v1/release-notes.md
Due: lint-markdown-content, telegraf-lint

Updating plugin list
  data/telegraf_plugins.yml
Due: none

Updating product version
  data/products.yml
Due: build-agent-instructions

Add Self-Signed Certificate docs (#6593)
  content/influxdb3/explorer/install.md
Due: lint-markdown-content, explorer-lint

fix(api): Reset button styles for dark mode, increase operation font size
  assets/styles/layouts/_api-layout.scss
Due: none

Fix duplicate header in install.md
  content/influxdb3/explorer/install.md
Due: lint-markdown-content, explorer-lint

Fix duplicate header in install.md (#6596)
  content/influxdb3/explorer/install.md
Due: lint-markdown-content, explorer-lint

feat(telegraf): add related links to plugin directory pages
  content/telegraf/v1/configure_plugins/aggregator_processor/_index.md
  content/telegraf/v1/configure_plugins/input_plugins/_index.md
  content/telegraf/v1/configure_plugins/output_plugins/_index.md
Due: lint-markdown-content, telegraf-lint

Release influxctl v2.12.0
  data/products.yml
Due: build-agent-instructions

chore(influxctl): add influxctl 2.12.0 release notes
  content/shared/influxctl/release-notes.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/shared/influxctl/release-notes.md
  content/shared/influxctl/release-notes.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(telegraf): Prepare for data formats documentation from upstream. - Remove input and output files, to be replaced by generated files.
  content/telegraf/v1/data_formats/input/_index.md
  content/telegraf/v1/data_formats/input/avro.md
  content/telegraf/v1/data_formats/input/binary.md
  content/telegraf/v1/data_formats/input/collectd.md
  content/telegraf/v1/data_formats/input/csv.md
  content/telegraf/v1/data_formats/input/dropwizard.md
  content/telegraf/v1/data_formats/input/form_urlencoded.md
  content/telegraf/v1/data_formats/input/graphite.md
  content/telegraf/v1/data_formats/input/grok.md
  content/telegraf/v1/data_formats/input/influx.md
  content/telegraf/v1/data_formats/input/json.md
  content/telegraf/v1/data_formats/input/json_v2.md
  content/telegraf/v1/data_formats/input/logfmt.md
  content/telegraf/v1/data_formats/input/nagios.md
  content/telegraf/v1/data_formats/input/opentsdb.md
  content/telegraf/v1/data_formats/input/prometheus-remote-write.md
  content/telegraf/v1/data_formats/input/value.md
  content/telegraf/v1/data_formats/input/wavefront.md
  content/telegraf/v1/data_formats/input/xml.md
  content/telegraf/v1/data_formats/input/xpath_json.md
  content/telegraf/v1/data_formats/input/xpath_msgpack.md
  content/telegraf/v1/data_formats/input/xpath_protobuf.md
  content/telegraf/v1/data_formats/output/_index.md
  content/telegraf/v1/data_formats/output/carbon2.md
  content/telegraf/v1/data_formats/output/graphite.md
  content/telegraf/v1/data_formats/output/influx.md
  content/telegraf/v1/data_formats/output/json.md
  content/telegraf/v1/data_formats/output/messagepack.md
  content/telegraf/v1/data_formats/output/nowmetric.md
  content/telegraf/v1/data_formats/output/splunkmetric.md
Due: lint-markdown-content, telegraf-lint

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
