Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

docs(influxdb3-cloud): specialize admin token CLI reference
  content/influxdb3/cloud/reference/cli/influxdb3/create/token/admin.md
Due: deprecated-markdown-patterns

docs(influxdb3-cloud): remove Enterprise CLI reference cross-link
  content/influxdb3/cloud/reference/cli/influxdb3/_index.md
Due: deprecated-markdown-patterns

fix(ci): anchor v1 API link-checker exclusion to generated subtree
  .ci/link-checker/production.lycherc.toml
Due: none

Deploy preview for PR 7531 🛫
  pr-preview/pr-7531/index.html
Due: none

docs(influxdb3-cloud): publish Cloud glossary with CLI and instance terms
  content/influxdb3/cloud/reference/glossary.md
  content/shared/influxdb3-reference/glossary.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3-cloud): add Enterprise install page
  content/influxdb3/cloud/install.md
  content/influxdb3/cloud/request-information.md
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3-cloud): install the Enterprise influxdb3 CLI in Cloud setup
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3-cloud): align CLI wording and remove glossary alias
  content/influxdb3/cloud/install.md
  content/influxdb3/cloud/request-information.md
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3-cloud): add influxdb3 CLI reference for Cloud
  content/influxdb3/cloud/reference/cli/influxdb3/create/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/database.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/table.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/token/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/token/admin.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/token/permission.md
  content/influxdb3/cloud/reference/cli/influxdb3/delete/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/delete/database.md
  content/influxdb3/cloud/reference/cli/influxdb3/delete/table.md
  content/influxdb3/cloud/reference/cli/influxdb3/delete/token.md
  content/influxdb3/cloud/reference/cli/influxdb3/query.md
  content/influxdb3/cloud/reference/cli/influxdb3/show/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/show/databases.md
  content/influxdb3/cloud/reference/cli/influxdb3/show/tokens.md
  content/influxdb3/cloud/reference/cli/influxdb3/write.md
  content/shared/influxdb3-cli/create/table.md
  content/shared/influxdb3-cli/create/token/_index.md
  content/shared/influxdb3-cli/delete/database.md
  content/shared/influxdb3-cli/delete/table.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): add Enterprise load capture guide
  .ci/vale/styles/config/vocabularies/InfluxDataDocs/accept.txt
  content/influxdb3/enterprise/admin/load-capture.md
Due: deprecated-markdown-patterns, enterprise-lint

fix(influxdb3-cloud): remove aliases for published CLI reference pages
  content/influxdb3/cloud/request-information.md
Due: deprecated-markdown-patterns

fix(analytics): reset custom URL dedup key on clear; test dedicated path
  assets/js/influxdb-url.js
  cypress/e2e/influxdb-url.cy.js
Due: eslint-debug-check, prettier, lint-js

Updating changelog
  content/telegraf/v1/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

Updating plugin list
  data/telegraf_plugins.yml
Due: none

Updating product version
  data/products.yml
Due: build-agent-instructions

Updating plugins
  content/telegraf/v1/aggregator-plugins/final.md
  content/telegraf/v1/aggregator-plugins/minmax.md
  content/telegraf/v1/aggregator-plugins/starlark.md
  content/telegraf/v1/aggregator-plugins/valuecounter.md
  content/telegraf/v1/input-plugins/bind.md
  content/telegraf/v1/input-plugins/chrony.md
  content/telegraf/v1/input-plugins/cisco_telemetry_mdt.md
  content/telegraf/v1/input-plugins/cloudwatch_metric_streams.md
  content/telegraf/v1/input-plugins/ctrlx_datalayer.md
  content/telegraf/v1/input-plugins/docker.md
  content/telegraf/v1/input-plugins/graylog.md
  content/telegraf/v1/input-plugins/jti_openconfig_telemetry.md
  content/telegraf/v1/input-plugins/kafka_consumer.md
  content/telegraf/v1/input-plugins/postgresql_extensible.md
  content/telegraf/v1/input-plugins/temp.md
  content/telegraf/v1/input-plugins/win_eventlog.md
  content/telegraf/v1/output-plugins/azure_data_explorer.md
  content/telegraf/v1/output-plugins/azure_monitor.md
  content/telegraf/v1/output-plugins/clarify.md
  content/telegraf/v1/output-plugins/datadog.md
  content/telegraf/v1/output-plugins/elasticsearch.md
  content/telegraf/v1/output-plugins/http.md
  content/telegraf/v1/output-plugins/iotdb.md
  content/telegraf/v1/output-plugins/librato.md
  content/telegraf/v1/output-plugins/nats.md
  content/telegraf/v1/output-plugins/riemann.md
  content/telegraf/v1/output-plugins/zabbix.md
  content/telegraf/v1/processor-plugins/lookup.md
  content/telegraf/v1/secretstore-plugins/googlecloud.md
  content/telegraf/v1/secretstore-plugins/http.md
Due: deprecated-markdown-patterns, telegraf-lint

Deploy preview for PR 7536 🛫
  pr-preview/pr-7536/index.html
Due: none

Apply suggestions from code review
  content/influxdb3/cloud/install.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7535 🛫
  pr-preview/pr-7535/index.html
  pr-preview/pr-7535/influxdb3/cloud/install/index.html
  pr-preview/pr-7535/js/main.js
Due: prettier

fix(ui): address Lighthouse accessibility and SEO audit failures
  layouts/partials/article.html
  layouts/partials/footer/fullscreen-code.html
  layouts/partials/footer/widgets/ask-ai-trigger.html
  layouts/partials/sidebar/nested-menu.html
  layouts/partials/topnav.html
Due: none

fix(ui): Lighthouse a11y fixes for sidebar, API nav, and viewport
  layouts/404.html
  layouts/partials/header.html
  layouts/partials/sidebar.html
  layouts/partials/sidebar/api-menu-items.html
Due: none

fix(ui): Lighthouse a11y fixes for article landmarks and feedback heading
  layouts/_default/landing-influxdb.html
  layouts/_default/list.html
  layouts/_default/tags-landing.html
  layouts/partials/article/feedback.html
Due: none

fix(ui): Lighthouse fixes for search accesskey, feedback heading style, icon fonts
  assets/js/components/doc-search.js
  assets/styles/layouts/article/_feedback.scss
Due: eslint-debug-check, prettier, lint-js

fix(ui): declare font-display explicitly on icomoon v3/v4 icon fonts
  assets/styles/tools/icon-fonts/_icon-v4.scss
Due: none

fix(ui): declare font-display explicitly on icomoon v3 icon font
  assets/styles/tools/icon-fonts/_icon-v3.scss
Due: none

chore(github): update default PR templates with plain-writing guidance
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template/general.md
Due: lint-markdown-instructions, lint-instructions

chore(github): match requested PR template format, require e2e tests for layout changes
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template/general.md
Due: lint-markdown-instructions, lint-instructions

chore(github): use HTML comments for PR template hints
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template/general.md
Due: lint-markdown-instructions, lint-instructions

fix(ui): exclude feedback-block heading from release and API TOCs
  assets/js/components/api-toc.ts
  assets/js/release-toc.js
Due: eslint-debug-check, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
