Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, cloud-pytest, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest, telegraf-pytest, v2-pytest, prettier

lefthook.yml:

#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit
pre-commit:
  parallel: true 
  commands:
    cloud-lint:
      tags: lint,v2
      glob: "content/influxdb/cloud/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-dedicated-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-dedicated/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-dedicated/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-serverless-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-serverless/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    clustered-lint:
      tags: lint,v3
      glob: "content/influxdb/clustered/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    telegraf-lint:
      tags: lint,clients 
      glob: "content/telegraf/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    v2-lint:
      tags: lint,v2
      glob: "content/influxdb/v2/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/v2/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-pytest:
      glob: content/influxdb/cloud/**/*.md
      tags: test,codeblocks,v2
      env:
        - SERVICE: cloud-pytest
      run: docker compose run $SERVICE '{staged_files}'
    cloud-dedicated-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-dedicated/**/*.md
      env:
        - SERVICE: cloud-dedicated-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    cloud-serverless-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-serverless/**/*.md
      env:
        - SERVICE: cloud-serverless-pytest
      run: docker compose run $SERVICE '{staged_files}'
    clustered-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/clustered/**/*.md
      env:
        - SERVICE: clustered-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    telegraf-pytest:
      tags: test,codeblocks
      glob: content/telegraf/**/*.md
      env:
        - SERVICE: telegraf-pytest
      run: docker compose run $SERVICE '{staged_files}'
    v2-pytest:
      tags: test,codeblocks,v2
      glob: content/influxdb/v2/**/*.md
      env:
        - SERVICE: v2-pytest
      run: docker compose run --rm $SERVICE '{staged_files}'
    prettier:
      tags: frontend,style
      glob: "*.{css,js,ts,jsx,tsx}"
      run: yarn prettier {staged_files}

build:
  commands:
    prune-legacy-containers:
      priority: 1
      tags: test 
      run: '(docker container ls --format "{{.ID}}"
          --filter label=tag=influxdata-docs
          --filter status=exited | xargs docker rm)
          || true'
    rebuild-test-images:
      tags: test
      run: docker compose build pytest-codeblocks

Cloud Dedicated: update backup policy Fixes #5716 - Update backup policy to 30 days - Misc. cleanup
  content/influxdb/cloud-dedicated/reference/internals/data-retention.md
  content/influxdb/cloud-dedicated/reference/internals/durability.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

fix(partitioning): improve clarity and consistency in partitioning, apply suggestions from @reidkaufmann
  content/shared/v3-distributed-admin-custom-partitions/best-practices.md
  content/shared/v3-distributed-admin-custom-partitions/partition-templates.md
Due: none

fixed duplicate-oss shortcode
  layouts/shortcodes/duplicate-oss.html
Due: none

clean-up serverless cruft
  content/influxdb/cloud-serverless/admin/buckets/_index.md
  content/influxdb/cloud-serverless/guides/migrate-data/migrate-1x-to-serverless.md
  content/influxdb/cloud-serverless/guides/migrate-data/migrate-tsm-to-serverless.md
  content/influxdb/cloud-serverless/guides/prototype-evaluation.md
  content/influxdb/cloud-serverless/query-data/troubleshoot-and-optimize/optimize-queries.md
  content/influxdb/cloud-serverless/write-data/best-practices/schema-design.md
Due: cloud-serverless-lint, cloud-serverless-pytest

add distributed product redirects
  deploy/edge.js
Due: prettier

standarize productPathData
  layouts/_default/landing-influxdb.html
  layouts/_default/page-list.json
  layouts/_default/tags-landing.html
  layouts/partials/article/content.html
  layouts/partials/article/feedback.html
  layouts/partials/article/flux-contrib.html
  layouts/partials/article/flux-experimental.html
  layouts/partials/article/limited-availability.html
  layouts/partials/article/stable-version.html
  layouts/partials/article/supported-versions.html
  layouts/partials/article/tags.html
  layouts/partials/footer.html
  layouts/partials/footer/feature-callout.html
  layouts/partials/footer/search.html
  layouts/partials/footer/v3-wayfinding.html
  layouts/partials/header.html
  layouts/partials/header/canonical.html
  layouts/partials/header/coveo-meta-data.html
  layouts/partials/header/search-attributes.html
  layouts/partials/header/title.html
  layouts/partials/sidebar.html
  layouts/partials/topnav.html
  layouts/partials/topnav/product-selector.html
  layouts/partials/topnav/version-selector.html
Due: none

update shared links to use ambiguous version
  content/shared/influxql-v3-reference/time-and-timezone.md
  content/shared/v3-distributed-admin-custom-partitions/_index.md
  content/shared/v3-distributed-admin-custom-partitions/best-practices.md
  content/shared/v3-distributed-admin-custom-partitions/define-custom-partitions.md
  content/shared/v3-distributed-admin-custom-partitions/partition-templates.md
  content/shared/v3-distributed-admin-custom-partitions/view-partitions.md
Due: none

Update bucket-schema.md
  content/influxdb/cloud/admin/buckets/bucket-schema.md
Due: cloud-lint, cloud-pytest

remove debugging code
  layouts/partials/topnav/product-selector.html
Due: none

WIP(core): test install, write API clients
  content/influxdb/v3/write-data/_index.md
Due: none

WIP monolith docs
  content/influxdb/pro/_index.md
  content/influxdb/v3/_index.md
  data/products.yml
Due: none

LDAPS and LDAP Client Certificate Docs
  content/enterprise_influxdb/v1/administration/configure/security/ldap.md
Due: none

template updates for v3 and pro
  content/influxdb/pro/install.md
  content/influxdb/v3/install.md
  hugo.staging.yml
  hugo.yml
Due: none

move clustered and cloud-dedicated
  content/influxdb/cloud-serverless/admin/buckets/_index.md
  content/influxdb/cloud-serverless/guides/migrate-data/migrate-1x-to-serverless.md
  content/influxdb/cloud-serverless/guides/migrate-data/migrate-tsm-to-serverless.md
  content/influxdb/cloud-serverless/guides/prototype-evaluation.md
  content/influxdb/cloud-serverless/query-data/troubleshoot-and-optimize/optimize-queries.md
  content/influxdb/cloud-serverless/write-data/best-practices/schema-design.md
  data/products.yml
Due: cloud-serverless-lint, cloud-serverless-pytest

chore(influxdb3): port cloud-dedicated URLs from recent commit
  content/influxdb3/cloud-dedicated/reference/internals/data-retention.md
  content/influxdb3/cloud-dedicated/reference/internals/durability.md
Due: none

chore(influxdb3/clustered): fix and update links
  content/influxdb3/clustered/admin/tokens/_index.md
  content/influxdb3/clustered/query-data/troubleshoot-and-optimize/analyze-query-plan.md
  content/influxdb3/clustered/reference/internals/query-plan.md
  content/influxdb3/clustered/write-data/best-practices/schema-design.md
Due: none

fix(influxdb3): download sample data and write it.
  content/influxdb/v3/write-data/_index.md
Due: none

new product dropdown
  assets/js/version-selector.js
  assets/styles/layouts/_top-nav.scss
  content/influxdb3/cloud-dedicated/admin/databases/_index.md
  content/influxdb3/cloud-dedicated/admin/tokens/database/update.md
  content/influxdb3/cloud-dedicated/process-data/visualize/grafana.md
  content/influxdb3/cloud-serverless/admin/buckets/_index.md
  content/influxdb3/cloud-serverless/process-data/visualize/grafana.md
  content/influxdb3/clustered/admin/databases/_index.md
  content/influxdb3/clustered/process-data/visualize/grafana.md
  layouts/partials/topnav.html
  layouts/partials/topnav/product-selector.html
  layouts/partials/topnav/version-selector.html
Due: prettier

removed merge cruft
  content/influxdb/cloud-serverless/admin/buckets/_index.md
  content/influxdb/cloud-serverless/guides/migrate-data/migrate-1x-to-serverless.md
  content/influxdb/cloud-serverless/guides/migrate-data/migrate-tsm-to-serverless.md
  content/influxdb/cloud-serverless/guides/prototype-evaluation.md
  content/influxdb/cloud-serverless/query-data/troubleshoot-and-optimize/optimize-queries.md
  content/influxdb/cloud-serverless/write-data/best-practices/schema-design.md
  content/influxdb/pro/_index.md
  content/influxdb/pro/install.md
  content/influxdb/v3/_index.md
  content/influxdb/v3/install.md
  data/products.yml
  hugo.staging.yml
  hugo.yml
  layouts/partials/topnav/product-selector.html
Due: cloud-serverless-lint, cloud-serverless-pytest

Jstirnaman/influxdb3 restructure (#5743)
  content/enterprise_influxdb/v1/administration/configure/security/ldap.md
  content/influxdb/cloud/admin/buckets/bucket-schema.md
  content/influxdb3/cloud-dedicated/reference/internals/data-retention.md
  content/influxdb3/cloud-dedicated/reference/internals/durability.md
  content/influxdb3/clustered/admin/tokens/_index.md
  content/influxdb3/clustered/query-data/troubleshoot-and-optimize/analyze-query-plan.md
  content/influxdb3/clustered/reference/internals/query-plan.md
  content/influxdb3/clustered/write-data/best-practices/schema-design.md
  content/shared/influxql-v3-reference/time-and-timezone.md
  content/shared/v3-distributed-admin-custom-partitions/_index.md
  content/shared/v3-distributed-admin-custom-partitions/best-practices.md
  content/shared/v3-distributed-admin-custom-partitions/define-custom-partitions.md
  content/shared/v3-distributed-admin-custom-partitions/partition-templates.md
  content/shared/v3-distributed-admin-custom-partitions/view-partitions.md
Due: cloud-lint, cloud-pytest

added and styled alpha banner, updated producted selector styles and js
  assets/js/version-selector.js
  assets/styles/layouts/_top-nav.scss
  assets/styles/layouts/article/_blocks.scss
  assets/styles/layouts/article/blocks/_alpha.scss
  layouts/partials/article.html
  layouts/partials/article/alpha.html
  layouts/partials/article/limited-availability.html
  layouts/partials/topnav/product-selector.html
  static/svgs/discord.svg
  static/svgs/reddit.svg
Due: prettier

updated alpha link styles
  assets/styles/layouts/article/blocks/_alpha.scss
Due: none

updated discord link text
  layouts/partials/article/alpha.html
Due: none

WIP influxdb3 cli
  assets/styles/layouts/article/_tables.scss
  content/influxdb3/enterprise/reference/cli/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/activate/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/activate/trigger.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/database.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/file_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/last_cache.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/meta_cache.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/plugin.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/table.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/token.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/trigger.md
  content/influxdb3/enterprise/reference/cli/influxdb3/deactivate.md
  content/influxdb3/enterprise/reference/cli/influxdb3/delete.md
  content/influxdb3/enterprise/reference/cli/influxdb3/query.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/show.md
  content/influxdb3/enterprise/reference/cli/influxdb3/test.md
  content/influxdb3/enterprise/reference/cli/influxdb3/write.md
  content/influxdb3/enterprise/reference/config-options.md
Due: none

updated alpha message
  layouts/partials/article/alpha.html
Due: none

fix page title
  layouts/partials/header/title.html
Due: none

influxdb3 enterprise cli
  content/influxdb3/enterprise/reference/cli/influxdb3/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/distinct_cache.md
  content/influxdb3/enterprise/reference/cli/influxdb3/deactivate.md
  content/influxdb3/enterprise/reference/cli/influxdb3/delete.md
  content/influxdb3/enterprise/reference/cli/influxdb3/delete/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/delete/database.md
  content/influxdb3/enterprise/reference/cli/influxdb3/delete/distinct_cache.md
  content/influxdb3/enterprise/reference/cli/influxdb3/delete/file_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/delete/last_cache.md
  content/influxdb3/enterprise/reference/cli/influxdb3/delete/plugin.md
  content/influxdb3/enterprise/reference/cli/influxdb3/delete/table.md
  content/influxdb3/enterprise/reference/cli/influxdb3/delete/trigger.md
  content/influxdb3/enterprise/reference/cli/influxdb3/disable/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/disable/trigger.md
  content/influxdb3/enterprise/reference/cli/influxdb3/enable/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/enable/trigger.md
  content/influxdb3/enterprise/reference/cli/influxdb3/query.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/show.md
  content/influxdb3/enterprise/reference/cli/influxdb3/show/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/show/databases.md
  content/influxdb3/enterprise/reference/cli/influxdb3/test.md
  content/influxdb3/enterprise/reference/cli/influxdb3/test/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/test/wal_plugin.md
  content/influxdb3/enterprise/reference/cli/influxdb3/write.md
  content/influxdb3/enterprise/reference/config-options.md
Due: none

Initial Files
  content/influxdb3/core/get-started/_index.md
  content/influxdb3/enterprise/get-started/_index.md
  install-influxdb3-core.sh
Due: none

Initial Files
  content/influxdb3/core/get-started/_index.md
  content/influxdb3/enterprise/get-started/_index.md
Due: none

fix(influxdb3): command name change from dis/enable to de/activate. Also, change it for inclusivity where possible.
  content/influxdb3/enterprise/reference/cli/influxdb3/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/activate/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/activate/trigger.md
  content/influxdb3/enterprise/reference/cli/influxdb3/deactivate/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/deactivate/trigger.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
Due: none
