Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

Clarify file vs directory distinction in catalog v2 path structure (#6740)
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6738 🛫
  pr-preview/pr-6738/index.html
  pr-preview/pr-6738/influxdb3/core/release-notes/index.html
  pr-preview/pr-6738/influxdb3/enterprise/release-notes/index.html
Due: none

feat(explorer): bump Explorer version to 1.6.2 and add release notes
  content/influxdb3/explorer/release-notes/_index.md
  data/products.yml
Due: build-agent-instructions, lint-markdown-content, explorer-lint

chore: update package.json and yarn.lock from origin/master
  package.json
  yarn.lock
Due: none

Deploy preview for PR 6733 🛫
  pr-preview/pr-6733/index.html
  pr-preview/pr-6733/influxdb3/cloud-dedicated/admin/tables/delete/index.html
  pr-preview/pr-6733/influxdb3/clustered/admin/tables/delete/index.html
Due: none

Deploy preview for PR 6733 🛫
  pr-preview/pr-6733/index.html
Due: none

feat(explorer): bump Explorer version to 1.6.2 and add release notes (#6742)
  content/influxdb3/explorer/release-notes/_index.md
  data/products.yml
Due: build-agent-instructions, lint-markdown-content, explorer-lint

docs(chronograf): add instructions for use with InfluxDB3 products (#6730)
  content/chronograf/v1/administration/config-options.md
  content/chronograf/v1/administration/creating-connections.md
  content/influxdb3/cloud-dedicated/process-data/visualize/chronograf.md
  content/influxdb3/cloud-dedicated/process-data/visualize/grafana.md
  content/influxdb3/cloud-dedicated/process-data/visualize/superset.md
  content/influxdb3/cloud-dedicated/process-data/visualize/tableau.md
  content/influxdb3/cloud-dedicated/visualize-data/powerbi.md
  content/influxdb3/cloud-serverless/process-data/visualize/chronograf.md
  content/influxdb3/cloud-serverless/process-data/visualize/grafana.md
  content/influxdb3/cloud-serverless/process-data/visualize/superset.md
  content/influxdb3/cloud-serverless/process-data/visualize/tableau.md
  content/influxdb3/cloud-serverless/visualize-data/powerbi.md
  content/influxdb3/clustered/process-data/visualize/grafana.md
  content/influxdb3/clustered/process-data/visualize/superset.md
  content/influxdb3/clustered/process-data/visualize/tableau.md
  content/influxdb3/clustered/visualize-data/powerbi.md
  content/influxdb3/core/visualize-data/chronograf.md
  content/influxdb3/core/visualize-data/grafana.md
  content/influxdb3/core/visualize-data/powerbi.md
  content/influxdb3/core/visualize-data/superset.md
  content/influxdb3/core/visualize-data/tableau.md
  content/influxdb3/enterprise/visualize-data/chronograf.md
  content/influxdb3/enterprise/visualize-data/grafana.md
  content/influxdb3/enterprise/visualize-data/powerbi.md
  content/influxdb3/enterprise/visualize-data/superset.md
  content/influxdb3/enterprise/visualize-data/tableau.md
  content/shared/influxdb3-visualize/powerbi.md
  static/img/chronograf/v1-influxdb3/cloud-dedicated-no-mgmt.png
  static/img/chronograf/v1-influxdb3/cloud-dedicated-with-mgmt.png
  static/img/chronograf/v1-influxdb3/cloud-serverless-connection.png
  static/img/chronograf/v1-influxdb3/clustered-connection.png
  static/img/chronograf/v1-influxdb3/core-connection.png
  static/img/chronograf/v1-influxdb3/enterprise-connection.png
  static/img/chronograf/v1-influxdb3/server-type-dropdown.png
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: address comments
  content/influxdb3/cloud-dedicated/admin/tables/delete.md
  content/influxdb3/clustered/admin/tables/delete.md
Due: lint-markdown-content, cloud-dedicated-lint, clustered-lint

docs: update tables docs
  content/influxdb3/cloud-dedicated/admin/tables/delete.md
  content/influxdb3/cloud-dedicated/admin/tables/undelete.md
  content/influxdb3/clustered/admin/tables/delete.md
  content/influxdb3/clustered/admin/tables/undelete.md
Due: lint-markdown-content, cloud-dedicated-lint, clustered-lint

Deploy preview for PR 6729 🛫
  pr-preview/pr-6729/index.html
Due: none

dar issue 563 - Cloud 1 documentation, support, and migration (#6729)
  .github/scripts/parse-pr-urls.js
  .github/scripts/test-parse-pr-urls.js
  content/enterprise_influxdb/v1/_index.md
  content/influxdb/cloud/sign-up.md
  content/influxdb/v1/_index.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/introduction/_index.md
  content/influxdb/v1/introduction/download.md
  content/influxdb/v1/introduction/get-started/_index.md
  content/influxdb/v1/introduction/install.md
  content/influxdb/v1/introduction/install/docker.md
  content/influxdb/v2/install/upgrade/v2-beta-to-v2.md
  content/platform/_index.md
  content/shared/identify-version.md
  data/products.yml
  layouts/partials/topnav/product-selector.html
  layouts/shortcodes/api-endpoint.html
  layouts/shortcodes/children.html
  layouts/shortcodes/influxdb-cloud1-note.html
  layouts/shortcodes/influxdb/cloud1-note.html
Due: build-agent-instructions, lint-markdown-content, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, v2-lint, prettier

Update content/shared/influxdb3-admin/databases/list.md
  content/shared/influxdb3-admin/databases/list.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6714 🛫
  pr-preview/pr-6714/index.html
  pr-preview/pr-6714/influxdb3/core/admin/databases/list/index.html
  pr-preview/pr-6714/influxdb3/enterprise/admin/databases/list/index.html
Due: none

fix(influxdb3): `api/v3/configure/database` requires format (#6714)
  content/shared/influxdb3-admin/databases/list.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

replace catalogs for catalog as observed in a live core db data files (#6712)
  content/shared/influxdb3-admin/backup-restore.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Fix Windows download link and PR preview rendering for InfluxDB v2 (#6726)
  content/influxdb/v2/install/_index.md
  layouts/shortcodes/latest-patch.html
Due: lint-markdown-content, v2-lint

Deploy preview for PR 6719 🛫
  pr-preview/pr-6719/index.html
Due: none

Dar 589 cli api params (#6719)
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  content/shared/influxdb3-admin/tables/create.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Change date for InfluxDB Docker latest tag warning
  data/notifications.yaml
Due: none

Change date for InfluxDB Docker latest tag warning (#6746)
  data/notifications.yaml
Due: none

docs(influxdb3): Use a GET request to check ping response headers.
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  content/shared/identify-version.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

test(influxdb3): Improve InfluxDB 3 Core and Enterprise Docker services
  .claude/skills/influxdb3-test-setup/SKILL.md
  compose.yaml
  test/scripts/init-influxdb3.sh
Due: lint-markdown-instructions, lint-instructions

docs: add API path pages design document
  docs/plans/2025-01-16-api-path-pages-design.md
Due: none

docs(copilot): Document influxdb3-test-setup skill in Copilot instructions (#6751)
  .github/copilot-instructions.md
Due: none

docs(influxdb3): Use a GET request to check ping response headers. (#6749)
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  content/shared/identify-version.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(repo): add CODEOWNERS file for automated review assignments
  .github/CODEOWNERS
Due: none

Update Azure Blob Storage access key parameter
  content/influxdb3/enterprise/get-started/multi-server.md
Due: lint-markdown-content, enterprise-lint
