Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

ci(actions): add build-docs-site composite action for PR/prod parity
  .github/actions/build-docs-site/action.yml
  .github/workflows/pr-preview.yml
  .github/workflows/pr-render-check.yml
Due: none

docs(controller): document UI_PORT for separate web interface port
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/install/secure-tls.md
  content/telegraf/controller/install/troubleshoot.md
  content/telegraf/controller/reference/architecture.md
  content/telegraf/controller/reference/config-options.md
Due: deprecated-markdown-patterns, telegraf-lint

chore(release): bump telegraf controller versions to 1.0.1
  data/products.yml
  data/tc_downloads.yml
Due: build-agent-instructions

docs(controller): document UI_PORT for separate web interface port (#7419)
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/install/secure-tls.md
  content/telegraf/controller/install/troubleshoot.md
  content/telegraf/controller/reference/architecture.md
  content/telegraf/controller/reference/config-options.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): note postgres:// scheme and DATABASE_URL quoting (#7420)
  content/telegraf/controller/reference/config-options.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): note agent list column sorting (#7421)
  content/telegraf/controller/agents/_index.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): use AUDIT_ENABLED env var name (#7422)
  content/telegraf/controller/audit-logs/_index.md
  content/telegraf/controller/audit-logs/enable-configure.md
  content/telegraf/controller/reference/config-options.md
Due: deprecated-markdown-patterns, telegraf-lint

Update content/telegraf/controller/reference/release-notes.md
  content/telegraf/controller/reference/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

fix(layouts): lazy-evaluate .Summary in techarticle-jsonld
  layouts/partials/header/techarticle-jsonld.html
Due: none

docs(controller): add v1.0.1 release notes (#7423)
  content/telegraf/controller/reference/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

chore(perf): split Mermaid from docs JS bundle
  assets/js/components/diagram.js
  assets/js/diagram-renderer.js
  assets/styles/tools/_fonts.scss
  layouts/partials/header/javascript.html
Due: eslint-debug-check, prettier, lint-js

Deploy preview for PR 7424 🛫
  pr-preview/pr-7424/index.html
Due: none

Updating changelog
  content/telegraf/v1/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

Updating plugin list
  data/telegraf_plugins.yml
Due: none

Updating product version
  data/products.yml
Due: build-agent-instructions

Updating plugins
  content/telegraf/v1/input-plugins/clickhouse.md
  content/telegraf/v1/input-plugins/elasticsearch_query.md
  content/telegraf/v1/input-plugins/openweathermap.md
  content/telegraf/v1/input-plugins/smart.md
  content/telegraf/v1/processor-plugins/parser.md
Due: deprecated-markdown-patterns, telegraf-lint

ci(circleci): skip workspace upload on PRs; archive and verify on master
  .circleci/config.yml
Due: none

fix(ci): escape heredoc \<< delimiter in CircleCI YAML
  .circleci/config.yml
Due: none

fix(docs): repair CLI config table formatting
  content/shared/influxdb-v2/reference/cli/influx/config/create.md
  content/shared/influxdb-v2/reference/cli/influx/config/set.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

ci: Add a general pull request template
  .github/pull_request_template/general.md
Due: lint-markdown-instructions, lint-instructions
