Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

Add Claude Code hooks for git worktree safety and toolchain setup (#7261)
  .claude/hooks/check-bash-worktree.sh
  .claude/hooks/session-start.sh
  .claude/hooks/worktree-context.sh
  .claude/settings.json
Due: none

feat(worktree): lockfile-aware node_modules sync hook
  .claude/hooks/sync-worktree-deps.sh
  .claude/hooks/sync-worktree-deps.test.sh
Due: none

feat(worktree): symlink node_modules/.cache, register sync hook
  .claude/settings.json
Due: none

chore: gitignore .cache/ (worktree-shared source clones)
  .gitignore
Due: none

chore(claude): tune permissions for safer low-friction defaults
  .claude/settings.json
Due: none

docs(worktree): note non-fatal install in sync hook
  .claude/hooks/sync-worktree-deps.sh
Due: none

docs: plan for worktree dependency sharing [skip ci]
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

Release Kapacitor 1.8.6 (#7260)
  content/kapacitor/v1/reference/about_the_project/release-notes.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

Deploy preview for PR 7262 🛫
  pr-preview/pr-7262/index.html
  pr-preview/pr-7262/telegraf/controller/telegraf-enterprise/license-enforcement/index.html
Due: none

Release Chronograf v1.11.3
  content/chronograf/v1/about_the_project/release-notes.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

Release Chronograf v1.11.3 (#7265)
  content/chronograf/v1/about_the_project/release-notes.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

chore: remove planning docs [skip ci]
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

chore(tc-licensing): address PR feedback
  content/telegraf/controller/reference/authorization.md
  content/telegraf/controller/telegraf-enterprise/apply-license.md
  content/telegraf/controller/telegraf-enterprise/license-enforcement.md
Due: deprecated-markdown-patterns, telegraf-lint

Deploy preview for PR 7262 🛫
  pr-preview/pr-7262/index.html
  pr-preview/pr-7262/telegraf/controller/reference/authorization/index.html
  pr-preview/pr-7262/telegraf/controller/telegraf-enterprise/apply-license/index.html
  pr-preview/pr-7262/telegraf/controller/telegraf-enterprise/license-enforcement/index.html
Due: none

fix(platform): exclude __tests__ fixtures from production builds
  .ci/scripts/check-no-test-fixtures.sh
  .github/workflows/pr-render-check.yml
  PLAN.md
  config/production/hugo.yml
  content/__tests__/test-version-detector.md
  cypress/e2e/content/influxdb-version-detector.cy.js
  package.json
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, prettier

docs(plan): design for TechArticle + SoftwareApplication JSON-LD (#7242)
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs(plan): implementation plan for TechArticle + SoftwareApplication JSON-LD (#7242)
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

feat(jsonld): add schema metadata blocks to products.yml (#7242)
  data/products.yml
Due: build-agent-instructions

Telegraf Controller licensing documentation (#7262)
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/reference/authorization.md
  content/telegraf/controller/reference/config-options.md
  content/telegraf/controller/settings.md
  content/telegraf/controller/telegraf-enterprise.md
  content/telegraf/controller/telegraf-enterprise/_index.md
  content/telegraf/controller/telegraf-enterprise/apply-license.md
  content/telegraf/controller/telegraf-enterprise/license-enforcement.md
  content/telegraf/controller/telegraf-enterprise/manage-license.md
  content/telegraf/controller/telegraf-enterprise/troubleshoot.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(jsonld): add TechArticle partial (#7242)
  PLAN.md
  layouts/partials/header/techarticle-jsonld.html
Due: lint-markdown-instructions, lint-instructions

feat(jsonld): add SoftwareApplication partial (#7242)
  layouts/partials/header/softwareapplication-jsonld.html
Due: none

feat(jsonld): wire TechArticle + SoftwareApplication partials into header (#7242)
  layouts/partials/header.html
Due: none

test(jsonld): assert TechArticle/SoftwareApplication emission and tags exclusion (#7242)
  cypress/e2e/content/jsonld-techarticle.cy.js
Due: prettier

docs(controller): document audit logging
  content/telegraf/controller/audit-logs/_index.md
  content/telegraf/controller/audit-logs/enable-configure.md
  content/telegraf/controller/audit-logs/view.md
  content/telegraf/controller/reference/config-options.md
  content/telegraf/controller/settings.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): added telegraf/enterprise-feature shortcode, removed em-dashes
  DOCS-SHORTCODES.md
  assets/jsconfig.json
  assets/styles/layouts/article/blocks/_special-state.scss
  content/telegraf/controller/audit-logs/_index.md
  content/telegraf/controller/audit-logs/enable-configure.md
  content/telegraf/controller/reference/authorization.md
  content/telegraf/controller/telegraf-enterprise/_index.md
  content/telegraf/controller/telegraf-enterprise/manage-license.md
  content/telegraf/controller/telegraf-enterprise/troubleshoot.md
  content/telegraf/controller/users/_index.md
  layouts/shortcodes/telegraf/enterprise-feature.html
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, telegraf-lint

Deploy preview for PR 7269 🛫
  pr-preview/pr-7269/dark-theme.7e927604a28eae796286f4a795dbe9da21a7f1b0ffba697a0785533cf86f8b22.css
  pr-preview/pr-7269/dark-theme.8f34091f35294d022501703ca82b7fe943b0cf7f8cfe6578f2261b288f2ee200.css
  pr-preview/pr-7269/index.html
  pr-preview/pr-7269/light-theme.b4cf66fafd478f6a7299bf58718de5a3fc8af1c01b9d3f6549e06b7a900b1c0c.css
  pr-preview/pr-7269/light-theme.d8c212bf72ceb42303cb301a08073d3f61b451f4c854868630e5e23935e3c3cb.css
  pr-preview/pr-7269/telegraf/controller/audit-logs/enable-configure/index.html
  pr-preview/pr-7269/telegraf/controller/audit-logs/index.html
  pr-preview/pr-7269/telegraf/controller/audit-logs/view/index.html
  pr-preview/pr-7269/telegraf/controller/reference/authorization/index.html
  pr-preview/pr-7269/telegraf/controller/reference/config-options/index.html
  pr-preview/pr-7269/telegraf/controller/telegraf-enterprise/index.html
  pr-preview/pr-7269/telegraf/controller/telegraf-enterprise/manage-license/index.html
  pr-preview/pr-7269/telegraf/controller/telegraf-enterprise/troubleshoot/index.html
  pr-preview/pr-7269/telegraf/controller/users/index.html
Due: prettier

Deploy preview for PR 7267 🛫
  pr-preview/pr-7267/index.html
Due: none

Normalize git directory to an absolute path before taking its parent
  .claude/hooks/sync-worktree-deps.sh
Due: none

docs(controller): updates to address PR feedback
  content/telegraf/controller/audit-logs/_index.md
  content/telegraf/controller/audit-logs/enable-configure.md
Due: deprecated-markdown-patterns, telegraf-lint

Deploy preview for PR 7269 🛫
  pr-preview/pr-7269/index.html
  pr-preview/pr-7269/telegraf/controller/audit-logs/enable-configure/index.html
  pr-preview/pr-7269/telegraf/controller/audit-logs/index.html
Due: none

fix(jsonld): resolve product landing structurally for versioned roots (#7242)
  cypress/e2e/content/jsonld-techarticle.cy.js
  layouts/partials/header/softwareapplication-jsonld.html
  layouts/partials/header/techarticle-jsonld.html
  layouts/partials/product/landing.html
Due: prettier

docs(controller): document audit logging (#7269)
  DOCS-SHORTCODES.md
  assets/jsconfig.json
  assets/styles/layouts/article/blocks/_special-state.scss
  content/telegraf/controller/audit-logs/_index.md
  content/telegraf/controller/audit-logs/enable-configure.md
  content/telegraf/controller/audit-logs/view.md
  content/telegraf/controller/reference/authorization.md
  content/telegraf/controller/reference/config-options.md
  content/telegraf/controller/settings.md
  content/telegraf/controller/telegraf-enterprise/_index.md
  content/telegraf/controller/telegraf-enterprise/manage-license.md
  content/telegraf/controller/telegraf-enterprise/troubleshoot.md
  content/telegraf/controller/users/_index.md
  layouts/shortcodes/telegraf/enterprise-feature.html
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, telegraf-lint

fix(jsonld): reference SoftwareApplication by @id and emit ISO 8601 dateModified (#7242)
  cypress/e2e/content/jsonld-techarticle.cy.js
  layouts/partials/header/techarticle-jsonld.html
Due: prettier

fix(platform): exclude __tests__ fixtures from production builds (#7267)
  .ci/scripts/check-no-test-fixtures.sh
  .github/workflows/pr-render-check.yml
  PLAN.md
  config/production/hugo.yml
  content/__tests__/test-version-detector.md
  cypress/e2e/content/influxdb-version-detector.cy.js
  package.json
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, prettier

style(jsonld): prettier formatting for test
  cypress/e2e/content/jsonld-techarticle.cy.js
Due: prettier

feat(worktree): lockfile-aware node_modules/.cache sharing across worktrees (#7264)
  .claude/hooks/sync-worktree-deps.sh
  .claude/hooks/sync-worktree-deps.test.sh
  .claude/settings.json
  .gitignore
Due: none

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
