Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

docs(influxdb3): fix mid-sentence line wrap in Parquet upgrade section
  content/shared/influxdb3-internals-reference/storage-engine.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: remove ephemeral PLAN.md
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs(influxdb3): fix mid-sentence line wraps in WAL tail references
  content/influxdb3/enterprise/admin/recover-node.md
  content/shared/influxdb3-cli/stop/node.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): update backup/restore for 3.11 incremental and rollback restore
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): clarify restore doesn't delete compactor files
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): correct restore cleanup scope from live verification
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): draft v3.11.0 Core and Enterprise release notes
  content/influxdb3/enterprise/release-notes/_index.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(influxdb3): bump Core and Enterprise latest_patch to 3.11.0
  data/products.yml
Due: build-agent-instructions

Apply suggestions from code review
  content/influxdb3/core/reference/internals/storage-engine.md
  content/influxdb3/enterprise/admin/clustering.md
  content/influxdb3/enterprise/reference/storage-engine-config-options.md
Due: deprecated-markdown-patterns, core-lint, enterprise-lint

docs(plan): add storage engine IA redesign implementation plan
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs(influxdb3): document time-disjoint compaction model
  content/shared/influxdb3-internals-reference/durability.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): remove stray artifact from storage engine config reference
  content/influxdb3/enterprise/reference/storage-engine-config-options.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(plan): flatten marketing language in key-improvements list
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs(influxdb3): add storage engine concept page for Core and Enterprise
  content/influxdb3/core/reference/internals/storage-engine.md
  content/influxdb3/enterprise/reference/internals/storage-engine.md
  content/shared/influxdb3-internals-reference/storage-engine.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(plan): avoid bare version number in durability.md content
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs(plan): wrap export command examples to multi-line
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs(influxdb3): fix line wrap in compaction section
  content/shared/influxdb3-internals-reference/durability.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): link to canonical WAL tail definition
  content/influxdb3/enterprise/admin/recover-node.md
  content/shared/influxdb3-cli/stop/node.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): fix CLI style and TOC gap in storage engine tables section
  content/shared/influxdb3-admin/query-system-data/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): normalize flag syntax and formatting in storage engine troubleshooting entries
  content/shared/influxdb3-admin/performance-tuning.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): relocate storage engine flag reference
  content/influxdb3/enterprise/reference/storage-engine-config-options.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(plan): restore Faster single-series queries label
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs(influxdb3): fix cross-product and cross-task consistency issues from final review
  content/influxdb3/core/reference/internals/storage-engine.md
  content/influxdb3/enterprise/reference/internals/storage-engine.md
  content/influxdb3/enterprise/reference/storage-engine-config-options.md
  content/shared/influxdb3-admin/performance-tuning.md
  content/shared/influxdb3-admin/query-system-data/_index.md
  content/shared/influxdb3-internals-reference/durability.md
  content/shared/influxdb3-internals-reference/storage-engine.md
  content/shared/influxdb3-reference/glossary.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): use long CLI flags in storage engine export examples
  content/shared/influxdb3-internals-reference/storage-engine.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): migrate remaining storage engine links
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/delete.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/download.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/files.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/list.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/preview.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/start.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(influxdb3): add storage engine system tables and telemetry
  content/influxdb3/enterprise/admin/query-system-data/_index.md
  content/shared/influxdb3-admin/query-system-data/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): retire performance-preview section
  content/influxdb3/enterprise/performance-preview/_index.md
  content/influxdb3/enterprise/performance-preview/configure.md
  content/influxdb3/enterprise/performance-preview/monitor.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(influxdb3): define WAL tail for both storage engines
  content/shared/influxdb3-internals-reference/durability.md
  content/shared/influxdb3-reference/glossary.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): migrate remaining performance-preview links found by repo sweep
  content/influxdb3/enterprise/reference/cli/influxdb3/import/_index.md
  content/influxdb3/enterprise/reference/storage-engine-config-options.md
  content/shared/influxdb3-admin/performance-tuning.md
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): link and version-qualify upgraded storage engine on first mention in troubleshooting sections
  content/shared/influxdb3-admin/performance-tuning.md
  content/shared/influxdb3-admin/query-system-data/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): add storage engine metrics and troubleshooting
  content/shared/influxdb3-admin/performance-tuning.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): tighten scattered storage engine callouts
  content/influxdb3/enterprise/admin/clustering.md
  content/influxdb3/enterprise/admin/delete-data.md
  content/influxdb3/enterprise/admin/import-data.md
  content/influxdb3/enterprise/admin/load-capture.md
  content/shared/influxdb3-reference/glossary.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): fix broken sentence introduced by final-review fix pass
  content/shared/influxdb3-admin/performance-tuning.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): add v3.11 release notification banners
  data/notifications.yaml
Due: none

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
