Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

docs(influxdb3): drop pt- prefix from performance-preview option names
  content/influxdb3/enterprise/admin/delete-data.md
  content/influxdb3/enterprise/performance-preview/_index.md
  content/influxdb3/enterprise/performance-preview/configure.md
  content/influxdb3/enterprise/performance-preview/monitor.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(influxdb3): update guides for renamed flags and env vars
  content/influxdb3/enterprise/admin/clustering.md
  content/influxdb3/enterprise/admin/license.md
  content/influxdb3/enterprise/admin/tokens/resource/preconfigured.md
  content/shared/influxdb3-admin/object-storage/minio.md
  content/shared/influxdb3-admin/performance-tuning.md
  content/shared/influxdb3-admin/tokens/admin/preconfigured.md
  content/shared/influxdb3-admin/upgrade-to-enterprise.md
  content/shared/influxdb3-admin/upgrade.md
  content/shared/influxdb3-get-started/setup.md
  content/shared/influxdb3-internals-reference/durability.md
  content/shared/influxdb3-reference/telemetry.md
  content/shared/influxdb3-write-guides/troubleshoot.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): add consolidated old-to-new name migration tables
  content/influxdb3/enterprise/performance-preview/configure.md
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): update serve CLI reference for renamed flags
  content/influxdb3/core/reference/cli/influxdb3/_index.md
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
Due: deprecated-markdown-patterns, core-lint, enterprise-lint

fix(influxdb3): restore per-option anchors on serve CLI reference pages
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
Due: deprecated-markdown-patterns, core-lint, enterprise-lint

docs(influxdb3): document node-id-from-env env rename and pt env startup warning
  content/influxdb3/enterprise/performance-preview/configure.md
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): PachaTree is the default engine; adopt upgrade-pacha-tree
  content/influxdb3/enterprise/admin/delete-data.md
  content/influxdb3/enterprise/admin/import-data.md
  content/influxdb3/enterprise/admin/load-capture.md
  content/influxdb3/enterprise/performance-preview/_index.md
  content/influxdb3/enterprise/performance-preview/configure.md
  content/influxdb3/enterprise/performance-preview/monitor.md
  content/influxdb3/enterprise/reference/cli/influxdb3/import/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/delete.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/download.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/files.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/list.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/preview.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/start.md
  content/shared/influxdb3-admin/backup-restore.md
  content/shared/influxdb3-admin/performance-tuning.md
  content/shared/influxdb3-admin/upgrade.md
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): correct node-lifecycle docs; add remove-node page and crash-recovery runbook
  content/influxdb3/enterprise/admin/recover-node.md
  content/influxdb3/enterprise/reference/cli/influxdb3/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/remove/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/remove/node.md
  content/influxdb3/enterprise/reference/cli/influxdb3/stop/node.md
  content/shared/influxdb3-cli/remove/_index.md
  content/shared/influxdb3-cli/remove/node.md
  content/shared/influxdb3-cli/stop/_index.md
  content/shared/influxdb3-cli/stop/node.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): de-brand engine language to "the upgraded storage engine"
  content/influxdb3/enterprise/admin/clustering.md
  content/influxdb3/enterprise/admin/delete-data.md
  content/influxdb3/enterprise/admin/import-data.md
  content/influxdb3/enterprise/admin/load-capture.md
  content/influxdb3/enterprise/admin/recover-node.md
  content/influxdb3/enterprise/performance-preview/_index.md
  content/influxdb3/enterprise/performance-preview/configure.md
  content/influxdb3/enterprise/performance-preview/monitor.md
  content/influxdb3/enterprise/reference/cli/influxdb3/import/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/delete.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/download.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/files.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/list.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/preview.md
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/start.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-admin/backup-restore.md
  content/shared/influxdb3-admin/performance-tuning.md
  content/shared/influxdb3-admin/upgrade.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/remove/node.md
  content/shared/influxdb3-cli/stop/node.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): align force-finalize wording with the merged CLI help text
  content/influxdb3/enterprise/admin/recover-node.md
  content/influxdb3/enterprise/reference/cli/influxdb3/remove/node.md
  content/shared/influxdb3-cli/remove/node.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): apply PR review fixes from Copilot comments
  content/influxdb3/enterprise/admin/license.md
  content/influxdb3/enterprise/performance-preview/configure.md
  content/influxdb3/enterprise/reference/cli/influxdb3/stop/_index.md
  content/shared/influxdb3-admin/performance-tuning.md
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): rebrand performance-preview metadata for the default storage engine
  content/influxdb3/enterprise/admin/clustering.md
  content/influxdb3/enterprise/performance-preview/_index.md
  content/influxdb3/enterprise/performance-preview/configure.md
  content/influxdb3/enterprise/performance-preview/monitor.md
  content/shared/influxdb3-admin/performance-tuning.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): reword post-upgrade option warnings
  content/influxdb3/enterprise/performance-preview/_index.md
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): warnings appear on the next server start after upgrade completion
  content/influxdb3/enterprise/performance-preview/_index.md
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): document engine-inert and post-upgrade startup warnings
  content/influxdb3/enterprise/performance-preview/_index.md
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): size options now require explicit units
  content/influxdb3/enterprise/performance-preview/configure.md
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): legacy size-value leniency, force-snapshot-mem-size rename, hard-delete tombstone
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-admin/performance-tuning.md
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): update config-options reference for flag and env renames
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): drop pt- prefix from performance-preview option names
  content/influxdb3/enterprise/performance-preview/_index.md
  content/influxdb3/enterprise/performance-preview/configure.md
Due: deprecated-markdown-patterns, enterprise-lint

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
