Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

test(api): Update Cypress tests for API reference pages
  cypress/e2e/content/api-reference.cy.js
Due: prettier

chore(claude): Update ui-testing agent and hugo-template-dev skill
  .claude/agents/ui-testing.md
  .claude/skills/hugo-template-dev/SKILL.md
Due: lint-markdown-instructions, lint-instructions

feat(api): Update Hugo layouts for tag-based API documentation
  layouts/api/single.html
  layouts/partials/api/rapidoc.html
  layouts/partials/api/renderer.html
  layouts/partials/api/scalar.html
  layouts/partials/api/tab-panels.html
  layouts/partials/api/tabs.html
  layouts/partials/sidebar.html
Due: none

feat(api): Update OpenAPI article generators for tag-based structure
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
Due: prettier

fix(api): Match sidebar nav font sizes for operation items
  assets/styles/layouts/_api-layout.scss
Due: none

refactor(api): Flatten API nav groups to single-tag items
  assets/styles/layouts/_api-layout.scss
  assets/styles/layouts/_sidebar.scss
  content/influxdb3/core/api/administration/_index.md
  content/influxdb3/enterprise/api/administration/_index.md
  data/api_nav_groups.yml
Due: lint-markdown-content, core-lint, enterprise-lint

fix(api): Show operations in sidebar nav, fix CSS for menu and summary
  assets/styles/layouts/_api-layout.scss
  layouts/partials/api/sidebar-nav.html
Due: none

fix(api): Extract first sentence for header summary, add Overview section
  layouts/api/list.html
Due: none

feat(api): Integrate API navigation into Hugo menu system
  .gitignore
  content/influxdb3/core/api/administration/_index.md
  content/influxdb3/enterprise/api/administration/_index.md
  data/api_nav_groups.yml
  layouts/partials/sidebar/api-menu-items.html
  layouts/partials/sidebar/nested-menu.html
Due: lint-markdown-content, core-lint, enterprise-lint

fix(api): Reset button styles for dark mode, increase operation font size
  assets/styles/layouts/_api-layout.scss
Due: none

refactor(api): Remove unused separate API nav code
  assets/js/components/api-nav.ts
  assets/js/content-interactions.js
  assets/js/main.js
  layouts/partials/api/sidebar-nav.html
  layouts/partials/sidebar.html
Due: eslint-debug-check, build-typescript, prettier, lint-js

chore: Rebuild API generator scripts and update tests
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  cypress/e2e/content/api-reference.cy.js
Due: prettier

feat(api): Add compatibility version badges for v1/v2 endpoints
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  assets/styles/layouts/_sidebar.scss
  data/article_data/influxdb/influxdb3_core/articles.json
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.json
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
  layouts/partials/sidebar/api-menu-items.html
Due: prettier

fix(api): Fix RapiDoc operation filtering and improve API reference quality
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  assets/js/components/rapidoc-mini.ts
  data/article_data/influxdb/influxdb3_core/articles.json
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.json
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
  docs/plans/2024-12-10-standalone-operation-pages-design.md
  layouts/api/single.html
  layouts/partials/api/rapidoc-mini.html
  layouts/partials/sidebar/api-menu-items.html
  package.json
Due: build-typescript, prettier, lint-js

feat(api): Create api-rapidoc TypeScript component
  assets/js/components/api-rapidoc.ts
Due: build-typescript, prettier, lint-js

fix(api): Complete Auth token rename and remove Redoc x-tagGroups
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  data/api_nav_groups.yml
  docs/plans/2024-12-10-standalone-operation-pages-design.md
Due: prettier

refactor(api): Simplify sidebar nav to sort by isConceptual, then alphabetically
  data/api_nav_groups.yml
  layouts/partials/sidebar/api-menu-items.html
Due: none

feat(api): Add RapiDoc Mini component for API operation pages
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  assets/js/components/rapidoc-mini.ts
  assets/js/main.js
  assets/styles/layouts/_api-layout.scss
  assets/styles/layouts/_sidebar.scss
  cypress/e2e/content/api-reference.cy.js
  data/article_data/influxdb/cloud-dedicated/articles.json
  data/article_data/influxdb/clustered/articles.json
  data/article_data/influxdb/influxdb3_core/articles.json
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.json
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
  layouts/api-operation/operation.html
  layouts/api/list.html
  layouts/partials/api/rapidoc-mini.html
  layouts/partials/api/rapidoc.html
  layouts/partials/sidebar/api-menu-items.html
  static/css/rapidoc-custom.css
Due: eslint-debug-check, build-typescript, prettier, lint-js

style(api): Adjust All endpoints path font size to 0.9rem
  assets/styles/layouts/_sidebar.scss
Due: none

feat(api): Add section index and All endpoints nav item
  assets/styles/layouts/_sidebar.scss
  layouts/api/list.html
  layouts/partials/api/section-children.html
  layouts/partials/sidebar/api-menu-items.html
Due: none

feat(api): Add custom auth input component for operation pages
  assets/js/components/api-auth-input.ts
  assets/js/main.js
  assets/styles/layouts/_api-security-schemes.scss
  layouts/partials/api/rapidoc-mini.html
Due: eslint-debug-check, build-typescript, prettier, lint-js

style(api): Add security schemes section styling
  assets/styles/layouts/_api-security-schemes.scss
  assets/styles/styles-default.scss
Due: none

feat(api): Experiment with auth input visibility on operation pages
  assets/js/components/rapidoc-mini.ts
Due: build-typescript, prettier, lint-js

feat(api): Display security schemes on conceptual API pages
  layouts/api/single.html
  layouts/partials/api/security-schemes.html
Due: none

feat(api): Register api-rapidoc component in main.js
  assets/js/main.js
Due: eslint-debug-check, prettier, lint-js

refactor(api): Remove Scalar renderer and related code
  assets/js/components/api-scalar.ts
  assets/js/main.js
  config/_default/hugo.yml
  docs/plans/2024-12-12-api-code-review-fixes.md
  layouts/partials/api/renderer.html
  layouts/partials/api/scalar.html
Due: eslint-debug-check, build-typescript, prettier, lint-js

refactor(api): Remove deprecated api-tabs component
  assets/js/components/api-tabs.ts
  assets/js/main.js
  layouts/partials/api/tab-panels.html
  layouts/partials/api/tabs.html
Due: eslint-debug-check, build-typescript, prettier, lint-js

test(api): Remove deprecated tab-related tests
  cypress/e2e/content/api-reference.cy.js
Due: prettier

feat(api): Add security-schemes partial for OpenAPI spec rendering
  layouts/partials/api/security-schemes.html
Due: none

refactor(api): Replace inline JS with data-component in rapidoc.html
  layouts/partials/api/rapidoc.html
Due: none

chore: remove openapi-link-processing design doc from tracking
  docs/plans/2025-01-02-openapi-link-processing.md
Due: none

docs(api): add OpenAPI link processing design
  docs/plans/2025-01-02-openapi-link-processing.md
Due: none

fix(api): propagate showSecuritySchemes to content generation
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  data/article_data/influxdb/cloud-dedicated/articles.json
  data/article_data/influxdb/cloud-dedicated/articles.yml
  data/article_data/influxdb/clustered/articles.json
  data/article_data/influxdb/clustered/articles.yml
Due: prettier

feat(api-docs): add link placeholder transformation for OpenAPI specs
  api-docs/README.md
  api-docs/influxdb/cloud/v2/ref.yml
  api-docs/influxdb/v2/v2/ref.yml
  api-docs/influxdb3/cloud-dedicated/v2/ref.yml
  api-docs/influxdb3/cloud-serverless/v2/ref.yml
  api-docs/influxdb3/clustered/v2/ref.yml
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/generate-openapi-articles.ts
  data/article_data/influxdb/influxdb3_core/articles.json
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.json
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
Due: lint-markdown-instructions, lint-instructions, prettier

feat(api): Convert auth input to popover with filtered schemes
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  assets/js/components/api-auth-input.ts
  assets/js/components/rapidoc-mini.ts
  assets/styles/layouts/_api-security-schemes.scss
  data/article_data/influxdb/influxdb3_core/articles.json
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.json
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
  layouts/partials/api/rapidoc-mini.html
Due: build-typescript, prettier, lint-js

feat(claude): add docs-cli-workflow skill and update hugo-template-dev (#6614)
  .claude/skills/hugo-template-dev/SKILL.md
Due: lint-markdown-instructions, lint-instructions

feat(api): Add per-operation security definitions to OpenAPI specs
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  layouts/partials/api/security-schemes.html
Due: none

fix(api): add showSecuritySchemes to Authentication pages
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  data/article_data/influxdb/influxdb3_core/articles.json
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.json
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
Due: prettier

fix(api): Remove duplicated Authentication section
  assets/js/components/rapidoc-mini.ts
  assets/styles/layouts/_api-security-schemes.scss
  layouts/api/single.html
  layouts/partials/api/rapidoc-mini.html
Due: build-typescript, prettier, lint-js

fix(ci): add path offset for PR preview subdirectory baseURL (#6662)
  layouts/shortcodes/api-endpoint.html
Due: none
