Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

fix(api): render children listing on API section index pages
  layouts/_default/api.html
  layouts/api/list.html
  layouts/api/section.html
Due: none

chore(telegraf-controller): add content to telegraf controller landing page
  content/telegraf/controller/_index.md
  static/img/telegraf/controller-agents-list.png
Due: lint-markdown-content, telegraf-lint

Manage configs with Telegraf Controller (#6681)
  assets/styles/layouts/article/_code.scss
  content/telegraf/controller/configs/_index.md
  content/telegraf/controller/configs/create.md
  content/telegraf/controller/configs/delete.md
  content/telegraf/controller/configs/dynamic-values.md
  content/telegraf/controller/configs/ui/_index.md
  content/telegraf/controller/configs/ui/code-editor.md
  content/telegraf/controller/configs/ui/telegraf-builder.md
  content/telegraf/controller/configs/update.md
  content/telegraf/controller/configs/use.md
  layouts/shortcodes/telegraf/dynamic-values.html
  static/img/telegraf/controller-code-editor.png
  static/img/telegraf/controller-command-builder.png
  static/img/telegraf/controller-telegraf-builder.png
Due: lint-markdown-content, telegraf-lint

Deploy preview for PR 6622 🛫
  pr-preview/pr-6622/index.html
Due: none

chore(telegraf-controller): add content to telegraf controller landing page (#6684)
  content/telegraf/controller/_index.md
  static/img/telegraf/controller-agents-list.png
Due: lint-markdown-content, telegraf-lint

chore: update search for telegraf controller
  assets/js/components/doc-search.js
  assets/js/utils/product-mappings.ts
  layouts/partials/header/search-attributes.html
Due: eslint-debug-check, build-typescript, prettier, lint-js

Deploy preview for PR 6685 🛫
  pr-preview/pr-6685/index.html
Due: none

fix(links): ignore influxdata slack links
  .ci/link-checker/production.lycherc.toml
Due: none

fix(links): skip nssm download in link checks
  .ci/link-checker/production.lycherc.toml
Due: none

Telegraf Controller (alpha) Documentation (#6685)
  .ci/link-checker/production.lycherc.toml
  assets/js/components/doc-search.js
  assets/js/utils/product-mappings.ts
  assets/styles/layouts/article/_code.scss
  assets/styles/layouts/article/blocks/_special-state.scss
  content/telegraf/controller/_index.md
  content/telegraf/controller/agents/_index.md
  content/telegraf/controller/agents/create.md
  content/telegraf/controller/agents/delete.md
  content/telegraf/controller/agents/reporting-rules.md
  content/telegraf/controller/agents/status.md
  content/telegraf/controller/configs/_index.md
  content/telegraf/controller/configs/create.md
  content/telegraf/controller/configs/delete.md
  content/telegraf/controller/configs/dynamic-values.md
  content/telegraf/controller/configs/ui/_index.md
  content/telegraf/controller/configs/ui/code-editor.md
  content/telegraf/controller/configs/ui/telegraf-builder.md
  content/telegraf/controller/configs/update.md
  content/telegraf/controller/configs/use.md
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/install/troubleshoot.md
  content/telegraf/controller/install/uninstall.md
  content/telegraf/controller/labels/_index.md
  content/telegraf/controller/telegraf-enterprise.md
  data/products.yml
  layouts/partials/article/special-state.html
  layouts/partials/header/search-attributes.html
  layouts/partials/sidebar.html
  layouts/partials/topnav/product-selector.html
  layouts/shortcodes/icon.html
  layouts/shortcodes/product-name.html
  layouts/shortcodes/telegraf/dynamic-values.html
  static/img/telegraf/controller-agents-list.png
  static/img/telegraf/controller-code-editor.png
  static/img/telegraf/controller-command-builder.png
  static/img/telegraf/controller-telegraf-builder.png
Due: eslint-debug-check, build-agent-instructions, lint-markdown-content, telegraf-lint, build-typescript, prettier, lint-js

Deploy preview for PR 6686 🛫
  pr-preview/pr-6686/index.html
Due: none

fix(api): refine .IsSection check to prevent breaking endpoint pages
  layouts/_default/api.html
Due: none

chore: update Scalar references to RapiDoc in comments
  .claude/agents/ts-component-dev.md
  .claude/skills/hugo-template-dev/SKILL.md
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/generate-openapi-articles.ts
  assets/js/components/api-toc.ts
Due: lint-markdown-instructions, lint-instructions, build-typescript, prettier, lint-js

feat(api): implement shared OpenAPI schemas for Core and Enterprise
  api-docs/getswagger.sh
  api-docs/influxdb3/core/v3/overlay.yml
  api-docs/influxdb3/enterprise/v3/overlay.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  api-docs/influxdb3/shared/v3/base.yml
  api-docs/scripts/apply-overlay.js
  data/article_data/influxdb/influxdb3_core/articles.json
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.json
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
Due: prettier

feat(api): add shared overlay structure for management APIs
  api-docs/getswagger.sh
  api-docs/influxdb3/cloud-dedicated/management/content/info.yml
  api-docs/influxdb3/cloud-dedicated/management/content/servers.yml
  api-docs/influxdb3/cloud-dedicated/management/content/tag-groups.yml
  api-docs/influxdb3/cloud-dedicated/management/openapi.yml
  api-docs/influxdb3/cloud-dedicated/management/overlay.yml
  api-docs/influxdb3/clustered/management/content/info.yml
  api-docs/influxdb3/clustered/management/content/servers.yml
  api-docs/influxdb3/clustered/management/content/tag-groups.yml
  api-docs/influxdb3/clustered/management/openapi.yml
  api-docs/influxdb3/clustered/management/overlay.yml
  api-docs/influxdb3/core/v3/content/info.yml
  api-docs/influxdb3/core/v3/content/servers.yml
  api-docs/influxdb3/core/v3/content/tag-groups.yml
  api-docs/influxdb3/core/v3/overlay.yml
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/content/info.yml
  api-docs/influxdb3/enterprise/v3/content/servers.yml
  api-docs/influxdb3/enterprise/v3/content/tag-groups.yml
  api-docs/influxdb3/enterprise/v3/overlay.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  api-docs/influxdb3/shared/management/base.yml
  api-docs/scripts/apply-overlay.js
Due: prettier

chore(link-checker): update configs for v1.3.0 severity classification
  .ci/link-checker/default.lycherc.toml
  .ci/link-checker/production.lycherc.toml
  .github/workflows/pr-link-check.yml
Due: none

chore(link-checker): update configs for v1.3.0 severity classification (#6688)
  .ci/link-checker/default.lycherc.toml
  .ci/link-checker/production.lycherc.toml
  .github/workflows/pr-link-check.yml
Due: none

Deploy preview for PR 6655 🛫
  pr-preview/pr-6655/index.html
Due: none

fix(shortcodes): latest-patch CLI version for cloud-serverless (#6655)
  .ci/link-checker/default.lycherc.toml
  .ci/link-checker/production.lycherc.toml
  .github/workflows/pr-link-check.yml
  content/influxdb3/cloud-serverless/sign-up.md
  content/shared/influxdb-v2/reference/cli/influx/_index.md
  cypress/e2e/content/latest-patch-shortcode.cy.js
  layouts/shortcodes/latest-patch.html
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, prettier

docs: add CLAUDE.md files for generated content directories
  content/shared/influxdb3-plugins/plugins-library/official/CLAUDE.md
  content/telegraf/CLAUDE.md
Due: lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, telegraf-lint

Deploy preview for PR 6690 🛫
  pr-preview/pr-6690/index.html
Due: none

docs: add CLAUDE.md files for generated content directories (#6690)
  content/shared/influxdb3-plugins/plugins-library/official/CLAUDE.md
  content/telegraf/CLAUDE.md
Due: lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, telegraf-lint

feat(api): Uplift API reference docs with Scalar renderer
  .gitignore
  api-docs/scripts/README.md
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  api-docs/scripts/openapi-paths-to-hugo-data/package.json
  api-docs/scripts/openapi-paths-to-hugo-data/yarn.lock
  api-docs/scripts/tsconfig.json
  config/_default/hugo.yml
  data/article-data/influxdb/cloud-v2/articles.json
  layouts/api/list.html
  layouts/api/single.html
  layouts/partials/api/rapidoc.html
  layouts/partials/api/renderer.html
  layouts/partials/api/scalar.html
Due: lint-markdown-instructions, lint-markdown-content, lint-instructions, prettier

fix(shortcodes): Fix Hugo 0.134 compatibility issues
  layouts/shortcodes/api-endpoint.html
  layouts/shortcodes/latest-patch.html
Due: none

chore: Update build:api-docs script to use new generator
  package.json
Due: none

fix(api): Add operations list styling and regroup sidebar navigation
  assets/styles/layouts/_api-layout.scss
  data/api_nav_groups.yml
  layouts/api/list.html
Due: none

chore(claude): Add claude skill for Hugo development/testing workflow. Split ui-dev subagent into hugo-, ts-, and testing-specific agents.
  .claude/agents/ui-testing.md
  .claude/skills/hugo-template-dev/SKILL.md
Due: lint-markdown-instructions, lint-instructions

feat(api): Add article data files and sidebar navigation partial
  data/article-data/influxdb/cloud-v2/articles.json
  data/article_data/influxdb/cloud-dedicated/articles.yml
  data/article_data/influxdb/cloud-v2/articles.yml
  data/article_data/influxdb/clustered/articles.yml
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
  data/article_data/influxdb/oss-v2/articles.yml
  layouts/partials/api/sidebar-nav.html
Due: none

feat(api): Update config, styles, and content for API docs uplift
  .gitignore
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  assets/styles/layouts/_api-overrides.scss
  assets/styles/styles-default.scss
  config/_default/hugo.yml
  content/influxdb3/core/reference/api/_index.md
  content/influxdb3/enterprise/reference/api/_index.md
  package.json
  yarn.lock
Due: lint-markdown-content, core-lint, enterprise-lint

feat(api): Add TypeScript components for API UI interactions
  assets/js/components/api-nav.ts
  assets/js/components/api-scalar.ts
  assets/js/components/api-tabs.ts
  assets/js/components/api-toc.ts
  assets/js/main.js
Due: eslint-debug-check, build-typescript, prettier, lint-js
