Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-copilot-instructions, lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier, lint-js

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-copilot-instructions:
  run: yarn build:copilot-instructions

lint-markdown:
  tags: lint
  run: 'docker compose run --rm --name remark-lint remark-lint ''{staged_files}''
  
    '

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

Update content/shared/influxdb3-admin/distinct-value-cache/query.md
  content/shared/influxdb3-admin/distinct-value-cache/query.md
Due: lint-markdown

Update content/shared/influxdb3-admin/distinct-value-cache/show.md
  content/shared/influxdb3-admin/distinct-value-cache/show.md
Due: lint-markdown

Update content/shared/influxdb3-admin/last-value-cache/create.md
  content/shared/influxdb3-admin/last-value-cache/create.md
Due: lint-markdown

Update content/shared/influxdb3-admin/last-value-cache/delete.md
  content/shared/influxdb3-admin/last-value-cache/delete.md
Due: lint-markdown

Update content/shared/influxdb3-admin/last-value-cache/show.md
  content/shared/influxdb3-admin/last-value-cache/show.md
Due: lint-markdown

Update api-docs/influxdb3/cloud-dedicated/v1-compatibility/swaggerV1Compat.yml
  api-docs/influxdb3/cloud-dedicated/v1-compatibility/swaggerV1Compat.yml
Due: none

Update api-docs/influxdb3/cloud-serverless/v1-compatibility/swaggerV1Compat.yml
  api-docs/influxdb3/cloud-serverless/v1-compatibility/swaggerV1Compat.yml
Due: none

Update api-docs/influxdb3/clustered/v1-compatibility/swaggerV1Compat.yml
  api-docs/influxdb3/clustered/v1-compatibility/swaggerV1Compat.yml
Due: none

Update content/shared/influxdb3-admin/distinct-value-cache/create.md
  content/shared/influxdb3-admin/distinct-value-cache/create.md
Due: lint-markdown

Update content/shared/sql-reference/functions/time-and-date.md
  content/shared/sql-reference/functions/time-and-date.md
Due: lint-markdown

Release influxctl v2.10.3 (#6270)
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  content/influxdb3/cloud-dedicated/admin/tables/rename.md
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/table/rename.md
  content/influxdb3/clustered/admin/tables/rename.md
  content/influxdb3/clustered/reference/cli/influxctl/table/rename.md
  content/shared/influxctl/release-notes.md
  content/shared/influxctl/table/rename.md
  data/products.yml
Due: lint-markdown

fix(telegraf): add missing telegraf patch releases
  content/telegraf/v1/release-notes.md
  data/products.yml
Due: lint-markdown, telegraf-lint

fix(telegraf): add missing telegraf patch releases (#6280)
  content/telegraf/v1/release-notes.md
  data/products.yml
Due: lint-markdown, telegraf-lint

chore(qol): Copilot no longer uses instruction settings; it automatically detects instructions files and PRs.
  .vscode/settings.json
Due: none

test: When using env_file, the variables are loaded directly into the container's environment, so you don't need to use the syntax. Removed braces
  compose.yaml
Due: none

chore(qol): audit-cli-documentation.js should dynamically get top-level commands and recurse through --help.\Both products work together:
  helper-scripts/influxdb3-monolith/audit-cli-documentation.js
Due: prettier

Clustered release 20250721-1796368
  content/influxdb3/clustered/reference/release-notes/clustered.md
  static/downloads/clustered-release-artifacts/20250721-1796368/app-instance-schema.json
  static/downloads/clustered-release-artifacts/20250721-1796368/example-customer.yml
Due: lint-markdown

Update content/influxdb3/clustered/reference/release-notes/clustered.md
  content/influxdb3/clustered/reference/release-notes/clustered.md
Due: lint-markdown

chore(qol): Make agents more collaborative and not automatically agreeable.
  .github/copilot-instructions.md
Due: none

docs: updating swaggerVwith rp, operationID, and bucket changed to database
  api-docs/influxdb3/cloud-dedicated/v1-compatibility/swaggerV1Compat.yml
  api-docs/influxdb3/cloud-serverless/v1-compatibility/swaggerV1Compat.yml
  api-docs/influxdb3/clustered/v1-compatibility/swaggerV1Compat.yml
Due: none

dox: fixing wrong indentation
  api-docs/influxdb3/clustered/v1-compatibility/swaggerV1Compat.yml
Due: none

docs: updating rp for cluster and serverless
  api-docs/influxdb3/clustered/v1-compatibility/swaggerV1Compat.yml
Due: none

docs: updates to clous-serveless rp
  api-docs/influxdb3/cloud-serverless/v1-compatibility/swaggerV1Compat.yml
Due: none

1. Updated Core serve.md Options Section
  .ci/vale/styles/config/vocabularies/InfluxDataDocs/accept.txt
  content/influxdb3/core/reference/cli/influxdb3/delete/_index.md
  content/influxdb3/core/reference/cli/influxdb3/delete/token.md
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/core/reference/config-options.md
  content/influxdb3/enterprise/reference/cli/influxdb3/delete/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/delete/token.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/delete/_index.md
  content/shared/influxdb3-cli/delete/token.md
Due: lint-markdown

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-copilot-instructions: any of: CONTRIBUTING.md
  lint-markdown: any of: {CONTRIBUTING.md,content/*.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
