Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

Add multi-assistant installation instructions for documentation MCP server (#6836)
  content/shared/influxdb3-admin/mcp-server-docs-only.md
  content/shared/influxdb3-admin/mcp-server.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat: https-insecure-certificate configuration
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
Due: lint-markdown-content

feat: [tls] advanced-expiration configuration
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
Due: lint-markdown-content

feat: [meta] https-insecure-certificate configuration
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
Due: lint-markdown-content

Add Documentation MCP server pages to chronograf, kapacitor, flux, and explorer (#6833)
  content/chronograf/v1/tools/mcp-server.md
  content/enterprise_influxdb/v1/tools/mcp-server.md
  content/flux/v0/mcp-server.md
  content/influxdb/cloud/reference/mcp-server.md
  content/influxdb/cloud/tools/mcp-server.md
  content/influxdb/v1/tools/mcp-server.md
  content/influxdb/v2/reference/mcp-server.md
  content/influxdb/v2/tools/mcp-server.md
  content/influxdb3/cloud-dedicated/admin/mcp-server.md
  content/influxdb3/cloud-serverless/reference/mcp-server.md
  content/influxdb3/clustered/reference/mcp-server.md
  content/influxdb3/core/admin/mcp-server.md
  content/influxdb3/enterprise/admin/mcp-server.md
  content/influxdb3/explorer/mcp-server.md
  content/kapacitor/v1/reference/mcp-server.md
  content/shared/influxdb3-admin/mcp-server-docs-only.md
  content/shared/influxdb3-admin/mcp-server.md
  layouts/shortcodes/product-name.html
Due: lint-markdown-content, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, v2-lint

feat(api): add showDryRunPreview function
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

feat(api): integrate cleanup into processProduct
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

feat(api): add dry-run mode to main function
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

docs(api): update script header with new flags
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

build(api): rebuild compiled generation scripts
  api-docs/scripts/dist/generate-openapi-articles.js
Due: prettier

docs: backfill release notes
  content/influxdb3/explorer/release-notes/_index.md
Due: lint-markdown-content, explorer-lint

Release Chronograf v1.11.0
  PLATFORM_REFERENCE.md
  content/chronograf/v1/about_the_project/release-notes.md
  data/products.yml
Due: build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions

docs: add release notes for v1.6.3
  content/influxdb3/explorer/release-notes/_index.md
Due: lint-markdown-content, explorer-lint

docs(sql): add FLOAT/REAL type casting and precision info
  content/shared/sql-reference/data-types.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

hotfix(telegraf-controller): fix table formatting in install doc
  content/telegraf/controller/install/_index.md
Due: lint-markdown-content, telegraf-lint

fix: warning format
  content/chronograf/v1/about_the_project/release-notes.md
Due: lint-markdown-content

Deploy preview for PR 6854 🛫
  pr-preview/pr-6854/chronograf/v1/about_the_project/release-notes/index.html
  pr-preview/pr-6854/index.html
Due: none

fix(ent3): Add link target and experimental caution for PachaTree option.
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(ent3): add experimental badge for --use-pacha-tree
  assets/styles/layouts/article/_badges.scss
  assets/styles/themes/_theme-dark.scss
  assets/styles/themes/_theme-light.scss
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(sql): add difference and non_negative_difference sql functions
  content/shared/sql-reference/functions/window.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): document how to disable Processing Engine
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-reference/influxdb3-processing-engine.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): add cross-references for Processing Engine defaults
  content/shared/influxdb3-get-started/processing-engine.md
  content/shared/influxdb3-plugins/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): clarify Processing Engine vs process mode distinction
  content/influxdb3/enterprise/admin/clustering.md
  content/shared/influxdb3-reference/influxdb3-processing-engine.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(ent3): add experimental badge for --use-pacha-tree (#6857)
  assets/styles/layouts/article/_badges.scss
  assets/styles/themes/_theme-dark.scss
  assets/styles/themes/_theme-light.scss
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix: Change latest_patch version to 3.8.1
  data/products.yml
Due: build-agent-instructions

Updating changelog
  content/telegraf/v1/release-notes.md
Due: lint-markdown-content, telegraf-lint

Updating product version
  data/products.yml
Due: build-agent-instructions

docs(influxdb3): document --plugin-dir auto-enables process mode
  content/influxdb3/enterprise/admin/clustering.md
  content/shared/influxdb3-get-started/processing-engine.md
  content/shared/influxdb3-plugins/_index.md
  content/shared/influxdb3-reference/influxdb3-processing-engine.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint
