Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

fix(content-utils): post-filter findPagesReferencingSharedContent to frontmatter only
  scripts/ci/__tests__/canonical.test.mjs
  scripts/lib/content-utils.js
Due: prettier

fix(lint-codeblocks): engines bump, attribution perf, real consumer test
  package.json
  scripts/ci/__tests__/canonical.test.mjs
  scripts/ci/lint-codeblocks.mjs
  scripts/lib/content-utils.js
Due: prettier

fix(content-utils): normalize source: /content/shared/... correctly
  scripts/ci/__tests__/canonical.test.mjs
  scripts/lib/content-utils.js
Due: prettier

fix(content): normalize source: frontmatter to canonical /shared/... form
  .ci/scripts/check-source-paths.sh
  .github/workflows/pr-link-check.yml
  content/influxdb3/cloud-dedicated/process-data/downsample/quix.md
  content/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-timeout-best-practices.md
  content/influxdb3/cloud-dedicated/reference/naming-restrictions.md
  content/influxdb3/cloud-serverless/process-data/downsample/quix.md
  content/influxdb3/cloud-serverless/query-data/troubleshoot-and-optimize/query-timeout-best-practices.md
  content/influxdb3/clustered/process-data/downsample/quix.md
  content/influxdb3/clustered/query-data/troubleshoot-and-optimize/query-timeout-best-practices.md
  content/influxdb3/clustered/reference/naming-restrictions.md
  content/influxdb3/core/reference/cli/influxdb3/create/distinct_cache.md
  content/influxdb3/core/reference/cli/influxdb3/disable/trigger.md
  content/influxdb3/core/reference/naming-restrictions.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/distinct_cache.md
  content/influxdb3/enterprise/reference/cli/influxdb3/disable/trigger.md
  content/influxdb3/enterprise/reference/naming-restrictions.md
  lefthook.yml
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(lint-codeblocks): address round-4 review findings
  .ci/scripts/check-source-paths.sh
  .claude/skills/content-editing/SKILL.md
  scripts/ci/detect-test-products.js
Due: lint-markdown-instructions, lint-instructions, prettier

fix(check-source-paths): reorder awk to handle quoted values with inline comments
  .ci/scripts/check-source-paths.sh
Due: none

fix(check-source-paths): quote-aware extraction of source: values
  .ci/scripts/check-source-paths.sh
Due: none

fix: docs: Removed the repeated 'and' in the specified files to fix the
  README.md
Due: lint-markdown-instructions, lint-instructions

fix(lint-codeblocks): tighter quote handling and inline-comment preservation
  scripts/ci/__tests__/canonical.test.mjs
  scripts/ci/__tests__/extractor.test.mjs
  scripts/lib/codeblock-extractor.mjs
  scripts/lib/content-utils.js
Due: prettier

feat(ci): nightly sync workflow for v3 client library release notes
  .github/workflows/sync-client-library-release-notes.yml
Due: none

fix(lint-codeblocks): YAML-correct # handling, bash 3.2 portability, contract test
  .ci/scripts/check-source-paths.sh
  scripts/ci/__tests__/canonical.test.mjs
  scripts/lib/content-utils.js
Due: prettier

fix(lint-codeblocks): align bash/JS on lenient YAML quoting; cover quoted source: in consumer grep
  .ci/scripts/check-source-paths.sh
  scripts/ci/__tests__/canonical.test.mjs
  scripts/lib/content-utils.js
Due: prettier

fix(ci): align Node version across all workflows; tolerate trailing ws on frontmatter delimiters
  .github/workflows/audit-documentation.yml
  .github/workflows/influxdb3-release.yml
  .github/workflows/pr-feedback-links.yml
  .github/workflows/pr-link-check.yml
  .github/workflows/pr-preview.yml
  .github/workflows/pr-render-check.yml
  .github/workflows/prepare-release.yml
  .github/workflows/sync-plugins.yml
  scripts/ci/__tests__/canonical.test.mjs
  scripts/lib/content-utils.js
Due: prettier

Deploy preview for PR 7136 🛫
  pr-preview/pr-7136/index.html
Due: none

test(lint-codeblocks): break a bash fence (DO NOT MERGE)
  content/influxdb3/core/reference/cli/influxdb3/_index.md
Due: deprecated-markdown-patterns, core-lint

fix(lint-codeblocks): use bash -ns instead of /dev/stdin path
  scripts/lib/codeblock-validators/bash.mjs
Due: none

test(lint-codeblocks): break a JSON fence (DO NOT MERGE)
  content/influxdb/v2/tools/influxdb-templates/create.md
Due: deprecated-markdown-patterns, v2-lint

test(lint-codeblocks): break shared JSON, expect attribution (DO NOT MERGE)
  content/shared/influxdb3-admin/tables/list.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(ci): run Test Code Blocks workflow on every PR
  .github/workflows/test.yml
Due: none

feat(lint-codeblocks): add pretty summary wrapper
  DOCS-TESTING.md
  package.json
  scripts/ci/lint-codeblocks-pretty.sh
  scripts/ci/lint-codeblocks-summary.sh
Due: lint-markdown-instructions, lint-instructions

fix(lint): resolve all 10 YAML blocking errors; support multi-doc streams
  content/influxdb3/clustered/reference/release-notes/clustered.md
  content/influxdb3/enterprise/admin/clustering.md
  content/kapacitor/v1/reference/event_handlers/alerta.md
  scripts/lib/codeblock-validators/yaml.mjs
Due: deprecated-markdown-patterns, clustered-lint, enterprise-lint

docs(influxdb3 cli): note default count and ttl for create last_cache
  content/influxdb3/core/reference/cli/influxdb3/create/last_cache.md
  content/influxdb3/enterprise/reference/cli/influxdb3/create/last_cache.md
  content/shared/influxdb3-cli/create/last_cache.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7161 🛫
  pr-preview/pr-7161/index.html
  pr-preview/pr-7161/influxdb3/core/reference/cli/influxdb3/create/last_cache/index.html
  pr-preview/pr-7161/influxdb3/enterprise/reference/cli/influxdb3/create/last_cache/index.html
Due: none

Deploy preview for PR 7161 🛫
  pr-preview/pr-7161/index.html
Due: none

docs(influxdb3 backup-restore): add object versioning guidance
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7162 🛫
  pr-preview/pr-7162/index.html
Due: none

Update content/shared/influxdb3-admin/backup-restore.md
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7162 🛫
  pr-preview/pr-7162/index.html
  pr-preview/pr-7162/influxdb3/core/admin/backup-restore/index.html
  pr-preview/pr-7162/influxdb3/enterprise/admin/backup-restore/index.html
Due: none

Deploy preview for PR 7160 🛫
  pr-preview/pr-7160/index.html
Due: none

fix(syntax-highlighting): readable diff fence styling
  assets/styles/layouts/_syntax-highlighting.scss
Due: none

fix(clustered/release-notes): replace bare ellipsis placeholders with comments
  content/influxdb3/clustered/reference/release-notes/clustered.md
Due: deprecated-markdown-patterns, clustered-lint

Deploy preview for PR 7160 🛫
  pr-preview/pr-7160/index.html
  pr-preview/pr-7160/influxdb3/clustered/reference/release-notes/clustered/index.html
Due: none

docs: add 1.8 release notes
  content/influxdb3/explorer/release-notes/_index.md
Due: deprecated-markdown-patterns, explorer-lint
