Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-copilot-instructions, lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier, lint-js

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-copilot-instructions:
  run: yarn build:copilot-instructions

lint-markdown:
  tags: lint
  run: 'docker compose run --rm --name remark-lint remark-lint ''{staged_files}''
  
    '

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

Apply suggestions from code review
  content/shared/sql-reference/functions/array.md
  content/shared/sql-reference/functions/map.md
  content/shared/sql-reference/functions/struct.md
Due: lint-markdown

Clean up config-options.md
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown

fix: remove link
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown

test: Map a directory for influxdata plugins (from influxdb3_plugins), map ent- and core-specific plugins to plugins/custom
  compose.yaml
Due: none

Update content/influxdb3/cloud-dedicated/admin/users/_index.md
  content/influxdb3/cloud-dedicated/admin/users/_index.md
Due: lint-markdown

Update content/influxdb3/cloud-dedicated/admin/users/admin-ui.md
  content/influxdb3/cloud-dedicated/admin/users/admin-ui.md
Due: lint-markdown

chore: update release notes and data for kapacitor-1.8.1
  content/kapacitor/v1/reference/about_the_project/release-notes.md
  data/products.yml
Due: lint-markdown

chore: switch list from ordered to unordered.
  content/kapacitor/v1/reference/about_the_project/release-notes.md
Due: lint-markdown

fix(v3): DAR-535 resolve duplication
  content/shared/v3-distributed-internals-reference/durability.md
Due: lint-markdown

fix(v3): remove top-level TOC link, hide recovery in Clustered
  content/shared/v3-distributed-internals-reference/durability.md
Due: lint-markdown

Add Telegraf v1.35.4 release notes
  content/telegraf/v1/release-notes.md
Due: lint-markdown, telegraf-lint

Update content/telegraf/v1/release-notes.md
  content/telegraf/v1/release-notes.md
Due: lint-markdown, telegraf-lint

Update products.yml for Telegraph 1.35.4
  data/products.yml
Due: none

docs: Add .mcp.json config file for Docs MCP
  .mcp.json
Due: none

fix(v3): Apply code review suggestions\ Co-authored-by: reidkauffman@users.noreply.github.com
  content/shared/v3-distributed-internals-reference/durability.md
Due: lint-markdown

fix(clustered): Add known bug and clustered-auth override to release notes
  content/influxdb3/clustered/reference/release-notes/clustered.md
Due: lint-markdown

Update content/influxdb3/clustered/reference/release-notes/clustered.md
  content/influxdb3/clustered/reference/release-notes/clustered.md
Due: lint-markdown

fix(v1): clarify truncate-shards operates on hot shards
  content/enterprise_influxdb/v1/administration/manage/clusters/rebalance.md
Due: lint-markdown

fix(clustered): Google Cloud IAM link
  content/influxdb3/clustered/reference/release-notes/clustered.md
Due: lint-markdown

Update grafana.md
  content/influxdb3/cloud-serverless/process-data/visualize/grafana.md
Due: lint-markdown

chore(v3-dist): Consolidate to shared Grafana guide - Fix broken link to fragment
  content/influxdb3/cloud-dedicated/process-data/visualize/grafana.md
  content/influxdb3/cloud-serverless/process-data/visualize/grafana.md
  content/influxdb3/clustered/process-data/visualize/grafana.md
  content/shared/v3-process-data/visualize/grafana.md
Due: lint-markdown

Update config-options.md
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown

fix(sql): hotfix typos in sql window functions doc
  content/shared/sql-reference/functions/window.md
Due: lint-markdown

Apply suggestions from code review
  content/shared/v3-process-data/visualize/grafana.md
Due: lint-markdown

Updating changelog
  content/telegraf/v1/release-notes.md
Due: lint-markdown, telegraf-lint

Updating plugin list
  data/telegraf_plugins.yml
Due: none

Updating product version
  data/products.yml
Due: none

chore: Adapt plugin page structure to be under 'plugin directory'
  content/telegraf/v1/plugins.md
  telegraf-build/templates/aggregator_index.tmpl
  telegraf-build/templates/input_index.tmpl
  telegraf-build/templates/output_index.tmpl
  telegraf-build/templates/processor_index.tmpl
Due: lint-markdown, telegraf-lint

Remove unused templates
  telegraf-build/templates/plugin_aggregator.tmpl
  telegraf-build/templates/plugin_inputs.tmpl
  telegraf-build/templates/plugin_outputs.tmpl
  telegraf-build/templates/plugin_processor.tmpl
Due: none

Update content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-copilot-instructions: any of: CONTRIBUTING.md
  lint-markdown: any of: {CONTRIBUTING.md,content/*.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
