Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

style(plugins): wrap console.warn line to satisfy prettier
  helper-scripts/influxdb3-plugins/port_to_docs.js
Due: prettier

docs(plugins): plan scheduled sync for InfluxDB 3 plugin docs
  PLAN.md
  docs/adr/0004-plugin-sync-ownership-seam.md
  helper-scripts/influxdb3-plugins/README.md
Due: lint-markdown-instructions, lint-instructions

feat(shortcodes): add fragment ids to tab content sections
  content/example.md
  cypress/e2e/content/tab-fragment-ids.cy.js
  docs/exec-plans/2026-09-08-tab-content-fragment-ids.md
  layouts/partials/tab-fragment-ids.html
  layouts/shortcodes/code-tabs-wrapper.html
  layouts/shortcodes/tabs-wrapper.html
Due: prettier

feat(shortcodes): rewrite tab hrefs and support id prefixes
  content/example.md
  cypress/e2e/content/tab-fragment-ids.cy.js
  docs/adr/0005-tab-fragment-ids.md
  docs/exec-plans/2026-09-08-tab-content-fragment-ids.md
  layouts/partials/article/content.html
  layouts/partials/tab-fragment-ids.html
  layouts/shortcodes/code-tabs-wrapper.html
  layouts/shortcodes/tabs-wrapper.html
Due: prettier

style(tests): apply prettier formatting to tab-fragment-ids test
  cypress/e2e/content/tab-fragment-ids.cy.js
Due: prettier

docs(api): document deleting a profile while it's still capturing
  content/influxdb3/enterprise/reference/cli/influxdb3/loadcap/delete.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(openapi): update Core and Enterprise specs to v3.11.2
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

docs(api): document Parquet cleanup and upgrade retry endpoints
  content/influxdb3/enterprise/reference/cli/influxdb3/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/manage/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/manage/cleanup-parquet.md
  content/influxdb3/enterprise/reference/cli/influxdb3/manage/retry-upgrade-to-pacha-tree.md
Due: deprecated-markdown-patterns, enterprise-lint

chore: Yarn upgrade dependencies
  package.json
  yarn.lock
Due: none

ci(plugins): schedule documentation sync
  .github/workflows/sync-plugins.yml
Due: none

docs(adr): archive stale execution plans
  docs/adr/0005-agent-instruction-adapter-architecture.md
  docs/adr/0006-product-jsonld-rendering.md
  docs/adr/0007-release-version-drift-detection.md
  docs/exec-plans/2026-05-13-influxdb3-decision-page.md
  docs/exec-plans/2026-05-14-influxdb3-decision-page-jsonld.md
  docs/exec-plans/2026-05-15-influxdb3-decision-page-discovery.md
  docs/exec-plans/2026-05-15-influxdb3-hub-landing.md
  docs/exec-plans/2026-05-21-robots-named-ai-bots.md
  docs/exec-plans/2026-05-28-techarticle-softwareapplication-jsonld.md
  docs/exec-plans/2026-06-29-gh-merge-queue-master.md
  docs/exec-plans/2026-07-21-release-notes-version-drift-check.md
  docs/exec-plans/agent-harness-instructions-skills.md
Due: none

sync(client-libs): update release notes
  content/shared/influxdb-client-libraries-reference/v3/release-notes/javascript.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(ci): verify prebuilt converter against committed checksums
  .github/actions/setup-docs-env/action.yml
  .github/workflows/pr-v1-shared-drift.yml
  .github/workflows/release-rust-markdown-converter.yml
  assets/js/jquery-3.5.0.min.js
  scripts/build-rust-converter.js
  scripts/rust-markdown-converter/checksums.txt
  scripts/update-converter-checksums.js
Due: eslint-debug-check, prettier, lint-js

docs(deps): evaluate Yarn Berry migration
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

fix(ci): scope flattened-list regex to a single paragraph
  .ci/scripts/check-render-artifacts.sh
Due: none

docs(telegraf): update docs for Telegraf 1.40.0
  content/telegraf/v1/commands/secrets/_index.md
  content/telegraf/v1/commands/secrets/remove.md
  content/telegraf/v1/configuration/agent.md
  content/telegraf/v1/configuration/filtering.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(telegraf): fix broken cel-go repository links
  content/shared/telegraf/agent-status-eval/functions.md
  content/telegraf/v1/configuration/filtering.md
  content/telegraf/v1/output-plugins/heartbeat.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, telegraf-lint

test(plugins): cover whitespace around all selector
  helper-scripts/influxdb3-plugins/test/sync-results.test.js
Due: prettier

docs(telegraf): use GitHub callout on secrets remove page
  content/telegraf/v1/commands/secrets/remove.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(telegraf): replace deprecated note/warn shortcodes with GitHub callouts
  content/telegraf/v1/commands/config/migrate.md
  content/telegraf/v1/commands/secrets/get.md
  content/telegraf/v1/commands/secrets/list.md
  content/telegraf/v1/commands/secrets/set.md
  content/telegraf/v1/contribute.md
  content/telegraf/v1/data_formats/input/csv.md
  content/telegraf/v1/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint
