Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier, v2-links, v3-core-links, v3-enterprise-links, cloud-links, telegraf-links, shared-links

lint-markdown:
  tags: lint
  run: 'docker compose run --rm --name remark-lint remark-lint --no-stdout --quiet ''{staged_files}''
  
    '

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

prettier:
  tags:
  - frontend
  - style
  run: yarn prettier {staged_files}

v2-links:
  tags: test,links,v2
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

v3-core-links:
  tags: test,links,v3
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

v3-enterprise-links:
  tags: test,links,v3
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

cloud-links:
  tags: test,links,cloud
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

telegraf-links:
  tags: test,links
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

shared-links:
  tags: test,links
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

Improve DocSearch loading
  assets/js/components/doc-search.js
  assets/js/main.js
  assets/js/utils/search-interactions.js
  layouts/partials/footer/search.html
Due: prettier

fix: incorrect enterprise admin token creation link
  api-docs/influxdb3/enterprise/v3/ref.yml
Due: none

fix: url fixes in API reference section
  api-docs/influxdb3/enterprise/v3/ref.yml
Due: none

hotfix(ent3): API ref: Remove admin token enterprise-only note and rebuild with previous fix.
  api-docs/influxdb3/enterprise/v3/ref.yml
Due: none

WIP: update format
  content/shared/influxdb3-cli/create/distinct_cache.md
Due: lint-markdown, shared-links

docs(influxdb3): clarify auth token usage and add CLI/API code tabs
  content/shared/influxdb3-admin/tokens/admin/list.md
Due: lint-markdown, shared-links

revising structure
  content/shared/influxdb3-cli/create/database.md
Due: lint-markdown, shared-links

docs(influxdb3): add prerequisites and clarify token usage options
  content/shared/influxdb3-admin/tokens/admin/list.md
Due: lint-markdown, shared-links

docs(cli): improve distinct_cache structure
  content/shared/influxdb3-cli/create/database.md
  content/shared/influxdb3-cli/create/distinct_cache.md
Due: lint-markdown, shared-links

docs(cli): add editable placeholders for database, table, and token in and examples
  content/influxdb3/clustered/admin/tokens/database/revoke 2.md
  content/shared/influxdb3-cli/create/last_cache.md
  content/shared/influxdb3-cli/create/table.md
  content/shared/influxdb3-cli/create/token.md
  static/img/influxdb3/cloud-dedicated-admin-ui-create-table-custom-partitioning 2.png
  static/img/influxdb3/cloud-dedicated-admin-ui-create-table-default 2.png
Due: lint-markdown, shared-links

feat(oss2): Release notes for OSS 2.7.12, fix broken link, list item indentation, and failing codeblock tests
  content/influxdb/v2/reference/release-notes/influxdb.md
Due: lint-markdown, v2-lint, v2-links

feat(oss2): option Part of influxdata/DAR/issues/500
  content/influxdb/v2/reference/config-options.md
Due: lint-markdown, v2-lint, v2-links

feat(oss2): Add influxd_flags entry for option Part of influxdata/DAR/issues/500
  content/influxdb/v2/reference/config-options.md
  data/influxd_flags.yml
Due: lint-markdown, v2-lint, v2-links

Update content/shared/influxdb3-admin/tokens/admin/list.md
  content/shared/influxdb3-admin/tokens/admin/list.md
Due: lint-markdown, shared-links

feat(oss2): Maintenance items for OSS 2.7.12
  content/influxdb/v2/reference/release-notes/influxdb.md
Due: lint-markdown, v2-lint, v2-links

feat(oss2): Revise and fix partial write enhancement for OSS 2.7.12
  content/influxdb/v2/reference/release-notes/influxdb.md
Due: lint-markdown, v2-lint, v2-links

docs(influxdb3): scope token placeholder per tab and move replace instruction
  content/shared/influxdb3-admin/tokens/_index.md
  content/shared/influxdb3-admin/tokens/admin/list.md
Due: lint-markdown, shared-links

Update content/shared/influxdb3-admin/tokens/_index.md
  content/shared/influxdb3-admin/tokens/_index.md
Due: lint-markdown, shared-links

Apply suggestions from code review
  content/shared/influxdb3-admin/tokens/_index.md
  content/shared/influxdb3-admin/tokens/admin/list.md
Due: lint-markdown, shared-links

- **Environment variable formatting** - Updated environment variable configuration from array format to object format to comply with Lefthook schema validation requirements.
  .gitignore
  .husky/_/serve
  cypress.config.js
  cypress/e2e/content/article-links.cy.js
  cypress/plugins/index.js
  cypress/support/e2e.js
  cypress/support/hugo-server.js
  cypress/support/link-reporter.js
  cypress/support/map-files-to-urls.js
  cypress/support/map-files-to-urls.mjs
  cypress/support/run-e2e-specs.js
  hugo.testing.yml
  lefthook.yml
  package.json
  yarn.lock
Due: prettier

chore(ci): e2e smoke test using example.md, ensure it renders without JavaScript errors.
  cypress/e2e/content/example-page.cy.js
Due: prettier

chore: add release notes for 3.0.3
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown, shared-links

WIP: adding python example
  content/shared/influxdb3-admin/tokens/_index.md
Due: lint-markdown, shared-links

fix(docs): close unclosed shortcodes in token authentication tabs and reversed WIP
  content/shared/influxdb3-admin/tokens/_index.md
Due: lint-markdown, shared-links

fix(docs): remove nested code-placeholders and scope per code tab
  content/shared/v3-core-get-started/_index.md
  content/shared/v3-enterprise-get-started/_index.md
Due: lint-markdown, shared-links

Update content/shared/v3-enterprise-get-started/_index.md
  content/shared/v3-enterprise-get-started/_index.md
Due: lint-markdown, shared-links

Update content/shared/v3-core-get-started/_index.md
  content/shared/v3-core-get-started/_index.md
Due: lint-markdown, shared-links

fix(example): Bad link
  content/example.md
Due: lint-markdown

Update database.md
  content/shared/influxdb3-cli/create/database.md
Due: lint-markdown, shared-links

Update revoke 2.md
  content/influxdb3/clustered/admin/tokens/database/revoke 2.md
Due: lint-markdown

Update distinct_cache.md
  content/shared/influxdb3-cli/create/distinct_cache.md
Due: lint-markdown, shared-links

Update last_cache.md
  content/shared/influxdb3-cli/create/last_cache.md
Due: lint-markdown, shared-links

Update table.md
  content/shared/influxdb3-cli/create/table.md
Due: lint-markdown, shared-links

Path conditions:
  lint-markdown: any of: content/*.md
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
  v2-links: any of: content/influxdb/v2/**/*.{md,html}
  v3-core-links: any of: content/influxdb3/core/**/*.{md,html}
  v3-enterprise-links: any of: content/influxdb3/enterprise/**/*.{md,html}
  cloud-links: any of: content/influxdb/{cloud,cloud-dedicated,cloud-serverless}/**/*.{md,html}
  telegraf-links: any of: content/telegraf/**/*.{md,html}
  shared-links: any of: content/shared/**/*.{md,html}
