Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-markdown-content:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

refactor(ci): improve PR preview with products.yml and index page
  .github/scripts/parse-pr-urls.js
  .github/scripts/prepare-preview-files.js
  .github/scripts/test-parse-pr-urls.js
Due: prettier

refactor(ci): improve PR preview with products.yml and index page (#6656)
  .github/scripts/parse-pr-urls.js
  .github/scripts/prepare-preview-files.js
  .github/scripts/test-parse-pr-urls.js
Due: prettier

Deploy preview for PR 6655 🛫
  pr-preview/pr-6655/api.css
  pr-preview/pr-6655/dark-theme.153183ad3915586035a473fc442de137ec8ba307b7f7d87160f893857e6bf11d.css
  pr-preview/pr-6655/dark-theme.56ede7c71d3385876a1c762e207372a1699e829612d789f952885f820d50394a.css
  pr-preview/pr-6655/index.html
  pr-preview/pr-6655/light-theme.8d5433f1b1d5c0b801a1f0e47e57e6de0bbdb1a3be335988a8db0424be68b7df.css
  pr-preview/pr-6655/light-theme.b9796198db2f4e595588f9612cc06faa5b6f61322119b20af095d82a792468f7.css
Due: prettier

docs(influxdb3): add Helm chart deployment guide for Enterprise
  content/influxdb3/enterprise/install/kubernetes.md
Due: lint-markdown-content, enterprise-lint

chore(influxdb3): Cleanup install
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6657 🛫
  pr-preview/pr-6657/index.html
  pr-preview/pr-6657/influxdb3/core/install/index.html
  pr-preview/pr-6657/influxdb3/enterprise/install/index.html
Due: none

chore(influxdb3): add version metadata for systemd
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

ui: Support product-name
  layouts/shortcodes/product-name.html
Due: none

fix(ci): set baseURL for preview subdirectory deployment
  .github/workflows/pr-preview.yml
Due: none

fix(ci): set baseURL for PR preview subdirectory deployment (#6658)
  .github/workflows/pr-preview.yml
Due: none

fix(telegraf): escape dollar in here-doc to prevent parameter expansion
  content/telegraf/v1/install.md
Due: lint-markdown-content, telegraf-lint

docs(telegraf): clarify prometheusremotewrite example shows logical representation (#6661)
  content/telegraf/v1/data_formats/output/prometheusremotewrite.md
Due: lint-markdown-content, telegraf-lint

feat(api): Add per-operation security definitions to OpenAPI specs
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  layouts/partials/api/security-schemes.html
Due: none

fix(layouts): use File.Dir for baseURL-independent product detection
  layouts/partials/product-info.html
  layouts/shortcodes/api-endpoint.html
  layouts/shortcodes/children.html
  layouts/shortcodes/influxdb/host.html
Due: none

fix(ci): add path offset for PR preview subdirectory baseURL
  .github/workflows/pr-preview.yml
  config/pr-preview/params.yml
  layouts/shortcodes/api-endpoint.html
  layouts/shortcodes/children.html
  layouts/shortcodes/influxdb/host.html
Due: none

Update content/telegraf/v1/data_formats/output/binary.md
  content/telegraf/v1/data_formats/output/binary.md
Due: lint-markdown-content, telegraf-lint

docs(telegraf): add Helm chart links and ToC updates (#6632)
  content/telegraf/v1/install.md
Due: lint-markdown-content, telegraf-lint

fix(ci): add path offset for PR preview subdirectory baseURL (#6662)
  .github/workflows/pr-preview.yml
  config/pr-preview/params.yml
  layouts/shortcodes/api-endpoint.html
  layouts/shortcodes/children.html
  layouts/shortcodes/influxdb/host.html
Due: none

fix: move 'yum install' outside the 'cat' for influxdb3 installs
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): update --perf-debug example output to match documented query
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/query.md
  content/influxdb3/clustered/reference/cli/influxctl/query.md
Due: lint-markdown-content, cloud-dedicated-lint, clustered-lint

fix: move 'yum install' outside the 'cat' for influxdb3 installs (#6666)
  content/shared/influxdb3/install.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(ci): add path offset to product-name and sidebar for PR previews
  layouts/partials/sidebar.html
  layouts/shortcodes/product-name.html
Due: none

Move influxctl --perf-debug example output to command reference (#6599)
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/query.md
  content/influxdb3/clustered/reference/cli/influxctl/query.md
  content/shared/influxctl/release-notes.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(api): Convert auth input to popover with filtered schemes
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  assets/js/components/api-auth-input.ts
  assets/js/components/rapidoc-mini.ts
  assets/styles/layouts/_api-security-schemes.scss
  data/article_data/influxdb/influxdb3_core/articles.json
  data/article_data/influxdb/influxdb3_core/articles.yml
  data/article_data/influxdb/influxdb3_enterprise/articles.json
  data/article_data/influxdb/influxdb3_enterprise/articles.yml
  layouts/partials/api/rapidoc-mini.html
Due: build-typescript, prettier, lint-js

Fix duplicate header in install.md (#6596)
  content/influxdb3/explorer/install.md
Due: lint-markdown-content, explorer-lint

Release influxctl v2.12.0
  data/products.yml
Due: build-agent-instructions

Add Windows environment variable instructions for INFLUXDB3_AUTH_TOKEN (#6325)
  content/influxdb3/core/get-started/setup.md
  content/influxdb3/enterprise/get-started/setup.md
  content/shared/influxdb3-get-started/setup.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Add Self-Signed Certificate docs (#6593)
  content/influxdb3/explorer/install.md
Due: lint-markdown-content, explorer-lint

Rename telemetry-disable-upload to disable-telemetry-upload (#6594)
  content/shared/influxdb3-cli/config-options.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Document use-hashed-tokens configuration option (#6585)
  content/influxdb/v2/reference/config-options.md
Due: lint-markdown-content, v2-lint

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
