Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

fix: use correct API to invoke Copilot code review in doc-review workflow (#6918)
  .github/workflows/doc-review.yml
Due: none

fix(vale): propagate Google.Units=NO to product-specific Vale configs (#6917)
  .claude/skills/vale-linting/SKILL.md
  content/influxdb/v2/.vale.ini
  content/influxdb3/cloud-dedicated/.vale.ini
  content/influxdb3/cloud-serverless/.vale.ini
  content/influxdb3/clustered/.vale.ini
  content/influxdb3/core/.vale.ini
Due: lint-markdown-instructions, lint-instructions

chore: add hosted influxdb-docs MCP server to .mcp.json (#6914)
  .claude/skills/content-editing/SKILL.md
  .mcp.json
  AGENTS.md
  CLAUDE.md
Due: lint-markdown-instructions, lint-instructions

style(api): refine code samples, schema examples, and layout width
  assets/styles/layouts/_api-code-samples.scss
  assets/styles/layouts/_api-layout.scss
  assets/styles/layouts/_api-operations.scss
  layouts/partials/api/code-sample.html
  layouts/partials/api/schema.html
Due: none

feat(api-docs): add tag post-processor and per-product tags.yml configs
  api-docs/enterprise_influxdb/v1/content/info.yml
  api-docs/enterprise_influxdb/v1/content/servers.yml
  api-docs/enterprise_influxdb/v1/influxdb-enterprise-v1-openapi.yaml
  api-docs/enterprise_influxdb/v1/tags.yml
  api-docs/influxdb/cloud/v2/tags.yml
  api-docs/influxdb/v1/content/info.yml
  api-docs/influxdb/v1/content/servers.yml
  api-docs/influxdb/v1/influxdb-oss-v1-openapi.yaml
  api-docs/influxdb/v1/tags.yml
  api-docs/influxdb/v2/v2/tags.yml
  api-docs/influxdb3/cloud-dedicated/content/info.yml
  api-docs/influxdb3/cloud-dedicated/content/servers.yml
  api-docs/influxdb3/cloud-dedicated/influxdb3-cloud-dedicated-openapi.yaml
  api-docs/influxdb3/cloud-dedicated/management/tags.yml
  api-docs/influxdb3/cloud-dedicated/tags.yml
  api-docs/influxdb3/cloud-serverless/content/info.yml
  api-docs/influxdb3/cloud-serverless/content/servers.yml
  api-docs/influxdb3/cloud-serverless/influxdb3-cloud-serverless-openapi.yaml
  api-docs/influxdb3/cloud-serverless/tags.yml
  api-docs/influxdb3/clustered/content/info.yml
  api-docs/influxdb3/clustered/content/servers.yml
  api-docs/influxdb3/clustered/influxdb3-clustered-openapi.yaml
  api-docs/influxdb3/clustered/management/tags.yml
  api-docs/influxdb3/clustered/tags.yml
  api-docs/influxdb3/core/v3/tags.yml
  api-docs/influxdb3/enterprise/v3/tags.yml
  api-docs/scripts/apply-tag-config.ts
  api-docs/scripts/test-apply-tag-config.ts
Due: prettier

refactor(api-docs): flatten version subdirectories for v2-compat and v1 products
  api-docs/enterprise_influxdb/v1/.config.yml
  api-docs/getswagger.sh
  api-docs/influxdb/v1/.config.yml
  api-docs/influxdb3/cloud-dedicated/.config.yml
  api-docs/influxdb3/cloud-serverless/.config.yml
  api-docs/influxdb3/clustered/.config.yml
  api-docs/scripts/README.md
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

hotfix: Change date for InfluxDB Docker latest tag
  data/notifications.yaml
Due: none

fix(api-docs): let docs-tooling spec values pass through for Core/Enterprise
  api-docs/influxdb3/core/v3/content/info.yml
  api-docs/influxdb3/enterprise/v3/content/info.yml
  api-docs/openapi/plugins/decorators/set-info.cjs
Due: none

refactor(api-docs): replace tag-only processor with unified post-process-specs
  api-docs/getswagger.sh
  api-docs/influxdb3/cloud-dedicated/.config.yml
  api-docs/influxdb3/clustered/.config.yml
  api-docs/scripts/apply-tag-config.ts
  api-docs/scripts/post-process-specs.ts
  api-docs/scripts/test-post-process-specs.ts
Due: prettier

chore(telegraf_controller): base template and layout changes for telegraf controller beta
  assets/styles/layouts/_homepage.scss
  layouts/index.html
  layouts/partials/article/special-state.html
  layouts/partials/sidebar.html
  layouts/partials/topnav/product-selector.html
Due: none

chore(telegraf_controller): base template and layout changes for telegraf controller beta (#6921)
  assets/styles/layouts/_homepage.scss
  layouts/index.html
  layouts/partials/article/special-state.html
  layouts/partials/sidebar.html
  layouts/partials/topnav/product-selector.html
Due: none

feat: add agent-reviews skills for PR review automation
  .claude/skills/resolve-agent-reviews/SKILL.md
  .claude/skills/resolve-human-reviews/SKILL.md
  .claude/skills/resolve-reviews/SKILL.md
Due: lint-markdown-instructions, lint-instructions

refactor(api-docs): unify v2 APIs, remove v1-compat specs, migrate mgmt links
  api-docs/generate-api-docs.sh
  api-docs/getswagger.sh
  api-docs/influxdb/cloud/.config.yml
  api-docs/influxdb/cloud/content/info.yml
  api-docs/influxdb/cloud/content/servers.yml
  api-docs/influxdb/cloud/influxdb-cloud-v2-openapi.yaml
  api-docs/influxdb/cloud/tags.yml
  api-docs/influxdb/cloud/v1-compatibility/content/info.yml
  api-docs/influxdb/cloud/v1-compatibility/swaggerV1Compat.yml
  api-docs/influxdb/v2/.config.yml
  api-docs/influxdb/v2/content/info.yml
  api-docs/influxdb/v2/influxdb-oss-v2-openapi.yaml
  api-docs/influxdb/v2/tags.yml
  api-docs/influxdb/v2/v1-compatibility/content/info.yml
  api-docs/influxdb/v2/v1-compatibility/swaggerV1Compat.yml
  api-docs/influxdb3/cloud-dedicated/management/openapi.yml
  api-docs/influxdb3/cloud-dedicated/management/tags.yml
  api-docs/influxdb3/cloud-dedicated/v1-compatibility/content/info.yml
  api-docs/influxdb3/cloud-dedicated/v1-compatibility/swaggerV1Compat.yml
  api-docs/influxdb3/cloud-serverless/.config.yml
  api-docs/influxdb3/cloud-serverless/v1-compatibility/content/info.yml
  api-docs/influxdb3/cloud-serverless/v1-compatibility/swaggerV1Compat.yml
  api-docs/influxdb3/clustered/management/openapi.yml
  api-docs/influxdb3/clustered/management/tags.yml
  api-docs/influxdb3/clustered/v1-compatibility/content/info.yml
  api-docs/influxdb3/clustered/v1-compatibility/swaggerV1Compat.yml
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/post-process-specs.ts
  api-docs/scripts/test-post-process-specs.ts
  content/enterprise_influxdb/v1/api/_index.md
  content/enterprise_influxdb/v1/api/all-endpoints/_index.md
  content/enterprise_influxdb/v1/api/authentication/_index.md
  content/enterprise_influxdb/v1/api/debug/_index.md
  content/enterprise_influxdb/v1/api/query/_index.md
  content/enterprise_influxdb/v1/api/system-information/_index.md
  content/enterprise_influxdb/v1/api/v2-compatibility/_index.md
  content/enterprise_influxdb/v1/api/write/_index.md
  docs/plans/2026-03-09-api-docs-uplift-design.md
Due: deprecated-markdown-patterns, prettier

feat(tc-auth): telegraf controller authorization reference doc
  content/telegraf/controller/reference/authorization.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(tc-users): telegraf controller manage users docs
  content/telegraf/controller/users/_index.md
  content/telegraf/controller/users/account.md
  content/telegraf/controller/users/delete.md
  content/telegraf/controller/users/disable.md
  content/telegraf/controller/users/invite.md
  content/telegraf/controller/users/transfer-ownership.md
  content/telegraf/controller/users/update.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(tc-users): telegraf controller manage users docs (#6924)
  content/telegraf/controller/users/_index.md
  content/telegraf/controller/users/account.md
  content/telegraf/controller/users/delete.md
  content/telegraf/controller/users/disable.md
  content/telegraf/controller/users/invite.md
  content/telegraf/controller/users/transfer-ownership.md
  content/telegraf/controller/users/update.md
Due: deprecated-markdown-patterns, telegraf-lint

fix: upgrade glob to v13 and pin dompurify resolution
  package.json
  yarn.lock
Due: none

fix: upgrade glob to v13 and pin dompurify resolution (#6925)
  package.json
  yarn.lock
Due: none

chore(tc-auth): minor update to telegraf controller auth reference
  content/telegraf/controller/reference/authorization.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(tc-auth): telegraf controller authorization reference doc (#6923)
  content/telegraf/controller/reference/authorization.md
Due: deprecated-markdown-patterns, telegraf-lint

refactor(api-docs): flatten v3 dirs, rewrite build pipeline, add --static-only mode
  api-docs/enterprise_influxdb/v1/influxdb-enterprise-v1-openapi.yaml
  api-docs/generate-api-docs.sh
  api-docs/getswagger.sh
  api-docs/influxdb/cloud/influxdb-cloud-v2-openapi.yaml
  api-docs/influxdb/v1/influxdb-oss-v1-openapi.yaml
  api-docs/influxdb/v2/influxdb-oss-v2-openapi.yaml
  api-docs/influxdb3/cloud-dedicated/influxdb3-cloud-dedicated-openapi.yaml
  api-docs/influxdb3/cloud-dedicated/management/openapi.yml
  api-docs/influxdb3/cloud-serverless/influxdb3-cloud-serverless-openapi.yaml
  api-docs/influxdb3/clustered/influxdb3-clustered-openapi.yaml
  api-docs/influxdb3/clustered/management/openapi.yml
  api-docs/influxdb3/core/.config.yml
  api-docs/influxdb3/core/content/info.yml
  api-docs/influxdb3/core/content/servers.yml
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/core/tags.yml
  api-docs/influxdb3/enterprise/.config.yml
  api-docs/influxdb3/enterprise/content/info.yml
  api-docs/influxdb3/enterprise/content/servers.yml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
  api-docs/influxdb3/enterprise/tags.yml
  api-docs/scripts/generate-openapi-articles.ts
  content/enterprise_influxdb/v1/api/authentication/_index.md
  content/enterprise_influxdb/v1/api/debug/_index.md
  content/enterprise_influxdb/v1/api/query/_index.md
  content/enterprise_influxdb/v1/api/system-information/_index.md
  content/enterprise_influxdb/v1/api/v2-compatibility/_index.md
  content/enterprise_influxdb/v1/api/write/_index.md
  docs/plans/2026-03-09-api-docs-uplift-design.md
Due: deprecated-markdown-patterns, prettier

fix(api-docs): skip clean step in --static-only mode
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

fix(api-docs): exclude root .config.yml from Redoc HTML generation
  api-docs/generate-api-docs.sh
Due: none

fix(api-docs): add x-traitTag support to post-processor and tags.yml
  api-docs/enterprise_influxdb/v1/tags.yml
  api-docs/influxdb/cloud/tags.yml
  api-docs/influxdb/v1/tags.yml
  api-docs/influxdb/v2/influxdb-oss-v2-openapi.yaml
  api-docs/influxdb/v2/tags.yml
  api-docs/influxdb3/cloud-dedicated/influxdb3-cloud-dedicated-openapi.yaml
  api-docs/influxdb3/cloud-dedicated/management/tags.yml
  api-docs/influxdb3/cloud-dedicated/tags.yml
  api-docs/influxdb3/cloud-serverless/tags.yml
  api-docs/influxdb3/clustered/influxdb3-clustered-openapi.yaml
  api-docs/influxdb3/clustered/management/tags.yml
  api-docs/influxdb3/clustered/tags.yml
  api-docs/influxdb3/core/tags.yml
  api-docs/influxdb3/enterprise/tags.yml
  api-docs/scripts/post-process-specs.ts
Due: prettier

chore(tc-tokens): update code placeholder syntax
  content/telegraf/controller/agents/create.md
  content/telegraf/controller/configs/create.md
  content/telegraf/controller/configs/use.md
  content/telegraf/controller/tokens/_index.md
  content/telegraf/controller/tokens/create.md
  content/telegraf/controller/tokens/delete.md
  content/telegraf/controller/tokens/reassign.md
  content/telegraf/controller/tokens/revoke.md
  content/telegraf/controller/tokens/use.md
  content/telegraf/controller/users/_index.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(tc-settings): add settings page for telegraf controller
  content/telegraf/controller/settings.md
Due: deprecated-markdown-patterns, telegraf-lint

Apply suggestions from code review
  content/telegraf/controller/tokens/use.md
Due: deprecated-markdown-patterns, telegraf-lint

Deploy preview for PR 6927 🛫
  pr-preview/pr-6927/index.html
  pr-preview/pr-6927/telegraf/controller/tokens/use/index.html
Due: none

Apply suggestions from code review
  content/telegraf/controller/settings.md
Due: deprecated-markdown-patterns, telegraf-lint

Apply suggestion from @sanderson
  content/telegraf/controller/settings.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(tc-settings): add settings page for telegraf controller (#6928)
  content/telegraf/controller/settings.md
Due: deprecated-markdown-patterns, telegraf-lint

chore(tc-tokens): add API token docs for telegraf controller (#6927)
  content/telegraf/controller/agents/create.md
  content/telegraf/controller/configs/create.md
  content/telegraf/controller/configs/use.md
  content/telegraf/controller/tokens/_index.md
  content/telegraf/controller/tokens/create.md
  content/telegraf/controller/tokens/delete.md
  content/telegraf/controller/tokens/reassign.md
  content/telegraf/controller/tokens/revoke.md
  content/telegraf/controller/tokens/use.md
  content/telegraf/controller/users/_index.md
Due: deprecated-markdown-patterns, telegraf-lint

fix(api-docs): restore Redoc security scheme injection in Authentication tags
  api-docs/enterprise_influxdb/v1/influxdb-enterprise-v1-openapi.yaml
  api-docs/enterprise_influxdb/v1/tags.yml
  api-docs/influxdb/cloud/influxdb-cloud-v2-openapi.yaml
  api-docs/influxdb/cloud/tags.yml
  api-docs/influxdb/v1/influxdb-oss-v1-openapi.yaml
  api-docs/influxdb/v1/tags.yml
  api-docs/influxdb/v2/influxdb-oss-v2-openapi.yaml
  api-docs/influxdb/v2/tags.yml
  api-docs/influxdb3/cloud-dedicated/influxdb3-cloud-dedicated-openapi.yaml
  api-docs/influxdb3/cloud-dedicated/tags.yml
  api-docs/influxdb3/cloud-serverless/influxdb3-cloud-serverless-openapi.yaml
  api-docs/influxdb3/cloud-serverless/tags.yml
  api-docs/influxdb3/clustered/influxdb3-clustered-openapi.yaml
  api-docs/influxdb3/clustered/tags.yml
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/core/tags.yml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
  api-docs/influxdb3/enterprise/tags.yml
Due: none

chore(tc-install): add owner setup to telegraf controller install docs
  content/telegraf/controller/install/_index.md
Due: deprecated-markdown-patterns, telegraf-lint
