Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: build-copilot-instructions, lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier

build-copilot-instructions:
  run: yarn build:copilot-instructions

lint-markdown:
  tags: lint
  run: 'docker compose run --rm --name remark-lint remark-lint ''{staged_files}''
  
    '

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

added jq installation links
  content/influxdb3/clustered/reference/release-notes/clustered.md
  helper-scripts/README.md
Due: lint-markdown

hotfix: improved instructions for downloading clustered release artifacts manually
  content/influxdb3/clustered/reference/release-notes/clustered.md
Due: lint-markdown

Apply suggestions from code review
  content/influxdb3/enterprise/reference/config-options.md
Due: lint-markdown

restructured write guides, start on gs query guide
  content/influxdb3/core/get-started/setup.md
  content/influxdb3/core/get-started/write.md
  content/influxdb3/core/write-data/client-libraries.md
  content/influxdb3/core/write-data/http-api/_index.md
  content/influxdb3/core/write-data/http-api/compatibility-apis.md
  content/influxdb3/core/write-data/http-api/v3-write-lp.md
  content/influxdb3/enterprise/get-started/query.md
  content/influxdb3/enterprise/get-started/setup.md
  content/influxdb3/enterprise/get-started/write.md
  content/influxdb3/enterprise/write-data/client-libraries.md
  content/influxdb3/enterprise/write-data/http-api/_index.md
  content/influxdb3/enterprise/write-data/http-api/compatibility-apis.md
  content/influxdb3/enterprise/write-data/http-api/v3-write-lp.md
  content/shared/influxdb3-get-started/query.md
  content/shared/influxdb3-get-started/write.md
  content/shared/influxdb3-write-guides/_index.md
  content/shared/influxdb3-write-guides/client-libraries.md
  content/shared/influxdb3-write-guides/http-api/_index.md
  content/shared/influxdb3-write-guides/http-api/compatibility-apis.md
  content/shared/influxdb3-write-guides/http-api/v3-write-lp.md
  content/shared/influxdb3-write-guides/influxdb3-cli.md
  content/shared/influxdb3-write-guides/troubleshoot.md
Due: lint-markdown

added release notes for jun 2025 clustered release
  content/influxdb3/clustered/reference/release-notes/clustered.md
Due: lint-markdown

Add info on trial@influxdata.com for help with trial licenses
  layouts/partials/article/feedback.html
Due: none

WIP gs query guides
  content/shared/influxdb3-get-started/query.md
Due: lint-markdown

updated clustered release number
  content/influxdb3/clustered/reference/release-notes/clustered.md
Due: lint-markdown

Update clustered.md
  content/influxdb3/clustered/reference/release-notes/clustered.md
Due: lint-markdown

corrected release number, added release artifacts
  content/influxdb3/clustered/reference/release-notes/clustered.md
  static/downloads/clustered-release-artifacts/20250613-1754010/app-instance-schema.json
  static/downloads/clustered-release-artifacts/20250613-1754010/example-customer.yml
Due: lint-markdown

Clustered release 20250613-1754010 (#6134)
  content/influxdb3/clustered/reference/release-notes/clustered.md
  static/downloads/clustered-release-artifacts/20250613-1754010/app-instance-schema.json
  static/downloads/clustered-release-artifacts/20250613-1754010/example-customer.yml
Due: lint-markdown

Added a space between URL and page
  content/shared/influxdb3-get-started/_index.md
Due: lint-markdown

Added a space between URL and page (#6135)
  content/shared/influxdb3-get-started/_index.md
Due: lint-markdown

WIP get started query
  content/shared/influxdb3-get-started/query.md
Due: lint-markdown

Added = sign to --license example
  content/influxdb3/enterprise/admin/license.md
Due: lint-markdown

restructuring the directory
  content/influxdb3/core/process-data/processing-engine/_index.md
  content/influxdb3/core/process-data/processing-engine/plugins/_index.md
  content/influxdb3/core/process-data/processing-engine/plugins/extend-plugins.md
  content/shared/influxdb3-processing-data/extended-plugin-api.md
  content/shared/influxdb3-processing-data/influxdb3-processing-engine.md
  static/img/influxdb3/cloud-dedicated-admin-ui-create-table-default 2.png
Due: lint-markdown

fix(lefthook): glob syntax
  lefthook.yml
Due: none

chore(vale): Upgrade vale, includes an updated brace-expansion with the vuln. patch
  yarn.lock
Due: none

Update content/influxdb3/enterprise/admin/license.md
  content/influxdb3/enterprise/admin/license.md
Due: lint-markdown

WIP monolith get started, enterprise multi-node, file index docs
  content/influxdb3/core/get-started/processing-engine.md
  content/influxdb3/core/get-started/query.md
  content/influxdb3/core/get-started/setup.md
  content/influxdb3/core/get-started/write.md
  content/influxdb3/core/reference/cli/influxdb3/create/file_index.md
  content/influxdb3/core/reference/cli/influxdb3/delete/file_index.md
  content/influxdb3/enterprise/admin/file-index/_index.md
  content/influxdb3/enterprise/admin/file-index/create.md
  content/influxdb3/enterprise/admin/file-index/delete.md
  content/influxdb3/enterprise/get-started/multi-server.md
  content/influxdb3/enterprise/get-started/processing-engine.md
  content/influxdb3/enterprise/get-started/setup.md
  content/influxdb3/enterprise/get-started/write.md
  content/influxdb3/enterprise/install/_index.md
  content/influxdb3/enterprise/install/multi-server.md
  content/influxdb3/enterprise/reference/config-options.md
  content/shared/influxdb3-cli/create/_index.md
  content/shared/influxdb3-cli/delete/_index.md
  content/shared/influxdb3-get-started/_index.md
  content/shared/influxdb3-get-started/processing-engine.md
  content/shared/influxdb3-get-started/query.md
  content/shared/influxdb3-get-started/setup.md
  content/shared/influxdb3-get-started/write.md
Due: lint-markdown

update getting started landing page
  content/shared/influxdb3-get-started/_index.md
  content/shared/influxdb3-get-started/setup.md
Due: lint-markdown

Update backup.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
Due: lint-markdown

add release notes for 2025-06-18 Clustered release
  content/influxdb3/clustered/reference/release-notes/clustered.md
  static/downloads/clustered-release-artifacts/20250618-1758428/app-instance-schema.json
  static/downloads/clustered-release-artifacts/20250618-1758428/example-customer.yml
Due: lint-markdown

Update Telegraf release notes
  content/telegraf/v1/release-notes.md
Due: lint-markdown, telegraf-lint

Bump current Telegraf version to v1.35.0
  content/telegraf/v1/_index.md
  data/products.yml
Due: lint-markdown, telegraf-lint

Restore list of unsupported intervals for date_bin_gapfill
  content/shared/sql-reference/functions/time-and-date.md
Due: lint-markdown

Update content/telegraf/v1/release-notes.md
  content/telegraf/v1/release-notes.md
Due: lint-markdown, telegraf-lint

Fix version filtering
  layouts/shortcodes/telegraf/plugins.html
Due: none

Fix operating system filtering
  layouts/shortcodes/telegraf/plugins.html
Due: none

Add autogenerated plugin-list for v1.35.0
  data/telegraf_plugins.yml
Due: none

Add solaris for 'all' tag
  data/telegraf_plugins.yml
Due: none

Adapt keywords to the ones used in Telegraf plugins
  data/list_filters.yml
Due: none

docs: Adding data mount prereq
  content/shared/influxdb3/install.md
Due: lint-markdown

docs: add tip for mounting /var/lib and setting secure permissions in Docker instructions
  content/shared/influxdb3/install.md
Due: lint-markdown

docs: minor updates to prereq and removal of tip because it seemed redundant.
  content/shared/influxdb3/install.md
Due: lint-markdown

docs(core, enterprise): add token auth + Docker examples
  content/shared/influxdb3-get-started/setup.md
Due: lint-markdown

docs(setup): add InfluxDB 3 Enterprise licensing steps with Docker example
  content/shared/influxdb3-get-started/setup.md
Due: lint-markdown

Update install.md
  content/shared/influxdb3/install.md
Due: lint-markdown

Path conditions:
  build-copilot-instructions: any of: CONTRIBUTING.md
  lint-markdown: any of: {CONTRIBUTING.md,content/*.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
