Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

test(v1): add Cypress coverage for composite identifiers and shared-content path resolution
  content/enterprise_influxdb/v1/__tests__/shortcodes.md
  content/influxdb/v1/__tests__/shortcodes.md
  cypress/e2e/content/shortcodes-real-pages.cy.js
  cypress/e2e/content/shortcodes.cy.js
Due: deprecated-markdown-patterns, prettier

fix(ci): close v1 drift-ratchet manifest-edit bypass
  .ci/scripts/check-v1-shared-drift.js
  .ci/scripts/check-v1-shared-drift.test.js
Due: prettier

fix(v1): repair 18 broken heading fragments in shared v1 content
  content/shared/influxdb-v1/flux/flux-vs-influxql.md
  content/shared/influxdb-v1/flux/guides/geo/_index.md
  content/shared/influxdb-v1/flux/guides/manipulate-timestamps.md
  content/shared/influxdb-v1/flux/guides/percentile-quantile.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update AGENTS.md
  AGENTS.md
Due: lint-markdown-instructions, lint-instructions

Potential fix for pull request finding
  content/shared/influxdb-v1/supported_protocols/udp.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(v1): fix broken links exposed by the shared-content move
  content/shared/influxdb-v1/flux/guides/median.md
  content/shared/influxdb-v1/query_language/math_operators.md
  content/shared/influxdb-v1/supported_protocols/collectd.md
  content/shared/influxdb-v1/supported_protocols/graphite.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(v1): drop dead Go regex tester link
  content/shared/influxdb-v1/flux/guides/regular-expressions.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(v1): fix Vale errors exposed by the shared-content move
  content/enterprise_influxdb/v1/flux/guides/median.md
  content/influxdb/v1/flux/guides/median.md
  content/shared/influxdb-v1/flux/guides/group-data.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: remove PLAN.md now that phase A is tracked in #7620
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

chore(styles): updated tc secrets syntax highlighting
  assets/styles/layouts/article/_code.scss
Due: none

fix(diagrams): add natural-size and center options to the diagram shortcode
  DOCS-SHORTCODES.md
  assets/styles/layouts/article/_diagrams.scss
  content/telegraf/v1/concepts/data-pipeline.md
  layouts/shortcodes/diagram.html
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, telegraf-lint

docs(influxdb3-cloud): add identify-version and fix show/hide-in
  content/enterprise_influxdb/v1/administration/identify-version.md
  content/influxdb/cloud/admin/identify-version.md
  content/influxdb/v1/administration/identify-version.md
  content/influxdb/v2/admin/identify-version.md
  content/influxdb3/cloud-dedicated/admin/identify-version.md
  content/influxdb3/cloud-serverless/admin/identify-version.md
  content/influxdb3/cloud/admin/identify-version.md
  content/influxdb3/core/admin/identify-version.md
  content/influxdb3/enterprise/admin/identify-version.md
  content/shared/identify-version.md
Due: deprecated-markdown-patterns, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, v2-lint

docs(influxdb3-cloud): complete product detection
  PLATFORM_REFERENCE.md
  assets/js/influxdb-version-detector.ts
  content/platform/_index.md
  content/platform/identify-version.md
  content/shared/identify-version.md
  cypress/e2e/content/influxdb-version-detector.cy.js
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, build-typescript, prettier, lint-js

docs(api): link tracking issues from OSS v2 spec regen plan
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

fix(version-detector): match root hosted domains
  assets/js/influxdb-version-detector.ts
  cypress/e2e/content/influxdb-version-detector.cy.js
Due: build-typescript, prettier, lint-js

fix(version-detector): score shared hosted domain
  assets/js/influxdb-version-detector.ts
  cypress/e2e/content/influxdb-version-detector.cy.js
Due: build-typescript, prettier, lint-js

fix(ci): resolve code review findings for PR #7614
  .agents/skills/docs-testing/SKILL.md
  .github/workflows/pr-ai-artifacts-check.yml
  package.json
Due: none

docs(ci): tighten the pr-ai-artifacts-check header comment
  .github/workflows/pr-ai-artifacts-check.yml
Due: none

ci(ai-artifacts): verify markdown twins and JSON-LD
  .github/workflows/pr-ai-artifacts-check.yml
  DOCS-TESTING.md
  scripts/__tests__/check-jsonld-links.test.mjs
  scripts/check-jsonld-links.js
Due: lint-markdown-instructions, lint-instructions, prettier

ci(circleci): run the build job on master only
  .circleci/config.yml
  .github/workflows/pr-ai-artifacts-check.yml
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

fix(ci): compile the Rust converter in the CircleCI production build
  .circleci/config.yml
  .github/workflows/release-rust-markdown-converter.yml
Due: none

fix(ci): build the Rust converter from source only when its source changes
  .github/workflows/pr-ai-artifacts-check.yml
  scripts/build-rust-converter.js
Due: prettier

docs(ci): record why JSON-LD @id resolves site-wide
  PLAN.md
  scripts/__tests__/check-jsonld-links.test.mjs
  scripts/check-jsonld-links.js
Due: lint-markdown-instructions, lint-instructions, prettier

feat(deploy): add a break-glass production deploy script
  package.json
  scripts/deploy-production.sh
Due: none

docs(ci): cut CI comments down to the instructional part
  .circleci/config.yml
  .github/actions/build-docs-site/action.yml
  .github/workflows/pr-ai-artifacts-check.yml
  .github/workflows/release-rust-markdown-converter.yml
  scripts/check-jsonld-links.js
Due: prettier

fix(ci): derive the Markdown base URL from hugo-base-url
  .github/actions/build-docs-site/action.yml
  .github/workflows/pr-ai-artifacts-check.yml
Due: none

fix(ci): inject Flux stdlib frontmatter in the shared build action
  .github/actions/build-docs-site/action.yml
Due: none

docs(plan): plan the three remaining issues from the #7614 review
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

Delete PLAN.md
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

Claude/pr 7614 circleci review xns5yq (#7670)
  .circleci/config.yml
  .github/actions/build-docs-site/action.yml
  .github/workflows/pr-ai-artifacts-check.yml
  .github/workflows/release-rust-markdown-converter.yml
  package.json
  scripts/__tests__/check-jsonld-links.test.mjs
  scripts/build-rust-converter.js
  scripts/check-jsonld-links.js
  scripts/deploy-production.sh
Due: prettier

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
