Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

Deploy preview for PR 7396 🛫
  pr-preview/pr-7396/index.html
  pr-preview/pr-7396/influxdb3/core/release-notes/index.html
  pr-preview/pr-7396/influxdb3/enterprise/release-notes/index.html
Due: none

docs(release-notes): add v3.9.5, v3.9.6, and v3.10.1 release notes (#7396)
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7399 🛫
  pr-preview/pr-7399/index.html
Due: none

Deploy preview for PR 7398 🛫
  pr-preview/pr-7398/index.html
Due: none

docs(influxdb3): add Docker version-pinning guidance to install guide
  content/shared/influxdb3/install.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): add Docker version-pinning guidance to install guide (#7400)
  content/shared/influxdb3/install.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): fix broken anchor links in upgrade page (#7399)
  content/shared/influxdb3-admin/upgrade.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(claude): fix three hook correctness bugs found in PR #7263 review
  .claude/hooks/check-web-local-first.sh
  .claude/hooks/lib/worktree-paths.sh
Due: none

fix(claude): fix three hook correctness bugs found in PR #7263 review (#7401)
  .claude/hooks/check-web-local-first.sh
  .claude/hooks/lib/worktree-paths.sh
Due: none

chore(claude): tune permissions for safer low-friction defaults (#7263)
  .claude/hooks/check-bash-worktree.sh
  .claude/hooks/check-web-local-first.sh
  .claude/hooks/check-worktree-paths.sh
  .claude/hooks/lib/worktree-paths.sh
  .claude/settings.json
Due: none

chore(ci): unify Node version via .nvmrc as single source of truth
  .circleci/config.yml
  .github/actions/setup-docs-env/action.yml
  .github/workflows/audit-documentation.yml
  .github/workflows/auto-label.yml
  .github/workflows/doc-review.yml
  .github/workflows/influxdb3-release.yml
  .github/workflows/pr-feedback-links.yml
  .github/workflows/pr-link-check.yml
  .github/workflows/pr-lockfile-lint.yml
  .github/workflows/pr-preview.yml
  .github/workflows/pr-remark-check.yml
  .github/workflows/pr-render-check.yml
  .github/workflows/prepare-release.yml
  .github/workflows/sync-client-library-release-notes.yml
  .github/workflows/sync-plugins.yml
  .github/workflows/test.yml
  .nvmrc
Due: none

docs(controller): add TLS/HTTPS setup and certificate trust guide (#7398)
  content/telegraf/controller/configs/use.md
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/install/secure-tls.md
  content/telegraf/controller/install/troubleshoot.md
  content/telegraf/controller/reference/config-options.md
Due: deprecated-markdown-patterns, telegraf-lint

fix(ci): add .nvmrc to sparse-checkouts and fix path-prefixed checkout
  .github/actions/setup-docs-env/action.yml
  .github/workflows/auto-label.yml
  .github/workflows/doc-review.yml
  .github/workflows/pr-lockfile-lint.yml
  .github/workflows/sync-client-library-release-notes.yml
Due: none

fix(ci): assert Node major matches .nvmrc in CircleCI build job
  .circleci/config.yml
Due: none

chore(ci): use frozen lockfile installs everywhere in CI
  .circleci/config.yml
  .github/workflows/sync-plugins.yml
Due: none

fix(ci): lockfile-aware caches and pin Rust toolchain
  .circleci/config.yml
  scripts/rust-markdown-converter/package.json
  scripts/rust-markdown-converter/rust-toolchain.toml
Due: none

fix(ci): install and default the pinned Rust toolchain before build probe
  .circleci/config.yml
Due: none

fix(ci): commit Cargo.lock and raise Rust pin to 1.85.0
  scripts/rust-markdown-converter/.gitignore
  scripts/rust-markdown-converter/Cargo.lock
  scripts/rust-markdown-converter/rust-toolchain.toml
Due: none

fix(ci): raise Rust pin to 1.88.0 to satisfy napi-build MSRV
  scripts/rust-markdown-converter/rust-toolchain.toml
Due: none

chore(ci): use frozen lockfile installs everywhere in CI (#7406)
  .circleci/config.yml
  .github/workflows/sync-plugins.yml
  scripts/rust-markdown-converter/.gitignore
  scripts/rust-markdown-converter/Cargo.lock
  scripts/rust-markdown-converter/package.json
  scripts/rust-markdown-converter/rust-toolchain.toml
Due: none

perf(layouts): cache shared-source canonical map to remove O(N^2) scan
  layouts/partials/header/canonical-map.html
  layouts/partials/header/canonical.html
Due: none

fix(content): remove duplicate alias collisions for cli and authz pages
  content/enterprise_influxdb/v1/administration/manage/users-and-permissions/authorization-influxql.md
  content/influxdb3/cloud-dedicated/reference/cli/_index.md
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint

ci(pr-render-check): run canonical.cy.js when layouts change
  .github/workflows/pr-render-check.yml
Due: none

chore(ci): pin yarn Classic and guard against wrong package manager
  .yarnrc.yml
  package.json
  scripts/check-package-manager.js
Due: prettier

refactor(layouts): clean up header/javascript.html partial
  layouts/404.html
  layouts/partials/header.html
  layouts/partials/header/javascript.html
Due: none

refactor(layouts): clean up header/javascript.html partial (#7411)
  layouts/404.html
  layouts/partials/header.html
  layouts/partials/header/javascript.html
Due: none

Deploy preview for PR 7409 🛫
  pr-preview/pr-7409/enterprise_influxdb/v1/administration/manage/users-and-permissions/authorization-influxql/index.html
  pr-preview/pr-7409/index.html
  pr-preview/pr-7409/influxdb3/cloud-dedicated/reference/cli/index.html
  pr-preview/pr-7409/influxdb3/cloud-dedicated/reference/cli/influxctl/index.html
Due: none

perf(layouts): optimize Hugo canonical render + guard in CI (#7409)
  .github/workflows/pr-render-check.yml
  content/enterprise_influxdb/v1/administration/manage/users-and-permissions/authorization-influxql.md
  content/influxdb3/cloud-dedicated/reference/cli/_index.md
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/_index.md
  layouts/404.html
  layouts/partials/header.html
  layouts/partials/header/canonical-map.html
  layouts/partials/header/canonical.html
  layouts/partials/header/javascript.html
Due: deprecated-markdown-patterns, cloud-dedicated-lint

Chore 7404 frozen lockfile (#7413)
  .github/workflows/pr-render-check.yml
  content/enterprise_influxdb/v1/administration/manage/users-and-permissions/authorization-influxql.md
  content/influxdb3/cloud-dedicated/reference/cli/_index.md
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/_index.md
  layouts/404.html
  layouts/partials/header.html
  layouts/partials/header/canonical-map.html
  layouts/partials/header/canonical.html
  layouts/partials/header/javascript.html
Due: deprecated-markdown-patterns, cloud-dedicated-lint

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
