Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

fix: code-callout shortcode
  content/influxdb3/enterprise/performance-preview/_index.md
Due: deprecated-markdown-patterns, enterprise-lint

Deploy preview for PR 7052 🛫
  pr-preview/pr-7052/index.html
  pr-preview/pr-7052/influxdb3/enterprise/performance-preview/index.html
Due: none

style(enterprise): fix formatting in performance preview
  content/influxdb3/enterprise/performance-preview/_index.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(enterprise): simplify performance preview terminology in release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(api-docs): sort operations by API version, add compat badges, fix Bearer scheme name
  assets/styles/layouts/_api-operations.scss
  layouts/partials/api/operation.html
  layouts/partials/api/security-schemes.html
  layouts/partials/api/tag-renderer.html
Due: none

chore: update skills for Hugo-native API workflow, fix BearerAuthentication display
  .claude/skills/content-editing/SKILL.md
  .claude/skills/hugo-template-dev/SKILL.md
Due: lint-markdown-instructions, lint-instructions

chore: add Claude Preview launch.json for dev servers
  .claude/launch.json
Due: none

feat(ci): implement documentation gap detection pipeline for InfluxDB 3
  .github/ISSUE_TEMPLATE/doc-gap-ticket.yml
  .github/workflows/influxdb3-release.yml
  scripts/docs-cli/commands/audit.js
  scripts/docs-cli/lib/doc-location-map.js
  scripts/docs-cli/lib/gap-reporter.js
  scripts/docs-cli/lib/gap-severity.js
  scripts/docs-cli/lib/issue-creator.js
Due: prettier

style: apply prettier formatting to gap detection pipeline modules
  scripts/docs-cli/commands/audit.js
  scripts/docs-cli/lib/doc-location-map.js
  scripts/docs-cli/lib/gap-reporter.js
  scripts/docs-cli/lib/gap-severity.js
  scripts/docs-cli/lib/issue-creator.js
Due: prettier

fix(ci): address all PR #7058 review comments
  .github/workflows/influxdb3-release.yml
  scripts/docs-cli/commands/audit.js
  scripts/docs-cli/lib/doc-location-map.js
  scripts/docs-cli/lib/gap-reporter.js
  scripts/docs-cli/lib/gap-severity.js
  scripts/docs-cli/lib/issue-creator.js
Due: prettier

style: apply prettier formatting
  scripts/docs-cli/commands/audit.js
  scripts/docs-cli/lib/gap-severity.js
Due: prettier

fix(claude): remove blocking WorktreeCreate yarn install hook
  .claude/settings.json
Due: none

fix(lefthook): disable docker-dependent pre-push hooks
  lefthook.yml
Due: none

WIP get started with telegraf controller
  content/telegraf/controller/get-started.md
  static/img/telegraf/controller-gs-command-builder.png
Due: deprecated-markdown-patterns, telegraf-lint

chore(tc-eula): update tc eula, add stub for 0.0.6-beta release notes
  content/telegraf/controller/reference/eula.md
  content/telegraf/controller/reference/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(layouts): add callout and callout-color code fence attributes
  layouts/_default/_markup/render-codeblock.html
Due: none

docs: update code callouts docs with fence attribute syntax
  DOCS-SHORTCODES.md
Due: lint-markdown-instructions, lint-instructions

feat(callouts): add new callout attribute, replace and remove code-callout shortcode
  DOCS-SHORTCODES.md
  content/influxdb/cloud/admin/organizations/view-orgs.md
  content/influxdb/cloud/reference/regions.md
  content/influxdb/cloud/visualize-data/dashboards/_index.md
  content/influxdb/v1/administration/backup_and_restore.md
  content/influxdb/v2/admin/organizations/view-orgs.md
  content/influxdb/v2/visualize-data/dashboards/_index.md
  content/influxdb3/cloud-dedicated/process-data/visualize/superset.md
  content/influxdb3/cloud-dedicated/query-data/execute-queries/client-libraries/python.md
  content/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/analyze-query-plan.md
  content/influxdb3/cloud-dedicated/write-data/best-practices/optimize-writes.md
  content/influxdb3/cloud-serverless/admin/organizations/view-orgs.md
  content/influxdb3/cloud-serverless/process-data/visualize/superset.md
  content/influxdb3/cloud-serverless/query-data/execute-queries/client-libraries/python.md
  content/influxdb3/cloud-serverless/query-data/troubleshoot-and-optimize/analyze-query-plan.md
  content/influxdb3/cloud-serverless/reference/regions.md
  content/influxdb3/cloud-serverless/write-data/best-practices/optimize-writes.md
  content/influxdb3/clustered/admin/upgrade.md
  content/influxdb3/clustered/admin/users/add.md
  content/influxdb3/clustered/install/secure-cluster/auth.md
  content/influxdb3/clustered/install/secure-cluster/tls.md
  content/influxdb3/clustered/install/set-up-cluster/configure-cluster/directly.md
  content/influxdb3/clustered/install/set-up-cluster/configure-cluster/use-helm.md
  content/influxdb3/clustered/process-data/visualize/superset.md
  content/influxdb3/clustered/query-data/execute-queries/client-libraries/python.md
  content/influxdb3/clustered/query-data/troubleshoot-and-optimize/analyze-query-plan.md
  content/influxdb3/clustered/write-data/best-practices/optimize-writes.md
  content/influxdb3/enterprise/performance-preview/_index.md
  content/influxdb3/explorer/install.md
  content/shared/influxdb3-visualize/superset.md
  content/shared/influxdb3-write-guides/best-practices/optimize-writes.md
  content/shared/sql-reference/join.md
  content/telegraf/controller/configs/use.md
  layouts/shortcodes/code-callout.html
  layouts/shortcodes/influxdb/host.html
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint

fix(explorer): Update latest_patch version to 1.6.3
  data/products.yml
Due: build-agent-instructions

docs(enterprise): rebase ingest node note and replication link onto master (#7068)
  PLAN.md
  content/influxdb3/enterprise/performance-preview/_index.md
  content/influxdb3/enterprise/performance-preview/configure.md
  content/influxdb3/enterprise/performance-preview/monitor.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, enterprise-lint

docs(enterprise): add ingest node cache note and replication config link
  content/influxdb3/enterprise/performance-preview/configure.md
  content/influxdb3/enterprise/performance-preview/monitor.md
Due: deprecated-markdown-patterns, enterprise-lint

fix(influxdb3): repair broken code-tabs shortcodes on sample-data page
  content/shared/influxdb3-sample-data/sample-data.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7081 🛫
  pr-preview/pr-7081/index.html
Due: none

fix(cloud-serverless): repair sample-data typos and migrate deprecated shortcodes
  content/influxdb3/cloud-serverless/reference/sample-data.md
Due: deprecated-markdown-patterns, cloud-serverless-lint
