Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-copilot-instructions, lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier, lint-js

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-copilot-instructions:
  run: yarn build:copilot-instructions

lint-markdown:
  tags: lint
  run: 'docker compose run --rm --name remark-lint remark-lint ''{staged_files}''
  
    '

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

docs: adding screenshots for SQL tab and updating instructions
  content/shared/v3-process-data/visualize/grafana.md
Due: lint-markdown

docs(WIP): addin screenshots for influxql and minor updates to instructions
  content/shared/v3-process-data/visualize/grafana.md
Due: lint-markdown

chore: add 3.5 release notes and config options (#6428)
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-plugins/_index.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown

chore(influxdb3): Core and Ent3: bump to 3.5.0
  data/products.yml
Due: none

chore(influxdb3): Core and Ent3: bump to 3.5.0 (#6433)
  data/products.yml
Due: none

chore(influxdb3): Update release notifications for v3.5.0
  data/notifications.yaml
Due: none

chore(influxdb3): Update release notifications for v3.5.0 (#6434)
  data/notifications.yaml
Due: none

hotfix: explain token permissions for db rename in distributed
  content/influxdb3/cloud-dedicated/admin/databases/rename.md
  content/influxdb3/clustered/admin/databases/rename.md
Due: lint-markdown

chore(docker): add notice about docker latest tag changes
  assets/styles/layouts/_notifications.scss
  data/notifications.yaml
Due: none

chore(docker): added more to the notification exclude list
  data/notifications.yaml
Due: none

Instructions files cleanup:
  .github/copilot-instructions.md
  .github/instructions/api-docs.instructions.md
  .github/instructions/assets.instructions.md
  .github/instructions/content.instructions.md
  .github/instructions/contributing.instructions.md
  .github/instructions/influxdb3-code-placeholders.instructions.md
  .github/instructions/shortcodes-reference.instructions.md
  CLAUDE.md
  api-docs/CLAUDE.md
  assets/CLAUDE.md
  content/CLAUDE.md
Due: lint-markdown

Update content/telegraf/v1/aggregator-plugins/_index.md
  content/telegraf/v1/aggregator-plugins/_index.md
Due: lint-markdown, telegraf-lint

Update content/CLAUDE.md
  content/CLAUDE.md
Due: lint-markdown

Update .github/instructions/shortcodes-reference.instructions.md
  .github/instructions/shortcodes-reference.instructions.md
Due: none

fix(telegraf): Aggregator typo and intro
  telegraf-build/templates/aggregator_index.tmpl
Due: none

qol: Add ui-dev agent for TypeScript, SASS (CSS), and Hugo frontent development
  .claude/agents/ui-dev.md
Due: none

Release influxctl v2.10.4 (#6411)
  content/influxdb3/cloud-dedicated/admin/tables/undelete.md
  content/influxdb3/cloud-dedicated/reference/cli/influxctl/table/undelete.md
  content/influxdb3/clustered/admin/tables/undelete.md
  content/influxdb3/clustered/reference/cli/influxctl/table/undelete.md
  content/shared/influxctl/database/list.md
  content/shared/influxctl/release-notes.md
  content/shared/influxctl/table/list.md
  content/shared/influxctl/table/undelete.md
  data/products.yml
Due: lint-markdown

chore(qol): Instruction to use /version/ in shared links
  .github/instructions/content.instructions.md
Due: none

Release Kapacitor v1.8.2
  content/kapacitor/v1/reference/about_the_project/release-notes.md
  data/products.yml
Due: lint-markdown

Release influxctl v2.10.5 (#6417)
  content/shared/influxctl/release-notes.md
  data/products.yml
Due: lint-markdown

feat(version-detector): improve UX when all answers are unknown
  assets/js/influxdb-version-detector.ts
Due: prettier, lint-js

fix(version-detector): correct product filtering and scoring logic
  assets/js/influxdb-version-detector.ts
  cypress/e2e/content/influxdb-version-detector.cy.js
  layouts/partials/footer/modals/influxdb-version-detector.html
Due: prettier, lint-js

WIP tests
  cypress/e2e/content/influxdb-version-detector.cy.js
Due: prettier

WIP: version detector
  assets/js/influxdb-version-detector.ts
  cypress/e2e/content/influxdb-version-detector.cy.js
  yarn.lock
Due: prettier, lint-js

feat(version-detector): add links to products in reference table
  assets/js/influxdb-version-detector.ts
Due: prettier, lint-js

chore: update to 1.3
  data/products.yml
Due: none

chore: update to 1.3 (#6436)
  data/products.yml
Due: none

chore(docker): add notice about docker latest tag changes (#6435)
  assets/styles/layouts/_notifications.scss
  data/notifications.yaml
Due: none

feat(caches): update explorer docs with information about querying LVCs and DVCs
  assets/styles/layouts/_article.scss
  assets/styles/layouts/article/_badges.scss
  content/influxdb3/explorer/manage-caches/distinct-value-caches.md
  content/influxdb3/explorer/manage-caches/last-value-caches.md
Due: lint-markdown

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-copilot-instructions: any of: CONTRIBUTING.md
  lint-markdown: any of: {CONTRIBUTING.md,content/*.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
