Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

docs(plan): reverse to h1-omit; record format-selector fix + callout-faithfulness
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

refactor: extract detectBaseUrl helper for the build script
  scripts/lib/base-url.js
Due: prettier

feat: generate per-page Markdown with the Rust converter
  scripts/build-llm-markdown.js
Due: prettier

feat(rust): emit drop-in per-page frontmatter (version, no timestamps)
  scripts/rust-markdown-converter/Cargo.toml
  scripts/rust-markdown-converter/src/lib.rs
Due: none

docs(plan): fix Task 8 Cypress-consumer gap; record Task 9/11/12 reconciliation
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

refactor(rust): remove unused convert_section_to_markdown binding
  scripts/rust-markdown-converter/src/lib.rs
Due: none

fix(rust): reliably strip UI widgets; document h1-omit rationale
  scripts/rust-markdown-converter/src/lib.rs
Due: none

ci: build Rust markdown converter before generating Markdown
  .circleci/config.yml
Due: none

test: lock the Rust converter frontmatter/body with a golden snapshot
  package.json
  scripts/__tests__/fixtures/get-started.expected.md
  scripts/__tests__/fixtures/get-started.html
  scripts/__tests__/markdown-parity.test.mjs
Due: none

test: guard against truncated markdown twins (pages, sections, #6792 clipboard)
  cypress/e2e/content/section-clipboard-copy.cy.js
  package.json
  scripts/__tests__/markdown-completeness.test.mjs
Due: prettier

docs: document the Rust converter architecture and frontmatter contract
  DOCS-TESTING.md
  scripts/README.md
Due: lint-markdown-instructions, lint-instructions

docs(plan): record Tasks 8b-12 complete + acceptance results
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

feat: stamp date/lastmod from sitemap in the provenance step
  scripts/__tests__/provenance.test.mjs
  scripts/build-llm-markdown.js
  scripts/lib/provenance.js
Due: prettier

fix(rust): normalize headings to open-ATX (setext->ATX, strip closing hashes)
  scripts/rust-markdown-converter/src/lib.rs
Due: none

test(cypress): align markdown-content-validation to the shipped contract
  cypress/e2e/content/markdown-content-validation.cy.js
  cypress/e2e/content/section-clipboard-copy.cy.js
Due: prettier

test: store golden converter output as .txt so md formatters don't rewrite it
  scripts/__tests__/fixtures/get-started.expected.md
  scripts/__tests__/fixtures/get-started.expected.txt
  scripts/__tests__/markdown-parity.test.mjs
Due: none

docs(plan): update status (Tasks 1-9 partial), add autonomy directive + heading-normalization step
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

test: add corpus parity scan (0 semantic regressions over 4,684 pages)
  PLAN.md
  scripts/parity-scan.mjs
Due: lint-markdown-instructions, lint-instructions

ci: skip rustup-init when the Rust toolchain is restored from cache
  .circleci/config.yml
Due: none

build: make the Rust converter the production Markdown converter; remove JS path (#7302)
  .circleci/config.yml
  .gitignore
  DOCS-TESTING.md
  PLAN.md
  cypress/e2e/content/llm-format-selector.cy.js
  cypress/e2e/content/markdown-content-validation.cy.js
  cypress/e2e/content/section-clipboard-copy.cy.js
  package.json
  scripts/README.md
  scripts/__tests__/fixtures/get-started.expected.txt
  scripts/__tests__/fixtures/get-started.html
  scripts/__tests__/markdown-completeness.test.mjs
  scripts/__tests__/markdown-parity.test.mjs
  scripts/__tests__/provenance.test.mjs
  scripts/build-llm-markdown.js
  scripts/build-rust-converter.js
  scripts/html-to-markdown.js
  scripts/lib/base-url.js
  scripts/lib/markdown-converter.cjs
  scripts/lib/provenance.js
  scripts/parity-scan.mjs
  scripts/rust-markdown-converter/Cargo.toml
  scripts/rust-markdown-converter/package.json
  scripts/rust-markdown-converter/src/lib.rs
  scripts/rust-markdown-converter/yarn.lock
  yarn.lock
Due: lint-markdown-instructions, lint-instructions, prettier

docs(controller): document TELEGRAF_CONTROLLER_TOKEN env var
  content/telegraf/controller/agents/create.md
  content/telegraf/controller/agents/status.md
  content/telegraf/controller/configs/create.md
  content/telegraf/controller/configs/use.md
  content/telegraf/controller/tokens/use.md
Due: deprecated-markdown-patterns, telegraf-lint

Deploy preview for PR 7300 🛫
  pr-preview/pr-7300/index.html
Due: none

fix(link): fixed broken anchor link in telegraf controller docs
  content/telegraf/controller/tokens/use.md
Due: deprecated-markdown-patterns, telegraf-lint

Deploy preview for PR 7306 🛫
  pr-preview/pr-7306/index.html
  pr-preview/pr-7306/telegraf/controller/tokens/use/index.html
Due: none

feat(telegraf): add Telegraf Enterprise landing page
  content/telegraf/enterprise/_index.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): slim Telegraf Enterprise subsection to licensing wrapper
  content/telegraf/controller/telegraf-enterprise/_index.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(telegraf): add Telegraf Enterprise page to Telegraf v1 docs
  content/telegraf/v1/enterprise.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(home): add Telegraf Enterprise card to homepage
  layouts/index.html
Due: none

feat(telegraf): wire Telegraf Enterprise sidebar and site identity
  config/_default/hugo.yml
  content/telegraf/enterprise/_index.md
  layouts/partials/header/title.html
  layouts/partials/sidebar.html
Due: deprecated-markdown-patterns, telegraf-lint

feat(telegraf): repoint enterprise-upgrade shortcode to internal landing
  layouts/shortcodes/telegraf/enterprise-upgrade.html
Due: none

docs(telegraf): repoint Enterprise-offering links to canonical landing
  content/telegraf/controller/audit-logs/_index.md
  content/telegraf/controller/audit-logs/enable-configure.md
  content/telegraf/controller/authentication/_index.md
  content/telegraf/controller/authentication/ldap.md
  content/telegraf/controller/authentication/oidc.md
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/reference/authentication-authorization.md
  content/telegraf/controller/reference/config-options.md
  content/telegraf/controller/settings.md
  content/telegraf/controller/users/_index.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): document TELEGRAF_CONTROLLER_TOKEN env var (#7306)
  content/telegraf/controller/agents/create.md
  content/telegraf/controller/agents/status.md
  content/telegraf/controller/configs/create.md
  content/telegraf/controller/configs/use.md
  content/telegraf/controller/tokens/use.md
Due: deprecated-markdown-patterns, telegraf-lint

feat(telegraf): polish Telegraf Controller and Enterprise for GA
  assets/styles/layouts/_homepage.scss
  content/telegraf/controller/telegraf-enterprise/_index.md
  content/telegraf/controller/telegraf-enterprise/apply-license.md
  content/telegraf/controller/telegraf-enterprise/license-enforcement.md
  content/telegraf/controller/telegraf-enterprise/manage-license.md
  content/telegraf/controller/telegraf-enterprise/troubleshoot.md
  data/products.yml
  layouts/index.html
  layouts/partials/article/feedback.html
  layouts/partials/article/special-state.html
  layouts/partials/topnav/product-selector.html
  layouts/shortcodes/telegraf/enterprise-upgrade.html
Due: deprecated-markdown-patterns, build-agent-instructions, telegraf-lint

feat(tc-builder): marks Telegaf Builder as beta, adds menu item state badge
  DOCS-FRONTMATTER.md
  assets/styles/layouts/_sidebar.scss
  content/telegraf/controller/configs/create.md
  content/telegraf/controller/configs/ui/_index.md
  content/telegraf/controller/configs/ui/telegraf-builder.md
  layouts/partials/sidebar/nested-menu.html
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, telegraf-lint

feat(tc-builder): marks Telegaf Builder as beta, adds menu item state badge (#7309)
  DOCS-FRONTMATTER.md
  assets/styles/layouts/_sidebar.scss
  content/telegraf/controller/configs/create.md
  content/telegraf/controller/configs/ui/_index.md
  content/telegraf/controller/configs/ui/telegraf-builder.md
  layouts/partials/sidebar/nested-menu.html
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, telegraf-lint

Deploy preview for PR 7308 🛫
  pr-preview/pr-7308/404.html
  pr-preview/pr-7308/dark-theme.4eade2adbed01973da65e850d7dbb50cf43f798406ccbaf5381f96d126f91710.css
  pr-preview/pr-7308/dark-theme.e8fc1bd11268d306a8a9c717d9aee7abfae861a22b0379cabb6a8037736c7728.css
  pr-preview/pr-7308/index.html
  pr-preview/pr-7308/light-theme.56877dff1119c8300bc354d3c11c01b9d00128df7a9dda49103afa51bbb83794.css
  pr-preview/pr-7308/light-theme.7da6a3231cf1fedcaa39e30d57f5633c42a552975094b699bddb9f93e23d9b99.css
  pr-preview/pr-7308/sitemap-md.xml
  pr-preview/pr-7308/sitemap.xml
  pr-preview/pr-7308/telegraf/controller/audit-logs/enable-configure/index.html
  pr-preview/pr-7308/telegraf/controller/audit-logs/index.html
  pr-preview/pr-7308/telegraf/controller/authentication/index.html
  pr-preview/pr-7308/telegraf/controller/authentication/ldap/index.html
  pr-preview/pr-7308/telegraf/controller/authentication/oidc/index.html
  pr-preview/pr-7308/telegraf/controller/install/index.html
  pr-preview/pr-7308/telegraf/controller/reference/authentication-authorization/index.html
  pr-preview/pr-7308/telegraf/controller/reference/config-options/index.html
  pr-preview/pr-7308/telegraf/controller/settings/index.html
  pr-preview/pr-7308/telegraf/controller/telegraf-enterprise/apply-license/index.html
  pr-preview/pr-7308/telegraf/controller/telegraf-enterprise/index.html
  pr-preview/pr-7308/telegraf/controller/telegraf-enterprise/license-enforcement/index.html
  pr-preview/pr-7308/telegraf/controller/telegraf-enterprise/manage-license/index.html
  pr-preview/pr-7308/telegraf/controller/telegraf-enterprise/troubleshoot/index.html
  pr-preview/pr-7308/telegraf/controller/users/index.html
  pr-preview/pr-7308/telegraf/enterprise/index.html
  pr-preview/pr-7308/telegraf/v1/enterprise/index.html
Due: prettier

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
