Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

chore(telegraf-controller): update 0.0.7-beta release notes
  content/telegraf/controller/reference/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

Deploy preview for PR 7172 🛫
  pr-preview/pr-7172/index.html
  pr-preview/pr-7172/telegraf/controller/reference/release-notes/index.html
Due: none

Deploy preview for PR 7173 🛫
  pr-preview/pr-7173/img/telegraf/controller-create-token.png
  pr-preview/pr-7173/img/telegraf/controller-settings.png
  pr-preview/pr-7173/img/telegraf/controller-telegraf-builder.png
  pr-preview/pr-7173/index.html
  pr-preview/pr-7173/influxdb/cloud/reference/cli/influx/backup/index.html
  pr-preview/pr-7173/influxdb/v2/admin/backup-restore/backup/index.html
  pr-preview/pr-7173/influxdb/v2/admin/backup-restore/restore/index.html
  pr-preview/pr-7173/influxdb/v2/admin/tokens/index.html
  pr-preview/pr-7173/influxdb/v2/index.html
  pr-preview/pr-7173/influxdb/v2/reference/cli/influx/backup/index.html
  pr-preview/pr-7173/influxdb/v2/reference/config-options/index.html
  pr-preview/pr-7173/influxdb/v2/reference/release-notes/influxdb/index.html
  pr-preview/pr-7173/influxdb3/cloud-serverless/reference/cli/influx/backup/index.html
Due: none

docs(influxdb3 install): expand systemd runbook with day-2 commands
  content/shared/influxdb3/install.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7160 🛫
  pr-preview/pr-7160/img/telegraf/controller-create-token.png
  pr-preview/pr-7160/img/telegraf/controller-settings.png
  pr-preview/pr-7160/img/telegraf/controller-telegraf-builder.png
  pr-preview/pr-7160/index.html
  pr-preview/pr-7160/influxdb3/clustered/reference/release-notes/clustered/index.html
  pr-preview/pr-7160/influxdb3/enterprise/admin/clustering/index.html
  pr-preview/pr-7160/kapacitor/v1/reference/event_handlers/alerta/index.html
Due: none

docs(influxdb3 config-options): clarify how TOML interacts with env vars
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3/install.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7177 🛫
  pr-preview/pr-7177/index.html
  pr-preview/pr-7177/influxdb3/core/install/index.html
  pr-preview/pr-7177/influxdb3/core/reference/config-options/index.html
  pr-preview/pr-7177/influxdb3/enterprise/install/index.html
  pr-preview/pr-7177/influxdb3/enterprise/reference/config-options/index.html
Due: none

docs(influxdb3 install): add sudo to systemctl status and journalctl
  content/shared/influxdb3/install.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7177 🛫
  pr-preview/pr-7177/index.html
  pr-preview/pr-7177/influxdb3/core/install/index.html
  pr-preview/pr-7177/influxdb3/enterprise/install/index.html
Due: none

Deploy preview for PR 7177 🛫
  pr-preview/pr-7177/index.html
Due: none

fix(syntax-highlighting): extend diff highlight to overflowing line content
  assets/styles/layouts/_syntax-highlighting.scss
Due: none

Deploy preview for PR 7178 🛫
  pr-preview/pr-7178/index.html
  pr-preview/pr-7178/influxdb3/clustered/reference/release-notes/clustered/index.html
Due: none

fix(install): repair four broken anchors/links flagged by link-checker
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3/install.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7171 🛫
  pr-preview/pr-7171/img/telegraf/controller-create-token.png
  pr-preview/pr-7171/img/telegraf/controller-settings.png
  pr-preview/pr-7171/img/telegraf/controller-telegraf-builder.png
  pr-preview/pr-7171/index.html
  pr-preview/pr-7171/influxdb3/core/admin/backup-restore/index.html
  pr-preview/pr-7171/influxdb3/core/admin/upgrade/index.html
  pr-preview/pr-7171/influxdb3/enterprise/admin/backup-restore/index.html
  pr-preview/pr-7171/influxdb3/enterprise/admin/upgrade/index.html
Due: none

fix(client-libs): parse Change Log headings and unreleased format
  helper-scripts/client-libraries/README.md
  helper-scripts/client-libraries/sync-release-notes.js
  helper-scripts/client-libraries/test/transform-changelog.test.js
  helper-scripts/client-libraries/transform-changelog.js
Due: prettier

fix(syntax-highlighting): stack diff lines and align highlight colors with palette
  assets/styles/layouts/_syntax-highlighting.scss
Due: none

test(diff-fence): add render-regression fixtures and assertions
  content/example.md
  cypress/e2e/content/render-regression.cy.js
Due: prettier

Deploy preview for PR 7178 🛫
  pr-preview/pr-7178/dark-theme.1dedd64d3b822c34f31aec5bfa2ebd65adb35abe3305f47a1d8eab9f4539a013.css
  pr-preview/pr-7178/dark-theme.ceaaafa9d95efca66e11c2cd18bf47d997cc9b4f89f0478e3ef7e4dfb0eda065.css
  pr-preview/pr-7178/example/index.html
  pr-preview/pr-7178/index.html
  pr-preview/pr-7178/influxdb3/clustered/reference/release-notes/clustered/index.html
  pr-preview/pr-7178/light-theme.88d562dcd8daeb15662bc1ae289aae1273bfdb188f8613c0f66bb8b94ac1d315.css
  pr-preview/pr-7178/light-theme.9e3b4ed552ececbe3c8ae34d1eda3e15b06b2b18395d88d5c97822c359929d6d.css
Due: prettier

fix: resolve code review findings for PR #7178
  cypress/e2e/content/render-regression.cy.js
Due: prettier

Deploy preview for PR 7178 🛫
  pr-preview/pr-7178/index.html
Due: none

Deploy preview for PR 7173 🛫
  pr-preview/pr-7173/dark-theme.ceaaafa9d95efca66e11c2cd18bf47d997cc9b4f89f0478e3ef7e4dfb0eda065.css
  pr-preview/pr-7173/dark-theme.dfefc9a72e7664fa3df2dab1824fd71af47647584546f0dd3a0f1f18d938472f.css
  pr-preview/pr-7173/index.html
  pr-preview/pr-7173/influxdb/cloud/reference/cli/influx/backup/index.html
  pr-preview/pr-7173/influxdb/v2/admin/backup-restore/backup/index.html
  pr-preview/pr-7173/influxdb/v2/admin/backup-restore/restore/index.html
  pr-preview/pr-7173/influxdb/v2/admin/tokens/index.html
  pr-preview/pr-7173/influxdb/v2/index.html
  pr-preview/pr-7173/influxdb/v2/reference/cli/influx/backup/index.html
  pr-preview/pr-7173/influxdb/v2/reference/config-options/index.html
  pr-preview/pr-7173/influxdb/v2/reference/release-notes/influxdb/index.html
  pr-preview/pr-7173/influxdb3/cloud-serverless/reference/cli/influx/backup/index.html
  pr-preview/pr-7173/light-theme.88d562dcd8daeb15662bc1ae289aae1273bfdb188f8613c0f66bb8b94ac1d315.css
  pr-preview/pr-7173/light-theme.ca49342472638455c0f63e0809f0d567fa101debc411a3497c90a4a9a023a1b2.css
Due: prettier

fix(lint): restore json fences where content is real JSON
  content/enterprise_influxdb/v1/administration/manage/clusters/replacing-nodes.md
  content/kapacitor/v1/working/api.md
  content/shared/influxdb-v2/process-data/get-started.md
  content/shared/influxdb-v2/process-data/task-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7173 🛫
  pr-preview/pr-7173/index.html
Due: none

Deploy preview for PR 7170 🛫
  pr-preview/pr-7170/index.html
Due: none

fix(influxdb3): correct preferred env name for two jaeger options
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(tc-gs): WIP telegraf controller getting started
  content/telegraf/controller/get-started.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(influxdb3): document three undocumented object-store options
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7182 🛫
  pr-preview/pr-7182/dark-theme.5bbcf819a7da7711a08c2e43a91e38ca2c07c8d06da3b7a75d27a7df9f1965c3.css
  pr-preview/pr-7182/dark-theme.ceaaafa9d95efca66e11c2cd18bf47d997cc9b4f89f0478e3ef7e4dfb0eda065.css
  pr-preview/pr-7182/index.html
  pr-preview/pr-7182/influxdb3/core/reference/config-options/index.html
  pr-preview/pr-7182/influxdb3/enterprise/reference/config-options/index.html
  pr-preview/pr-7182/light-theme.68c05e01afea2aa74bf54d14a7a3e9173786dd55685f3e33a1c23749ca560765.css
  pr-preview/pr-7182/light-theme.88d562dcd8daeb15662bc1ae289aae1273bfdb188f8613c0f66bb8b94ac1d315.css
Due: prettier

docs(influxdb3): document three undocumented object-store options (#7183)
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
