Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

chore(deps): add @iarna/toml for code-block lint
  package.json
  yarn.lock
Due: none

feat: Add tar-stream-buffer-size to docs
  content/influxdb/v1/administration/config.md
Due: deprecated-markdown-patterns

Update content/influxdb/v1/administration/config.md
  content/influxdb/v1/administration/config.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7134 🛫
  pr-preview/pr-7134/index.html
  pr-preview/pr-7134/influxdb/v1/administration/config/index.html
Due: none

Deploy preview for PR 7133 🛫
  pr-preview/pr-7133/index.html
Due: none

feat: add msg about 2.9
  content/shared/influxdb-v2/reference/release-notes/influx-cli.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7133 🛫
  pr-preview/pr-7133/index.html
  pr-preview/pr-7133/influxdb/cloud/reference/release-notes/influx-cli/index.html
  pr-preview/pr-7133/influxdb/v2/reference/release-notes/influx-cli/index.html
Due: none

feat(docs): add /mcp/server/ aliases to MCP server pages
  content/chronograf/v1/tools/mcp-server.md
  content/enterprise_influxdb/v1/tools/mcp-server.md
  content/flux/v0/mcp-server.md
  content/influxdb/cloud/tools/mcp-server.md
  content/influxdb/v1/tools/mcp-server.md
  content/influxdb/v2/tools/mcp-server.md
  content/influxdb3/cloud-dedicated/admin/mcp-server.md
  content/influxdb3/cloud-serverless/reference/mcp-server.md
  content/influxdb3/clustered/reference/mcp-server.md
  content/influxdb3/core/admin/mcp-server.md
  content/influxdb3/enterprise/admin/mcp-server.md
  content/influxdb3/explorer/mcp-server.md
  content/kapacitor/v1/reference/mcp-server.md
  content/telegraf/v1/mcp-server.md
Due: deprecated-markdown-patterns, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint

docs(mcp): expand MCP in descriptions, add /platform/mcp/server page
  content/chronograf/v1/tools/mcp-server.md
  content/enterprise_influxdb/v1/tools/mcp-server.md
  content/flux/v0/mcp-server.md
  content/influxdb/cloud/tools/mcp-server.md
  content/influxdb/v1/tools/mcp-server.md
  content/influxdb/v2/tools/mcp-server.md
  content/influxdb3/cloud-dedicated/admin/mcp-server.md
  content/influxdb3/cloud-serverless/reference/mcp-server.md
  content/influxdb3/clustered/reference/mcp-server.md
  content/influxdb3/core/admin/mcp-server.md
  content/influxdb3/enterprise/admin/mcp-server.md
  content/influxdb3/explorer/mcp-server.md
  content/kapacitor/v1/reference/mcp-server.md
  content/platform/mcp/server.md
  content/telegraf/v1/mcp-server.md
Due: deprecated-markdown-patterns, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint

Deploy preview for PR 7135 🛫
  pr-preview/pr-7135/chronograf/v1/tools/mcp-server/index.html
  pr-preview/pr-7135/enterprise_influxdb/v1/tools/mcp-server/index.html
  pr-preview/pr-7135/flux/v0/mcp-server/index.html
  pr-preview/pr-7135/index.html
  pr-preview/pr-7135/influxdb/cloud/tools/mcp-server/index.html
  pr-preview/pr-7135/influxdb/v1/tools/mcp-server/index.html
  pr-preview/pr-7135/influxdb/v2/tools/mcp-server/index.html
  pr-preview/pr-7135/influxdb3/cloud-dedicated/admin/mcp-server/index.html
  pr-preview/pr-7135/influxdb3/cloud-serverless/reference/mcp-server/index.html
  pr-preview/pr-7135/influxdb3/clustered/reference/mcp-server/index.html
  pr-preview/pr-7135/influxdb3/core/admin/mcp-server/index.html
  pr-preview/pr-7135/influxdb3/enterprise/admin/mcp-server/index.html
  pr-preview/pr-7135/influxdb3/explorer/mcp-server/index.html
  pr-preview/pr-7135/platform/mcp/server/index.html
  pr-preview/pr-7135/telegraf/v1/mcp-server/index.html
Due: none

docs(mcp): add seotitle with full "Model Context Protocol (MCP)" phrase
  content/chronograf/v1/tools/mcp-server.md
  content/enterprise_influxdb/v1/tools/mcp-server.md
  content/flux/v0/mcp-server.md
  content/influxdb/cloud/tools/mcp-server.md
  content/influxdb/v1/tools/mcp-server.md
  content/influxdb/v2/tools/mcp-server.md
  content/influxdb3/cloud-dedicated/admin/mcp-server.md
  content/influxdb3/cloud-serverless/reference/mcp-server.md
  content/influxdb3/clustered/reference/mcp-server.md
  content/influxdb3/core/admin/mcp-server.md
  content/influxdb3/enterprise/admin/mcp-server.md
  content/influxdb3/explorer/mcp-server.md
  content/kapacitor/v1/reference/mcp-server.md
  content/platform/mcp/server.md
  content/telegraf/v1/mcp-server.md
Due: deprecated-markdown-patterns, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint

Deploy preview for PR 7135 🛫
  pr-preview/pr-7135/chronograf/v1/tools/mcp-server/index.html
  pr-preview/pr-7135/enterprise_influxdb/v1/tools/mcp-server/index.html
  pr-preview/pr-7135/flux/v0/mcp-server/index.html
  pr-preview/pr-7135/index.html
  pr-preview/pr-7135/influxdb/cloud/tools/mcp-server/index.html
  pr-preview/pr-7135/influxdb/v1/tools/mcp-server/index.html
  pr-preview/pr-7135/influxdb/v2/tools/mcp-server/index.html
  pr-preview/pr-7135/influxdb3/cloud-dedicated/admin/mcp-server/index.html
  pr-preview/pr-7135/influxdb3/cloud-serverless/reference/mcp-server/index.html
  pr-preview/pr-7135/influxdb3/clustered/reference/mcp-server/index.html
  pr-preview/pr-7135/influxdb3/core/admin/mcp-server/index.html
  pr-preview/pr-7135/influxdb3/enterprise/admin/mcp-server/index.html
  pr-preview/pr-7135/influxdb3/explorer/mcp-server/index.html
  pr-preview/pr-7135/kapacitor/v1/reference/mcp-server/index.html
  pr-preview/pr-7135/platform/mcp/server/index.html
  pr-preview/pr-7135/telegraf/v1/mcp-server/index.html
Due: none

Update content/platform/mcp/server.md
  content/platform/mcp/server.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7135 🛫
  pr-preview/pr-7135/index.html
  pr-preview/pr-7135/platform/mcp/server/index.html
Due: none

feat(lint): extract fenced code blocks with remark
  package.json
  scripts/ci/__tests__/extractor.test.mjs
  scripts/ci/__tests__/fixtures/lint/simple.md
  scripts/lib/codeblock-extractor.mjs
Due: none

feat(lint): normalize language aliases, mark out-of-scope langs
  scripts/ci/__tests__/extractor.test.mjs
  scripts/ci/__tests__/fixtures/lint/aliases.md
  scripts/lib/codeblock-extractor.mjs
Due: none

feat(lint): parse placeholders fence attribute
  scripts/ci/__tests__/extractor.test.mjs
  scripts/ci/__tests__/fixtures/lint/placeholders.md
  scripts/lib/codeblock-extractor.mjs
Due: none

feat(lint): strip HTML comments from block body
  scripts/ci/__tests__/extractor.test.mjs
  scripts/ci/__tests__/fixtures/lint/html-comments.md
  scripts/lib/codeblock-extractor.mjs
Due: none

feat(lint): join pytest-codeblocks:cont chains into one unit
  scripts/ci/__tests__/extractor.test.mjs
  scripts/ci/__tests__/fixtures/lint/continuation.md
  scripts/lib/codeblock-extractor.mjs
Due: none

feat(lint): skip fences following expected-output marker
  scripts/ci/__tests__/extractor.test.mjs
  scripts/ci/__tests__/fixtures/lint/expected-output.md
  scripts/lib/codeblock-extractor.mjs
Due: none

feat(lint): add JSON/JSONL validator
  scripts/ci/__tests__/validators/json.test.mjs
  scripts/lib/codeblock-validators/json.mjs
Due: none

feat(lint): orchestrator skeleton with JSON validation and exit codes
  scripts/ci/__tests__/fixtures/lint/bad-json.md
  scripts/ci/__tests__/fixtures/lint/good-json.md
  scripts/ci/__tests__/lint-codeblocks.test.mjs
  scripts/ci/lint-codeblocks.mjs
Due: none

feat(lint): add YAML validator with js-yaml CORE_SCHEMA
  scripts/ci/__tests__/validators/yaml.test.mjs
  scripts/ci/lint-codeblocks.mjs
  scripts/lib/codeblock-validators/yaml.mjs
Due: none

feat(lint): add TOML validator with @iarna/toml
  scripts/ci/__tests__/validators/toml.test.mjs
  scripts/ci/lint-codeblocks.mjs
  scripts/lib/codeblock-validators/toml.mjs
Due: none

feat(lint): add bash validator via bash -n subprocess
  scripts/ci/__tests__/validators/bash.test.mjs
  scripts/ci/lint-codeblocks.mjs
  scripts/lib/codeblock-validators/bash.mjs
Due: none

feat(lint): add python validator via ast.parse subprocess
  scripts/ci/__tests__/validators/python.test.mjs
  scripts/ci/lint-codeblocks.mjs
  scripts/lib/codeblock-validators/python.mjs
Due: none

feat(lint): add javascript validator via node --check
  scripts/ci/__tests__/validators/javascript.test.mjs
  scripts/ci/lint-codeblocks.mjs
  scripts/lib/codeblock-validators/javascript.mjs
Due: none

feat(lint): limit subprocess validator concurrency to cpu count
  scripts/ci/lint-codeblocks.mjs
Due: none

feat(lint): hybrid two-phase normalizer with placeholder + shortcode rules
  scripts/ci/__tests__/normalizer.test.mjs
  scripts/lib/codeblock-normalizer.mjs
Due: none

feat(lint): orchestrator uses hybrid normalizer; emits notices
  scripts/ci/__tests__/fixtures/lint/placeholder-in-json.md
  scripts/ci/lint-codeblocks.mjs
Due: none

feat(lint): add resolveCanonicalSource helper for shared-content dedup
  scripts/ci/__tests__/canonical.test.mjs
  scripts/ci/__tests__/fixtures/lint/_shared-example.md
  scripts/ci/__tests__/fixtures/lint/consumer.md
  scripts/lib/content-utils.js
Due: prettier

feat(lint): dedupe canonical sources, add shared-source attribution
  scripts/ci/__tests__/lint-codeblocks.test.mjs
  scripts/ci/lint-codeblocks.mjs
Due: none

feat(lint): emit step summary with error/warning/normalization tables
  scripts/ci/__tests__/lint-codeblocks.test.mjs
  scripts/ci/lint-codeblocks.mjs
Due: none

docs(plan): design for v3 client library release notes sync
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

feat(ci): emit canonical-sources alongside products
  scripts/ci/detect-test-products.js
Due: prettier

feat(ci): add lint-codeblocks job to Test Code Blocks workflow
  .github/workflows/test.yml
Due: none

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
