Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-markdown-content:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

Clarify note on query log enabling and its impact on cluster load per @jeffreyssmith2nd 's suggestion
  content/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-log.md
Due: lint-markdown-content, cloud-dedicated-lint

Deploy preview for PR 6866 🛫
  pr-preview/pr-6866/index.html
  pr-preview/pr-6866/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-log/index.html
Due: none

docs: update 2025 product highlights and add January 2026 features
  content/influxdb3/cloud-dedicated/reference/release-notes/cloud-dedicated.md
Due: lint-markdown-content, cloud-dedicated-lint

Update content/influxdb3/cloud-dedicated/reference/release-notes/cloud-dedicated.md
  content/influxdb3/cloud-dedicated/reference/release-notes/cloud-dedicated.md
Due: lint-markdown-content, cloud-dedicated-lint

Fix grammar, formatting, and capitalization in Cloud Dedicated release notes (#6874)
  content/influxdb3/cloud-dedicated/reference/release-notes/cloud-dedicated.md
Due: lint-markdown-content, cloud-dedicated-lint

Add schema table with explicit data types for query_log fields (#6868)
  content/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-log.md
Due: lint-markdown-content, cloud-dedicated-lint

Update content/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-log.md
  content/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-log.md
Due: lint-markdown-content, cloud-dedicated-lint

Add documentation for query log in cloud dedicated (#6866)
  content/influxdb3/cloud-dedicated/query-data/troubleshoot-and-optimize/query-log.md
  static/img/influxdb3/cloud-dedicated-admin-ui-query-log-detail-view.png
  static/img/influxdb3/cloud-dedicated-admin-ui-query-log-list-view.png
Due: lint-markdown-content, cloud-dedicated-lint

fix(reference): correct 6 spelling errors across reference pages
  content/influxdb/v2/reference/config-options.md
  content/influxdb3/clustered/reference/release-notes/clustered.md
  content/kapacitor/v1/reference/about_the_project/release-notes.md
Due: lint-markdown-content, clustered-lint, v2-lint

docs(spell-check): improve validation rules and documentation
  .ci/vale/styles/InfluxDataDocs/Spelling.yml
  .codespellrc
  SPELL-CHECK.md
Due: lint-markdown-instructions, lint-instructions

chore: add release notes for InfluxDB 3.8.3
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Apply suggestion from @sanderson
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6877 🛫
  pr-preview/pr-6877/index.html
  pr-preview/pr-6877/influxdb3/core/release-notes/index.html
  pr-preview/pr-6877/influxdb3/enterprise/release-notes/index.html
Due: none

chore: add release notes for InfluxDB 3.8.3 (#6879)
  data/products.yml
Due: build-agent-instructions

chore: add release notes for InfluxDB 3.8.3 (#6877)
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/products.yml
Due: build-agent-instructions, lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

changed update order: most recent to oldest. January 2026 product highlights in Cloud Dedicated release notes
  content/influxdb3/cloud-dedicated/reference/release-notes/cloud-dedicated.md
Due: lint-markdown-content, cloud-dedicated-lint

Deploy preview for PR 6873 🛫
  pr-preview/pr-6873/index.html
  pr-preview/pr-6873/influxdb3/cloud-dedicated/reference/release-notes/cloud-dedicated/index.html
Due: none

docs: add autoscaling configuration guide for InfluxDB Cloud Dedicated
  content/influxdb3/cloud-dedicated/admin/autoscaling.md
Due: lint-markdown-content, cloud-dedicated-lint

Apply Jason's suggestions from code review
  content/influxdb3/cloud-dedicated/reference/release-notes/cloud-dedicated.md
Due: lint-markdown-content, cloud-dedicated-lint

fix: correct frontmatter delimiter and trailing whitespace in autoscaling.md (#6882)
  content/influxdb3/cloud-dedicated/admin/autoscaling.md
Due: lint-markdown-content, cloud-dedicated-lint

chore: add .worktrees to gitignore
  .gitignore
Due: none

fix: prevent remark-lint from escaping Hugo template syntax in shortcodes
  layouts/shortcodes/influxql/v1-v3-data-model-note.md
  layouts/shortcodes/telegraf/verify.md
  layouts/shortcodes/token-link.md
  lefthook.yml
Due: none

test: add E2E tests for cascade product shortcodes
  .claude/skills/cypress-e2e-testing/SKILL.md
  content/chronograf/v1/_test/shortcodes.md
  content/enterprise_influxdb/v1/_test/shortcodes.md
  content/flux/v0/_test/shortcodes.md
  content/influxdb/cloud/_test/shortcodes.md
  content/influxdb/v1/_test/shortcodes.md
  content/influxdb/v2/_test/shortcodes.md
  content/influxdb3/cloud-dedicated/_test/shortcodes.md
  content/influxdb3/cloud-serverless/_test/shortcodes.md
  content/influxdb3/clustered/_test/shortcodes.md
  content/influxdb3/core/_test/shortcodes.md
  content/influxdb3/enterprise/_test/shortcodes.md
  content/influxdb3/explorer/_test/shortcodes.md
  content/kapacitor/v1/_test/shortcodes.md
  content/telegraf/v1/_test/shortcodes.md
  cypress/e2e/content/index.cy.js
  cypress/e2e/content/shortcodes.cy.js
Due: lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, prettier

test: expand E2E coverage to 27 of 28 cascade shortcodes
  content/chronograf/v1/_test/shortcodes.md
  content/enterprise_influxdb/v1/_test/shortcodes.md
  content/flux/v0/_test/shortcodes.md
  content/influxdb/cloud/_test/shortcodes.md
  content/influxdb/v1/_test/shortcodes.md
  content/influxdb/v2/_test/shortcodes.md
  content/influxdb3/cloud-dedicated/_test/shortcodes.md
  content/influxdb3/cloud-serverless/_test/shortcodes.md
  content/influxdb3/clustered/_test/shortcodes.md
  content/influxdb3/core/_test/shortcodes.md
  content/influxdb3/enterprise/_test/shortcodes.md
  content/influxdb3/explorer/_test/shortcodes.md
  content/kapacitor/v1/_test/shortcodes.md
  content/telegraf/v1/_test/shortcodes.md
  cypress/e2e/content/index.cy.js
  cypress/e2e/content/shortcodes-real-pages.cy.js
  cypress/e2e/content/shortcodes.cy.js
Due: lint-markdown-content, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, prettier

fix: consolidate support URL validation into single script
  .ci/scripts/check-support-links.sh
  .github/workflows/pr-link-check.yml
  DOCS-CONTRIBUTING.md
  lefthook.yml
Due: lint-markdown-instructions, lint-instructions

refactor(test): rename _test dirs to __tests__ and add noindex
  content/chronograf/v1/__tests__/shortcodes.md
  content/enterprise_influxdb/v1/__tests__/shortcodes.md
  content/flux/v0/__tests__/shortcodes.md
  content/influxdb/cloud/__tests__/shortcodes.md
  content/influxdb/v1/__tests__/shortcodes.md
  content/influxdb/v2/__tests__/shortcodes.md
  content/influxdb3/cloud-dedicated/__tests__/shortcodes.md
  content/influxdb3/cloud-serverless/__tests__/shortcodes.md
  content/influxdb3/clustered/__tests__/shortcodes.md
  content/influxdb3/core/__tests__/shortcodes.md
  content/influxdb3/enterprise/__tests__/shortcodes.md
  content/influxdb3/explorer/__tests__/shortcodes.md
  content/kapacitor/v1/__tests__/shortcodes.md
  content/telegraf/v1/__tests__/shortcodes.md
  cypress/e2e/content/shortcodes.cy.js
Due: lint-markdown-content, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, prettier

docs(plan): mark Task 7 (clean regeneration) as completed
  plans/2026-02-13-hugo-native-api-migration.md
Due: none

docs: update 2025 product highlights and add January 2026 features (#6873)
  content/influxdb3/cloud-dedicated/reference/release-notes/cloud-dedicated.md
Due: lint-markdown-content, cloud-dedicated-lint

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
