Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

Deploy preview for PR 7457 🛫
  pr-preview/pr-7457/index.html
Due: none

fix(docs): pad markdown table separators in LABEL_GUIDE.md
  .github/LABEL_GUIDE.md
Due: none

ci(copilot): assign Copilot coding agent when copilot:fix label is added
  .github/LABEL_GUIDE.md
  .github/scripts/assign-copilot.js
  .github/scripts/test-assign-copilot.js
  .github/workflows/assign-copilot-on-label.yml
  data/labels.yml
Due: prettier

ci(link-checker): close the feedback loop with known-issue downgrades and report links
  .github/ISSUE_TEMPLATE/broken-link.yml
  .github/scripts/fetch-known-link-issues.js
  .github/scripts/link-check-classify.js
  .github/scripts/link-check-comment.js
  .github/scripts/test-fetch-known-link-issues.js
  .github/scripts/test-link-check-classify.js
  .github/scripts/test-link-check-comment.js
  .github/workflows/pr-link-check.yml
Due: prettier

Update content/influxdb3/enterprise/reference/cli/influxdb3/import/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/import/_index.md
Due: deprecated-markdown-patterns, enterprise-lint

Deploy preview for PR 7457 🛫
  pr-preview/pr-7457/index.html
  pr-preview/pr-7457/influxdb3/enterprise/reference/cli/influxdb3/import/index.html
Due: none

docs(minio): link debug object-store-check mentions to CLI reference
  content/shared/influxdb3-admin/object-storage/minio.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3-cli): add debug, import command pages; fix serve and config-options gaps
  content/influxdb3/core/reference/cli/influxdb3/_index.md
  content/influxdb3/core/reference/cli/influxdb3/debug/_index.md
  content/influxdb3/core/reference/cli/influxdb3/debug/object-store-check.md
  content/influxdb3/enterprise/reference/cli/influxdb3/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/debug/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/debug/object-store-check.md
  content/influxdb3/enterprise/reference/cli/influxdb3/import/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/import/list.md
  content/influxdb3/enterprise/reference/cli/influxdb3/import/upload.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/debug/_index.md
  content/shared/influxdb3-cli/debug/object-store-check.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix: correct processing engine error behavior enum
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

docs(influxdb3): document gh: plugin prefix for processing engine triggers
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
  content/shared/influxdb3-cli/create/trigger.md
  content/shared/influxdb3-plugins/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7463 🛫
  pr-preview/pr-7463/index.html
Due: none

fix(influxdb3): repair broken Enterprise options table in create trigger CLI ref
  content/shared/influxdb3-cli/create/trigger.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7463 🛫
  pr-preview/pr-7463/index.html
  pr-preview/pr-7463/influxdb3/core/reference/cli/influxdb3/create/trigger/index.html
  pr-preview/pr-7463/influxdb3/enterprise/reference/cli/influxdb3/create/trigger/index.html
Due: none

fix(influxdb3): correct --plugin-dir typo and gh: resolution wording
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
  content/shared/influxdb3-cli/create/trigger.md
  content/shared/influxdb3-plugins/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7463 🛫
  pr-preview/pr-7463/index.html
  pr-preview/pr-7463/influxdb3/core/plugins/index.html
  pr-preview/pr-7463/influxdb3/core/reference/cli/influxdb3/create/trigger/index.html
  pr-preview/pr-7463/influxdb3/enterprise/plugins/index.html
  pr-preview/pr-7463/influxdb3/enterprise/reference/cli/influxdb3/create/trigger/index.html
Due: none

docs(influxdb3-test): missing and incorrect arguments for `test/{schedule,wal}_plugin.md`
  content/shared/influxdb3-cli/test/schedule_plugin.md
  content/shared/influxdb3-cli/test/wal_plugin.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7465 🛫
  pr-preview/pr-7465/index.html
Due: none

docs(shared): fix broken tables from show-in splicing in enterprise options
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/create/token/_index.md
  content/shared/influxdb3-cli/show/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7467 🛫
  pr-preview/pr-7467/index.html
Due: none

Deploy preview for PR 7469 🛫
  pr-preview/pr-7469/index.html
  pr-preview/pr-7469/influxdb3/core/get-started/setup/index.html
  pr-preview/pr-7469/influxdb3/core/plugins/extend-plugin/index.html
  pr-preview/pr-7469/influxdb3/core/plugins/library/official/forecast-error-evaluator/index.html
  pr-preview/pr-7469/influxdb3/core/plugins/library/official/mad-anomaly-detection/index.html
  pr-preview/pr-7469/influxdb3/core/plugins/library/official/prophet-forecasting/index.html
  pr-preview/pr-7469/influxdb3/core/plugins/library/official/state-change/index.html
  pr-preview/pr-7469/influxdb3/core/plugins/library/official/stateless-adtk-detector/index.html
  pr-preview/pr-7469/influxdb3/core/plugins/library/official/threshold-deadman-checks/index.html
Due: none

fix(influxdb3): rewrite cross-plugin README links to docs-v2 pages
  content/shared/influxdb3-plugins/plugins-library/official/CLAUDE.md
  content/shared/influxdb3-plugins/plugins-library/official/forecast-error-evaluator.md
  content/shared/influxdb3-plugins/plugins-library/official/mad-check.md
  content/shared/influxdb3-plugins/plugins-library/official/prophet-forecasting.md
  content/shared/influxdb3-plugins/plugins-library/official/state-change.md
  content/shared/influxdb3-plugins/plugins-library/official/stateless-adtk-detector.md
  content/shared/influxdb3-plugins/plugins-library/official/threshold-deadman-checks.md
  helper-scripts/influxdb3-plugins/README.md
  helper-scripts/influxdb3-plugins/port_to_docs.js
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, prettier

fix(influxdb3): correct broken anchor links in shared content
  content/shared/influxdb3-get-started/setup.md
  content/shared/influxdb3-plugins/extended-plugin-api.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(vale): skip gracefully when no Vale binary and no Docker daemon
  .agents/skills/vale-linting/SKILL.md
  .ci/vale/vale.sh
  .github/workflows/pr-vale-check.yml
  DOCS-TESTING.md
  lefthook.yml
Due: lint-markdown-instructions, lint-instructions

fix(tooling): stop yarn lint from dirtying assets/jsconfig.json
  .agents/instructions/assets.md
  .claude/rules/assets.md
  .github/instructions/assets.instructions.md
  assets/AGENTS.md
  config/_default/hugo.yml
  package.json
Due: lint-markdown-instructions, lint-instructions

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
