Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: build-copilot-instructions, lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier

Path conditions:
  build-copilot-instructions: any of: CONTRIBUTING.md
  lint-markdown: any of: {CONTRIBUTING.md,content/*.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}

WIP monolith getting started restructure
  assets/jsconfig.json
  content/influxdb3/enterprise/get-started/multi-server.md
  content/shared/influxdb3-get-started/_index.md
  content/shared/influxdb3-get-started/processing-engine.md
  content/shared/influxdb3-get-started/query.md
  content/shared/influxdb3-get-started/setup.md
  content/shared/influxdb3-get-started/write.md
  content/shared/influxdb3/_index.md
Due: lint-markdown

removed references to OCI in clustered, fix toc-contents js, closes influxdata/DAR#503
  assets/js/release-toc.js
  assets/jsconfig.json
  content/influxdb3/clustered/admin/upgrade.md
Due: lint-markdown, prettier

removed references to OCI in clustered, fix toc-contents js, closes influxdata/DAR#503 (#6125)
  assets/js/release-toc.js
  assets/jsconfig.json
  content/influxdb3/clustered/admin/upgrade.md
Due: lint-markdown, prettier

chore: remove refrences to Python2 in kapacitor anaomaly_detection.
  content/kapacitor/v1/guides/anomaly_detection.md
Due: lint-markdown

chore: cleanup lint warning
  content/kapacitor/v1/guides/anomaly_detection.md
Due: lint-markdown

WIP restructuring monolith getting started
  content/influxdb3/core/get-started/setup.md
  content/influxdb3/enterprise/get-started/multi-server.md
  content/influxdb3/enterprise/get-started/setup.md
  content/shared/influxdb3-get-started/_index.md
  content/shared/influxdb3-get-started/setup.md
Due: lint-markdown

WIP add build artifacts to clustered release notes
  content/influxdb3/clustered/reference/release-notes/clustered.md
Due: lint-markdown

update date format in telegraf release notes
  content/telegraf/v1/release-notes.md
Due: lint-markdown, telegraf-lint

Apply suggestions from code review
  content/kapacitor/v1/guides/anomaly_detection.md
Due: lint-markdown

update date format in telegraf release notes (#6127)
  content/telegraf/v1/release-notes.md
Due: lint-markdown, telegraf-lint

Update content/kapacitor/v1/guides/anomaly_detection.md
  content/kapacitor/v1/guides/anomaly_detection.md
Due: lint-markdown

Add influxdb namespace to identify version (#6044)
  content/influxdb3/clustered/admin/upgrade.md
Due: lint-markdown

Update lefthook.yml
  lefthook.yml
Due: none

Update content/shared/v3-core-plugins/_index.md
  content/shared/v3-core-plugins/_index.md
Due: lint-markdown

Update content/shared/influxdb3-cli/test/schedule_plugin.md
  content/shared/influxdb3-cli/test/schedule_plugin.md
Due: lint-markdown

docs: update schedule_plugin command options and environment variables
  content/shared/influxdb3-cli/test/schedule_plugin.md
Due: lint-markdown

docs: schedule_plugin test command docs with input args, cron syntax, and troubleshooting
  content/shared/influxdb3-cli/test/schedule_plugin.md
Due: lint-markdown

minor updates
  content/shared/influxdb3-cli/test/schedule_plugin.md
Due: lint-markdown

chore(js): Format fixes
  assets/js/components/diagram.js
  assets/js/components/sidebar-search.js
  assets/js/list-filters.js
  assets/js/main.js
  assets/js/utils/user-agent-platform.js
  assets/js/version-selector.js
Due: prettier

chore(ci): Fail the commit if a module imports or uses debug helpers
  assets/js/code-controls.js
  lefthook.yml
Due: prettier

Update assets/js/datetime.js
  assets/js/datetime.js
Due: prettier

chore(js): Cleanup and add note about list-filters
  assets/js/list-filters.js
Due: prettier

fix: update enterprise config options
  content/influxdb3/enterprise/reference/config-options.md
Due: lint-markdown

WIP gs write data
  content/influxdb3/core/get-started/write.md
  content/influxdb3/enterprise/get-started/multi-server.md
  content/influxdb3/enterprise/get-started/write.md
  content/shared/influxdb3-get-started/setup.md
  content/shared/influxdb3-get-started/write.md
Due: lint-markdown

add instructions for downloading release artifacts manually
  content/influxdb3/clustered/reference/release-notes/clustered.md
  deploy/edge.js
  helper-scripts/README.md
Due: lint-markdown, prettier
