Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, cloud-pytest, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest, telegraf-pytest, v2-pytest, prettier

lefthook.yml:

#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit
pre-commit:
  parallel: true 
  commands:
    cloud-lint:
      tags: lint,v2
      glob: "content/influxdb/cloud/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-dedicated-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-dedicated/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-dedicated/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-serverless-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-serverless/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    clustered-lint:
      tags: lint,v3
      glob: "content/influxdb/clustered/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    telegraf-lint:
      tags: lint,clients 
      glob: "content/telegraf/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    v2-lint:
      tags: lint,v2
      glob: "content/influxdb/v2/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/v2/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-pytest:
      glob: content/influxdb/cloud/**/*.md
      tags: test,codeblocks,v2
      env:
        - SERVICE: cloud-pytest
      run: docker compose run $SERVICE '{staged_files}'
    cloud-dedicated-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-dedicated/**/*.md
      env:
        - SERVICE: cloud-dedicated-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    cloud-serverless-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-serverless/**/*.md
      env:
        - SERVICE: cloud-serverless-pytest
      run: docker compose run $SERVICE '{staged_files}'
    clustered-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/clustered/**/*.md
      env:
        - SERVICE: clustered-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    telegraf-pytest:
      tags: test,codeblocks
      glob: content/telegraf/**/*.md
      env:
        - SERVICE: telegraf-pytest
      run: docker compose run $SERVICE '{staged_files}'
    v2-pytest:
      tags: test,codeblocks,v2
      glob: content/influxdb/v2/**/*.md
      env:
        - SERVICE: v2-pytest
      run: docker compose run --rm $SERVICE '{staged_files}'
    prettier:
      tags: frontend,style
      glob: "*.{css,js,ts,jsx,tsx}"
      run: yarn prettier {staged_files}

build:
  commands:
    prune-legacy-containers:
      priority: 1
      tags: test 
      run: '(docker container ls --format "{{.ID}}"
          --filter label=tag=influxdata-docs
          --filter status=exited | xargs docker rm)
          || true'
    rebuild-test-images:
      tags: test
      run: docker compose build pytest-codeblocks

updates partitioning information, closes #5561
  content/influxdb/cloud-dedicated/admin/custom-partitions/best-practices.md
  content/influxdb/cloud-dedicated/admin/custom-partitions/define-custom-partitions.md
  content/influxdb/cloud-dedicated/admin/custom-partitions/partition-templates.md
  content/influxdb/cloud-dedicated/admin/custom-partitions/view-partitions.md
  content/influxdb/cloud-dedicated/admin/databases/create.md
  content/influxdb/cloud-dedicated/admin/query-system-data.md
  content/influxdb/cloud-dedicated/admin/tables/create.md
  content/influxdb/cloud-dedicated/reference/cli/influxctl/database/create.md
  content/influxdb/cloud-dedicated/reference/cli/influxctl/table/create.md
  content/influxdb/clustered/admin/custom-partitions/best-practices.md
  content/influxdb/clustered/admin/custom-partitions/define-custom-partitions.md
  content/influxdb/clustered/admin/custom-partitions/partition-templates.md
  content/influxdb/clustered/admin/custom-partitions/view-partitions.md
  content/influxdb/clustered/admin/databases/create.md
  content/influxdb/clustered/admin/tables/create.md
  content/influxdb/clustered/reference/cli/influxctl/database/create.md
  content/influxdb/clustered/reference/cli/influxctl/table/create.md
Due: cloud-dedicated-lint, clustered-lint, cloud-dedicated-pytest, clustered-pytest

upgraded yarn deps
  yarn.lock
Due: none

updated partition time template examples
  content/influxdb/cloud-dedicated/reference/cli/influxctl/database/create.md
  content/influxdb/cloud-dedicated/reference/cli/influxctl/table/create.md
  content/influxdb/clustered/reference/cli/influxctl/database/create.md
  content/influxdb/clustered/reference/cli/influxctl/table/create.md
Due: cloud-dedicated-lint, clustered-lint, cloud-dedicated-pytest, clustered-pytest

Apply suggestions from code review
  content/influxdb/cloud-dedicated/admin/custom-partitions/view-partitions.md
  content/influxdb/clustered/admin/custom-partitions/view-partitions.md
Due: cloud-dedicated-lint, clustered-lint, cloud-dedicated-pytest, clustered-pytest

unskip influxctl tests
  content/influxdb/cloud-dedicated/admin/custom-partitions/view-partitions.md
  content/influxdb/clustered/admin/custom-partitions/view-partitions.md
Due: cloud-dedicated-lint, clustered-lint, cloud-dedicated-pytest, clustered-pytest

View partition documentation and update partition time templates (#5574)
  content/influxdb/cloud-dedicated/admin/custom-partitions/best-practices.md
  content/influxdb/cloud-dedicated/admin/custom-partitions/define-custom-partitions.md
  content/influxdb/cloud-dedicated/admin/custom-partitions/partition-templates.md
  content/influxdb/cloud-dedicated/admin/custom-partitions/view-partitions.md
  content/influxdb/cloud-dedicated/admin/databases/create.md
  content/influxdb/cloud-dedicated/admin/query-system-data.md
  content/influxdb/cloud-dedicated/admin/tables/create.md
  content/influxdb/cloud-dedicated/reference/cli/influxctl/database/create.md
  content/influxdb/cloud-dedicated/reference/cli/influxctl/table/create.md
  content/influxdb/clustered/admin/custom-partitions/best-practices.md
  content/influxdb/clustered/admin/custom-partitions/define-custom-partitions.md
  content/influxdb/clustered/admin/custom-partitions/partition-templates.md
  content/influxdb/clustered/admin/custom-partitions/view-partitions.md
  content/influxdb/clustered/admin/databases/create.md
  content/influxdb/clustered/admin/tables/create.md
  content/influxdb/clustered/reference/cli/influxctl/database/create.md
  content/influxdb/clustered/reference/cli/influxctl/table/create.md
  yarn.lock
Due: cloud-dedicated-lint, clustered-lint, cloud-dedicated-pytest, clustered-pytest

chore(telegraf): Update and improve Telegraf install instructions
  .ci/Dockerfile.remark
  .ci/remark-lint/.remark-lint.js
  .ci/vale/styles/Google/Units.yml
  Dockerfile.pytest
  compose.yaml
  content/telegraf/v1/configuration.md
  content/telegraf/v1/configure_plugins/input_plugins/_index.md
  content/telegraf/v1/configure_plugins/output_plugins/_index.md
  content/telegraf/v1/install.md
  data/products.yml
  lefthook.yml
  static/img/telegraf/downloads-telegraf-linux-amd64.png
  test/Dockerfile.test-oss.centos
  test/Dockerfile.test-oss.ubuntu
  test/scripts/get-container-info.sh
  test/scripts/prepare-content.sh
Due: telegraf-lint, telegraf-pytest, prettier

chore(cloud): Warning for possible problems with Usage data.
  content/influxdb/cloud-serverless/admin/billing/data-usage.md
  content/influxdb/cloud/account-management/data-usage.md
Due: cloud-lint, cloud-serverless-lint, cloud-pytest, cloud-serverless-pytest

chore(cloud): Add warning to main billing pages as well, add notice that billing records aren't affected.
  content/influxdb/cloud-serverless/admin/billing/_index.md
  content/influxdb/cloud-serverless/admin/billing/data-usage.md
  content/influxdb/cloud/account-management/billing.md
  content/influxdb/cloud/account-management/data-usage.md
Due: cloud-lint, cloud-serverless-lint, cloud-pytest, cloud-serverless-pytest

Update content/telegraf/v1/configuration.md
  content/telegraf/v1/configuration.md
Due: telegraf-lint, telegraf-pytest

Clustered: simplify public pull secrets (#5572)
  content/influxdb/clustered/install/configure-cluster/directly.md
Due: clustered-lint, clustered-pytest

fix(telegraf): Apply suggestions from code review.
  content/telegraf/v1/install.md
  static/img/telegraf/downloads-telegraf-linux-amd64.png
Due: telegraf-lint, telegraf-pytest

chore(telegraf): revise note
  .ci/remark-lint/.remark-lint.js
  content/telegraf/v1/install.md
Due: telegraf-lint, telegraf-pytest, prettier

docs: add environment variable tuning explanation
  content/influxdb/clustered/admin/env-vars.md
Due: clustered-lint, clustered-pytest

Updated download URLs for Telegraf and InfluxDB v1
  content/influxdb/v1/introduction/install.md
  content/telegraf/v1/install.md
  layouts/shortcodes/telegraf/verify.md
Due: telegraf-lint, telegraf-pytest

updated timezone-related functions and operators
  .ci/vale/styles/InfluxDataDocs/Terms/query-functions.txt
  .ci/vale/styles/config/vocabularies/InfluxDataDocs/accept.txt
  content/influxdb/cloud-dedicated/reference/sql/data-types.md
  content/influxdb/cloud-dedicated/reference/sql/functions/misc.md
  content/influxdb/cloud-dedicated/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-dedicated/reference/sql/operators/other.md
  content/influxdb/cloud-serverless/reference/sql/data-types.md
  content/influxdb/cloud-serverless/reference/sql/functions/misc.md
  content/influxdb/cloud-serverless/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-serverless/reference/sql/operators/other.md
  content/influxdb/clustered/reference/sql/data-types.md
  content/influxdb/clustered/reference/sql/functions/misc.md
  content/influxdb/clustered/reference/sql/functions/time-and-date.md
  content/influxdb/clustered/reference/sql/operators/other.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

updated deps
  yarn.lock
Due: none

add notification for clustered ga and v3 features announcement
  assets/styles/layouts/_notifications.scss
  data/notifications.yaml
Due: none

updated scope of clustered ga announcement
  data/notifications.yaml
Due: none

Apply suggestions from code review
  content/influxdb/cloud-dedicated/reference/sql/data-types.md
  content/influxdb/cloud-dedicated/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-serverless/reference/sql/functions/time-and-date.md
  content/influxdb/clustered/reference/sql/data-types.md
  content/influxdb/clustered/reference/sql/functions/time-and-date.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

Revert "chore(cloud): Warning for possible problems with Usage data."
  content/influxdb/cloud-serverless/admin/billing/_index.md
  content/influxdb/cloud-serverless/admin/billing/data-usage.md
  content/influxdb/cloud/account-management/billing.md
  content/influxdb/cloud/account-management/data-usage.md
Due: cloud-lint, cloud-serverless-lint, cloud-pytest, cloud-serverless-pytest

updates to address PR feedback
  content/influxdb/cloud-dedicated/reference/sql/data-types.md
  content/influxdb/cloud-dedicated/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-serverless/reference/sql/data-types.md
  content/influxdb/cloud-serverless/reference/sql/functions/time-and-date.md
  content/influxdb/clustered/reference/sql/data-types.md
  content/influxdb/clustered/reference/sql/functions/time-and-date.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

chore(oss): Update install instructions, mostly for Linux
  Dockerfile.pytest
  compose.yaml
  content/influxdb/v2/install/_index.md
  content/telegraf/v1/install.md
  lefthook.yml
Due: telegraf-lint, v2-lint, telegraf-pytest, v2-pytest

fix(write-api): Serverless write requests outside retention return 400
  api-docs/cloud-serverless/v2/ref.yml
  content/influxdb/cloud-serverless/write-data/troubleshoot.md
Due: cloud-serverless-lint, cloud-serverless-pytest

fix(write-api): Partial writes now return a 400 response code in serverless
  api-docs/cloud-serverless/v2/ref.yml
  content/influxdb/cloud-serverless/write-data/troubleshoot.md
Due: cloud-serverless-lint, cloud-serverless-pytest

fix(write-api): Partial writes now return a 400 response code in dedicated
  api-docs/cloud-dedicated/v2/ref.yml
  content/influxdb/cloud-dedicated/write-data/troubleshoot.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

refactor(write-api): Punctuation and wording changes from code review
  api-docs/cloud-dedicated/v2/ref.yml
  api-docs/cloud-serverless/v2/ref.yml
  content/influxdb/cloud-dedicated/write-data/troubleshoot.md
  content/influxdb/cloud-serverless/write-data/troubleshoot.md
Due: cloud-dedicated-lint, cloud-serverless-lint, cloud-dedicated-pytest, cloud-serverless-pytest

chore(v2): Revise install instructions.
  content/influxdb/v2/install/_index.md
Due: v2-lint, v2-pytest

docs: correct description of status codes
  api-docs/cloud-dedicated/v2/ref.yml
  api-docs/cloud-serverless/v2/ref.yml
Due: none

Update api-docs/cloud-dedicated/v2/ref.yml
  api-docs/cloud-dedicated/v2/ref.yml
Due: none

Apply suggestions from code review
  api-docs/cloud-serverless/v2/ref.yml
Due: none

docs: correct description of status codes (#5587)
  api-docs/cloud-dedicated/v2/ref.yml
  api-docs/cloud-serverless/v2/ref.yml
Due: none

Update notifications.yaml
  data/notifications.yaml
Due: none

Add notification for Clustered GA and v3 features announcement (#5582)
  assets/styles/layouts/_notifications.scss
  data/notifications.yaml
Due: none

chore(influxql): Test and improve InfluxQL functions with regex arguments
  .ci/vale/styles/InfluxDataDocs/WordList.yml
  content/influxdb/v2/query-data/influxql/explore-data/regular-expressions.md
  content/influxdb/v2/query-data/influxql/explore-data/select.md
  content/influxdb/v2/reference/cli/influx/write/_index.md
  content/influxdb/v2/reference/config-options.md
  static/downloads/home-sensor-data.csv
  test/Dockerfile.test-oss.centos
Due: v2-lint, v2-pytest

clustered: update kubit version
  content/influxdb/clustered/install/configure-cluster/directly.md
Due: clustered-lint, clustered-pytest

added influxdb clustered release notes and release-toc shortcode
  assets/js/release-toc.js
  assets/styles/layouts/_article.scss
  assets/styles/layouts/article/_release-toc.scss
  content/influxdb/clustered/reference/release-notes/clustered.md
  layouts/partials/footer/javascript.html
  layouts/shortcodes/release-toc.html
Due: clustered-lint, clustered-pytest, prettier

fix(clustered): document the use of special symbols PostgeSQL connection strings
  content/influxdb/clustered/install/configure-cluster/directly.md
Due: clustered-lint, clustered-pytest
