Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

feat(influxdb3): rename API specs and add download links
  api-docs/generate-api-docs.sh
  api-docs/influxdb3/core/.config.yml
  api-docs/influxdb3/core/v3/content/info.yml
  api-docs/influxdb3/core/v3/influxdb3-core-openapi.yaml
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/.config.yml
  api-docs/influxdb3/enterprise/v3/content/info.yml
  api-docs/influxdb3/enterprise/v3/influxdb3-enterprise-openapi.yaml
  api-docs/influxdb3/enterprise/v3/ref.yml
  static/openapi/influxdb3-core-openapi.yaml
  static/openapi/influxdb3-enterprise-openapi.yaml
Due: none

feat(influxdb3): rename API specs and add download links (#6906)
  api-docs/generate-api-docs.sh
  api-docs/influxdb3/core/.config.yml
  api-docs/influxdb3/core/v3/content/info.yml
  api-docs/influxdb3/core/v3/influxdb3-core-openapi.yaml
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/.config.yml
  api-docs/influxdb3/enterprise/v3/content/info.yml
  api-docs/influxdb3/enterprise/v3/influxdb3-enterprise-openapi.yaml
  api-docs/influxdb3/enterprise/v3/ref.yml
  static/openapi/influxdb3-core-openapi.yaml
  static/openapi/influxdb3-enterprise-openapi.yaml
Due: none

feat(ci): add workflow_dispatch to auto-label and doc-review workflows
  .github/ISSUE_TEMPLATE/sync-plugin-docs.yml
  .github/LABEL_GUIDE.md
  .github/workflows/auto-label.yml
  .github/workflows/doc-review.yml
  .github/workflows/sync-plugins.yml
  data/labels.yml
  data/products.yml
Due: build-agent-instructions

fix(ci): replace npm ci with targeted js-yaml install in auto-label
  .github/workflows/auto-label.yml
Due: none

fix(ci): add --legacy-peer-deps to auto-label npm install
  .github/workflows/auto-label.yml
Due: none

task: updated labels for migration
  helper-scripts/label-migration/migrate-labels.sh
Due: none

docs: update pipeline plan with test results and completion status
  .github/DOC-REVIEW-PIPELINE-PLAN.md
Due: none

test: reapply reverted serve.md changes for e2e pipeline test
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
Due: deprecated-markdown-patterns, core-lint, enterprise-lint

Deploy preview for PR 6890 🛫
  pr-preview/pr-6890/index.html
Due: none

fix(ci): fix preview URL polling in doc-review visual review
  .github/workflows/doc-review.yml
Due: none

Updating changelog
  content/telegraf/v1/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

Updating plugin list
  data/telegraf_plugins.yml
Due: none

Updating product version
  data/products.yml
Due: build-agent-instructions

Update content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
Due: deprecated-markdown-patterns, enterprise-lint

Deploy preview for PR 6910 🛫
  pr-preview/pr-6910/index.html
  pr-preview/pr-6910/influxdb3/enterprise/reference/cli/influxdb3/serve/index.html
Due: none

fix: correct broken fragment links in InfluxDB 3 serve.md files (#6910)
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
Due: deprecated-markdown-patterns, core-lint, enterprise-lint

Deploy preview for PR 6890 🛫
  pr-preview/pr-6890/index.html
  pr-preview/pr-6890/influxdb3/core/reference/cli/influxdb3/serve/index.html
  pr-preview/pr-6890/influxdb3/enterprise/reference/cli/influxdb3/serve/index.html
Due: none

feat(ci): add doc review pipeline with auto-labeling and Copilot review (#6890)
  .claude/agents/doc-review-agent.md
  .claude/agents/doc-triage-agent.md
  .claude/settings.json
  .github/DOC-REVIEW-PIPELINE-PLAN.md
  .github/ISSUE_TEMPLATE/sync-plugin-docs.yml
  .github/LABEL_GUIDE.md
  .github/copilot-instructions.md
  .github/instructions/content-review.instructions.md
  .github/prompts/copilot-visual-review.md
  .github/scripts/resolve-review-urls.js
  .github/scripts/workflow-utils.js
  .github/templates/review-comment.md
  .github/workflows/auto-label.yml
  .github/workflows/doc-review.yml
  .github/workflows/sync-plugins.yml
  AGENTS.md
  CLAUDE.md
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  data/labels.yml
  data/products.yml
  docs/plans/2025-01-10-docs-cli-workflow-design.md
  helper-scripts/label-migration/README.md
  helper-scripts/label-migration/create-labels.sh
  helper-scripts/label-migration/delete-labels.sh
  helper-scripts/label-migration/migrate-labels.sh
Due: deprecated-markdown-patterns, build-agent-instructions, lint-markdown-instructions, lint-instructions, core-lint, enterprise-lint, prettier

task(plans): organize
  PLAN.md
  docs/plans/2026-02-13-hugo-native-api-migration.md
  docs/plans/2026-02-17-api-clean-regeneration-design.md
  docs/plans/2026-02-17-api-clean-regeneration-implementation.md
  docs/plans/TESTING.md
  plans/2026-02-13-hugo-native-api-migration.md
Due: lint-markdown-instructions, lint-instructions

chore(api-docs): remove dead x-tagGroups from all spec files
  api-docs/influxdb/cloud/v2/ref.yml
  api-docs/influxdb/v2/v2/ref.yml
  api-docs/influxdb3/cloud-dedicated/management/openapi.yml
  api-docs/influxdb3/cloud-dedicated/v2/ref.yml
  api-docs/influxdb3/cloud-serverless/v2/ref.yml
  api-docs/influxdb3/clustered/management/openapi.yml
  api-docs/influxdb3/clustered/v2/ref.yml
  api-docs/influxdb3/enterprise/v3/influxdb3-enterprise-openapi.yaml
Due: none

style(api): move Ask AI link below code block with theme-aware styling
  assets/styles/layouts/_api-code-samples.scss
  layouts/partials/api/code-sample.html
Due: none

chore: update to 3.8.4
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: lint
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix: resolve high-severity dependency vulnerabilities
  package.json
  yarn.lock
Due: none

Apply suggestions from code review
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/shared/v3-core-enterprise-release-notes/_index.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: update release notes to 3.8.4 (#6915)
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Harden PR preview workflow against transient deploy/comment failures (#6919)
  .github/workflows/pr-preview.yml
Due: none

fix: resolve high-severity dependency vulnerabilities (#6916)
  package.json
  yarn.lock
Due: none
