Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

docs(enterprise): restore v1.13.1 release content
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/administration/configure/config-meta-nodes.md
  content/enterprise_influxdb/v1/administration/configure/security/enable_tls.md
  content/enterprise_influxdb/v1/administration/manage/clusters/replacing-nodes.md
  content/enterprise_influxdb/v1/tools/influx-cli/_index.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/_index.md
  content/shared/influxdb-v1/administration/monitor/measurements-internal.md
  content/shared/influxdb-v1/tools/influx-cli/use-influx-cli.md
  data/notifications.yaml
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(docs): preserve compatibility callout rendering
  .agents/instructions/content-review.md
  .agents/skills/content-editing/references/shared-content.md
  .claude/rules/content-review.md
  .github/instructions/content-review.instructions.md
  content/AGENTS.md
  content/shared/influxdb3-write-guides/http-api/compatibility-apis.md
  cypress/e2e/content/compatibility-api-callout.cy.js
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, prettier

docs(enterprise): clarify default replication factor
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
Due: deprecated-markdown-patterns

fix(influxdb3-cloud): include native v3 write guidance
  content/shared/influxdb3-write-guides/http-api/compatibility-apis.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(cloud-dedicated): hide unsupported v3 write API
  .agents/instructions/content-review.md
  .agents/skills/content-editing/SKILL.md
  .agents/skills/content-editing/references/shared-content.md
  .claude/rules/content-review.md
  .github/instructions/content-review.instructions.md
  content/AGENTS.md
  content/shared/influxdb3-write-guides/http-api/compatibility-apis.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(enterprise): correct replication factor release
  content/enterprise_influxdb/v1/about-the-project/release-notes.md
Due: deprecated-markdown-patterns

docs(enterprise): version replication factor defaults
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/query_language/manage-database.md
Due: deprecated-markdown-patterns

Apply batched suggestions from code review
  content/telegraf/controller/admin/networking.md
  content/telegraf/controller/admin/troubleshoot/database.md
Due: deprecated-markdown-patterns, telegraf-lint

Update content/telegraf/controller/admin/networking.md
  content/telegraf/controller/admin/networking.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): add Administer section with database management docs
  PLAN.md
  content/telegraf/controller/admin/_index.md
  content/telegraf/controller/admin/database/_index.md
  content/telegraf/controller/admin/database/back-up-and-restore.md
  content/telegraf/controller/admin/database/troubleshoot.md
  content/telegraf/controller/admin/monitor.md
  content/telegraf/controller/admin/networking.md
  content/telegraf/controller/admin/run-as-a-service.md
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/install/upgrade.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, telegraf-lint

docs(controller): build out networking and monitor pages
  PLAN.md
  content/telegraf/controller/admin/monitor.md
  content/telegraf/controller/admin/networking.md
  content/telegraf/controller/admin/run-as-a-service.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, telegraf-lint

docs(controller): apply cross-reference sentence convention
  PLAN.md
  content/telegraf/controller/admin/database/troubleshoot.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, telegraf-lint

docs(controller): remove operator-docs plan file
  PLAN.md
Due: lint-markdown-instructions, lint-instructions

docs(controller): extract service setup into admin/run-as-a-service
  PLAN.md
  content/telegraf/controller/admin/audit-logs/_index.md
  content/telegraf/controller/admin/monitor.md
  content/telegraf/controller/admin/run-as-a-service.md
  content/telegraf/controller/admin/troubleshoot/_index.md
  content/telegraf/controller/install/_index.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, telegraf-lint

Apply suggestion from @jstirnaman
  content/telegraf/controller/admin/monitor.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): create admin/troubleshoot section as symptom index
  PLAN.md
  content/telegraf/controller/admin/_index.md
  content/telegraf/controller/admin/database/_index.md
  content/telegraf/controller/admin/database/back-up-and-restore.md
  content/telegraf/controller/admin/monitor.md
  content/telegraf/controller/admin/secure-tls.md
  content/telegraf/controller/admin/troubleshoot/_index.md
  content/telegraf/controller/admin/troubleshoot/agents.md
  content/telegraf/controller/admin/troubleshoot/database.md
  content/telegraf/controller/admin/troubleshoot/installation.md
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/install/troubleshoot.md
  content/telegraf/controller/install/upgrade.md
  content/telegraf/controller/reference/config-options.md
  content/telegraf/controller/tokens/use.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, telegraf-lint

docs(controller): move TLS, HA, and audit logs into Administer section
  PLAN.md
  content/telegraf/controller/admin/_index.md
  content/telegraf/controller/admin/audit-logs/_index.md
  content/telegraf/controller/admin/audit-logs/enable-configure.md
  content/telegraf/controller/admin/audit-logs/view.md
  content/telegraf/controller/admin/database/_index.md
  content/telegraf/controller/admin/database/back-up-and-restore.md
  content/telegraf/controller/admin/high-availability/_index.md
  content/telegraf/controller/admin/high-availability/deploy.md
  content/telegraf/controller/admin/high-availability/load-balancing.md
  content/telegraf/controller/admin/monitor.md
  content/telegraf/controller/admin/networking.md
  content/telegraf/controller/admin/secure-tls.md
  content/telegraf/controller/authentication/ldap.md
  content/telegraf/controller/authentication/local.md
  content/telegraf/controller/authentication/oidc.md
  content/telegraf/controller/configs/use.md
  content/telegraf/controller/configs/versions.md
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/install/troubleshoot.md
  content/telegraf/controller/install/upgrade.md
  content/telegraf/controller/reference/architecture.md
  content/telegraf/controller/reference/config-options.md
  content/telegraf/controller/reference/release-notes.md
  content/telegraf/controller/settings.md
  content/telegraf/controller/telegraf-enterprise/license-enforcement.md
  content/telegraf/controller/telegraf-enterprise/manage-license.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions, telegraf-lint

docs(controller): document 1.2 heartbeat service health monitoring
  content/telegraf/controller/admin/monitor.md
  content/telegraf/controller/admin/troubleshoot/_index.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): fix broken and redirecting internal links
  content/telegraf/controller/agents/delete.md
  content/telegraf/controller/config-groups/manage.md
  content/telegraf/controller/configs/create.md
  content/telegraf/controller/users/account.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(controller): document the labels feature
  content/telegraf/controller/agents/create.md
  content/telegraf/controller/config-groups/manage.md
  content/telegraf/controller/configs/_index.md
  content/telegraf/controller/configs/update.md
  content/telegraf/controller/labels/_index.md
  content/telegraf/controller/labels/assign.md
  content/telegraf/controller/labels/manage.md
  content/telegraf/controller/settings.md
  content/telegraf/controller/telegraf-enterprise/_index.md
  static/img/telegraf/controller-labels-box.png
  static/img/telegraf/controller-labels-page.png
Due: deprecated-markdown-patterns, telegraf-lint

docs(enterprise): correct integrated Explorer docs against 3.11.5
  content/influxdb3/enterprise/visualize-data/explorer.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-get-started/setup.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(enterprise): link get-started setup to integrated Explorer
  content/shared/influxdb3-get-started/setup.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(enterprise): document integrated Explorer WASM UI in 3.11
  content/influxdb3/enterprise/visualize-data/explorer.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(explorer): add 1.10.0, 1.10.1, and 1.11.0 release notes
  content/influxdb3/explorer/release-notes/_index.md
Due: deprecated-markdown-patterns, explorer-lint

sync(client-libs): update release notes
  content/shared/influxdb-client-libraries-reference/v3/release-notes/java.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/javascript.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

sync(api): update InfluxDB OSS v2 spec
  api-docs/influxdb/v2/influxdb-oss-v2-openapi.yaml
Due: none

chore(deps): update Vale to v3.23.0
  .ci/vale/vale.sh
Due: none

Apply suggestion from @jstirnaman
  content/shared/influxdb-client-libraries-reference/v3/release-notes/javascript.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(explorer): remove duplicated version availability guide
  DOCS-VERSION-AVAILABILITY.md
Due: lint-markdown-instructions, lint-instructions

docs(explorer): bump latest patch to 1.11.0
  data/products.yml
Due: build-agent-instructions

docs(explorer): port verified integrated UI guidance
  content/influxdb3/enterprise/visualize-data/explorer.md
  content/influxdb3/explorer/_index.md
  content/influxdb3/explorer/install/_index.md
  content/influxdb3/explorer/install/docker.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-get-started/setup.md
  docs/exec-plans/2026-09-02-explorer-install-version-routing.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
