Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-markdown-content:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

Deploy preview for PR 6729 🛫
  pr-preview/pr-6729/index.html
  pr-preview/pr-6729/platform/index.html
Due: none

fix(chronograf): address review feedback in PR #6730
  content/chronograf/v1/administration/config-options.md
  content/influxdb3/cloud-dedicated/process-data/visualize/chronograf.md
Due: lint-markdown-content, cloud-dedicated-lint

Deploy preview for PR 6730 🛫
  pr-preview/pr-6730/index.html
Due: none

fix(influxdb3): format placeholders in remaining chronograf CLI examples
  content/influxdb3/cloud-serverless/process-data/visualize/chronograf.md
  content/influxdb3/clustered/process-data/visualize/chronograf.md
  content/influxdb3/core/visualize-data/chronograf.md
  content/influxdb3/enterprise/visualize-data/chronograf.md
Due: lint-markdown-content, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat: Update backup.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
Due: lint-markdown-content

Deploy preview for PR 6717 🛫
  pr-preview/pr-6717/enterprise_influxdb/v1/tools/influxd-ctl/backup/index.html
  pr-preview/pr-6717/index.html
Due: none

Claude/review pr 6730 pd m hs (#6732)
  content/chronograf/v1/administration/config-options.md
  content/influxdb3/cloud-dedicated/process-data/visualize/chronograf.md
  content/influxdb3/cloud-serverless/process-data/visualize/chronograf.md
  content/influxdb3/clustered/process-data/visualize/chronograf.md
  content/influxdb3/core/visualize-data/chronograf.md
  content/influxdb3/enterprise/visualize-data/chronograf.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6730 🛫
  pr-preview/pr-6730/chronograf/v1/administration/config-options/index.html
  pr-preview/pr-6730/index.html
  pr-preview/pr-6730/influxdb3/cloud-dedicated/process-data/visualize/chronograf/index.html
  pr-preview/pr-6730/influxdb3/cloud-serverless/process-data/visualize/chronograf/index.html
  pr-preview/pr-6730/influxdb3/clustered/process-data/visualize/chronograf/index.html
  pr-preview/pr-6730/influxdb3/core/visualize-data/chronograf/index.html
  pr-preview/pr-6730/influxdb3/enterprise/visualize-data/chronograf/index.html
Due: none

docs(influxdb3): improve Chronograf prerequisites and add placeholder descriptions
  content/chronograf/v1/administration/config-options.md
  content/influxdb3/cloud-dedicated/process-data/visualize/chronograf.md
  content/influxdb3/cloud-dedicated/process-data/visualize/grafana.md
  content/influxdb3/cloud-dedicated/process-data/visualize/superset.md
  content/influxdb3/cloud-dedicated/process-data/visualize/tableau.md
  content/influxdb3/cloud-dedicated/visualize-data/powerbi.md
  content/influxdb3/cloud-serverless/process-data/visualize/chronograf.md
  content/influxdb3/cloud-serverless/process-data/visualize/grafana.md
  content/influxdb3/cloud-serverless/process-data/visualize/superset.md
  content/influxdb3/cloud-serverless/process-data/visualize/tableau.md
  content/influxdb3/cloud-serverless/visualize-data/powerbi.md
  content/influxdb3/clustered/process-data/visualize/chronograf.md
  content/influxdb3/clustered/process-data/visualize/grafana.md
  content/influxdb3/clustered/process-data/visualize/superset.md
  content/influxdb3/clustered/process-data/visualize/tableau.md
  content/influxdb3/clustered/visualize-data/powerbi.md
  content/influxdb3/core/visualize-data/chronograf.md
  content/influxdb3/core/visualize-data/grafana.md
  content/influxdb3/core/visualize-data/powerbi.md
  content/influxdb3/core/visualize-data/superset.md
  content/influxdb3/core/visualize-data/tableau.md
  content/influxdb3/enterprise/visualize-data/chronograf.md
  content/influxdb3/enterprise/visualize-data/grafana.md
  content/influxdb3/enterprise/visualize-data/powerbi.md
  content/influxdb3/enterprise/visualize-data/superset.md
  content/influxdb3/enterprise/visualize-data/tableau.md
  content/shared/influxdb3-visualize/powerbi.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6731 🛫
  pr-preview/pr-6731/chronograf/v1/administration/config-options/index.html
  pr-preview/pr-6731/index.html
  pr-preview/pr-6731/influxdb3/cloud-dedicated/process-data/visualize/grafana/index.html
  pr-preview/pr-6731/influxdb3/cloud-dedicated/process-data/visualize/superset/index.html
  pr-preview/pr-6731/influxdb3/cloud-dedicated/process-data/visualize/tableau/index.html
  pr-preview/pr-6731/influxdb3/cloud-dedicated/visualize-data/powerbi/index.html
  pr-preview/pr-6731/influxdb3/cloud-serverless/process-data/visualize/grafana/index.html
  pr-preview/pr-6731/influxdb3/cloud-serverless/process-data/visualize/superset/index.html
  pr-preview/pr-6731/influxdb3/cloud-serverless/process-data/visualize/tableau/index.html
  pr-preview/pr-6731/influxdb3/cloud-serverless/visualize-data/powerbi/index.html
  pr-preview/pr-6731/influxdb3/clustered/process-data/visualize/grafana/index.html
  pr-preview/pr-6731/influxdb3/clustered/process-data/visualize/superset/index.html
  pr-preview/pr-6731/influxdb3/clustered/process-data/visualize/tableau/index.html
  pr-preview/pr-6731/influxdb3/clustered/visualize-data/powerbi/index.html
  pr-preview/pr-6731/influxdb3/core/visualize-data/grafana/index.html
  pr-preview/pr-6731/influxdb3/core/visualize-data/powerbi/index.html
  pr-preview/pr-6731/influxdb3/enterprise/visualize-data/grafana/index.html
  pr-preview/pr-6731/influxdb3/enterprise/visualize-data/powerbi/index.html
Due: none

fix(influxdb3): correct database token link paths in Chronograf placeholder descriptions
  content/influxdb3/cloud-dedicated/process-data/visualize/chronograf.md
  content/influxdb3/clustered/process-data/visualize/chronograf.md
Due: lint-markdown-content, cloud-dedicated-lint, clustered-lint

Replace inline img tags with img-hd shortcode in Chronograf docs (#6731)
  content/chronograf/v1/administration/config-options.md
  content/influxdb3/cloud-dedicated/process-data/visualize/chronograf.md
  content/influxdb3/cloud-dedicated/process-data/visualize/grafana.md
  content/influxdb3/cloud-dedicated/process-data/visualize/superset.md
  content/influxdb3/cloud-dedicated/process-data/visualize/tableau.md
  content/influxdb3/cloud-dedicated/visualize-data/powerbi.md
  content/influxdb3/cloud-serverless/process-data/visualize/chronograf.md
  content/influxdb3/cloud-serverless/process-data/visualize/grafana.md
  content/influxdb3/cloud-serverless/process-data/visualize/superset.md
  content/influxdb3/cloud-serverless/process-data/visualize/tableau.md
  content/influxdb3/cloud-serverless/visualize-data/powerbi.md
  content/influxdb3/clustered/process-data/visualize/chronograf.md
  content/influxdb3/clustered/process-data/visualize/grafana.md
  content/influxdb3/clustered/process-data/visualize/superset.md
  content/influxdb3/clustered/process-data/visualize/tableau.md
  content/influxdb3/clustered/visualize-data/powerbi.md
  content/influxdb3/core/visualize-data/chronograf.md
  content/influxdb3/core/visualize-data/grafana.md
  content/influxdb3/core/visualize-data/powerbi.md
  content/influxdb3/core/visualize-data/superset.md
  content/influxdb3/core/visualize-data/tableau.md
  content/influxdb3/enterprise/visualize-data/chronograf.md
  content/influxdb3/enterprise/visualize-data/grafana.md
  content/influxdb3/enterprise/visualize-data/powerbi.md
  content/influxdb3/enterprise/visualize-data/superset.md
  content/influxdb3/enterprise/visualize-data/tableau.md
  content/shared/influxdb3-visualize/powerbi.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6730 🛫
  pr-preview/pr-6730/chronograf/v1/administration/config-options/index.html
  pr-preview/pr-6730/chronograf/v1/administration/creating-connections/index.html
  pr-preview/pr-6730/index.html
  pr-preview/pr-6730/influxdb3/cloud-dedicated/process-data/visualize/grafana/index.html
  pr-preview/pr-6730/influxdb3/cloud-dedicated/process-data/visualize/superset/index.html
  pr-preview/pr-6730/influxdb3/cloud-dedicated/process-data/visualize/tableau/index.html
  pr-preview/pr-6730/influxdb3/cloud-dedicated/visualize-data/powerbi/index.html
  pr-preview/pr-6730/influxdb3/cloud-serverless/process-data/visualize/grafana/index.html
  pr-preview/pr-6730/influxdb3/cloud-serverless/process-data/visualize/superset/index.html
  pr-preview/pr-6730/influxdb3/cloud-serverless/process-data/visualize/tableau/index.html
  pr-preview/pr-6730/influxdb3/cloud-serverless/visualize-data/powerbi/index.html
  pr-preview/pr-6730/influxdb3/clustered/process-data/visualize/grafana/index.html
  pr-preview/pr-6730/influxdb3/clustered/process-data/visualize/superset/index.html
  pr-preview/pr-6730/influxdb3/clustered/process-data/visualize/tableau/index.html
  pr-preview/pr-6730/influxdb3/clustered/visualize-data/powerbi/index.html
  pr-preview/pr-6730/influxdb3/core/visualize-data/chronograf/index.html
  pr-preview/pr-6730/influxdb3/core/visualize-data/grafana/index.html
  pr-preview/pr-6730/influxdb3/core/visualize-data/powerbi/index.html
  pr-preview/pr-6730/influxdb3/enterprise/visualize-data/grafana/index.html
  pr-preview/pr-6730/influxdb3/enterprise/visualize-data/powerbi/index.html
Due: none

refactor: organize cloud1-note shortcode into influxdb directory
  content/enterprise_influxdb/v1/_index.md
  content/influxdb/v1/_index.md
  layouts/shortcodes/influxdb/cloud1-note.html
Due: lint-markdown-content

Deploy preview for PR 6726 🛫
  pr-preview/pr-6726/index.html
  pr-preview/pr-6726/influxdb/v2/install/index.html
Due: none

feat: add Puppeteer integration for AI agent development (#6736)
  package.json
  scripts/puppeteer/.gitignore
  scripts/puppeteer/QUICK-REFERENCE.md
  scripts/puppeteer/README.md
  scripts/puppeteer/SETUP.md
  scripts/puppeteer/debug-browser.js
  scripts/puppeteer/examples/detect-issues.js
  scripts/puppeteer/examples/test-format-selector.js
  scripts/puppeteer/inspect-page.js
  scripts/puppeteer/screenshot.js
  scripts/puppeteer/utils/puppeteer-helpers.js
Due: lint-markdown-instructions, lint-instructions, prettier

feat(api): add All endpoints page and fix v2 menu warnings
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/generate-openapi-articles.ts
  cypress/e2e/content/api-reference.cy.js
  data/article_data/influxdb/cloud-v2/articles.json
  data/article_data/influxdb/cloud-v2/articles.yml
  data/article_data/influxdb/oss-v2/articles.json
  data/article_data/influxdb/oss-v2/articles.yml
  layouts/api/all-endpoints.html
  layouts/partials/api/all-endpoints-list.html
  layouts/partials/api/normalize-path.html
  layouts/partials/sidebar/api-menu-items.html
Due: prettier

style: apply prettier formatting to scripts and tests
  api-docs/scripts/dist/generate-openapi-articles.js
  cypress/e2e/content/api-reference.cy.js
  scripts/docs-cli/__tests__/editor-resolver.test.js
  scripts/docs-cli/__tests__/process-manager.test.js
  scripts/docs-cli/docs-create.js
  scripts/docs-cli/lib/editor-resolver.js
Due: prettier

fix(deps): add missing yarn.lock updates for puppeteer
  yarn.lock
Due: none

chore(deps): upgrade puppeteer to 24.35.0
  package.json
  scripts/puppeteer/inspect-page.js
  scripts/puppeteer/utils/puppeteer-helpers.js
  yarn.lock
Due: prettier

Dar 588 plugins (#6718)
  content/influxdb3/core/reference/internals/durability/_index.md
  content/influxdb3/enterprise/reference/internals/durability/_index.md
  content/shared/influxdb3-get-started/processing-engine.md
  content/shared/influxdb3-get-started/setup.md
  content/shared/influxdb3-plugins/_index.md
  package.json
  scripts/puppeteer/inspect-page.js
  scripts/puppeteer/utils/puppeteer-helpers.js
  yarn.lock
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, prettier

Update content/shared/influxdb3-admin/databases/list.md
  content/shared/influxdb3-admin/databases/list.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Add influxdb3 query parquet output example (#6735)
  content/shared/influxdb3-admin/databases/list.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

refactor: organize cloud1-note shortcode into influxdb directory (#6734)
  content/enterprise_influxdb/v1/_index.md
  content/influxdb/v1/_index.md
  layouts/shortcodes/influxdb/cloud1-note.html
Due: lint-markdown-content

Deploy preview for PR 6714 🛫
  pr-preview/pr-6714/index.html
  pr-preview/pr-6714/influxdb3/core/admin/databases/list/index.html
  pr-preview/pr-6714/influxdb3/enterprise/admin/databases/list/index.html
Due: none

Deploy preview for PR 6729 🛫
  pr-preview/pr-6729/enterprise_influxdb/v1/index.html
  pr-preview/pr-6729/index.html
  pr-preview/pr-6729/influxdb/v1/index.html
Due: none

Revise release notes for InfluxDB 3 catalog path structure
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
