Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier, v2-links, v3-core-links, v3-enterprise-links, cloud-links, telegraf-links, shared-links

lint-markdown:
  tags: lint
  run: 'docker compose run --rm --name remark-lint remark-lint --no-stdout --quiet ''{staged_files}''
  
    '

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

prettier:
  tags:
  - frontend
  - style
  run: yarn prettier {staged_files}

v2-links:
  tags: test,links,v2
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

v3-core-links:
  tags: test,links,v3
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

v3-enterprise-links:
  tags: test,links,v3
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

cloud-links:
  tags: test,links,cloud
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

telegraf-links:
  tags: test,links
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

shared-links:
  tags: test,links
  run: 'node cypress/support/run-e2e-specs.mjs --spec "cypress/e2e/content/article-links.cy.js" {staged_files}
  
    exit $?
  
    '

Update table.md
  content/shared/influxdb3-cli/create/table.md
Due: lint-markdown, shared-links

Update token.md
  content/shared/influxdb3-cli/create/token.md
Due: lint-markdown, shared-links

Update trigger.md
  content/shared/influxdb3-cli/create/trigger.md
Due: lint-markdown, shared-links

WIP: file structure
  content/influxdb3/core/process-data/processing-engine/_index.md
  content/influxdb3/core/process-data/processing-engine/plugins/_index.md
  content/influxdb3/core/process-data/processing-engine/plugins/extend-plugins.md
  content/influxdb3/core/process-data/processing-engine/processing-engine/plugins/_index.md
  content/influxdb3/core/process-data/processing-engine/processing-engine/plugins/extend-plugins.md
  content/influxdb3/enterprise/process-data/processing-engine/_index.md
Due: lint-markdown, v3-core-links, v3-enterprise-links

chore(test): Link checker should report the first broken link - Link checker should only test external links if the domains are in the allowed list
  cypress.config.js
  cypress/e2e/content/article-links.cy.js
  cypress/support/link-reporter.js
  cypress/support/run-e2e-specs.js
Due: prettier

fix(ci): Docker build command and update CONTRIBUTING.
  CONTRIBUTING.md
  lefthook.yml
  package.json
Due: none

Update content/shared/influxdb3-cli/create/token.md
  content/shared/influxdb3-cli/create/token.md
Due: lint-markdown, shared-links

Clarify table creation behavior in CLI docs; add note about automatic creation on write
  content/shared/influxdb3-cli/create/database.md
  content/shared/influxdb3-cli/create/last_cache.md
  content/shared/influxdb3-cli/create/table.md
  static/img/influxdb3/cloud-dedicated-admin-ui-create-table-custom-partitioning 2.png
  static/img/influxdb3/cloud-dedicated-admin-ui-create-table-default 2.png
Due: lint-markdown, shared-links

Fix pytest.mark.skip rendering issue in SHOW TABLES example output block
  content/shared/influxdb3-cli/create/table.md
Due: lint-markdown, shared-links

updating verification example to be more precise
  content/shared/influxdb3-cli/create/table.md
Due: lint-markdown, shared-links

minor update to table.md
  content/shared/influxdb3-cli/create/table.md
Due: lint-markdown, shared-links

resolving lint check warning
  content/shared/influxdb3-cli/create/table.md
Due: lint-markdown, shared-links

Clarify token usage instructions and reinforce one-time visibility
  content/shared/influxdb3-cli/create/token.md
Due: lint-markdown, shared-links

End-to-end testing, CI script, and JavaScript QoL improvements:
  .gitignore
  .husky/_/serve
  .nvmrc
  CONTRIBUTING.md
  assets/js/index.js
  assets/js/main.js
  assets/jsconfig.json
  cypress.config.js
  cypress/e2e/content/article-links.cy.js
  cypress/plugins/index.js
  cypress/support/e2e.js
  cypress/support/hugo-server.js
  cypress/support/link-reporter.js
  cypress/support/map-files-to-urls.js
  cypress/support/map-files-to-urls.mjs
  cypress/support/run-e2e-specs.js
  eslint.config.mjs
  hugo.testing.yml
  hugo.yml
  layouts/partials/header/javascript.html
  lefthook.yml
  package.json
  yarn.lock
Due: prettier

chore(test): e2e test improvements:
  cypress.config.js
  cypress/e2e/content/article-links.cy.js
  cypress/support/link-reporter.js
  cypress/support/run-e2e-specs.js
  package.json
Due: prettier

fix(example): Bad link
  content/example.md
Due: lint-markdown

Update layouts/index.html
  layouts/index.html
Due: none

Update content/shared/influxdb3-cli/create/distinct_cache.md
  content/shared/influxdb3-cli/create/distinct_cache.md
Due: lint-markdown, shared-links

Update content/shared/influxdb3-cli/create/table.md
  content/shared/influxdb3-cli/create/table.md
Due: lint-markdown, shared-links

fix(layout): Missing closing paren
  layouts/index.html
Due: none

Apply suggestions from code review
  content/shared/influxdb3-cli/create/table.md
Due: lint-markdown, shared-links

fix: broken links and formatting, missing Management API ReDoc security section for auth types
  api-docs/influxdb3/cloud-dedicated/management/openapi.yml
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  content/influxdb3/core/query-data/execute-queries/influxdb3-cli.md
  content/influxdb3/enterprise/query-data/execute-queries/influxdb3-cli.md
  content/shared/influxdb-client-libraries-reference/flight/csharp-flight.md
  content/shared/influxdb-client-libraries-reference/flight/go-flight.md
  content/shared/influxdb-client-libraries-reference/flight/java-flightsql.md
  content/shared/influxdb-client-libraries-reference/flight/python-flight.md
  content/shared/influxdb-client-libraries-reference/flight/python-flightsql-dbapi.md
  content/shared/influxdb3-write-guides/troubleshoot.md
Due: lint-markdown, v3-core-links, v3-enterprise-links, shared-links

chore(hugo): Update shortcodes and templates to avoid calling isset on <nil>
  layouts/_default/page-list.json
  layouts/partials/article/flux-contrib.html
  layouts/partials/article/flux-experimental.html
  layouts/partials/article/tags.html
  layouts/partials/header/title.html
  layouts/partials/sidebar/nested-menu.html
  layouts/shortcodes/children.html
  layouts/shortcodes/icon.html
  layouts/shortcodes/nav-icon.html
Due: none

WIP: Removed unused home-interactions.js
  assets/js/home-interactions.js
Due: prettier

fix(theme-switch): ThemeSwitch() should pass the component when calling Theme().
  assets/js/theme-switch.js
Due: prettier

WIP: removed remaining scripts from footer/javascript.html. Migrated to components and utilities. Conditionally imports Mermaid if page has a diagram.
  assets/js/components/diagram.js
  assets/js/datetime.js
  assets/js/flux-group-keys.js
  assets/js/main.js
  assets/js/release-toc.js
  layouts/partials/footer/javascript.html
  layouts/shortcodes/diagram.html
  layouts/shortcodes/flux/group-key-demo.html
  layouts/shortcodes/release-toc.html
Due: prettier

Improve DocSearch loading
  assets/js/components/doc-search.js
  assets/js/main.js
  assets/js/utils/search-interactions.js
  layouts/partials/footer/search.html
Due: prettier

hotfix(clustered): fix product name and remove dupe file
  content/influxdb3/clustered/admin/tokens/database/revoke 2.md
  content/influxdb3/clustered/admin/tokens/database/revoke.md
Due: lint-markdown

Path conditions:
  lint-markdown: any of: content/*.md
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
  v2-links: any of: content/influxdb/v2/**/*.{md,html}
  v3-core-links: any of: content/influxdb3/core/**/*.{md,html}
  v3-enterprise-links: any of: content/influxdb3/enterprise/**/*.{md,html}
  cloud-links: any of: content/influxdb/{cloud,cloud-dedicated,cloud-serverless}/**/*.{md,html}
  telegraf-links: any of: content/telegraf/**/*.{md,html}
  shared-links: any of: content/shared/**/*.{md,html}
