Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

Chore: update dependencies and fix frontmatter (#6556)
  content/influxdb/v1/guides/query_data.md
  content/influxdb/v2/reference/cli/influx/auth/_index.md
  content/influxdb/v2/reference/cli/influx/bucket/_index.md
  content/influxdb/v2/reference/cli/influxd/recovery/user/_index.md
  content/influxdb3/cloud-dedicated/process-data/visualize/chronograf.md
  content/influxdb3/cloud-serverless/process-data/visualize/chronograf.md
  content/influxdb3/clustered/install/set-up-cluster/configure-cluster/directly.md
  content/influxdb3/clustered/process-data/visualize/chronograf.md
  content/platform/monitoring/influxdata-platform/monitoring-dashboards.md
  package.json
  yarn.lock
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, v2-lint

feat(llms): consolidate Lambda@Edge markdown generator into docs-v2
  .gitignore
  DOCS-DEPLOYING.md
  DOCS-TESTING.md
  deploy/llm-markdown/README.md
  deploy/llm-markdown/lambda-edge/markdown-generator/config.sh
  deploy/llm-markdown/lambda-edge/markdown-generator/create-iam-role.sh
  deploy/llm-markdown/lambda-edge/markdown-generator/deploy.sh
  deploy/llm-markdown/lambda-edge/markdown-generator/index.js
  deploy/llm-markdown/lambda-edge/markdown-generator/lib/s3-utils.js
  deploy/llm-markdown/lambda-edge/markdown-generator/package.json
  deploy/llm-markdown/lambda-edge/markdown-generator/yarn.lock
  package.json
  scripts/html-to-markdown.js
  scripts/lib/markdown-converter.js
Due: lint-markdown-instructions, lint-instructions, prettier

feat(llms): implement LLM-friendly documentation formats
  .gitignore
  assets/styles/layouts/_landing.scss
  config/_default/hugo.yml
  deploy/llm-markdown/README.md
  deploy/llm-markdown/lambda-edge/markdown-generator/deploy.sh
  deploy/llm-markdown/lambda-edge/markdown-generator/index.js
  deploy/llm-markdown/lambda-edge/markdown-generator/lib/s3-utils.js
  deploy/llm-markdown/lambda-edge/markdown-generator/package.json
  deploy/llm-markdown/lambda-edge/markdown-generator/yarn.lock
  layouts/_default/landing-influxdb.html
  layouts/_default/landing-influxdb.llmstxt.txt
  layouts/_default/section.llms.txt
  layouts/index.llms.txt
  layouts/index.llmstxt.txt
  scripts/lib/markdown-converter.js
Due: lint-markdown-instructions, lint-instructions, prettier

docs: fix dedicated admin ui doc adjustments
  content/influxdb3/cloud-dedicated/admin/account/_index.md
  content/influxdb3/cloud-dedicated/admin/databases/create.md
  content/influxdb3/cloud-dedicated/admin/databases/delete.md
  content/influxdb3/cloud-dedicated/admin/tokens/database/list.md
  content/influxdb3/cloud-dedicated/admin/tokens/database/revoke.md
  content/influxdb3/cloud-dedicated/admin/tokens/database/update.md
  content/influxdb3/cloud-dedicated/admin/tokens/management/create.md
  content/influxdb3/cloud-dedicated/admin/tokens/management/revoke.md
  layouts/shortcodes/admin-ui-access.html
Due: lint-markdown-content, cloud-dedicated-lint

merge identity version under one heading
  content/influxdb3/cloud-dedicated/admin/identify-version.md
Due: lint-markdown-content, cloud-dedicated-lint

docs: fix links in one location shortcode does not work
  content/influxdb3/cloud-dedicated/admin/account/_index.md
Due: lint-markdown-content, cloud-dedicated-lint

chore: remove extra space from editor in admin ui access layout shortcode
  layouts/shortcodes/admin-ui-access.html
Due: none

fix: dedicated docs adjustments (#6562)
  content/influxdb3/cloud-dedicated/admin/account/_index.md
  content/influxdb3/cloud-dedicated/admin/databases/create.md
  content/influxdb3/cloud-dedicated/admin/databases/delete.md
  content/influxdb3/cloud-dedicated/admin/identify-version.md
  content/influxdb3/cloud-dedicated/admin/tokens/database/list.md
  content/influxdb3/cloud-dedicated/admin/tokens/database/revoke.md
  content/influxdb3/cloud-dedicated/admin/tokens/database/update.md
  content/influxdb3/cloud-dedicated/admin/tokens/management/create.md
  content/influxdb3/cloud-dedicated/admin/tokens/management/revoke.md
Due: lint-markdown-content, cloud-dedicated-lint

feat(llms): LLM-friendly Markdown, ChatGPT and Claude links.
  .circleci/config.yml
  .claude/settings.json
  .gitignore
  .s3deploy.yml
  DOCS-DEPLOYING.md
  DOCS-TESTING.md
  assets/js/ask-ai.ts
  assets/js/components/format-selector.ts
  assets/js/main.js
  assets/js/page-context.ts
  assets/js/utils/node-shim.ts
  assets/js/utils/product-mappings.ts
  assets/styles/components/_format-selector.scss
  assets/styles/layouts/_landing.scss
  assets/styles/styles-default.scss
  config/_default/hugo.yml
  cypress/e2e/content/influxdb-version-detector.cy.js
  cypress/e2e/content/llm-format-selector.cy.js
  cypress/e2e/content/markdown-content-validation.cy.js
  cypress/e2e/content/page-context.cy.js
  deploy/llm-markdown/README.md
  deploy/llm-markdown/lambda-edge/markdown-generator/config.sh
  deploy/llm-markdown/lambda-edge/markdown-generator/create-iam-role.sh
  deploy/llm-markdown/lambda-edge/markdown-generator/deploy.sh
  deploy/llm-markdown/lambda-edge/markdown-generator/index.js
  deploy/llm-markdown/lambda-edge/markdown-generator/lib/s3-utils.js
  deploy/llm-markdown/lambda-edge/markdown-generator/package.json
  deploy/llm-markdown/lambda-edge/markdown-generator/yarn.lock
  layouts/_default/LLMS-TXT-README.md
  layouts/_default/landing-influxdb.html
  layouts/_default/landing-influxdb.llmstxt.txt
  layouts/index.llmstxt.txt
  layouts/partials/article.html
  layouts/partials/article/format-selector.html
  layouts/section/landing-influxdb.llms.txt
  package.json
  scripts/README.md
  scripts/html-to-markdown.js
  scripts/lib/markdown-converter.js
  yarn.lock
Due: eslint-debug-check, lint-markdown-instructions, lint-instructions, build-typescript, prettier, lint-js

chore: update v0 management API with new max columns per table default
  api-docs/influxdb3/cloud-dedicated/management/openapi.yml
Due: none

feat(llms): Add build-time LLM-friendly Markdown generation
  .circleci/config.yml
  DOCS-DEPLOYING.md
  deploy/llm-markdown/README.md
  deploy/llm-markdown/lambda-edge/markdown-generator/config.sh
  deploy/llm-markdown/lambda-edge/markdown-generator/create-iam-role.sh
  deploy/llm-markdown/lambda-edge/markdown-generator/deploy.sh
  deploy/llm-markdown/lambda-edge/markdown-generator/index.js
  deploy/llm-markdown/lambda-edge/markdown-generator/lib/s3-utils.js
  deploy/llm-markdown/lambda-edge/markdown-generator/package.json
  deploy/llm-markdown/lambda-edge/markdown-generator/yarn.lock
  package.json
  scripts/build-llm-markdown.js
  scripts/deploy-staging.sh
  scripts/html-to-markdown.js
  scripts/lib/markdown-converter.cjs
  yarn.lock
Due: lint-markdown-instructions, lint-instructions, prettier

fix(vale): reduce false positives in Google.Quotes and Vale.Terms rules
  .ci/vale/styles/Google/Quotes.yml
  .ci/vale/styles/config/vocabularies/InfluxDataDocs/accept.txt
Due: none

fix(vale): reduce false positives in Google.Quotes and Vale.Terms rules (#6564)
  .ci/vale/styles/Google/Quotes.yml
  .ci/vale/styles/config/vocabularies/InfluxDataDocs/accept.txt
Due: none

Add Invocation metric to telemetry documentation (#6566)
  content/shared/influxdb3-reference/telemetry.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(influxdb3): Bump Core/Ent3 to 3.7.0
  data/products.yml
Due: build-agent-instructions

chore(influxdb3): Bump Core/Ent3 to 3.7.0 (#6568)
  data/products.yml
Due: build-agent-instructions

chore: Standard exclude comment format to denote flags, options, etc. that shouldn't be promoted in docs
  DOCS-CONTRIBUTING.md
Due: lint-markdown-instructions, lint-instructions

chore: exclude internal flags
  content/influxdb3/core/reference/cli/influxdb3/serve.md
Due: lint-markdown-content, core-lint

feat(api): add missing endpoints for InfluxDB 3.7 API
  api-docs/influxdb3/core/v3/content/info.yml
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/content/info.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  api-docs/openapi/plugins/decorators/operations/remove-internal-operations.cjs
  api-docs/openapi/plugins/docs-plugin.cjs
  package.json
Due: none

Fix typos
  content/telegraf/v1/input-plugins/knx_listener/_index.md
  content/telegraf/v1/input-plugins/turbostat/_index.md
Due: lint-markdown-content, telegraf-lint

chore: Add docs:exclude comments for internal CLI flags, fix linting
  .prettierignore
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/create/database.md
  content/shared/influxdb3-cli/create/table.md
  content/shared/influxdb3-cli/create/trigger.md
  content/shared/influxdb3-cli/delete/database.md
  content/shared/influxdb3-cli/delete/table.md
  content/shared/influxdb3-cli/delete/trigger.md
  content/shared/influxdb3-cli/install/package.md
  lefthook.yml
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix: cleanup escaping
  content/influxdb3/core/reference/cli/influxdb3/serve.md
Due: lint-markdown-content, core-lint

Update content/telegraf/v1/input-plugins/dpdk/_index.md
  content/telegraf/v1/input-plugins/dpdk/_index.md
Due: lint-markdown-content, telegraf-lint

Update content/telegraf/v1/input-plugins/haproxy/_index.md
  content/telegraf/v1/input-plugins/haproxy/_index.md
Due: lint-markdown-content, telegraf-lint

feat(api): add missing endpoints for InfluxDB 3.7 API (#6569)
  api-docs/influxdb3/core/v3/content/info.yml
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/content/info.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  api-docs/openapi/plugins/decorators/operations/remove-internal-operations.cjs
  api-docs/openapi/plugins/docs-plugin.cjs
  package.json
Due: none

Update content/telegraf/v1/input-plugins/http_listener_v2/_index.md
  content/telegraf/v1/input-plugins/http_listener_v2/_index.md
Due: lint-markdown-content, telegraf-lint

Update content/telegraf/v1/input-plugins/intel_pmu/_index.md
  content/telegraf/v1/input-plugins/intel_pmu/_index.md
Due: lint-markdown-content, telegraf-lint

Update content/telegraf/v1/input-plugins/ldap/_index.md
  content/telegraf/v1/input-plugins/ldap/_index.md
Due: lint-markdown-content, telegraf-lint

Update content/influxdb3/cloud-serverless/query-data/troubleshoot-and-optimize/troubleshoot.md
  content/influxdb3/cloud-serverless/query-data/troubleshoot-and-optimize/troubleshoot.md
Due: lint-markdown-content, cloud-serverless-lint

[WIP] Fix path issue with edit this page functionality (#6567)
  content/influxdb3/cloud-dedicated/process-data/visualize/grafana.md
  content/influxdb3/cloud-serverless/process-data/visualize/grafana.md
  content/influxdb3/clustered/process-data/visualize/grafana.md
  content/influxdb3/core/visualize-data/grafana.md
  content/influxdb3/enterprise/visualize-data/grafana.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

[WIP] Fix serverless links to unsupported system queries page (#6565)
  content/influxdb3/cloud-serverless/query-data/troubleshoot-and-optimize/troubleshoot.md
Due: lint-markdown-content, cloud-serverless-lint

Note excluded internal-use options (#6571)
  .prettierignore
  DOCS-CONTRIBUTING.md
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/create/database.md
  content/shared/influxdb3-cli/create/table.md
  content/shared/influxdb3-cli/create/trigger.md
  content/shared/influxdb3-cli/delete/database.md
  content/shared/influxdb3-cli/delete/table.md
  content/shared/influxdb3-cli/delete/trigger.md
  content/shared/influxdb3-cli/install/package.md
  lefthook.yml
Due: lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat: Add Rust HTML-to-Markdown prototype
  scripts/prototypes/rust-markdown/.gitignore
  scripts/prototypes/rust-markdown/Cargo.lock
  scripts/prototypes/rust-markdown/Cargo.toml
  scripts/prototypes/rust-markdown/README.md
  scripts/prototypes/rust-markdown/benchmark-comparison.js
  scripts/prototypes/rust-markdown/src/main.rs
Due: lint-markdown-instructions, lint-instructions, prettier

fix: update compact-throughput default values, closes influxdata/DAR#568
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/influxdb/v1/administration/config.md
Due: lint-markdown-content

fix: update compact-throughput default values, closes influxdata/DAR#568 (#6573)
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/influxdb/v1/administration/config.md
Due: lint-markdown-content

fix: updates write reponses, suggests exponential backoffs, closes influxdata/DAR#557
  api-docs/influxdb3/cloud-dedicated/v1-compatibility/swaggerV1Compat.yml
  api-docs/influxdb3/cloud-dedicated/v2/ref.yml
  api-docs/influxdb3/clustered/v1-compatibility/swaggerV1Compat.yml
  api-docs/influxdb3/clustered/v2/ref.yml
  content/shared/influxdb3-write-guides/troubleshoot-distributed.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint
