Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

sync(client-libs): update release notes
  content/shared/influxdb-client-libraries-reference/v3/release-notes/javascript.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): correct catalog-sync-interval default to 1s
  content/shared/influxdb3-admin/node-lifecycle.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/stop/node.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): split duplicate-points content by purpose
  content/influxdb3/cloud-dedicated/reference/data-model.md
  content/influxdb3/cloud-dedicated/write-data/best-practices/duplicate-points.md
  content/influxdb3/cloud-dedicated/write-data/best-practices/optimize-writes.md
  content/influxdb3/cloud-dedicated/write-data/best-practices/schema-design.md
  content/influxdb3/cloud-serverless/query-data/execute-queries/data-explorer.md
  content/influxdb3/cloud-serverless/reference/data-model.md
  content/influxdb3/cloud-serverless/write-data/best-practices/duplicate-points.md
  content/influxdb3/cloud-serverless/write-data/best-practices/schema-design.md
  content/influxdb3/cloud/reference/data-model.md
  content/influxdb3/clustered/install/optimize-cluster/design-schema.md
  content/influxdb3/clustered/reference/data-model.md
  content/influxdb3/clustered/write-data/best-practices/duplicate-points.md
  content/influxdb3/clustered/write-data/best-practices/optimize-writes.md
  content/influxdb3/clustered/write-data/best-practices/schema-design.md
  content/influxdb3/core/reference/data-model.md
  content/influxdb3/core/write-data/best-practices/duplicate-points.md
  content/influxdb3/enterprise/reference/data-model.md
  content/influxdb3/enterprise/write-data/best-practices/duplicate-points.md
  content/shared/influxdb3-reference/data-model.md
  content/shared/influxdb3-write-guides/best-practices/duplicate-points.md
  content/shared/influxdb3-write-guides/best-practices/schema-design.md
  content/shared/influxdb3-write-guides/troubleshoot-distributed.md
  content/shared/influxdb3-write-guides/troubleshoot.md
  content/shared/v3-line-protocol.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(ui): use the selected local date in the sample data date picker
  assets/js/custom-timestamps.js
  content/influxdb3/cloud-serverless/get-started/write.md
  cypress/e2e/content/custom-timestamps.cy.js
Due: deprecated-markdown-patterns, eslint-debug-check, cloud-serverless-lint, prettier, lint-js

docs(influxdb3): fix 3.12 docs against origin/3.12 source review
  content/influxdb3/enterprise/admin/databases/enforce-schema.md
  content/influxdb3/enterprise/admin/distributed-compaction.md
  content/influxdb3/enterprise/admin/explorer-ui.md
  content/influxdb3/enterprise/admin/processing-engine-cluster.md
  content/influxdb3/enterprise/admin/security/manage-users.md
  content/influxdb3/enterprise/admin/tokens/resource/create.md
  content/influxdb3/enterprise/reference/cli/influxdb3/import/upload.md
  content/influxdb3/enterprise/reference/internals/rbac.md
  content/shared/influxdb3-admin/tables/update.md
  content/shared/influxdb3-admin/upgrade.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/create/trigger.md
  content/shared/influxdb3-cli/debug/_index.md
  content/shared/influxdb3-cli/debug/sweep/list.md
  content/shared/influxdb3-cli/debug/sweep/report.md
  content/shared/influxdb3-cli/debug/verify-references.md
  content/shared/influxdb3-cli/update/table/_index.md
  content/shared/influxdb3-plugins/_index.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(openapi): update Core and Enterprise specs to v3.12.0
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

fix(influxdb3): upgraded storage engine is the Enterprise default, not optional
  content/influxdb3/core/reference/internals/storage-engine.md
Due: deprecated-markdown-patterns, core-lint

fix(influxdb3): query concurrency limit route is GET/PUT/DELETE, Enterprise only
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): node-id-from-env in Core; recovery bind env _ADDR; preemptive-cache-age Enterprise-only
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): note live verification for query concurrency limit route
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): remove duplicate webui-session-secret section
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): keep the Explorer visualize page on visualization
  content/influxdb3/enterprise/admin/explorer-ui.md
  content/influxdb3/enterprise/visualize-data/explorer.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-get-started/setup.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): explain what the Explorer session secret does
  content/influxdb3/enterprise/admin/explorer-ui.md
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): split schema mode docs by product
  content/shared/influxdb3-admin/databases/create.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): version-gate Explorer UI user auth at v3.12
  content/influxdb3/enterprise/admin/explorer-ui.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(influxdb3): verify and correct explicit schema behavior
  content/influxdb3/enterprise/admin/databases/enforce-schema.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(influxdb3): port 3.12 handoff to Core and Enterprise docs
  content/influxdb3/enterprise/admin/databases/enforce-schema.md
  content/influxdb3/enterprise/admin/import-data.md
  content/influxdb3/enterprise/admin/tokens/resource/create.md
  content/influxdb3/enterprise/reference/storage-engine-config-options.md
  content/shared/influxdb3-admin/tables/update.md
  content/shared/influxdb3-cli/install/package.md
  content/shared/influxdb3-plugins/_index.md
  content/shared/influxdb3-plugins/python-api-reference.md
  content/shared/influxdb3-write-guides/http-api/compatibility-apis.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): remove rebase leftovers in webui and concurrency options
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(explorer): add 1.10.0, 1.10.1, and 1.11.0 release notes
  content/influxdb3/explorer/release-notes/_index.md
Due: deprecated-markdown-patterns, explorer-lint

docs(explorer): bump latest patch to 1.11.0
  data/products.yml
Due: build-agent-instructions

docs(influxdb3_ui): Explorer restructure for Enterprise WASM integration (#7788)
  content/influxdb3/enterprise/visualize-data/explorer.md
  content/influxdb3/explorer/_index.md
  content/influxdb3/explorer/about/_index.md
  content/influxdb3/explorer/get-started.md
  content/influxdb3/explorer/install/_index.md
  content/influxdb3/explorer/install/docker.md
  content/influxdb3/explorer/manage-databases.md
  content/influxdb3/explorer/manage-tokens.md
  content/influxdb3/explorer/release-notes/_index.md
  docs/exec-plans/2026-09-02-explorer-install-version-routing.md
  docs/exec-plans/2026-09-02-explorer-v110-release-readiness.md
Due: deprecated-markdown-patterns, enterprise-lint, explorer-lint

sync(plugins): update InfluxDB 3 plugin documentation
  content/shared/influxdb3-plugins/plugins-library/official/geo-enrichment.md
  content/shared/influxdb3-plugins/plugins-library/official/import.md
  content/shared/influxdb3-plugins/plugins-library/official/prophet-forecasting.md
  content/shared/influxdb3-plugins/plugins-library/official/schema-validator.md
  content/shared/influxdb3-plugins/plugins-library/official/signal-filter.md
  content/shared/influxdb3-plugins/plugins-library/official/system-metrics.md
  data/influxdb3_plugins.yml
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(enterprise): qualify Explorer access control by user auth
  content/influxdb3/enterprise/admin/explorer-ui.md
Due: deprecated-markdown-patterns, enterprise-lint

docs(explorer): qualify token guidance by user authentication
  content/influxdb3/explorer/get-started.md
Due: deprecated-markdown-patterns, explorer-lint

docs(explorer): point integrated-UI links at the admin setup page
  content/influxdb3/explorer/_index.md
  content/influxdb3/explorer/get-started.md
  content/influxdb3/explorer/install/_index.md
  content/influxdb3/explorer/install/docker.md
Due: deprecated-markdown-patterns, explorer-lint

docs(openapi): update Core and Enterprise specs to v3.12.0 (#7820)
  api-docs/influxdb3/core/influxdb3-core-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

fix(explorer): correct integrated UI persistence link
  content/influxdb3/enterprise/admin/explorer-ui.md
Due: deprecated-markdown-patterns, enterprise-lint

chore(explorer): remove release execution plans
  docs/exec-plans/2026-09-02-explorer-install-version-routing.md
  docs/exec-plans/2026-09-02-explorer-v110-release-readiness.md
Due: none

docs(influxdb3): finalize 3.12 release notes, banners, and versions
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/notifications.yaml
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(notifications): keep banners short; clarify 3.12 rollback callout
  assets/styles/layouts/_notifications.scss
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/notifications.yaml
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(claude): enable docs-skills plugin for project contributors
  .claude/settings.json
Due: none

fix(influxdb3): make legacy catalog checkpoint optional in backup scripts
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): document 3.12 catalog backup and rollback for operators
  content/shared/influxdb3-admin/backup-restore.md
  content/shared/influxdb3-admin/upgrade.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): pull 3.12.0 Docker images from Quay until Docker Hub publishes
  content/shared/influxdb3/install.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): restore Docker Hub install steps; add Quay as a tip
  content/shared/influxdb3/install.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint
