Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, cloud-pytest, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest, telegraf-pytest, v2-pytest, prettier

lefthook.yml:

#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit
pre-commit:
  parallel: true 
  commands:
    cloud-lint:
      tags: lint,v2
      glob: "content/influxdb/cloud/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-dedicated-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-dedicated/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-dedicated/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-serverless-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-serverless/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    clustered-lint:
      tags: lint,v3
      glob: "content/influxdb/clustered/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    telegraf-lint:
      tags: lint,clients 
      glob: "content/telegraf/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    v2-lint:
      tags: lint,v2
      glob: "content/influxdb/v2/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/v2/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-pytest:
      glob: content/influxdb/cloud/**/*.md
      tags: test,codeblocks,v2
      env:
        - SERVICE: cloud-pytest
      run: docker compose run $SERVICE '{staged_files}'
    cloud-dedicated-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-dedicated/**/*.md
      env:
        - SERVICE: cloud-dedicated-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    cloud-serverless-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-serverless/**/*.md
      env:
        - SERVICE: cloud-serverless-pytest
      run: docker compose run $SERVICE '{staged_files}'
    clustered-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/clustered/**/*.md
      env:
        - SERVICE: clustered-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    telegraf-pytest:
      tags: test,codeblocks
      glob: content/telegraf/**/*.md
      env:
        - SERVICE: telegraf-pytest
      run: docker compose run $SERVICE '{staged_files}'
    v2-pytest:
      tags: test,codeblocks,v2
      glob: content/influxdb/v2/**/*.md
      env:
        - SERVICE: v2-pytest
      run: docker compose run --rm $SERVICE '{staged_files}'
    prettier:
      tags: frontend,style
      glob: "*.{css,js,ts,jsx,tsx}"
      run: yarn prettier {staged_files}

build:
  commands:
    prune-legacy-containers:
      priority: 1
      tags: test 
      run: '(docker container ls --format "{{.ID}}"
          --filter label=tag=influxdata-docs
          --filter status=exited | xargs docker rm)
          || true'
    rebuild-test-images:
      tags: test
      run: docker compose build pytest-codeblocks

Update content/flux/v0/stdlib/timezone/location.md
  content/flux/v0/stdlib/timezone/location.md
Due: none

Update content/flux/v0/stdlib/timezone/fixed.md
  content/flux/v0/stdlib/timezone/fixed.md
Due: none

Apply suggestions from code review
  content/flux/v0/spec/options.md
  content/flux/v0/stdlib/timezone/fixed.md
  content/flux/v0/stdlib/timezone/location.md
Due: none

docs: note that `option location` does not change the timezone used in `_time` (#5702)
  content/flux/v0/spec/options.md
  content/flux/v0/stdlib/timezone/fixed.md
  content/flux/v0/stdlib/timezone/location.md
Due: none

Apply suggestions from code review
  content/influxdb/cloud-dedicated/reference/sql/functions/time-and-date.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

fix(dedicated): Get help troubleshooting and tracing queries.
  content/influxdb/cloud-dedicated/query-data/troubleshoot-and-optimize/optimize-queries.md
  content/influxdb/cloud-dedicated/query-data/troubleshoot-and-optimize/troubleshoot.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

fix(serverless): Optimize and troubleshoot queries.
  content/influxdb/cloud-serverless/admin/billing/limits.md
  content/influxdb/cloud-serverless/query-data/troubleshoot-and-optimize/optimize-queries.md
  content/influxdb/cloud-serverless/query-data/troubleshoot-and-optimize/troubleshoot.md
Due: cloud-serverless-lint, cloud-serverless-pytest

fix(clustered): Optimize and troubleshoot queries (Closes #5143 and https://github.com/influxdata/DAR/issues/453)
  content/influxdb/clustered/install/optimize-cluster/optimize-querying.md
  content/influxdb/clustered/query-data/troubleshoot-and-optimize/optimize-queries.md
  content/influxdb/clustered/query-data/troubleshoot-and-optimize/report-query-performance-issues.md
  content/influxdb/clustered/query-data/troubleshoot-and-optimize/troubleshoot.md
Due: clustered-lint, clustered-pytest

fix(serverless): Clarify Flux status, move custom partitioning note to the Optimize Queries page.
  content/influxdb/cloud-serverless/_index.md
  content/influxdb/cloud-serverless/query-data/troubleshoot-and-optimize/optimize-queries.md
Due: cloud-serverless-lint, cloud-serverless-pytest

Apply suggestions from code review
  content/influxdb/cloud-serverless/_index.md
Due: none

add a warning about lack of custom partitioning
  content/influxdb/cloud-serverless/_index.md
Due: none

updates to address PR feedback
  assets/styles/layouts/article/blocks/_caution.scss
  assets/styles/layouts/article/blocks/_important.scss
  assets/styles/layouts/article/blocks/_note.scss
  assets/styles/layouts/article/blocks/_tip.scss
  assets/styles/layouts/article/blocks/_warning.scss
  content/influxdb/cloud-dedicated/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-serverless/reference/sql/functions/time-and-date.md
  content/influxdb/clustered/reference/sql/functions/time-and-date.md
  yarn.lock
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

fixed typos
  content/influxdb/cloud-dedicated/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-serverless/reference/sql/functions/time-and-date.md
  content/influxdb/clustered/reference/sql/functions/time-and-date.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

Add new date_bin_wallclock SQL functions (#5691)
  assets/styles/layouts/article/_blocks.scss
  assets/styles/layouts/article/blocks/_caution.scss
  assets/styles/layouts/article/blocks/_important.scss
  assets/styles/layouts/article/blocks/_note.scss
  assets/styles/layouts/article/blocks/_tip.scss
  assets/styles/layouts/article/blocks/_warning.scss
  content/influxdb/cloud-dedicated/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-serverless/reference/sql/functions/time-and-date.md
  content/influxdb/clustered/reference/sql/functions/time-and-date.md
  yarn.lock
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

Fixes code block languages
  content/influxdb/v2/reference/syntax/annotated-csv/_index.md
Due: v2-lint, v2-pytest

fix: Clustered may use any PostgreSQL 13 or 14
  content/influxdb/clustered/install/set-up-cluster/prerequisites.md
Due: clustered-lint, clustered-pytest

Single-node enterprise meta node flag missing in docs? Fixes #5695
  content/enterprise_influxdb/v1/introduction/installation/meta_node_installation.md
  content/enterprise_influxdb/v1/introduction/installation/single-server.md
Due: none

fix(enterprise): code block fixes
  content/enterprise_influxdb/v1/administration/manage/clusters/rebalance.md
Due: none

hotfix: update create-operator example
  content/influxdb/v2/reference/cli/influxd/recovery/auth/create-operator.md
Due: v2-lint, v2-pytest

fix: Clustered may use any PostgreSQL 13 or 14 (#5706)
  content/influxdb/clustered/install/set-up-cluster/prerequisites.md
Due: clustered-lint, clustered-pytest

Telegraf v1.33.0
  content/telegraf/v1/release-notes.md
  data/products.yml
Due: telegraf-lint, telegraf-pytest

Updating changelog
  content/telegraf/v1/release-notes.md
Due: telegraf-lint, telegraf-pytest

Updating plugin list
  data/telegraf_plugins.yml
Due: none

add source frontmatter for importing shared content
  content/influxdb/cloud-dedicated/reference/sql/_index.md
  content/influxdb/cloud-serverless/reference/sql/_index.md
  content/influxdb/clustered/reference/sql/_index.md
  content/shared/_index.md
  content/shared/sql-reference/_index.md
  layouts/partials/article/content.html
  layouts/partials/article/feedback.html
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

updated note shortcodes to github-style alerts
  content/shared/sql-reference/data-types.md
  content/shared/sql-reference/functions/aggregate.md
  content/shared/sql-reference/functions/math.md
  content/shared/sql-reference/functions/regular-expression.md
  content/shared/sql-reference/functions/string.md
  content/shared/sql-reference/functions/time-and-date.md
  content/shared/sql-reference/having.md
  content/shared/sql-reference/join.md
  content/shared/sql-reference/operators/logical.md
  content/shared/sql-reference/order-by.md
  content/shared/sql-reference/select.md
  content/shared/sql-reference/subqueries.md
  content/shared/sql-reference/table-value-constructor.md
  content/shared/sql-reference/where.md
Due: none

docs: update all references to influxdb3-go client library to influxdb3-go/v2
  content/influxdb/cloud-dedicated/get-started/query.md
  content/influxdb/cloud-dedicated/get-started/write.md
  content/influxdb/cloud-dedicated/query-data/execute-queries/client-libraries/go.md
  content/influxdb/cloud-dedicated/query-data/influxql/parameterized-queries.md
  content/influxdb/cloud-dedicated/query-data/sql/parameterized-queries.md
  content/influxdb/cloud-dedicated/reference/client-libraries/v3/go.md
  content/influxdb/cloud-dedicated/write-data/line-protocol/client-libraries.md
  content/influxdb/cloud-serverless/get-started/query.md
  content/influxdb/cloud-serverless/get-started/write.md
  content/influxdb/cloud-serverless/query-data/execute-queries/client-libraries/go.md
  content/influxdb/cloud-serverless/query-data/influxql/parameterized-queries.md
  content/influxdb/cloud-serverless/query-data/sql/parameterized-queries.md
  content/influxdb/cloud-serverless/reference/client-libraries/v3/go.md
  content/influxdb/cloud-serverless/write-data/line-protocol/client-libraries.md
  content/influxdb/clustered/get-started/query.md
  content/influxdb/clustered/get-started/write.md
  content/influxdb/clustered/query-data/execute-queries/client-libraries/go.md
  content/influxdb/clustered/query-data/influxql/parameterized-queries.md
  content/influxdb/clustered/query-data/sql/parameterized-queries.md
  content/influxdb/clustered/reference/client-libraries/v3/go.md
  content/influxdb/clustered/write-data/line-protocol/client-libraries.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

Release Chronograf v1.10.6
  content/chronograf/v1/about_the_project/release-notes.md
  data/products.yml
Due: none

Update content/chronograf/v1/about_the_project/release-notes.md
  content/chronograf/v1/about_the_project/release-notes.md
Due: none

Release Chronograf v1.10.6 (#5714)
  content/chronograf/v1/about_the_project/release-notes.md
  data/products.yml
Due: none

Fix list_code_example formatting in python.md)
  content/influxdb/cloud-dedicated/reference/client-libraries/v3/python.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

fix: fix broken link
  content/influxdb/v2/query-data/flux/rate.md
Due: v2-lint, v2-pytest

hotfix: fix shared page github edit link
  layouts/partials/article/feedback.html
Due: none

fix: fix broken link (#5717)
  content/influxdb/v2/query-data/flux/rate.md
Due: v2-lint, v2-pytest
