Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

Deploy preview for PR 6695 🛫
  pr-preview/pr-6695/index.html
Due: none

docs(influxdb3): document log-filter values and targeted filtering (#6695)
  .gitignore
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-write-guides/troubleshoot.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore: address comments
  content/influxdb3/cloud-dedicated/admin/databases/delete.md
  content/influxdb3/cloud-dedicated/admin/databases/undelete.md
Due: lint-markdown-content, cloud-dedicated-lint

Deploy preview for PR 6700 🛫
  pr-preview/pr-6700/index.html
  pr-preview/pr-6700/influxdb3/cloud-dedicated/admin/databases/delete/index.html
  pr-preview/pr-6700/influxdb3/cloud-dedicated/admin/databases/undelete/index.html
Due: none

Deploy preview for PR 6700 🛫
  pr-preview/pr-6700/index.html
Due: none

Release Chronograf v1.10.9
  content/chronograf/v1/about_the_project/release-notes.md
  data/products.yml
Due: build-agent-instructions, lint-markdown-content

chore(skills): add Cypress E2E testing skill and update related skills
  .claude/skills/cypress-e2e-testing/SKILL.md
  .claude/skills/docs-cli-workflow/SKILL.md
  .claude/skills/hugo-template-dev/SKILL.md
Due: lint-markdown-instructions, lint-instructions

fix(api): improve RapiDoc mobile responsive layout
  assets/js/components/rapidoc-mini.ts
  assets/styles/layouts/_api-layout.scss
Due: build-typescript, prettier, lint-js

chore(skills): add Cypress E2E testing skill and update related skills (#6709)
  .claude/skills/cypress-e2e-testing/SKILL.md
  .claude/skills/docs-cli-workflow/SKILL.md
  .claude/skills/hugo-template-dev/SKILL.md
Due: lint-markdown-instructions, lint-instructions

Update content/chronograf/v1/about_the_project/release-notes.md
  content/chronograf/v1/about_the_project/release-notes.md
Due: lint-markdown-content

Deploy preview for PR 6707 🛫
  pr-preview/pr-6707/chronograf/v1/about_the_project/release-notes/index.html
  pr-preview/pr-6707/index.html
Due: none

Release Chronograf v1.10.9 (#6707)
  content/chronograf/v1/about_the_project/release-notes.md
  data/products.yml
Due: build-agent-instructions, lint-markdown-content

chore(cypress): upgrade cypress@14.5.4 (closes #6710)
  yarn.lock
Due: none

chore(cypress): upgrade cypress@14.5.4 (closes #6710) (#6711)
  yarn.lock
Due: none

feat(api): enable tag-based generation for cloud-dedicated
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

feat(api): configure cloud-serverless for tag-based API generation
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

feat(api): enable tag-based generation for clustered
  api-docs/scripts/generate-openapi-articles.ts
Due: prettier

replace catalogs for catalog as observed in a live core db data files
  content/shared/influxdb3-admin/backup-restore.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): `api/v3/configure/database` requires format
  content/shared/influxdb3-admin/databases/list.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat: add compression options to influxd-ctl backup
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
Due: lint-markdown-content

fix(influxdb3): source comments
  content/influxdb3/core/reference/internals/durability/_index.md
  content/influxdb3/enterprise/reference/internals/durability/_index.md
Due: lint-markdown-content, core-lint, enterprise-lint

docs(influxdb3): fix plugin path handling and improve Get Started clarity
  content/shared/influxdb3-get-started/processing-engine.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): Replace --plugin-filename with --path - Uses `--path` for plugins, replacing deprecated `--plugin-filename` - Replaces "Data write" with "WAL rows" to be consistent with CLI help docs
  content/shared/influxdb3-plugins/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/shared/influxdb3-get-started/processing-engine.md
  content/shared/influxdb3-get-started/processing-engine.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(influxdb3): server flags and defaults in Enterprise setup (#6716)
  content/influxdb3/enterprise/get-started/multi-server.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-get-started/setup.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): fix format in GET /api/v3/configure/database
  content/shared/influxdb3-admin/databases/list.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): `fields` is required for `influxdb3 tables create` and API
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
  content/shared/influxdb3-admin/tables/create.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat: add Puppeteer integration for AI agent development
  package.json
  scripts/puppeteer/.gitignore
  scripts/puppeteer/QUICK-REFERENCE.md
  scripts/puppeteer/README.md
  scripts/puppeteer/SETUP.md
  scripts/puppeteer/debug-browser.js
  scripts/puppeteer/examples/detect-issues.js
  scripts/puppeteer/examples/test-format-selector.js
  scripts/puppeteer/inspect-page.js
  scripts/puppeteer/screenshot.js
  scripts/puppeteer/utils/puppeteer-helpers.js
Due: lint-markdown-instructions, lint-instructions, prettier

chore(ci): add code-block testing workflow
  .github/workflows/test.yml
  package.json
Due: none

Update content/shared/influxdb3-admin/databases/list.md
  content/shared/influxdb3-admin/databases/list.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix: /etc/influxdb3 is root:influxdb3
  content/shared/influxdb3-admin/security.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint
