Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

docs(mcp): add /platform/mcp/ alias
  content/platform/mcp/server.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7449 🛫
  pr-preview/pr-7449/index.html
  pr-preview/pr-7449/platform/mcp/server/index.html
Due: none

ci(link-checker): post sticky PR comment with link check results
  .github/scripts/link-check-comment.js
  .github/scripts/test-link-check-comment.js
  .github/workflows/pr-link-check.yml
Due: prettier

fix(influxdb/v2): correct broken anchor links in release notes
  content/influxdb/v2/reference/release-notes/influxdb.md
Due: deprecated-markdown-patterns, v2-lint

fix(influxdb/v2): correct broken Flux location anchor in release notes
  content/influxdb/v2/reference/release-notes/influxdb.md
Due: deprecated-markdown-patterns, v2-lint

fix(vale): accept Telegraf and configs in shared vocabulary
  .ci/vale/styles/config/vocabularies/InfluxDataDocs/accept.txt
Due: none

ci(link-checker): close the feedback loop with known-issue downgrades and report links
  .github/ISSUE_TEMPLATE/broken-link.yml
  .github/scripts/fetch-known-link-issues.js
  .github/scripts/link-check-classify.js
  .github/scripts/link-check-comment.js
  .github/scripts/test-fetch-known-link-issues.js
  .github/scripts/test-link-check-classify.js
  .github/scripts/test-link-check-comment.js
  .github/workflows/pr-link-check.yml
Due: prettier

ci(copilot): assign Copilot coding agent when copilot:fix label is added
  .github/LABEL_GUIDE.md
  .github/scripts/assign-copilot.js
  .github/scripts/test-assign-copilot.js
  .github/workflows/assign-copilot-on-label.yml
  data/labels.yml
Due: prettier

fix(release-notes): mark /ready endpoint as Enterprise-only in v3.10.0
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(release-notes): indent continuation lines; drop internal-repo link
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

style(release-notes): match house parenthetical convention for Enterprise-only
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(release-notes): move /ready bullet from Core to Enterprise section
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7452 🛫
  pr-preview/pr-7452/index.html
  pr-preview/pr-7452/influxdb3/core/release-notes/index.html
  pr-preview/pr-7452/influxdb3/enterprise/release-notes/index.html
Due: none

fix(release-notes): move /ready endpoint to Enterprise section in v3.10.0
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

sync(client-libs): update release notes
  content/influxdb3/cloud-dedicated/reference/client-libraries/v3/go/release-notes.md
  content/influxdb3/cloud-serverless/reference/client-libraries/v3/go/release-notes.md
  content/influxdb3/clustered/reference/client-libraries/v3/go/release-notes.md
  content/influxdb3/core/reference/client-libraries/v3/go/release-notes.md
  content/influxdb3/enterprise/reference/client-libraries/v3/go/release-notes.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/go.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(docs): pad markdown table separators in LABEL_GUIDE.md
  .github/LABEL_GUIDE.md
Due: none

feat(client-libs): collapse CI changelog sections to a bullet instead of dropping them
  content/shared/influxdb-client-libraries-reference/v3/release-notes/csharp.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/go.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/java.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/javascript.md
  content/shared/influxdb-client-libraries-reference/v3/release-notes/python.md
  helper-scripts/client-libraries/README.md
  helper-scripts/client-libraries/sync-release-notes.js
  helper-scripts/client-libraries/test/fixtures/exclude-CHANGELOG.txt
  helper-scripts/client-libraries/test/fixtures/exclude-expected.txt
  helper-scripts/client-libraries/test/transform-changelog.test.js
  helper-scripts/client-libraries/transform-changelog.js
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, prettier

docs(release-notes): add v3.10.3 and v3.9.8 release notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(config-options): document compacted-data-load-concurrency-limit
  content/shared/influxdb3-cli/config-options.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7456 🛫
  pr-preview/pr-7456/index.html
  pr-preview/pr-7456/influxdb3/core/reference/config-options/index.html
  pr-preview/pr-7456/influxdb3/enterprise/reference/config-options/index.html
Due: none

docs(influxdb3-cli): add debug, import command pages; fix serve and config-options gaps
  content/influxdb3/core/reference/cli/influxdb3/_index.md
  content/influxdb3/core/reference/cli/influxdb3/debug/_index.md
  content/influxdb3/core/reference/cli/influxdb3/debug/object-store-check.md
  content/influxdb3/enterprise/reference/cli/influxdb3/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/debug/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/debug/object-store-check.md
  content/influxdb3/enterprise/reference/cli/influxdb3/import/_index.md
  content/influxdb3/enterprise/reference/cli/influxdb3/import/list.md
  content/influxdb3/enterprise/reference/cli/influxdb3/import/upload.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/shared/influxdb3-cli/config-options.md
  content/shared/influxdb3-cli/debug/_index.md
  content/shared/influxdb3-cli/debug/object-store-check.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(minio): link debug object-store-check mentions to CLI reference
  content/shared/influxdb3-admin/object-storage/minio.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7457 🛫
  pr-preview/pr-7457/index.html
  pr-preview/pr-7457/influxdb3/core/object-storage/minio/index.html
  pr-preview/pr-7457/influxdb3/enterprise/admin/object-storage/minio/index.html
Due: none

Deploy preview for PR 7457 🛫
  pr-preview/pr-7457/index.html
Due: none

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
