Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

fix: Update backup note for row-delete state capture
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7349 🛫
  pr-preview/pr-7349/index.html
  pr-preview/pr-7349/influxdb3/core/release-notes/index.html
  pr-preview/pr-7349/influxdb3/enterprise/release-notes/index.html
Due: none

Apply suggestions from code review
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

Update api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

Deploy preview for PR 7362 🛫
  pr-preview/pr-7362/index.html
  pr-preview/pr-7362/influxdb3/enterprise/api/user-management/index.html
Due: none

docs(influxdb3): 3.10 release notes + catalog migration warning (#7349)
  content/shared/influxdb3-admin/upgrade.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 7352 🛫
  pr-preview/pr-7352/index.html
Due: none

Deploy preview for PR 7360 🛫
  pr-preview/pr-7360/index.html
Due: none

docs(influxdb3): 3.10 backup & restore rewrite (#7352)
  content/shared/influxdb3-admin/backup-restore.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): add Enterprise row-level deletion guide (#7353)
  content/influxdb3/enterprise/admin/delete-data.md
Due: deprecated-markdown-patterns, enterprise-lint

Update content/shared/v3-core-enterprise-release-notes/_index.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): move Wide-tag support to Enterprise in v3.10.0 notes
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): add 3.10 release notification banners
  data/notifications.yaml
Due: none

docs(influxdb3): rename catalog v3 to catalog format upgrade, trim 3.10 banners
  content/shared/influxdb3-admin/upgrade.md
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/notifications.yaml
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3): add 3.10 release banners; rename catalog v3 to catalog format upgrade (#7368)
  content/shared/influxdb3-admin/upgrade.md
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/notifications.yaml
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(instructions): add data-ownership phrasing convention (#7357)
  .github/instructions/content.instructions.md
Due: lint-markdown-instructions, lint-instructions

fix(influxdb3): Ent 3.10 user management API reference descriptions
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
Due: none

docs(influxdb3): document 3.10 Enterprise RBAC permission limitations
  api-docs/influxdb3/enterprise/influxdb3-enterprise-openapi.yaml
  content/influxdb3/enterprise/admin/security/manage-users.md
  content/influxdb3/enterprise/reference/internals/rbac.md
  content/shared/v3-core-enterprise-release-notes/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

chore(ci): block ephemeral planning docs from master
  .claude/commands/finish.md
  .claude/commands/task-plan.md
  .claude/skills/exec-plan-writing/SKILL.md
  .github/workflows/block-ephemeral-docs.yml
  .github/workflows/cleanup-ephemeral-docs.yml
  CLAUDE.md
  docs/exec-plans/2026-05-13-influxdb3-decision-page.md
  docs/exec-plans/2026-05-14-influxdb3-decision-page-jsonld.md
  docs/exec-plans/2026-05-15-influxdb3-decision-page-discovery.md
  docs/exec-plans/2026-05-15-influxdb3-hub-landing.md
  docs/exec-plans/2026-05-21-robots-named-ai-bots.md
  docs/exec-plans/2026-05-28-techarticle-softwareapplication-jsonld.md
Due: lint-markdown-instructions, lint-instructions

Apply suggestions from code review
  .claude/commands/finish.md
Due: lint-markdown-instructions, lint-instructions

Potential fix for pull request finding
  CLAUDE.md
Due: lint-markdown-instructions, lint-instructions

chore(ci): block ephemeral planning docs from master (#7372)
  .claude/commands/finish.md
  .claude/commands/task-plan.md
  .claude/skills/exec-plan-writing/SKILL.md
  .github/workflows/block-ephemeral-docs.yml
  .github/workflows/cleanup-ephemeral-docs.yml
  CLAUDE.md
  docs/exec-plans/2026-05-13-influxdb3-decision-page.md
  docs/exec-plans/2026-05-14-influxdb3-decision-page-jsonld.md
  docs/exec-plans/2026-05-15-influxdb3-decision-page-discovery.md
  docs/exec-plans/2026-05-15-influxdb3-hub-landing.md
  docs/exec-plans/2026-05-21-robots-named-ai-bots.md
  docs/exec-plans/2026-05-28-techarticle-softwareapplication-jsonld.md
Due: lint-markdown-instructions, lint-instructions

chore(deps): resolve yarn audit findings
  config/_default/hugo.yml
  package.json
  yarn.lock
Due: none

chore(deps): resolve yarn audit findings (#7374)
  config/_default/hugo.yml
  package.json
  yarn.lock
Due: none

docs(agent): add agent harness migration plan
  docs/exec-plans/agent-harness-instructions-skills.md
Due: none

chore(agent): centralize instructions and skills
  .agents/instructions/api-docs.md
  .agents/instructions/assets.md
  .agents/instructions/content-review.md
  .agents/instructions/content.md
  .agents/instructions/layouts.md
  .agents/skills/content-editing/SKILL.md
  .agents/skills/cypress-e2e-testing/SKILL.md
  .agents/skills/docs-cli-workflow/SKILL.md
  .agents/skills/exec-plan-writing/SKILL.md
  .agents/skills/hugo-template-dev/SKILL.md
  .agents/skills/influxdb3-test-setup/SKILL.md
  .agents/skills/vale-linting/SKILL.md
  .agents/skills/vale-rule-config/SKILL.md
  .claude/rules/api-docs.md
  .claude/rules/assets.md
  .claude/rules/content-review.md
  .claude/rules/content.md
  .claude/rules/layouts.md
  .claude/skills
  .github/CODEOWNERS
  .github/INSTRUCTIONS.md
  .github/agents/copilot-instructions-agent.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  PLATFORM_REFERENCE.md
  api-docs/AGENTS.md
  assets/AGENTS.md
  content/AGENTS.md
  helper-scripts/build-agent-instructions.js
  helper-scripts/validate-agent-instructions.js
  layouts/AGENTS.md
  lefthook.yml
  package.json
Due: lint-markdown-instructions, lint-instructions, prettier

chore(agent): trim root instructions and refresh platform reference
  AGENTS.md
  PLATFORM_REFERENCE.md
  helper-scripts/build-agent-instructions.js
Due: lint-markdown-instructions, lint-instructions, prettier

fix(agent): align instruction workflows with docs tooling
  .agents/instructions/content.md
  .agents/skills/content-editing/SKILL.md
  .agents/skills/cypress-e2e-testing/SKILL.md
  .agents/skills/docs-cli-workflow/SKILL.md
  .agents/skills/hugo-template-dev/SKILL.md
  .agents/skills/influxdb3-test-setup/SKILL.md
  .agents/skills/vale-linting/SKILL.md
  .agents/skills/vale-rule-config/SKILL.md
  .claude/rules/content.md
  .github/instructions/content.instructions.md
  DOCS-CONTRIBUTING.md
  DOCS-TESTING.md
  content/AGENTS.md
  helper-scripts/build-agent-instructions.js
  package.json
  scripts/docs-cli/commands/create.js
Due: lint-markdown-instructions, lint-instructions, prettier

docs(agent): update migration plan status
  docs/exec-plans/agent-harness-instructions-skills.md
Due: none
