Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, cloud-pytest, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest, telegraf-pytest, v2-pytest, prettier

lefthook.yml:

#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit
pre-commit:
  parallel: true 
  commands:
    cloud-lint:
      tags: lint,v2
      glob: "content/influxdb/cloud/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-dedicated-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-dedicated/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-dedicated/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-serverless-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-serverless/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    clustered-lint:
      tags: lint,v3
      glob: "content/influxdb/clustered/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    telegraf-lint:
      tags: lint,clients 
      glob: "content/telegraf/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    v2-lint:
      tags: lint,v2
      glob: "content/influxdb/v2/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/v2/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-pytest:
      glob: content/influxdb/cloud/**/*.md
      tags: test,codeblocks,v2
      env:
        - SERVICE: cloud-pytest
      run: docker compose run $SERVICE '{staged_files}'
    cloud-dedicated-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-dedicated/**/*.md
      env:
        - SERVICE: cloud-dedicated-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    cloud-serverless-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-serverless/**/*.md
      env:
        - SERVICE: cloud-serverless-pytest
      run: docker compose run $SERVICE '{staged_files}'
    clustered-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/clustered/**/*.md
      env:
        - SERVICE: clustered-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    telegraf-pytest:
      tags: test,codeblocks
      glob: content/telegraf/**/*.md
      env:
        - SERVICE: telegraf-pytest
      run: docker compose run $SERVICE '{staged_files}'
    v2-pytest:
      tags: test,codeblocks,v2
      glob: content/influxdb/v2/**/*.md
      env:
        - SERVICE: v2-pytest
      run: docker compose run --rm $SERVICE '{staged_files}'
    prettier:
      tags: frontend,style
      glob: "*.{css,js,ts,jsx,tsx}"
      run: yarn prettier {staged_files}

build:
  commands:
    prune-legacy-containers:
      priority: 1
      tags: test 
      run: '(docker container ls --format "{{.ID}}"
          --filter label=tag=influxdata-docs
          --filter status=exited | xargs docker rm)
          || true'
    rebuild-test-images:
      tags: test
      run: docker compose build pytest-codeblocks

WIP(ai): Yext chat customizations
  assets/js/ai-interactions.js
Due: prettier

InfluxDB Clustered 20241024-1354148
  content/influxdb/clustered/reference/release-notes/clustered.md
Due: clustered-lint, clustered-pytest

InfluxDB Clustered 20241024-1354148 (#5660)
  content/influxdb/clustered/reference/release-notes/clustered.md
Due: clustered-lint, clustered-pytest

added warning about no 32-bit builds
  content/influxdb/v1/about_the_project/release-notes.md
Due: none

bump 1.11.7 flux version to 1.194.5
  content/influxdb/v1/about_the_project/release-notes.md
Due: none

added warning about no 32-bit builds (#5661)
  content/influxdb/v1/about_the_project/release-notes.md
Due: none

updated influxdb v1 latest patch on data/products
  data/products.yml
Due: none

InfluxDB OSS v1.11.7 (#5648)
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/enterprise_influxdb/v1/flux/optimize-queries.md
  content/enterprise_influxdb/v1/tools/api.md
  content/enterprise_influxdb/v1/tools/flux-vscode.md
  content/enterprise_influxdb/v1/tools/influx_inspect.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/administration/_index.md
  content/influxdb/v1/administration/backup_and_restore.md
  content/influxdb/v1/administration/config.md
  content/influxdb/v1/administration/upgrading.md
  content/influxdb/v1/flux/_index.md
  content/influxdb/v1/flux/get-started/_index.md
  content/influxdb/v1/flux/guides/flux-in-dashboards.md
  content/influxdb/v1/flux/guides/optimize-queries.md
  content/influxdb/v1/guides/write_data.md
  content/influxdb/v1/introduction/install.md
  content/influxdb/v1/query_language/spec.md
  content/influxdb/v1/tools/api.md
  content/influxdb/v1/tools/flux-vscode.md
  content/influxdb/v1/tools/grafana.md
  content/influxdb/v1/tools/influx-cli/_index.md
  content/influxdb/v1/tools/influx_inspect.md
  content/influxdb/v2/reference/release-notes/influxdb.md
  content/influxdb/v2/tools/influxql-shell.md
  data/products.yml
  flux-build-scripts/update-flux-versions.js
Due: v2-lint, v2-pytest, prettier

feat: add `--pid-file` and `--overwrite-pid-file`
  content/influxdb/v2/reference/config-options.md
Due: v2-lint, v2-pytest

chore: fix quoting in pid-file config examples
  content/influxdb/v2/reference/config-options.md
Due: v2-lint, v2-pytest

chore: update influxd_flags.yml
  data/influxd_flags.yml
Due: none

Add timezone support to v3 SQL docs (#5581)
  .ci/vale/styles/InfluxDataDocs/Terms/query-functions.txt
  .ci/vale/styles/config/vocabularies/InfluxDataDocs/accept.txt
  content/influxdb/cloud-dedicated/get-started/query.md
  content/influxdb/cloud-dedicated/query-data/sql/aggregate-select.md
  content/influxdb/cloud-dedicated/reference/client-libraries/flight/python-flight.md
  content/influxdb/cloud-dedicated/reference/sql/_index.md
  content/influxdb/cloud-dedicated/reference/sql/data-types.md
  content/influxdb/cloud-dedicated/reference/sql/functions/misc.md
  content/influxdb/cloud-dedicated/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-dedicated/reference/sql/operators/other.md
  content/influxdb/cloud-dedicated/reference/sql/where.md
  content/influxdb/cloud-serverless/get-started/query.md
  content/influxdb/cloud-serverless/query-data/sql/aggregate-select.md
  content/influxdb/cloud-serverless/reference/client-libraries/flight/python-flight.md
  content/influxdb/cloud-serverless/reference/sql/_index.md
  content/influxdb/cloud-serverless/reference/sql/data-types.md
  content/influxdb/cloud-serverless/reference/sql/functions/misc.md
  content/influxdb/cloud-serverless/reference/sql/functions/time-and-date.md
  content/influxdb/cloud-serverless/reference/sql/operators/other.md
  content/influxdb/cloud-serverless/reference/sql/where.md
  content/influxdb/clustered/reference/client-libraries/flight/python-flight.md
  content/influxdb/clustered/reference/sql/_index.md
  content/influxdb/clustered/reference/sql/data-types.md
  content/influxdb/clustered/reference/sql/functions/misc.md
  content/influxdb/clustered/reference/sql/functions/time-and-date.md
  content/influxdb/clustered/reference/sql/operators/other.md
  content/influxdb/clustered/reference/sql/where.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

feat: add --storage-wal-flush-on-shutdown
  content/influxdb/v2/reference/config-options.md
Due: v2-lint, v2-pytest

feat: add --storage-wal-flush-on-shutdown to influxd_flags.yml
  data/influxd_flags.yml
Due: none

feat: add `--pid-file` and `--overwrite-pid-file` (#5662)
  content/influxdb/v2/reference/config-options.md
  data/influxd_flags.yml
Due: v2-lint, v2-pytest

WIP monolith docs
  content/influxdb/pro/_index.md
  content/influxdb/v1/_index.md
  content/influxdb/v2/_index.md
  content/influxdb/v3/_index.md
  data/products.yml
Due: none

feat: add --storage-wal-flush-on-shutdown (#5664)
  content/influxdb/v2/reference/config-options.md
  data/influxd_flags.yml
Due: v2-lint, v2-pytest

WIP monolith
  content/influxdb/v2/_index.md
  content/influxdb/v3/_index.md
  layouts/partials/header/title.html
  layouts/partials/sidebar.html
  layouts/partials/topnav/product-selector.html
Due: none

chore: Generalize.
  api-docs/scripts/generate-openapi-articles.js
Due: prettier

WIP: draft TODO. Simplify code.
  api-docs/scripts/generate-openapi-articles.js
  api-docs/scripts/openapi-docs/index.js
  content/api-ref-pipeline-notes.md
  layouts/_default/api.html
  layouts/api/single.html
Due: prettier

Add configuration. Store output paths and metadata in /data. Refactors and simplifying module and function names.
  .gitignore
  api-docs/scripts/generate-openapi-articles.js
  api-docs/scripts/openapi-docs/cli.js
  api-docs/scripts/openapi-docs/index.js
  api-docs/scripts/openapi-docs/package.json
  data/article-data/influxdb/cloud-v2/articles.yml
  data/article-data/influxdb/oss-v2/articles.yml
  yarn.lock
Due: prettier

chore(api-ref): Uplift API reference docs:
  .gitignore
  api-docs/cloud/v2/ref.yml
  api-docs/getswagger.sh
  api-docs/package.json
  api-docs/scripts/generate-openapi-articles.js
  api-docs/scripts/openapi-paths-to-hugo-data/cli.js
  api-docs/scripts/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/openapi-paths-to-hugo-data/package.json
  api-docs/v2/ref.yml
  data/article-data/influxdb/cloud-v2/articles.yml
  data/article-data/influxdb/oss-v2/articles.yml
  hugo-data-to-pages/.gitignore
  hugo-data-to-pages/LICENSE.md
  hugo-data-to-pages/README.md
  hugo-data-to-pages/hugo.js
  hugo-data-to-pages/package.json
  layouts/_default/old-api.html
  layouts/api/single.html
Due: prettier

fix: removes empty strings resulting from snakifying non-word character strings in tags ('/' for legacy paths).
  api-docs/scripts/openapi-docs/index.js
  package.json
  yarn.lock
Due: prettier

fix(api): Use forked hugo-data-to-pages. Add async.
  api-docs/package.json
  api-docs/scripts/generate-openapi-articles.js
  api-docs/yarn.lock
  hugo-data-to-pages/.gitignore
  hugo-data-to-pages/LICENSE.md
  hugo-data-to-pages/README.md
  hugo-data-to-pages/hugo.js
  hugo-data-to-pages/package.json
  package.json
  yarn.lock
Due: prettier

fix(api): update yarn.lock
  yarn.lock
Due: none

fix(oss): Update TLS example using openssl and including Subject Alternative Name (SAN)
  assets/jsconfig.json
Due: none

WIP(api): hide rapidoc sidebar, add API _index page, replace rapidoc CDN with package from npm and js.Build
  api-docs/scripts/create-pages.js
  api-docs/scripts/validate-spec.js
  assets/js/api-doc/index.js
  assets/js/main.js
  layouts/api/single.html
  layouts/partials/header.html
  package.json
  yarn.lock
Due: prettier

chore(api): Use Spectral for linting OpenAPI
  api-docs/.spectral.yaml
  api-docs/scripts/validate-spec.js
Due: prettier

WIP(api): Fix background color, remove unused style attributes.
  assets/js/api-doc/index.js
  assets/styles/product-overrides/api-reference.scss
Due: prettier

fix(clustered): add Known Bugs section to release
  content/influxdb/clustered/reference/release-notes/clustered.md
Due: clustered-lint, clustered-pytest

Update content/influxdb/clustered/reference/release-notes/clustered.md
  content/influxdb/clustered/reference/release-notes/clustered.md
Due: clustered-lint, clustered-pytest

hide example doc
  content/example.md
Due: none

swapped note and tip color schemes
  assets/styles/themes/_theme-dark.scss
  assets/styles/themes/_theme-light.scss
Due: none

fixed broken v2 icons
  assets/styles/tools/icon-fonts/_alert-icons.scss
  content/example.md
Due: none

marked example as draft
  content/example.md
Due: none

Apply suggestions from code review
  content/influxdb/v2/write-data/oss-to-cloud.md
Due: v2-lint, v2-pytest
