Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

fix(influxdb3-cloud): correct the placeholder host
  data/products.yml
Due: build-agent-instructions

Update content/influxdb3/cloud/reference/cli/influxdb3/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/_index.md
Due: deprecated-markdown-patterns

style: restore CRLF line endings in setup-cloud.md
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Apply suggestions from code review
  content/influxdb3/cloud/reference/cli/influxdb3/_index.md
  content/influxdb3/cloud/request-information.md
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

ci(lint): add v3 CLI-version guard and influxdb3-cloud vale check
  .ci/scripts/check-v3-cli-version.sh
  DOCS-SHORTCODES.md
  layouts/shortcodes/latest-cli.html
  lefthook.yml
Due: lint-markdown-instructions, lint-instructions

docs(influxdb3-cloud): show retention period content for Cloud
  content/influxdb3/cloud/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/_index.md
  content/influxdb3/cloud/request-information.md
  content/shared/influxdb3-admin/databases/_index.md
  content/shared/influxdb3-admin/tables/create.md
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3-cloud): use "Admin UI" in the screenshot TODO
  content/influxdb3/cloud/admin/users/admin-ui.md
Due: deprecated-markdown-patterns

fix(influxdb3-cloud): resolve broken links to unpublished Cloud pages
  content/influxdb3/cloud/request-information.md
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(layouts): scope v3 wayfinding modal to avoid cloud slug collision
  layouts/partials/footer.html
  layouts/partials/topnav/product-selector.html
Due: none

style(influxdb3-cloud): standardize placeholders, newlines, em dashes
  content/influxdb3/cloud/admin/tables/_index.md
  content/influxdb3/cloud/admin/tables/create.md
  content/influxdb3/cloud/admin/tables/delete.md
  content/influxdb3/cloud/admin/tables/list.md
  content/influxdb3/cloud/admin/users/_index.md
  content/influxdb3/cloud/query-data/sql/parameterized-queries.md
  content/shared/influxdb3-get-started/setup-cloud.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3-cloud): add draft release announcement notification
  data/notifications.yaml
Due: none

fix(influxdb3-cloud): render https host URLs via host-url shortcode
  content/influxdb3/cloud/admin/databases/create.md
  content/influxdb3/cloud/admin/databases/delete.md
  content/influxdb3/cloud/admin/databases/list.md
  content/influxdb3/cloud/admin/tables/create.md
  content/influxdb3/cloud/admin/tables/delete.md
  content/influxdb3/cloud/admin/tables/list.md
  content/influxdb3/cloud/query-data/execute-queries/influxdb-v1-api.md
  content/influxdb3/cloud/query-data/execute-queries/influxdb-v3-api.md
  content/shared/influxdb3-get-started/setup-cloud.md
  content/shared/influxdb3-query-guides/execute-queries/influxdb3-api.md
  content/shared/influxdb3-write-guides/http-api/v3-write-lp.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(layouts): restore telegraf_enterprise in product-selector merge
  layouts/partials/topnav/product-selector.html
Due: none

ci(render-check): detect changed files via git diff, not the GitHub API
  .github/workflows/pr-render-check.yml
Due: none

fix(ci): anchor v1 API link-checker exclusion to generated subtree
  .ci/link-checker/production.lycherc.toml
Due: none

docs(influxdb3-cloud): specialize admin token CLI reference
  content/influxdb3/cloud/reference/cli/influxdb3/create/token/admin.md
Due: deprecated-markdown-patterns

docs(influxdb3-cloud): add influxdb3 CLI reference for Cloud
  content/influxdb3/cloud/reference/cli/influxdb3/create/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/database.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/table.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/token/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/token/admin.md
  content/influxdb3/cloud/reference/cli/influxdb3/create/token/permission.md
  content/influxdb3/cloud/reference/cli/influxdb3/delete/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/delete/database.md
  content/influxdb3/cloud/reference/cli/influxdb3/delete/table.md
  content/influxdb3/cloud/reference/cli/influxdb3/delete/token.md
  content/influxdb3/cloud/reference/cli/influxdb3/query.md
  content/influxdb3/cloud/reference/cli/influxdb3/show/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/show/databases.md
  content/influxdb3/cloud/reference/cli/influxdb3/show/tokens.md
  content/influxdb3/cloud/reference/cli/influxdb3/write.md
  content/shared/influxdb3-cli/create/table.md
  content/shared/influxdb3-cli/create/token/_index.md
  content/shared/influxdb3-cli/delete/database.md
  content/shared/influxdb3-cli/delete/table.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3-cloud): remove Enterprise CLI reference cross-link
  content/influxdb3/cloud/reference/cli/influxdb3/_index.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7511 🛫
  pr-preview/pr-7511/index.html
  pr-preview/pr-7511/influxdb3/cloud/reference/cli/influxdb3/create/index.html
  pr-preview/pr-7511/influxdb3/cloud/reference/cli/influxdb3/create/token/admin/index.html
  pr-preview/pr-7511/influxdb3/cloud/reference/cli/influxdb3/create/token/index.html
  pr-preview/pr-7511/influxdb3/cloud/reference/cli/influxdb3/create/token/permission/index.html
  pr-preview/pr-7511/influxdb3/cloud/reference/cli/influxdb3/delete/index.html
  pr-preview/pr-7511/influxdb3/cloud/reference/cli/influxdb3/delete/token/index.html
  pr-preview/pr-7511/influxdb3/cloud/reference/cli/influxdb3/index.html
  pr-preview/pr-7511/influxdb3/cloud/reference/cli/influxdb3/show/index.html
  pr-preview/pr-7511/influxdb3/cloud/reference/cli/influxdb3/write/index.html
  pr-preview/pr-7511/influxdb3/core/reference/cli/influxdb3/create/table/index.html
  pr-preview/pr-7511/influxdb3/core/reference/cli/influxdb3/create/token/index.html
  pr-preview/pr-7511/influxdb3/core/reference/cli/influxdb3/delete/database/index.html
  pr-preview/pr-7511/influxdb3/core/reference/cli/influxdb3/delete/table/index.html
  pr-preview/pr-7511/influxdb3/enterprise/reference/cli/influxdb3/create/table/index.html
  pr-preview/pr-7511/influxdb3/enterprise/reference/cli/influxdb3/create/token/index.html
  pr-preview/pr-7511/influxdb3/enterprise/reference/cli/influxdb3/delete/database/index.html
  pr-preview/pr-7511/influxdb3/enterprise/reference/cli/influxdb3/delete/table/index.html
  pr-preview/pr-7511/js/main.js
Due: prettier

fix: Use a three-dot diff to match the pull request Files API.
  .github/workflows/pr-render-check.yml
Due: none

Deploy preview for PR 7511 🛫
  pr-preview/pr-7511/index.html
  pr-preview/pr-7511/js/main.js
Due: prettier

chore(influxdb3-enterprise): bump latest_patch to 3.10.4
  data/products.yml
Due: build-agent-instructions

Deploy preview for PR 7509 🛫
  pr-preview/pr-7509/index.html
  pr-preview/pr-7509/js/main.js
Due: prettier

fix(influxdb3-cloud): redirect not-yet-published links to a request-information page
  content/influxdb3/cloud/request-information.md
  content/shared/influxdb3-query-guides/influxql/aggregate-select.md
  content/shared/influxdb3-query-guides/influxql/troubleshoot.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(influxdb3-cloud): complete the Get started landing page (#7388)
  content/influxdb3/cloud/get-started/_index.md
Due: deprecated-markdown-patterns

Apply suggestions from code review
  content/influxdb3/cloud/_index.md
  content/influxdb3/cloud/admin/tokens/_index.md
  content/influxdb3/cloud/admin/users/_index.md
  content/influxdb3/cloud/admin/users/admin-ui.md
  content/influxdb3/cloud/query-data/execute-queries/influxdb3-cli.md
  content/influxdb3/cloud/query-data/sql/basic-query.md
  content/influxdb3/cloud/reference/_index.md
  content/influxdb3/cloud/reference/cli/influxdb3/_index.md
  content/influxdb3/cloud/request-information.md
  content/shared/influxdb3-get-started/setup-cloud.md
  content/shared/influxdb3-query-guides/influxql/troubleshoot.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Update content/influxdb3/cloud/_index.md
  content/influxdb3/cloud/_index.md
Due: deprecated-markdown-patterns

Potential fix for pull request finding
  content/influxdb3/cloud/_index.md
Due: deprecated-markdown-patterns

Potential fix for pull request finding
  content/influxdb3/cloud/admin/databases/create.md
Due: deprecated-markdown-patterns

Updated Tip and CTA to reflect early access
  content/influxdb3/cloud/_index.md
Due: deprecated-markdown-patterns
