Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

deprecated-markdown-patterns:
  tags: lint
  ...

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

feat(enterprise): document -timeout global flag for influxd-ctl
  content/enterprise_influxdb/v1/tools/influxd-ctl/_index.md
Due: deprecated-markdown-patterns

fix(v1): clarify config value types in /debug/vars docs
  content/enterprise_influxdb/v1/tools/api.md
  content/influxdb/v1/tools/api.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7013 🛫
  pr-preview/pr-7013/enterprise_influxdb/v1/tools/api/index.html
  pr-preview/pr-7013/index.html
  pr-preview/pr-7013/influxdb/v1/tools/api/index.html
Due: none

feat(v1): document user column in SHOW QUERIES output
  content/enterprise_influxdb/v1/troubleshooting/query_management/influxql_query_management.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/troubleshooting/query_management.md
Due: deprecated-markdown-patterns

feat(enterprise): document SIGHUP log level reload
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
Due: deprecated-markdown-patterns

feat(v1): document user-query-bytes-enabled config option
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/administration/config.md
Due: deprecated-markdown-patterns

feat(v1): document CQ statistics in /debug/vars endpoint
  content/enterprise_influxdb/v1/tools/api.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/tools/api.md
Due: deprecated-markdown-patterns

Deploy preview for PR 7013 🛫
  pr-preview/pr-7013/enterprise_influxdb/v1/tools/api/index.html
  pr-preview/pr-7013/index.html
  pr-preview/pr-7013/influxdb/v1/about_the_project/release-notes/index.html
  pr-preview/pr-7013/influxdb/v1/tools/api/index.html
Due: none

feat(enterprise): document rpc-resettable-*-timeout config options
  content/enterprise_influxdb/v1/administration/configure/config-data-nodes.md
Due: deprecated-markdown-patterns

feat(enterprise): document influxd-ctl backup improvements
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
Due: deprecated-markdown-patterns

fix: correct grammar in backup flags table
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
Due: deprecated-markdown-patterns

feat(enterprise): document influx-meta CLI and cleanup-shards command
  content/enterprise_influxdb/v1/tools/influx-meta/_index.md
  content/enterprise_influxdb/v1/tools/influx-meta/cleanup-shards.md
  content/enterprise_influxdb/v1/tools/influx-meta/convert.md
  content/enterprise_influxdb/v1/tools/influx-meta/export.md
  content/enterprise_influxdb/v1/tools/influx-meta/fix-shard-owners.md
  content/enterprise_influxdb/v1/tools/influx-meta/import.md
  content/enterprise_influxdb/v1/tools/influx-meta/make-node-active.md
  content/enterprise_influxdb/v1/tools/influx-meta/make-node-passive.md
  content/enterprise_influxdb/v1/tools/influx-meta/renumber-shard-groups.md
  content/enterprise_influxdb/v1/tools/influx-meta/set-shard-group.md
Due: deprecated-markdown-patterns

fix(vale): add SQL/InfluxQL keywords to Acronyms rule exceptions
  .ci/vale/styles/InfluxDataDocs/Acronyms.yml
Due: none

fix(vale): address Copilot review on Acronyms exceptions
  .ci/vale/styles/InfluxDataDocs/Acronyms.yml
Due: none

fix(feedback): map enterprise_influxdb to influxdb GitHub namespace for issue links (#7024)
  layouts/partials/article/feedback.html
Due: none

Deploy preview for PR 7016 🛫
  pr-preview/pr-7016/index.html
  pr-preview/pr-7016/influxdb/v2/index.html
Due: none

fix(api-docs): add feedback footer, fix ESLint config, fix section children extraction
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/post-process-specs.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/post-process-specs.ts
  eslint.config.js
  layouts/_default/api.html
  layouts/api/all-endpoints.html
  layouts/api/list.html
  layouts/api/section.html
  layouts/api/single.html
  layouts/partials/api/section-children.html
Due: prettier

fix(v1): Fix broken anchor links in API documentation (#7016)
  content/enterprise_influxdb/v1/tools/api.md
  content/influxdb/v1/tools/api.md
  layouts/partials/article/feedback.html
Due: deprecated-markdown-patterns

Update content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
Due: deprecated-markdown-patterns

feat(enterprise): document influxd-ctl backup improvements (#7021)
  PLAN.md
  content/enterprise_influxdb/v1/tools/influxd-ctl/backup.md
Due: deprecated-markdown-patterns, lint-markdown-instructions, lint-instructions

feat(v1): document time_format query parameter (#7011)
  content/enterprise_influxdb/v1/tools/api.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/tools/api.md
Due: deprecated-markdown-patterns

feat(v1): document /debug/vars config and CQ statistics (#7013)
  content/enterprise_influxdb/v1/tools/api.md
  content/influxdb/v1/about_the_project/release-notes.md
  content/influxdb/v1/tools/api.md
  layouts/partials/article/feedback.html
Due: deprecated-markdown-patterns

Deploy preview for PR 6950 🛫
  pr-preview/pr-6950/enterprise_influxdb/v1/tools/api/index.html
  pr-preview/pr-6950/index.html
  pr-preview/pr-6950/influxdb/v1/about_the_project/release-notes/index.html
  pr-preview/pr-6950/influxdb/v1/tools/api/index.html
Due: none

feat(enterprise): document -e flag on influxd-ctl show-shards (#7014)
  content/enterprise_influxdb/v1/tools/influxd-ctl/show-shards.md
Due: deprecated-markdown-patterns

feat(enterprise): document -timeout global flag for influxd-ctl (#7015)
  content/enterprise_influxdb/v1/tools/influxd-ctl/_index.md
Due: deprecated-markdown-patterns

Deploy preview for PR 6950 🛫
  pr-preview/pr-6950/enterprise_influxdb/v1/tools/influxd-ctl/show-shards/index.html
  pr-preview/pr-6950/index.html
Due: none

Deploy preview for PR 6950 🛫
  pr-preview/pr-6950/enterprise_influxdb/v1/tools/influxd-ctl/index.html
  pr-preview/pr-6950/index.html
Due: none

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
