Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: deprecated-markdown-patterns, eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  deprecated-markdown-patterns: any of: content/**/*.md
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: README.md, [A-Z]*.md, .github/**/*.md, .claude/**/*.md
  lint-instructions: any of: {[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

docs: fix bad gh contributor link in telegraf release notes
  content/telegraf/v1/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(telegraf): update docs for Telegraf 1.40.0
  content/telegraf/v1/commands/secrets/_index.md
  content/telegraf/v1/commands/secrets/remove.md
  content/telegraf/v1/configuration/agent.md
  content/telegraf/v1/configuration/filtering.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(telegraf): use GitHub callout on secrets remove page
  content/telegraf/v1/commands/secrets/remove.md
Due: deprecated-markdown-patterns, telegraf-lint

docs(telegraf): fix broken cel-go repository links
  content/shared/telegraf/agent-status-eval/functions.md
  content/telegraf/v1/configuration/filtering.md
  content/telegraf/v1/output-plugins/heartbeat.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, telegraf-lint

docs(telegraf): replace deprecated note/warn shortcodes with GitHub callouts
  content/telegraf/v1/commands/config/migrate.md
  content/telegraf/v1/commands/secrets/get.md
  content/telegraf/v1/commands/secrets/list.md
  content/telegraf/v1/commands/secrets/set.md
  content/telegraf/v1/contribute.md
  content/telegraf/v1/data_formats/input/csv.md
  content/telegraf/v1/release-notes.md
Due: deprecated-markdown-patterns, telegraf-lint

test(plugins): cover whitespace around all selector
  helper-scripts/influxdb3-plugins/test/sync-results.test.js
Due: prettier

chore: Yarn upgrade dependencies
  package.json
  yarn.lock
Due: none

ci(plugins): schedule documentation sync
  .github/workflows/sync-plugins.yml
Due: none

docs(adr): archive stale execution plans
  docs/adr/0005-agent-instruction-adapter-architecture.md
  docs/adr/0006-product-jsonld-rendering.md
  docs/adr/0007-release-version-drift-detection.md
  docs/exec-plans/2026-05-13-influxdb3-decision-page.md
  docs/exec-plans/2026-05-14-influxdb3-decision-page-jsonld.md
  docs/exec-plans/2026-05-15-influxdb3-decision-page-discovery.md
  docs/exec-plans/2026-05-15-influxdb3-hub-landing.md
  docs/exec-plans/2026-05-21-robots-named-ai-bots.md
  docs/exec-plans/2026-05-28-techarticle-softwareapplication-jsonld.md
  docs/exec-plans/2026-06-29-gh-merge-queue-master.md
  docs/exec-plans/2026-07-21-release-notes-version-drift-check.md
  docs/exec-plans/agent-harness-instructions-skills.md
Due: none

sync(client-libs): update release notes
  content/shared/influxdb-client-libraries-reference/v3/release-notes/javascript.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

sync(api): update InfluxDB OSS v2 spec
  api-docs/influxdb/v2/influxdb-oss-v2-openapi.yaml
Due: none

chore(deps): update Vale to v3.21.0
  .ci/vale/vale.sh
Due: none

docs(controller): pre-shared and bootstrap API tokens
  content/telegraf/controller/reference/config-options.md
  content/telegraf/controller/tokens/_index.md
  content/telegraf/controller/tokens/bootstrap.md
  content/telegraf/controller/tokens/create.md
  content/telegraf/controller/tokens/preshared.md
  static/img/telegraf/controller-create-token.png
Due: deprecated-markdown-patterns, telegraf-lint

fix(influxdb3-enterprise): clarify Parquet upgrade status
  content/shared/influxdb3-admin/query-system-data/_index.md
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(controller): agent monitoring, heartbeat data, and agent IP header
  content/telegraf/controller/agents/create.md
  content/telegraf/controller/agents/delete.md
  content/telegraf/controller/agents/heartbeat-data.md
  content/telegraf/controller/agents/monitor.md
  content/telegraf/controller/agents/reporting-rules.md
  content/telegraf/controller/agents/status.md
  content/telegraf/controller/high-availability/load-balancing.md
  content/telegraf/controller/reference/config-options.md
Due: deprecated-markdown-patterns, telegraf-lint

sync(plugins): update InfluxDB 3 plugin documentation
  content/shared/influxdb3-plugins/plugins-library/official/mqtt-subscriber.md
  data/influxdb3_plugins.yml
Due: deprecated-markdown-patterns, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

ci(release): gate gated version bumps on release team approval
  .ci/release-gates.yml
  .ci/scripts/check-release-gate.js
  .ci/scripts/check-release-gate.test.js
  .github/pull_request_template/influxdb_v1_release.md
  .github/workflows/pr-release-gate.yml
  DOCS-CONTRIBUTING.md
Due: lint-markdown-instructions, lint-instructions, prettier

ci(release): fail the gate loudly on empty or unparseable versions
  .ci/scripts/check-release-gate.js
  .ci/scripts/check-release-gate.test.js
Due: prettier

ci(products): validate data/products.yml against a JSON Schema
  .ci/scripts/check-products-schema.js
  .ci/scripts/check-products-schema.test.js
  .github/workflows/pr-release-gate.yml
  DOCS-CONTRIBUTING.md
  data/products.yml
  lefthook.yml
  package.json
  scripts/schemas/products.schema.json
  yarn.lock
Due: build-agent-instructions, lint-markdown-instructions, lint-instructions, prettier

refactor(ci): share readYaml/readJson instead of private loaders
  .ci/scripts/check-products-schema.js
  .ci/scripts/check-release-gate.js
  .ci/scripts/check-release-gate.test.js
  eslint.config.js
  scripts/lib/file-operations.js
Due: prettier

docs(template): put the v1.x.x placeholder in a code span
  .github/pull_request_template/influxdb_v1_release.md
Due: lint-markdown-instructions, lint-instructions

fix(ci): keep remark off GitHub PR and issue templates
  .github/pull_request_template/influxdb_v1_release.md
  .github/workflows/pr-remark-check.yml
  lefthook.yml
Due: lint-markdown-instructions, lint-instructions

Release Kapacitor 1.8.7
  content/kapacitor/v1/reference/about_the_project/release-notes.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

ci(release): Faux release bump to test the new gate
  data/products.yml
Due: build-agent-instructions

ci(release): gate InfluxDB 3 Core version bumps too
  .ci/release-gates.yml
  DOCS-CONTRIBUTING.md
Due: lint-markdown-instructions, lint-instructions

ci(release): comment on the PR and request the approver team when gated
  .github/workflows/pr-release-gate.yml
  DOCS-CONTRIBUTING.md
Due: lint-markdown-instructions, lint-instructions

ci(release): v1 Enterprise gate approvers are influxdb-v1-release-owners
  .ci/release-gates.yml
  .ci/scripts/check-release-gate.test.js
  .github/pull_request_template/influxdb_v1_release.md
  DOCS-CONTRIBUTING.md
Due: lint-markdown-instructions, lint-instructions, prettier

ci(release): keep the gate comment current and show why a review request fails
  .github/workflows/pr-release-gate.yml
Due: none

chore: release Chronograf 1.11.5
  content/chronograf/v1/about_the_project/release-notes.md
  data/products.yml
Due: deprecated-markdown-patterns, build-agent-instructions

ci: faux release bump test
  data/products.yml
Due: build-agent-instructions

ci(release): request the team's members when the team itself cannot be requested
  .github/workflows/pr-release-gate.yml
Due: none

ci(release): drop the automatic review request
  .github/workflows/pr-release-gate.yml
  DOCS-CONTRIBUTING.md
Due: lint-markdown-instructions, lint-instructions

ci(release): drop stale comment about the removed review-request step
  .github/workflows/pr-release-gate.yml
Due: none
