Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

Deploy preview for PR 6790 🛫
  pr-preview/pr-6790/index.html
  pr-preview/pr-6790/influxdb3/core/plugins/index.html
  pr-preview/pr-6790/influxdb3/enterprise/plugins/index.html
Due: none

Revert "Add HTTP API examples to Processing Engine plugin documentation (#6789)"
  content/shared/influxdb3-plugins/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(vale): improve spelling and heading rules
  .ci/vale/styles/InfluxDataDocs/Capitalization.yml
  .ci/vale/styles/InfluxDataDocs/Spelling.yml
Due: none

feat(github): improve PR template for better review workflow
  .github/PULL_REQUEST_TEMPLATE.md
Due: lint-markdown-instructions, lint-instructions

chore(controller): add eula and eula acceptance to telegraf controller (#6759)
  content/telegraf/controller/install/_index.md
  content/telegraf/controller/reference/eula.md
  layouts/partials/header/title.html
Due: lint-markdown-content, telegraf-lint

feat(github): reduce CODEOWNERS noise, add suggested reviewers to PR template
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
Due: lint-markdown-instructions, lint-instructions

Add HTTP API examples to Processing Engine plugin documentation (#6789)
  content/influxdb3/core/plugins/_index.md
  content/shared/influxdb3-get-started/processing-engine.md
  content/shared/influxdb3-plugins/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Deploy preview for PR 6790 🛫
  pr-preview/pr-6790/index.html
  pr-preview/pr-6790/influxdb3/core/get-started/process/index.html
  pr-preview/pr-6790/influxdb3/core/plugins/index.html
  pr-preview/pr-6790/influxdb3/enterprise/get-started/process/index.html
  pr-preview/pr-6790/influxdb3/enterprise/plugins/index.html
Due: none

fix(api): use full product name in cloud-serverless API compatibility docs
  content/influxdb3/cloud-serverless/api/api-compatibility/_index.md
Due: lint-markdown-content, cloud-serverless-lint

fix(influxdb3): Fix broken trigger anchor links in plugin documentation
  content/shared/influxdb3-plugins/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

docs(api): add design for Clustered/Cloud Dedicated API structure
  docs/plans/2025-02-06-clustered-cloud-dedicated-api-structure-design.md
Due: none

docs(api): update Authentication tags to cover both token types in Data API specs
  api-docs/influxdb3/cloud-dedicated/v2/ref.yml
  api-docs/influxdb3/clustered/v2/ref.yml
Due: none

docs(api): update Quick start tag in Data API specs with complete workflow
  api-docs/influxdb3/cloud-dedicated/v2/ref.yml
  api-docs/influxdb3/clustered/v2/ref.yml
Due: none

feat(api): add dual download buttons for Clustered/Cloud Dedicated
  layouts/api/list.html
Due: none

fix(api): align dual download button SVGs and styles with single.html
  layouts/api/list.html
Due: none

fix(api): add context-aware download buttons for dual-API products
  layouts/api/list.html
  layouts/api/single.html
Due: none

fix(api): use reliable path extraction for dual download buttons
  layouts/_default/api.html
  layouts/api/list.html
  layouts/api/section.html
Due: none

feat(api): unified API structure for Clustered and Cloud Dedicated
  api-docs/influxdb/cloud/v2/ref.yml
  api-docs/influxdb/v2/v2/ref.yml
  api-docs/influxdb3/cloud-dedicated/management/openapi.yml
  api-docs/influxdb3/cloud-serverless/v2/ref.yml
  api-docs/influxdb3/clustered/management/openapi.yml
  content/influxdb3/cloud-serverless/api/api-compatibility/_index.md
  content/influxdb3/cloud-serverless/api/quick-start/_index.md
  docs/plans/2026-01-07-api-reference-rapidoc-migration.md
  docs/plans/2026-01-21-api-tag-pages-design.md
  docs/plans/2026-02-04-v1-api-deduplication-design.md
Due: lint-markdown-content, cloud-serverless-lint

fix(vale): improve spelling and heading rules for Google style compliance
  .ci/vale/styles/InfluxDataDocs/Capitalization.yml
  .ci/vale/styles/InfluxDataDocs/Spelling.yml
Due: none

fix(api): remove old management API links from Authentication
  api-docs/influxdb3/cloud-dedicated/v2/ref.yml
  api-docs/influxdb3/clustered/v2/ref.yml
Due: none

feat(devcontainer): add Codespaces config with Claude Code and Vale
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: none

fix(devcontainer): remove invalid secrets field, use latest Hugo
  .devcontainer/devcontainer.json
Due: none

fix(devcontainer): simplify config, remove docker-in-docker
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: none

fix(vale): reduce false positives, add custom Units rule and linting skill
  .ci/vale/styles/.vale-config/2-Hugo.ini
  .ci/vale/styles/Google/AMPM.yml
  .ci/vale/styles/Google/Colons.yml
  .ci/vale/styles/Google/Ordinal.yml
  .ci/vale/styles/Google/Quotes.yml
  .ci/vale/styles/Google/Units.yml
  .ci/vale/styles/InfluxDataDocs/Terms/ignore.txt
  .ci/vale/styles/InfluxDataDocs/Units.yml
  .claude/agents/ci-automation-engineer.md
  .claude/settings.json
  .claude/skills/content-editing/SKILL.md
  .claude/skills/vale-linting/SKILL.md
  .github/copilot-instructions.md
  .vale.ini
Due: lint-markdown-instructions, lint-instructions

refactor(api): move Related guides to x-influxdatadocs-related field
  api-docs/influxdb3/cloud-dedicated/v2/ref.yml
  api-docs/influxdb3/clustered/v2/ref.yml
  api-docs/scripts/dist/generate-openapi-articles.js
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/generate-openapi-articles.ts
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  content/influxdb3/cloud-serverless/api/quick-start/_index.md
Due: lint-markdown-content, cloud-serverless-lint, prettier

docs(influxdb3): document trigger logging behavior
  content/shared/influxdb3-admin/query-system-data/_index.md
  content/shared/influxdb3-plugins/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(api): replace Rapidoc links with page URLs, fix nav ordering
  api-docs/influxdb3/cloud-dedicated/v2/ref.yml
  api-docs/influxdb3/clustered/v2/ref.yml
  api-docs/scripts/dist/openapi-paths-to-hugo-data/index.js
  api-docs/scripts/openapi-paths-to-hugo-data/index.ts
  layouts/partials/api/section-children.html
  layouts/partials/sidebar/api-menu-items.html
Due: prettier

Update content/shared/influxdb3-plugins/_index.md
  content/shared/influxdb3-plugins/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

feat(github): reduce CODEOWNERS noise, add suggested reviewers to PR template (#6797)
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
Due: lint-markdown-instructions, lint-instructions

Deploy preview for PR 6804 🛫
  pr-preview/pr-6804/index.html
Due: none

docs(influxdb3): document trigger logging behavior (#6804)
  content/shared/influxdb3-admin/query-system-data/_index.md
  content/shared/influxdb3-plugins/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(plugins): porting README details to docs - Handle multi-line emoji metadata (⚡ on line 1, 🔧 on line 2)
  content/shared/influxdb3-plugins/plugins-library/official/basic-transformation.md
  content/shared/influxdb3-plugins/plugins-library/official/downsampler.md
  content/shared/influxdb3-plugins/plugins-library/official/forecast-error-evaluator.md
  content/shared/influxdb3-plugins/plugins-library/official/influxdb-to-iceberg.md
  content/shared/influxdb3-plugins/plugins-library/official/mad-check.md
  content/shared/influxdb3-plugins/plugins-library/official/notifier.md
  content/shared/influxdb3-plugins/plugins-library/official/prophet-forecasting.md
  content/shared/influxdb3-plugins/plugins-library/official/state-change.md
  content/shared/influxdb3-plugins/plugins-library/official/stateless-adtk-detector.md
  content/shared/influxdb3-plugins/plugins-library/official/system-metrics.md
  content/shared/influxdb3-plugins/plugins-library/official/threshold-deadman-checks.md
  helper-scripts/influxdb3-plugins/port_to_docs.js
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, prettier

Update .ci/vale/styles/Google/Quotes.yml
  .ci/vale/styles/Google/Quotes.yml
Due: none

Update .claude/skills/vale-linting/SKILL.md
  .claude/skills/vale-linting/SKILL.md
Due: lint-markdown-instructions, lint-instructions
