Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, cloud-pytest, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest, telegraf-pytest, v2-pytest, prettier

lefthook.yml:

#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit
pre-commit:
  parallel: true 
  commands:
    cloud-lint:
      tags: lint,v2
      glob: "content/influxdb/cloud/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-dedicated-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-dedicated/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-dedicated/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-serverless-lint:
      tags: lint,v3
      glob: "content/influxdb/cloud-serverless/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    clustered-lint:
      tags: lint,v3
      glob: "content/influxdb/clustered/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/cloud-serverless/.vale.ini
        --minAlertLevel=error {staged_files}'
    telegraf-lint:
      tags: lint,clients 
      glob: "content/telegraf/**/*.md"
      run: '.ci/vale/vale.sh
        --config=.vale.ini
        --minAlertLevel=error {staged_files}'
    v2-lint:
      tags: lint,v2
      glob: "content/influxdb/v2/**/*.md"
      run: '.ci/vale/vale.sh
        --config=content/influxdb/v2/.vale.ini
        --minAlertLevel=error {staged_files}'
    cloud-pytest:
      glob: content/influxdb/cloud/**/*.md
      tags: test,codeblocks,v2
      env:
        - SERVICE: cloud-pytest
      run: docker compose run $SERVICE '{staged_files}'
    cloud-dedicated-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-dedicated/**/*.md
      env:
        - SERVICE: cloud-dedicated-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    cloud-serverless-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/cloud-serverless/**/*.md
      env:
        - SERVICE: cloud-serverless-pytest
      run: docker compose run $SERVICE '{staged_files}'
    clustered-pytest:
      tags: test,codeblocks,v3
      glob: content/influxdb/clustered/**/*.md
      env:
        - SERVICE: clustered-pytest
      run: |
        ./test/scripts/monitor-tests.sh start $SERVICE ;
        docker compose run $SERVICE {staged_files} ;
        ./test/scripts/monitor-tests.sh stop $SERVICE
    telegraf-pytest:
      tags: test,codeblocks
      glob: content/telegraf/**/*.md
      env:
        - SERVICE: telegraf-pytest
      run: docker compose run $SERVICE '{staged_files}'
    v2-pytest:
      tags: test,codeblocks,v2
      glob: content/influxdb/v2/**/*.md
      env:
        - SERVICE: v2-pytest
      run: docker compose run --rm $SERVICE '{staged_files}'
    prettier:
      tags: frontend,style
      glob: "*.{css,js,ts,jsx,tsx}"
      run: yarn prettier {staged_files}

build:
  commands:
    prune-legacy-containers:
      priority: 1
      tags: test 
      run: '(docker container ls --format "{{.ID}}"
          --filter label=tag=influxdata-docs
          --filter status=exited | xargs docker rm)
          || true'
    rebuild-test-images:
      tags: test
      run: docker compose build pytest-codeblocks

added comments to release-toc js
  assets/js/release-toc.js
Due: prettier

chore(influxql): Test and improve InfluxQL functions with regex arguments
  .ci/vale/styles/InfluxDataDocs/WordList.yml
  content/influxdb/v2/query-data/influxql/explore-data/regular-expressions.md
  content/influxdb/v2/query-data/influxql/explore-data/select.md
  content/influxdb/v2/reference/cli/influx/write/_index.md
  content/influxdb/v2/reference/config-options.md
  static/downloads/home-sensor-data.csv
  test/Dockerfile.test-oss.centos
Due: v2-lint, v2-pytest

chore: tidy functions and remind me where the jQuery is
  assets/js/release-toc.js
Due: prettier

docs: style fixup
  content/influxdb/clustered/install/configure-cluster/directly.md
Due: clustered-lint, clustered-pytest

chore: tidy functions and remind me where the jQuery is (#5593)
  assets/js/release-toc.js
Due: prettier

InfluxDB Clustered release notes (#5590)
  assets/js/release-toc.js
  assets/styles/layouts/_article.scss
  assets/styles/layouts/article/_release-toc.scss
  content/influxdb/clustered/reference/release-notes/clustered.md
  layouts/partials/footer/javascript.html
  layouts/shortcodes/release-toc.html
Due: clustered-lint, clustered-pytest, prettier

updated status code information for partial writes
  api-docs/clustered/v2/ref.yml
  content/influxdb/clustered/write-data/troubleshoot.md
Due: clustered-lint, clustered-pytest

docs: add environment variable tuning explanation (#5579)
  content/influxdb/clustered/admin/env-vars.md
Due: clustered-lint, clustered-pytest

fix(clustered): document the use of special symbols PostgeSQL connection strings (#5591)
  content/influxdb/clustered/install/configure-cluster/directly.md
Due: clustered-lint, clustered-pytest

WIP clustered partial writes
  content/influxdb/clustered/admin/bypass-identity-provider.md
  content/influxdb/clustered/admin/env-vars.md
Due: clustered-lint, clustered-pytest

fixed yaml error
  api-docs/clustered/v2/ref.yml
Due: none

fixed duplicate key in clustered api docs
  api-docs/clustered/v2/ref.yml
Due: none

chore: remove unnecessary ::timestamp casts
  content/influxdb/cloud-dedicated/get-started/query.md
  content/influxdb/cloud-dedicated/query-data/sql/aggregate-select.md
  content/influxdb/cloud-dedicated/reference/client-libraries/flight/python-flight.md
  content/influxdb/cloud-dedicated/reference/sql/_index.md
  content/influxdb/cloud-dedicated/reference/sql/where.md
  content/influxdb/cloud-serverless/get-started/query.md
  content/influxdb/cloud-serverless/query-data/sql/aggregate-select.md
  content/influxdb/cloud-serverless/reference/client-libraries/flight/python-flight.md
  content/influxdb/cloud-serverless/reference/sql/_index.md
  content/influxdb/cloud-serverless/reference/sql/where.md
  content/influxdb/clustered/reference/client-libraries/flight/python-flight.md
  content/influxdb/clustered/reference/sql/_index.md
  content/influxdb/clustered/reference/sql/where.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

Apply suggestions from code review
  content/influxdb/clustered/admin/env-vars.md
Due: clustered-lint, clustered-pytest

Update content/influxdb/clustered/admin/env-vars.md
  content/influxdb/clustered/admin/env-vars.md
Due: clustered-lint, clustered-pytest

Add previous batch versions
  content/telegraf/v1/release-notes.md
Due: telegraf-lint, telegraf-pytest

Fix existing plugin list
  data/telegraf_plugins.yml
Due: none

Add telegraf v1.32.0
  content/telegraf/v1/_index.md
  content/telegraf/v1/release-notes.md
  data/products.yml
Due: telegraf-lint, telegraf-pytest

Document missing plugins
  data/telegraf_plugins.yml
Due: none

Update content/telegraf/v1/release-notes.md
  content/telegraf/v1/release-notes.md
Due: telegraf-lint, telegraf-pytest

Release influxctl v2.9.7
  data/products.yml
Due: none

Update data/telegraf_plugins.yml
  data/telegraf_plugins.yml
Due: none

chore: remove unnecessary ::timestamp casts (#5596)
  content/influxdb/cloud-dedicated/get-started/query.md
  content/influxdb/cloud-dedicated/query-data/sql/aggregate-select.md
  content/influxdb/cloud-dedicated/reference/client-libraries/flight/python-flight.md
  content/influxdb/cloud-dedicated/reference/sql/_index.md
  content/influxdb/cloud-dedicated/reference/sql/where.md
  content/influxdb/cloud-serverless/get-started/query.md
  content/influxdb/cloud-serverless/query-data/sql/aggregate-select.md
  content/influxdb/cloud-serverless/reference/client-libraries/flight/python-flight.md
  content/influxdb/cloud-serverless/reference/sql/_index.md
  content/influxdb/cloud-serverless/reference/sql/where.md
  content/influxdb/clustered/reference/client-libraries/flight/python-flight.md
  content/influxdb/clustered/reference/sql/_index.md
  content/influxdb/clustered/reference/sql/where.md
Due: cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, cloud-dedicated-pytest, cloud-serverless-pytest, clustered-pytest

Release influxctl v2.9.7 (#5598)
  data/products.yml
Due: none

Update time-and-date.md
  content/influxdb/cloud-serverless/reference/sql/functions/time-and-date.md
Due: cloud-serverless-lint, cloud-serverless-pytest

hotfix: fix v2 influxql example
  content/influxdb/v2/query-data/influxql/explore-data/group-by.md
Due: v2-lint, v2-pytest

add placeholder release notes for next clustered version
  .ci/vale/styles/config/vocabularies/InfluxDataDocs/accept.txt
  content/influxdb/clustered/admin/env-vars.md
  content/influxdb/clustered/reference/release-notes/clustered.md
Due: clustered-lint, clustered-pytest

feat(docs): Update manage-database.md
  content/influxdb/v1/query_language/manage-database.md
Due: none

Apply suggestions from code review
  content/influxdb/cloud-dedicated/admin/query-system-data.md
Due: cloud-dedicated-lint, cloud-dedicated-pytest

feat(docs): Update manage-database.md (#5603)
  content/influxdb/v1/query_language/manage-database.md
Due: none

fix(v3): Apply code review suggestions and update partitioning docs. According to code comments, a time part is required for new tables and records.
  content/influxdb/cloud-dedicated/admin/custom-partitions/_index.md
  content/influxdb/cloud-dedicated/admin/custom-partitions/partition-templates.md
  content/influxdb/cloud-dedicated/admin/query-system-data.md
  content/influxdb/clustered/admin/custom-partitions/_index.md
  content/influxdb/clustered/admin/custom-partitions/partition-templates.md
  content/influxdb/clustered/admin/query-system-data.md
Due: cloud-dedicated-lint, clustered-lint, cloud-dedicated-pytest, clustered-pytest

fix(v3): Format placeholders.
  content/influxdb/cloud-dedicated/admin/query-system-data.md
  content/influxdb/clustered/admin/query-system-data.md
Due: cloud-dedicated-lint, clustered-lint, cloud-dedicated-pytest, clustered-pytest

Update content/influxdb/clustered/admin/custom-partitions/_index.md
  content/influxdb/clustered/admin/custom-partitions/_index.md
Due: clustered-lint, clustered-pytest

fix(v3): pretty SQL
  content/influxdb/cloud-dedicated/admin/query-system-data.md
  content/influxdb/clustered/admin/query-system-data.md
Due: cloud-dedicated-lint, clustered-lint, cloud-dedicated-pytest, clustered-pytest
