Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-agent-instructions, lint-markdown-instructions, lint-markdown-content, lint-instructions, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, explorer-lint, telegraf-lint, v2-lint, build-typescript, prettier, lint-js

eslint-debug-check:
  run: yarn eslint {staged_files}
  fail_text: Debug helpers found! Remove debug imports and calls before committing.

build-agent-instructions:
  run: yarn build:agent:instructions

lint-markdown-instructions:
  tags: lint
  ...

lint-markdown-content:
  tags: lint
  ...

lint-instructions:
  tags: lint
  run: .ci/vale/vale.sh --config=.vale-instructions.ini --minAlertLevel=warning {staged_files}

cloud-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

cloud-dedicated-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-dedicated/.vale.ini --minAlertLevel=error {staged_files}

cloud-serverless-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

clustered-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=content/influxdb3/cloud-serverless/.vale.ini --minAlertLevel=error {staged_files}

core-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

enterprise-lint:
  tags: lint,v3
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

explorer-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

telegraf-lint:
  tags: lint,clients
  run: .ci/vale/vale.sh --config=.vale.ini --minAlertLevel=error {staged_files}

v2-lint:
  tags: lint,v2
  run: .ci/vale/vale.sh --config=content/influxdb/v2/.vale.ini --minAlertLevel=error {staged_files}

build-typescript:
  run: yarn build:ts
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: "yarn prettier --write --loglevel silent \"{staged_files}\" > /dev/null 2>&1 ||\n  { echo \"⚠️  Prettier found formatting issues. Automatic formatting applied.\"\n  git add {staged_files}\n}\n"

lint-js:
  run: yarn eslint {staged_files}
  fail_text: JavaScript linting failed. Fix errors before committing.

fix(api): Update product references to use full product names in API docs
  api-docs/influxdb3/cloud-dedicated/v2/ref.yml
  api-docs/influxdb3/cloud-serverless/v2/ref.yml
  api-docs/influxdb3/clustered/v2/ref.yml
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
Due: none

docs(api): add API link migration design for RapiDoc anchors
  docs/plans/2026-02-04-api-link-migration-design.md
Due: none

docs(api): add API link migration implementation plan
  docs/plans/2026-02-04-api-link-migration-implementation.md
Due: none

feat(api): add migration script skeleton
  helper-scripts/migrate-api-links.cjs
Due: none

feat(api): add operationId lookup table generation
  helper-scripts/migrate-api-links.cjs
Due: none

feat(api): add content file scanner for operation links
  helper-scripts/migrate-api-links.cjs
Due: none

feat(api): complete migration script with replacement logic
  helper-scripts/migrate-api-links.cjs
Due: none

refactor(api): migrate shared content operation links to RapiDoc format
  content/influxdb3/enterprise/admin/tables/list.md
  content/shared/influxdb-client-libraries-reference/v2/javascript/nodejs/write.md
  content/shared/influxdb-v2/admin/tokens/create-token.md
  content/shared/influxdb-v2/admin/tokens/delete-token.md
  content/shared/influxdb-v2/admin/tokens/update-tokens.md
  content/shared/influxdb-v2/admin/tokens/view-tokens.md
  content/shared/influxdb-v2/api-guide/api_intro.md
  content/shared/influxdb-v2/get-started/query.md
  content/shared/influxdb-v2/get-started/write.md
  content/shared/influxdb-v2/monitor-alert/custom-checks.md
  content/shared/influxdb-v2/process-data/manage-tasks/create-task.md
  content/shared/influxdb-v2/process-data/manage-tasks/delete-task.md
  content/shared/influxdb-v2/process-data/manage-tasks/run-task.md
  content/shared/influxdb-v2/process-data/manage-tasks/task-run-history.md
  content/shared/influxdb-v2/process-data/manage-tasks/update-task.md
  content/shared/influxdb-v2/query-data/execute-queries/influx-api.md
  content/shared/influxdb-v2/query-data/flux/flux-version.md
  content/shared/influxdb-v2/query-data/influxql/dbrp.md
  content/shared/influxdb-v2/write-data/delete-data.md
  content/shared/influxdb-v2/write-data/replication/replicate-data.md
  content/shared/influxdb3-admin/distinct-value-cache/create.md
  content/shared/influxdb3-admin/distinct-value-cache/query.md
  content/shared/influxdb3-admin/distinct-value-cache/show.md
  content/shared/influxdb3-admin/last-value-cache/create.md
  content/shared/influxdb3-admin/last-value-cache/show.md
  content/shared/influxdb3-admin/tokens/admin/create.md
  content/shared/influxdb3-internals/data-retention.md
  content/shared/influxdb3-query-guides/influxql/parameterized-queries.md
  content/shared/influxdb3-query-guides/sql/parameterized-queries.md
  content/shared/influxdb3-write-guides/_index.md
  content/shared/influxdb3-write-guides/http-api/_index.md
  content/shared/influxdb3-write-guides/http-api/compatibility-apis.md
  helper-scripts/migrate-api-links.cjs
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

fix(v1): correct malformed API anchor link for bucket retrieval
  content/enterprise_influxdb/v1/tools/api.md
  content/influxdb/v1/tools/api.md
Due: lint-markdown-content

fix(api): correct malformed RapiDoc anchor links with path parameters
  content/influxdb/cloud/api-guide/api-invokable-scripts/_index.md
  content/influxdb/v2/process-data/manage-tasks/run-task.md
  content/influxdb3/cloud-serverless/admin/tokens/view-tokens.md
  content/shared/influxdb-v2/admin/tokens/view-tokens.md
  content/shared/influxdb-v2/process-data/manage-tasks/run-task.md
  content/shared/influxdb-v2/process-data/manage-tasks/task-run-history.md
Due: lint-markdown-content, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint, v2-lint

fix(influxdb3): mark disabled field as required for processing engine trigger
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
Due: none

fix(influxdb3): add disabled field to all trigger examples
  api-docs/influxdb3/core/v3/ref.yml
  api-docs/influxdb3/enterprise/v3/ref.yml
Due: none

feat(api): add v1 API overlay support and remove tag-groups
  api-docs/enterprise_influxdb/v1/.config.yml
  api-docs/enterprise_influxdb/v1/v1/content/info.yml
  api-docs/enterprise_influxdb/v1/v1/content/servers.yml
  api-docs/enterprise_influxdb/v1/v1/ref.yml
  api-docs/getswagger.sh
  api-docs/influxdb/cloud/v2/content/tag-groups.yml
  api-docs/influxdb/v1/.config.yml
  api-docs/influxdb/v1/v1/content/info.yml
  api-docs/influxdb/v1/v1/content/servers.yml
  api-docs/influxdb/v1/v1/ref.yml
  api-docs/influxdb/v2/v2/content/tag-groups.yml
  api-docs/influxdb3/cloud-dedicated/management/content/tag-groups.yml
  api-docs/influxdb3/cloud-dedicated/v2/content/tag-groups.yml
  api-docs/influxdb3/cloud-serverless/v2/content/tag-groups.yml
  api-docs/influxdb3/clustered/management/content/tag-groups.yml
  api-docs/influxdb3/clustered/v2/content/tag-groups.yml
  api-docs/influxdb3/core/v3/content/tag-groups.yml
  api-docs/influxdb3/enterprise/v3/content/tag-groups.yml
  api-docs/openapi/plugins/decorators/tags/set-tag-groups.cjs
  api-docs/openapi/plugins/docs-content.cjs
  api-docs/openapi/plugins/docs-plugin.cjs
Due: none

chore(instruction): Add content-editing skill documentation workflow guide
  .claude/skills/content-editing/SKILL.md
Due: lint-markdown-instructions, lint-instructions

Phase 1: Add CLI configuration system
  scripts/docs-cli/config/.env.example
  scripts/docs-cli/config/README.md
  scripts/docs-cli/lib/config-loader.js
Due: lint-markdown-instructions, lint-instructions, prettier

Phase 3: Add new commands
  CLI-MIGRATION-DESIGN.md
  package.json
  scripts/docs-cli/commands/add-placeholders.js
  scripts/docs-cli/commands/audit.js
  scripts/docs-cli/commands/release-notes.js
Due: lint-markdown-instructions, lint-instructions, prettier

Phase 2: Migrate libraries with security fix and quick wins
  scripts/docs-cli/lib/api-audit-reporter.js
  scripts/docs-cli/lib/api-auditor.js
  scripts/docs-cli/lib/api-doc-scanner.js
  scripts/docs-cli/lib/api-parser.js
  scripts/docs-cli/lib/api-request-parser.js
  scripts/docs-cli/lib/config-loader.js
  scripts/docs-cli/lib/content-utils.js
  scripts/docs-cli/lib/telegraf-audit-reporter.js
  scripts/docs-cli/lib/telegraf-auditor.js
  scripts/docs-cli/lib/version-utils.js
Due: prettier

Fix: Correct package.json path for --version flag
  scripts/docs-cli/docs-cli.js
Due: prettier

Phase 5: Update router with dynamic command loading
  scripts/docs-cli/docs-cli.js
Due: prettier

Phase 4: Update existing commands (create, edit)
  scripts/docs-cli/commands/create.js
  scripts/docs-cli/commands/edit.js
Due: prettier

feat: Enhance docs CLI with placeholders alias and update documentation
  .claude/agents/influxdb3-tech-writer-consolidated.md
  .claude/settings.json
  .claude/skills/content-editing/SKILL.md
  .claude/skills/docs-cli-workflow/SKILL.md
  scripts/docs-cli/docs-cli.js
Due: lint-markdown-instructions, lint-instructions, prettier

chore(claude): Consolidate tech-writer agents:
  .claude/agents/influxdb3-distrib-tech-writer.md
  .claude/agents/influxdb3-tech-writer-consolidated.md
  .claude/agents/influxdb3-tech-writer.md
Due: lint-markdown-instructions, lint-instructions

fix: Fix CLI import paths and add npm run scripts
  package.json
  scripts/docs-cli/commands/create.js
  scripts/docs-cli/commands/edit.js
  scripts/docs-cli/docs-cli.js
  yarn.lock
Due: prettier

fix: Fix argument parsing for CLI router, improve integration tests
  scripts/docs-cli/__tests__/cli-integration.test.js
  scripts/docs-cli/commands/add-placeholders.js
  scripts/docs-cli/commands/create.js
Due: prettier

fix: Fix remaining dynamic import paths in create.js, add integration tests
  scripts/docs-cli/__tests__/cli-integration.test.js
  scripts/docs-cli/__tests__/run-tests.sh
  scripts/docs-cli/commands/create.js
Due: prettier

chore(docs-cli): Handle piping in create command with helpful errors and skips
  scripts/docs-cli/__tests__/cli-integration.test.js
  scripts/docs-cli/commands/create.js
Due: prettier

fix: Fix .tmp directory location and worktree detection
  scripts/docs-cli/commands/create.js
  scripts/docs-cli/lib/config-loader.js
Due: prettier

feat(docs-cli): add path support to --products flag
  scripts/docs-cli/__tests__/cli-integration.test.js
  scripts/docs-cli/__tests__/product-resolver.test.js
  scripts/docs-cli/commands/audit.js
  scripts/docs-cli/commands/create.js
  scripts/docs-cli/commands/release-notes.js
  scripts/docs-cli/docs-cli.js
  scripts/docs-cli/lib/product-resolver.js
Due: prettier

feat(github): add Copilot instructions management and DRY refactor
  .github/INSTRUCTIONS.md
  .github/agents/copilot-instructions-agent.md
  .github/copilot-instructions.md
  .github/instructions/assets.instructions.md
  .github/instructions/content.instructions.md
  .github/instructions/layouts.instructions.md
Due: lint-markdown-instructions, lint-instructions

Update skills and commands for new docs CLI syntax
  .claude/commands/enhance-release-notes.md
  .claude/commands/prepare-release-notes.md
  .claude/skills/content-editing/SKILL.md
  .claude/skills/docs-cli-workflow/SKILL.md
Due: lint-markdown-instructions, lint-instructions

chore: remove deprecated release-notes script and configs
  .github/workflows/influxdb3-release.yml
  .github/workflows/prepare-release.yml
  CLI-MIGRATION-DESIGN.md
  helper-scripts/README.md
  helper-scripts/common/README.md
  helper-scripts/common/config/influxdb-v1.json
  helper-scripts/common/config/influxdb-v2.json
  helper-scripts/common/config/influxdb3-core-enterprise.json
  helper-scripts/common/core-enterprise-config.json
  helper-scripts/common/generate-release-notes.js
  helper-scripts/common/generate-release-notes.md
Due: lint-markdown-instructions, lint-instructions, prettier

refactor(docs-cli): unify flag syntax and improve configuration
  scripts/docs-cli/__tests__/cli-integration.test.js
  scripts/docs-cli/commands/audit.js
  scripts/docs-cli/commands/edit.js
  scripts/docs-cli/commands/release-notes.js
  scripts/docs-cli/config/.env.example
  scripts/docs-cli/config/README.md
  scripts/docs-cli/config/example.yml
  scripts/docs-cli/lib/api-auditor.js
  scripts/docs-cli/lib/config-loader.js
  scripts/docs-cli/lib/defaults.js
Due: lint-markdown-instructions, lint-instructions, prettier

refactor(docs-cli): fix unused code and env var naming
  scripts/docs-cli/__tests__/product-resolver.test.js
  scripts/docs-cli/commands/audit.js
  scripts/docs-cli/lib/api-auditor.js
Due: prettier

chore(scripts): JS style fix (#6780)
  scripts/puppeteer/inspect-page.js
Due: prettier

Update code blocks with placeholders and clarify AUTH_TOKEN usage (#6773)
  content/influxdb3/enterprise/admin/pachatree/configure.md
  content/influxdb3/enterprise/admin/pachatree/monitor.md
Due: lint-markdown-content, enterprise-lint

Add HTTP API examples to Processing Engine plugin documentation (#6789)
  content/shared/influxdb3-plugins/_index.md
Due: lint-markdown-content, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, core-lint, enterprise-lint

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-agent-instructions: any of: data/products.yml
  lint-markdown-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md}
  lint-markdown-content: any of: {api-docs/**/*.md,content/**/*.md}
  lint-instructions: any of: {README.md,*[A-Z]*.md,.github/**/*.md,.claude/**/*.md,api-docs/README.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb3/cloud-dedicated/*.md, content/shared/*.md
  cloud-serverless-lint: any of: content/influxdb3/cloud-serverless/*.md, content/shared/*.md
  clustered-lint: any of: content/influxdb3/clustered/*.md, content/shared/*.md
  core-lint: any of: content/influxdb3/core/*.md, content/shared/*.md
  enterprise-lint: any of: content/influxdb3/enterprise/*.md, content/shared/*.md
  explorer-lint: any of: content/influxdb3/explorer/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  build-typescript: any of: assets/js/*.ts
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}
