Repository influxdata/docs-v2: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-debug-check, build-copilot-instructions, lint-markdown, cloud-lint, cloud-dedicated-lint, cloud-serverless-lint, clustered-lint, telegraf-lint, v2-lint, prettier, lint-js

Path conditions:
  eslint-debug-check: any of: assets/js/*.js
  build-copilot-instructions: any of: CONTRIBUTING.md
  lint-markdown: any of: {CONTRIBUTING.md,content/*.md}
  cloud-lint: any of: content/influxdb/cloud/*.md
  cloud-dedicated-lint: any of: content/influxdb/cloud-dedicated/*.md
  cloud-serverless-lint: any of: content/influxdb/cloud-serverless/*.md
  clustered-lint: any of: content/influxdb/clustered/*.md
  telegraf-lint: any of: content/telegraf/*.md
  v2-lint: any of: content/influxdb/v2/*.md
  prettier: any of: *.{css,js,ts,jsx,tsx}
  lint-js: any of: assets/js/*.{js,ts}

fix(ci): improve link validation test robustness and reduce noise
  .github/actions/report-broken-links/action.yml
  .github/actions/validate-links/action.yml
  cypress/e2e/content/article-links.cy.js
Due: prettier

fix(cypress): format code with prettier
  cypress/e2e/content/article-links.cy.js
Due: prettier

feat(cypress): improve cache optimization logging and reporting
  cypress/e2e/content/article-links.cy.js
Due: prettier

ci: Use Cypress' skip to skip cached links instead of trying to modify the subjects array (which won't work after the tests are registered and running)
  cypress/e2e/content/article-links.cy.js
Due: prettier

Update cypress/support/link-cache.js
  cypress/support/link-cache.js
Due: prettier

fix(ci): resolve link validation failures and optimize cache performance
  .github/actions/validate-links/action.yml
  .github/workflows/pr-link-validation.yml
  content/example.md
  cypress.config.js
  cypress/e2e/content/article-links.cy.js
  cypress/support/link-cache.js
  cypress/support/link-reporter.js
  cypress/support/run-e2e-specs.js
Due: lint-markdown, prettier

docs: fix from_unixtime return type description
  content/shared/sql-reference/functions/time-and-date.md
Due: lint-markdown

chore(ci): temporarily disable link validation workflow
  .github/workflows/pr-link-validation.yml
Due: none

Apply suggestions from code review
  content/influxdb3/explorer/manage-plugins/_index.md
Due: lint-markdown

Update content/influxdb3/explorer/manage-plugins/_index.md
  content/influxdb3/explorer/manage-plugins/_index.md
Due: lint-markdown

feat(influxdb3): add v3.3.0 release notes and admin token recovery documentation
  content/influxdb3/core/reference/cli/influxdb3/serve.md
  content/influxdb3/core/reference/config-options.md
  content/influxdb3/enterprise/reference/cli/influxdb3/serve.md
  content/influxdb3/enterprise/reference/config-options.md
  content/shared/influxdb3-admin/tokens/admin/regenerate.md
  content/shared/v3-core-enterprise-release-notes/_index.md
  data/products.yml
Due: lint-markdown

chore: update Google Tag ID to master GA4 measurement ID:This should roll docs analytics into the Master property with other subdomains
  layouts/partials/header/google-analytics-head.html
Due: none

chore: update install version to 1.1.0
  data/products.yml
Due: none

InfluxDB 3 Explorer 1.1 (#6235)
  content/influxdb3/explorer/manage-plugins/_index.md
  content/influxdb3/explorer/manage-plugins/plugin-library.md
  data/products.yml
Due: lint-markdown

chore(dependencies)
  .husky/_/pre-commit
  .husky/_/pre-push.old
  .husky/_/prepare-commit-msg
  yarn.lock
Due: none

chore(influxdb3): Promote system metrics plugin from examples to official plugins:- Updated with latest configuration arguments
  content/influxdb3/core/plugins/library/examples/system-metrics.md
  content/influxdb3/core/plugins/library/examples/wal-plugin.md
  content/influxdb3/core/plugins/library/official/basic-transformation.md
  content/influxdb3/core/plugins/library/official/downsampler.md
  content/influxdb3/core/plugins/library/official/forecast-error-evaluator.md
  content/influxdb3/core/plugins/library/official/influxdb-to-iceberg.md
  content/influxdb3/core/plugins/library/official/mad-anomaly-detection.md
  content/influxdb3/core/plugins/library/official/notifier.md
  content/influxdb3/core/plugins/library/official/prophet-forecasting.md
  content/influxdb3/core/plugins/library/official/state-change.md
  content/influxdb3/core/plugins/library/official/stateless-adtk-detector.md
  content/influxdb3/core/plugins/library/official/system-metrics.md
  content/influxdb3/core/plugins/library/official/threshold-deadman-checks.md
  content/influxdb3/enterprise/plugins/library/examples/system-metrics.md
  content/influxdb3/enterprise/plugins/library/examples/wal-plugin.md
  content/influxdb3/enterprise/plugins/library/official/basic-transformation.md
  content/influxdb3/enterprise/plugins/library/official/downsampler.md
  content/influxdb3/enterprise/plugins/library/official/forecast-error-evaluator.md
  content/influxdb3/enterprise/plugins/library/official/influxdb-to-iceberg.md
  content/influxdb3/enterprise/plugins/library/official/mad-anomaly-detection.md
  content/influxdb3/enterprise/plugins/library/official/notifier.md
  content/influxdb3/enterprise/plugins/library/official/prophet-forecasting.md
  content/influxdb3/enterprise/plugins/library/official/state-change.md
  content/influxdb3/enterprise/plugins/library/official/stateless-adtk-detector.md
  content/influxdb3/enterprise/plugins/library/official/system-metrics.md
  content/influxdb3/enterprise/plugins/library/official/threshold-deadman-checks.md
  content/shared/influxdb3-plugins/_index.md
  content/shared/influxdb3-plugins/extended-plugin-api.md
  content/shared/influxdb3-plugins/plugins-library/examples/system-metrics.md
  content/shared/influxdb3-plugins/plugins-library/official/system-metrics.md
Due: lint-markdown

Update content/shared/influxdb3-plugins/plugins-library/official/downsampler.md
  content/shared/influxdb3-plugins/plugins-library/official/downsampler.md
Due: lint-markdown

feat(influxdb3): add TOML configuration documentation to plugin library
  content/shared/influxdb3-plugins/plugins-library/_index.md
  content/shared/influxdb3-plugins/plugins-library/examples/wal-plugin.md
  content/shared/influxdb3-plugins/plugins-library/official/basic-transformation.md
  content/shared/influxdb3-plugins/plugins-library/official/downsampler.md
  content/shared/influxdb3-plugins/plugins-library/official/forecast-error-evaluator.md
  content/shared/influxdb3-plugins/plugins-library/official/influxdb-to-iceberg.md
  content/shared/influxdb3-plugins/plugins-library/official/mad-check.md
  content/shared/influxdb3-plugins/plugins-library/official/notifier.md
  content/shared/influxdb3-plugins/plugins-library/official/prophet-forecasting.md
  content/shared/influxdb3-plugins/plugins-library/official/state-change.md
  content/shared/influxdb3-plugins/plugins-library/official/stateless-adtk-detector.md
  content/shared/influxdb3-plugins/plugins-library/official/system-metrics.md
  content/shared/influxdb3-plugins/plugins-library/official/threshold-deadman-checks.md
Due: lint-markdown

Update content/influxdb3/enterprise/plugins/library/official/system-metrics.md
  content/influxdb3/enterprise/plugins/library/official/system-metrics.md
Due: lint-markdown

Update content/influxdb3/core/plugins/library/official/system-metrics.md
  content/influxdb3/core/plugins/library/official/system-metrics.md
Due: lint-markdown

fix: mcp-server.md: token-link shortcode errors when nested in show-in
  content/shared/influxdb3-admin/mcp-server.md
Due: lint-markdown

chore: update install version to 1.1.0 (#6268)
  data/products.yml
Due: none
